<% title 'Entries with potential events' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th># Extracted Events</th>
    </tr>
  </thead>
  <tbody>
    <% @issue.eventful_entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.title, admin_issue_eventful_entry_path(@issue.publication_date.to_s(:iso), entry.document_number) %></td>
        <td><%= entry.events.public_meeting.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
