<% title "Extracting events from '#{@entry.title}'" %>
<% add_javascript :src => 'admin/issues_eventful_entries' %>

<%= link_to "Back to #{@entry.publication_date}", admin_issue_eventful_entries_path(@entry.publication_date.to_s(:db)) %>

<%# HELP-DESIGN: i think it just might be possible to do this better... %>
<%# TODO HELP-DESIGN add a third color for "public meeting" %>
<style>
  a.date {background-color: lightgreen;}
  a.place {background-color: pink;}
</style>

<%# HELP-DESIGN: ideally these would be in the second column, position fixed;
      I don't care about source order, but wanted them at the top until styles were in place... %>
<% content_for :sidebar do %>
  <% section_tag(:class => 'module events') do %>
    <div class="title">Events</div>
    <div id="form">
    </div>
    
    <ul id="existing_events">
      <%= render :partial => "admin/events/list_item", :collection => @entry.events.public_meeting, :as => :event %>
    </ul>
    
  </div>
  <% end -%>
<% end -%>

<%# HELP-DESIGN: ideally this would be in the first column, and styled somewhat like the actual document view %>
<% article_tag('data-internal-id' => @entry.id) do %>
  <%= link_places(link_events(@entry_text, @dates), @places) %>
<% end %>
