<% super_title 'Agency Highlights' %>

<p>Use the <%= link_to 'bookmarklet', 'javascript:
var url = "" + window.location;
url = url.replace(/\/[^\/]*$/,"");
url = url.replace(/articles\/\d{4}\/\d{2}\/\d{2}\//,"admin/agency_highlights/new?document_number=");
window.location = url;'.gsub(/\s+/,' ') %> to create.</p>

<table>
<% @agency_highlights.each do |highlight| %>
  <tr>
    <td><%= highlight.title %></td>
    <td><%= link_to 'Edit', edit_admin_agency_highlight_path(highlight) %></td>
  </tr>
<% end %>
</table>