/******************************

GENERAL

******************************/
body {
  font-family: Arial, sans-serif;
  }
h1,h2,h3,h4,h5,h6{font-family: Arial, sans-serif;margin-bottom:5px;font-weight:700;}

h1.title,
h2.title,
h3.title,
div.title {
  background: $blue_grey;
  @include border-top-left-radius(10px);
  @include border-top-right-radius(10px);
  color: #fff;
  font-size: 1.1em;
  font-family: Arial;
  text-transform: uppercase;
  padding: .5em 1em .5em 1em;
  }
 
/******************************

HEADER

******************************/
  
#utility p {
  color: #fff;
  margin-right: 1em;
  }
#utility p .name {
  font-weight: bold;
  }

#utility a {
  @include link-colors($aqua, lighten($aqua, 10%), darken($aqua, 5%));
  }

/******************************

SIDEBAR

******************************/  

#sidebar .nav a {
  color: #565656;
  }