<% if AgencyName.unprocessed.count > 0 %>
  <% section_tag(:class => 'module') do %>
    <div class="title">Agencies</div>
    <% nav_tag do %>
      <ul>
        <li><%= link_to_unless_current 'Unprocessed Agency Names', unprocessed_admin_agency_names_path() %> (<%= AgencyName.unprocessed.count %>)</li>
      </ul>
    <% end -%>
  <% end -%>
<% end -%>

<% section_tag(:class => 'module') do %>
  <div class="title">Events</div>
  <% nav_tag do %>
    <ul>
      <li><%= link_to 'Events', admin_issue_eventful_entries_path(publication_date.to_s(:mdy_dash)) %></li>
    </ul>
  <% end -%>
<% end -%>

<% section_tag(:class => 'module') do %>
  <div class="title">Sections</div>
  <% nav_tag do %>
    <ul>
      <% sections.each do |section| %>
        <li><%= link_to section.title, admin_issue_section_path(publication_date.to_s(:mdy_dash), section) %></li>
      <% end %>
    </ul>
  <% end -%>
<% end -%>
