<table class='<%= table_css_class %>'>
  <thead>
    <tr>
      <th>Issue</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.publication_date, admin_issue_path(issue.publication_date.to_s(:iso)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
