<% super_title "#{@publication_date} Issue" %>
<% nav_secondary(render :partial => 'admin/issues/sections/nav', :locals => {:sections => @sections, :publication_date => @publication_date}) %>

<div class="center_content">
  <% html5_tag('section') do %>
    <h3 class='section_title'><span>entries not assigned to a section</span></h3>
    
    <% @entries_without_sections.each do |entry| %>
      <% html5_tag('article', :id => 'article_list' ) do %>
        <h4><%= entry.curated_title %></h4>
      <% end %>
    <% end %>
  <% end %>
</div>