<% super_title "#{@publication_date} Issue" %>
<% nav_secondary(render :partial => 'admin/issues/sections/nav', :locals => {:sections => @sections, :publication_date => @publication_date}) %>

<% add_javascript do %>
<script>
  $(document).ready(function(){
    $('input[type=checkbox]').live('click', function(){
      // $(this)
      var form = $($(this).closest('form'));
      form.find('img').remove();
      form.find('h4').prepend('<img src="/images/ui/ui-anim_basic_16x16.gif">')
      $.ajax({
        url: form.attr('action'),
        data: form.serialize(),
        type: 'PUT',
        success: function(){
          form.find('img').remove();
        }
      })
    })
  });
</script>
<% end %>

<div class="center_content">
  <% html5_tag('section') do %>
    <h3 class='section_title'><span>entries not assigned to a section</span></h3>
    
    <% @entries_without_sections.each do |entry| %>
      <% html5_tag('article', :id => 'article_list' ) do %>
        <% form_for entry, :url => admin_issue_entry_path(@publication_date.to_s(:iso), entry.document_number) do |f| %>
          <%= content_tag(:h4, link_to(entry.curated_title, edit_admin_issue_entry_path(@publication_date.to_s(:iso), entry.document_number)), :title => entry.abstract )%>
          <input type="hidden" name="entry[section_ids][]" value="">
          <% @sections.each do |section| %>
            <label>
              <input type="checkbox" name="entry[section_ids][]" value="<%= section.id %>" />
              <%= section.title %>
            </label>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>