<% title "#{@publication_date} Issue" %>
<% nav_secondary(render :partial => 'admin/issues/sections/nav', :locals => {:sections => @sections, :publication_date => @publication_date}) %>

<% add_javascript do %>
<script>
  $(document).ready(function(){
    $('input[type=checkbox]').live('click', function(){
      // $(this)
      var form = $($(this).closest('form'));
      form.find('img').remove();
      form.prepend('<img src="/images/ui/ui-anim_basic_16x16.gif">')
      $.ajax({
        url: form.attr('action'),
        data: form.serialize(),
        type: 'PUT',
        success: function(){
          form.find('img').remove();
        }
      })
    })
  });
</script>
<% end %>

<div class="center_content">
  <section>
    <h1>Entries not assigned to a section</h1>
    
    <% @entries_without_sections.each do |entry| %>
      <%= content_tag(:h3, link_to(entry.curated_title, edit_admin_issue_entry_path(@publication_date.to_s(:iso), entry.document_number)), :title => entry.abstract )%>
      <% form_for entry, :url => admin_issue_entry_path(@publication_date.to_s(:iso), entry.document_number) do |f| %>
        <input type="hidden" name="entry[section_ids][]" value="">
        <% @sections.each do |section| %>
          <label>
            <input type="checkbox" name="entry[section_ids][]" value="<%= section.id %>" />
            <%= section.title %>
          </label>
        <% end %>
      <% end %>
    <% end %>
  </section>
</div>