#content_area {
  @include grid(13, 16);
  }
#left_sidebar {
  @include grid(3, 16);
  @include omega;
  }
#left_sidebar li {
  margin-right: 3em;
  border-bottom:1px solid #EEEEEE;
  font-size:1.1em;
  line-height:1.5;
  list-style: none;
  margin-bottom:0.75em;
  padding-bottom:0.5em;
  }
#left_sidebar .current_page_item {
  font-weight: bold;
  }
#left_sidebar .current_page_item li {
  font-weight: normal;
  }  
#left_sidebar a {
  display: block;
  }  
#left_sidebar .children {
  margin-left: 10px;
  }
#left_sidebar .children li {
  background: sprite-image('raquo/raquo.png', 0, 5px, 50px) no-repeat;
  border: none;
  font-size: .9em;
  margin: 0;
  padding: 0 0 0 15px;
  }
#left_sidebar .children li:hover {
  background: sprite-image('raquo/raquo-on.png', 0, 5px, 50px) no-repeat;
  }


.page_summary {
  background: #F1F1F1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px 2px;
  }
.page_summary h1 {
  font-size: 2.2em;
}
.page_summary hr {
  width: 100%; 
  border-bottom: 1px solid #DDD; 
  margin-bottom: 15px;
  }
