/******************************

BLOG OVERALL

******************************/

#wordpress .article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  }
#wordpress .post_content {
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 1.8125em;
  padding-bottom: 1em;
  }
#wordpress .entry-title,
#wordpress .page-title {
  margin-bottom: .4em;
  }

/******************************

POST - METADATA LIST

******************************/
  
#wordpress .metadata {
  line-height: 1.3; /* TODO move to typography */
  }
#wordpress .metadata span {
  display: block;
  }
#wordpress .meta_actions > ul {
  border-bottom: 1px solid #eaeaea;  
  border-top: 1px solid #eaeaea;
  clear: both;
  margin: 15px 0;
  padding: 15px 0;
  }
#wordpress .blog_post_list .meta_actions > ul {
  border: none;
  margin: 0;
  padding: 0;
  }  
#wordpress .meta_actions > ul > li {
  color: #7a7a7a;
  list-style: none;
  margin-top: 10px;
  padding-left: 60px;
  }
#wordpress .meta_actions > ul > li:first-child {
  margin-top: 0;
  }  
#wordpress .meta_actions ul ul {
  margin: 0;
  }
#wordpress .meta_actions ul ul li {
  list-style: none;
  }
#wordpress .meta_actions .navigation .prev,
#wordpress .meta_actions .navigation .next {
  display: block;
  padding-left: 60px;
  } 

/******************************

POST - METADATA LIST ICONS

******************************/
  
#wordpress li.bookmark { background: sprite-image('icons/blog/bookmark.png', 23px, 0, 50px) no-repeat; }
#wordpress li.email { background: sprite-image('icons/blog/email.png', 22px, 3px, 50px) no-repeat; }
#wordpress li.comments {  
  background: sprite-image('icons/blog/comment.png', 21px, 0, 50px) no-repeat;
  position: relative;
  }
#wordpress .meta .comment { background: sprite-image('icons/blog/comment.png', 0, 0, 50px) no-repeat; }
#wordpress .meta .comment:hover { background: sprite-image('icons/blog/comment-hover.png', 0, 0, 50px) no-repeat; }
#wordpress li.author { background: sprite-image('icons/blog/author.png', 0, 0, 50px) no-repeat; }
#wordpress li.date { background: sprite-image('icons/blog/date.png', 0, 0, 50px) no-repeat; }  
#wordpress li.categories { background: sprite-image('icons/blog/category.png', 23px, 1px, 500px) no-repeat; }
#wordpress li.tags { background: sprite-image('icons/blog/tag.png', 23px, 1px, 50px) no-repeat; }
#wordpress .meta_actions .navigation .prev {
  background: sprite-image('icons/blog/prev.png', 23px, 2px, 100px) no-repeat;
  margin-bottom: 1em;
  }
#wordpress .meta_actions .navigation .prev:hover { background: sprite-image('icons/blog/prev-hover.png', 23px, 2px, 100px) no-repeat; }  
#wordpress .meta_actions .navigation .next { background: sprite-image('icons/blog/next.png', 23px, 2px, 100px) no-repeat; }
#wordpress .meta_actions .navigation .next:hover { background: sprite-image('icons/blog/next-hover.png', 23px, 2px, 100px) no-repeat; }

/******************************

COMMENT BUBBLE WITH INLINE COUNTS

******************************/

#wordpress .meta .comment { 
  padding-left: 25px; 
  }
#wordpress .meta .comment,
#wordpress .meta_actions li.comments {
  position: relative;
  }
#wordpress .meta_actions li.comments span,
#wordpress .meta .comment span {
  color: #fff;
  display: block;
  font-size: 10px;
  left: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  width: 20px;
  }
#wordpress .meta_actions li.comments span {
  left: 20px;
  }  
#wordpress .meta .comment { 
  @include inline-block; 
  margin-left: 5px;
  }  
#wordpress .meta .comment.none span {
  font-size: 16px;
  line-height: 14px;
  padding-bottom: 2px;
  width: 19px;
  }  

/******************************

POST - COMMENTS

******************************/

#comments {
  margin-bottom:1.8125em;
  }
#wordpress .comment_area h3 {
  margin-bottom: 1em;
  }
.commentlist .comment {
  position: relative;
  }
.comment .reply {
  position: absolute;
  right: .5em;
  top: .5em;
  }  
.commentlist li {
  list-style:none outside none;
  margin-bottom: 2em;
  }
.commentlist li:last-child {
  margin-bottom: 0;
  }  
.commentlist li .children {
  margin-right: 0;  
  margin-top: 1em;
  }
.comment-reply-link {
  background: sprite-image('icons/blog/reply.png', 0, 0, 50px) no-repeat;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 15px;
  padding-left: 18px;
  }
.comment-reply-link:hover {
  background: sprite-image('icons/blog/reply-hover.png', 0, 0, 50px) no-repeat;
  }

/* COMMENT METADATA */  

.comment-meta {
  background: #f6f6f6;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  margin-bottom: .5em;
  overflow: hidden;
  padding: 5px 5px 5px;
  position: relative;
  }
.comment-meta .metadata {
  font-size: 15px;
  margin-bottom: 0;
  padding: 0;
  } 
  
/* COMMENT FORM */ 

#commentform input,
#commentform textarea {
  border: 1px solid #bbb;
  display: block;
  @include border-radius(3px);
  padding: 3px;
  }
#commentform label {
  color: #777777;
  font-size: 1em;
  font-weight: bold;
  @include apertura-condensed;
  }
#wordpress #reply-title {
  margin: 0;
  padding-bottom: 0;
  }
#commentform #submit {
  background: url(/images/search_btn_bg.png) repeat-x;
  border: 1px solid #aaa;
  color: #555;
  cursor: pointer;
  @include border-radius(5px);
  @include apertura-condensed;
  font-size: 1.1em;
  padding: 3px 5px 0;
  text-indent: 0;
  width: auto;
  }
.form-allowed-tags code {
  display: block;
  white-space:pre-wrap;
  }
#respond {
  background: #f6f6f6;
  border: 1px solid #dadada;
  @include border-radius(5px);
  padding: 1em;
  }
.form-submit {
  padding-bottom: 0;
  }

/******************************

INDEX - POST LIST

******************************/

#wordpress .article .summary p {
  padding-bottom: 0;
  }  
#wordpress article:last-child .article {
  border-bottom: none;
  }
#wordpress .blog_post_list .article {
  clear: both;
  }  

/* INDIVIDUAL POSTS */ 

#wordpress .blog_post_list .meta {
  @include opacity(.4);
  }  
#wordpress .blog_post_list .article:hover .meta {
  @include opacity(1);
  }  
#wordpress .blog_post_list .meta li {
  color: #7A7A7A;
  display: block;
  float: left;
  line-height: 17px;
  padding-left: 23px;
  margin-right: 12px;
  }
#wordpress .blog_post_list .meta li.comments {
  background: none;
  padding-left: 0;
  }

/* PAGINATION CONTROLS */ 
  
#wordpress .blog_pagination {
  overflow: hidden;
  }
#wordpress .blog_pagination.top {
  margin-bottom: 1em;
  }
#wordpress .blog_pagination.bottom {
  margin-top: 1em;
  margin-bottom: 1em;
  }  
#wordpress .blog_pagination .older,
#wordpress .blog_pagination .newer {
  margin-bottom: 1em;
  }
#wordpress .blog_pagination .older {
  background: sprite-image('icons/blog/prev.png', 0, 1px, 100px) no-repeat;
  float: left;
  line-height: image-height('icons/blog/prev.png');
  padding-left: image-width('icons/blog/prev.png')+5;
  padding-top: 2px;
  }
#wordpress .blog_pagination .older:hover { background: sprite-image('icons/blog/prev-hover.png', 0, 1px, 100px) no-repeat; }  
#wordpress .blog_pagination .newer {
  background: sprite-image('icons/blog/next.png', 100%, 0, 100px) no-repeat;
  float: right;
  line-height: image-height('icons/blog/next.png');
  padding-right: image-width('icons/blog/next.png')+5;
  }
#wordpress .blog_pagination .newer:hover { background: sprite-image('icons/blog/next-hover.png', 100%, 0, 100px) no-repeat; }  


/******************************

PAGE VIEW

******************************/

#wordpress #subnav ul li {
  border-bottom:1px solid #EEEEEE;
  font-size:1.1em;
  line-height:1.5;
  list-style: none;
  margin-bottom:0.75em;
  padding-bottom:0.5em;
  }
#wordpress #subnav ul li.current_page_item {
  font-weight: bold;
  }
#wordpress #subnav ul li a {
  display: block;
  }  

/******************************

SEARCH

******************************/

#wordpress.search-results .page-title {
  border-bottom: 2px solid #EFEFEF;
  font-weight: bold;
  margin-bottom: 1em;
  }