/******************************

BUTTONS / ICONS

******************************/

.button {
background: #f1f1f1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
color: #6e6e6e;
display: inline-block;
font-size: 1em;
font-weight: bold;
margin-bottom: 15px;
padding: 10px;
text-decoration: none;
text-transform: uppercase;
}
.button.notext {
text-indent: -9999px;
}
.button.list {
  margin-right: 10px;
}
.button.rss {
background-image: url(/images/rss_icon_line.png);
background-position: 10px 10px;
background-repeat: no-repeat;
padding: 10px 10px 7px 30px;
}            
.button.notext.rss {
padding: 10px 10px 4px 25px;
}
.comments_close {
background: url(/images/comment_icon.png) no-repeat left top;
color: #6e6e6e;
line-height: 1.7;
font-weight: bold;
margin: 20px 0 0 0;
padding: 0 0 5px 30px;
text-transform: uppercase;
}
.button.widget {
background-image: url(/images/widget_icon_line.png);
background-position: 10px 12px;
background-repeat: no-repeat;
padding: 10px 10px 7px 30px;  
}
.button.notext.widget {
background-position: 10px 10px;
padding: 10px 10px 4px 25px;
}

#clippy {
  display: inline-block;
}
