/******************************

BUTTONS / ICONS

******************************/
.button {
  @include border-radius(5px);
  color: #6e6e6e;
  @include inline-block;
  font-size: .9em;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  }
.wf-active .button {
  font-size: 1em;
  }  
.button.notext { text-indent: -9999px; }
.button.list { margin: 0 5px 0 0; }
.button.list:last-child,
.button.list.lastchild { margin: 0; }  
.comments_close { /* TODO this doesn't belong here */
  background: sprite-image('icons/icon_comment.png', 0, 0, 20px) no-repeat;
  color: #6e6e6e;
  @include apertura-condensed;
  line-height: 19px;
  margin: 1em 0 0 0;
  padding: 0 0 5px 30px;
  text-transform: uppercase;
  }
.jqmClose {
  background: sprite-image('icons/icon_close.png', 0, 0, 50px) no-repeat;
  height:  image-height('icons/icon_close.png');
  @include hide-text;
  width: image-width('icons/icon_close.png');
  }
#clippy {
  @include inline-block;
  }
.button.social {
  background: none;
  display: block;
  height: 24px;
  padding: 0;
  @include hide-text;
  width: 24px;
  }
.button.format {
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  line-height: 24px;
  padding: 0 0 0 27px;
  }
.button.social.digg { background: sprite-image('social/24px/digg.png', 0, 0, 50px); }
.button.social.email { background: sprite-image('social/24px/email.png', 0, 0, 50px); }
.button.social.facebook { background: sprite-image('social/24px/facebook.png', 0, 0, 50px); }
.button.social.reddit { background: sprite-image('social/24px/reddit.png', 0, 0, 50px); }
.button.social.twitter { background: sprite-image('social/24px/twitter.png', 0, 0, 50px); }
.button.format.pdf { background: sprite-image('icons/icon_pdf.png', 0, 0, 50px); }
.button.format.pdf.small { background: sprite-image('icons/icon_pdf_small.png', 0, 0, 50px); line-height: 18px; padding-left: 17px; }
.button.format.xml { background: sprite-image('icons/icon_xml.png', 0, 0, 50px); }
.button.format.external { background: sprite-image('icons/icon_external.png', 0, 4px, 50px); }
.button.format.external:hover { background: sprite-image('icons/icon_external_hover.png', 0, 4px, 20px); }
.button.format.print { background: sprite-image("icons/icon_print.png", 0, 0, 100px) no-repeat; padding-left: 26px; }
.button.format.print:hover { background: sprite-image("icons/icon_print_on.png", 0, 0, 100px) no-repeat; }
  
.rss,
.help_link,
.add_to_calendar,
a.subscription {
  color: #6e6e6e;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 0 0 25px;
  }
a.subscription {
  padding: 0 0 0 50px;
  }
.rss,
a.subscription {
  background: sprite-image('icons/icon_rss.png', 0, 0, 50px) no-repeat;
  font-size: 1em;
  height: image-height('icons/icon_rss.png');
  padding-top:2px;
  text-transform: uppercase;
  }
.rss:hover {
  background: sprite-image('icons/icon_rss_hover.png', 0, 0, 50px) no-repeat;
  }
a.subscription {
  background: sprite-image('icons/icon_subscribe.png', 0, 0, 50px) no-repeat;  
  }
a.subscription:hover {
  background: sprite-image('icons/icon_subscribe_hover.png', 0, 0, 50px) no-repeat;  
  color: #B88659;
  }    
.help_link {
  background: sprite-image('icons/icon_info.png', 0, 3px, 50px) no-repeat;
  display: block;
  height: image-height('icons/icon_info.png');
  padding-bottom: 3px;
  }
.help_link:hover {
  background: sprite-image('icons/icon_info_hover.png', 0, 3px, 50px) no-repeat;
  }   
.add_to_calendar {
  background: sprite-image('icons/add_to_calendar_half.png', 0, 0, 50px) no-repeat;
  line-height: image-height('icons/add_to_calendar_half.png');
  padding-top: 5px;
  }
.add_to_calendar:hover { 
  background: sprite-image('icons/add_to_calendar_half_hover.png', 0, 0, 50px) no-repeat; 
  }  
  