/******************************

BUTTONS / ICONS

******************************/

.button {
background: #f1f1f1;
@include border-radius(5px);
color: #6e6e6e;
display: inline-block;
font-size: 1em;
font-weight: bold;
margin-bottom: 15px;
padding: 10px;
text-decoration: none;
text-transform: uppercase;
}
.button.notext {
text-indent: -9999px;
}
.button.list {
  margin-right: 10px;
}
.button.rss {
background-image: url(/images/rss_icon_line.png);
background-position: 10px 10px;
background-repeat: no-repeat;
padding: 10px 10px 7px 30px;
}
.rss:hover {
  background-position: 10px -20px;
  }            
.button.notext.rss {
padding: 10px 10px 4px 25px;
}
.comments_close {
background: url(/images/comment_icon.png) no-repeat left top;
color: #6e6e6e;
@include apertura-condensed;
line-height: 19px;
margin: 1em 0 0 0;
padding: 0 0 5px 30px;
text-transform: uppercase;
}
.button.widget {
background-image: url(/images/widget_icon_line.png);
background-position: 10px 12px;
background-repeat: no-repeat;
padding: 10px 10px 7px 30px;  
}
.button.notext.widget {
background-position: 10px 10px;
padding: 10px 10px 4px 25px;
}
.widget:hover,
.widget.notext:hover {
background-position: 10px -20px;
}
#clippy {
  display: inline-block;
}

.button.social,
.button.format {
  background: none;
  @include border-radius(0);
  height: 24px;
  padding: 0;
  text-indent: -9999px;
  width: 24px;
}

.button.social.digg { background-image: url(/images/social/24px/digg.png); }
.button.social.email { background-image: url(/images/social/24px/email.png); }
.button.social.facebook { background-image: url(/images/social/24px/facebook.png); }
.button.social.reddit { background-image: url(/images/social/24px/reddit.png); }
.button.social.twitter { background-image: url(/images/social/24px/twitter.png); }
.button.format.pdf { background-image: url(/images/icon_pdf.png); }
.button.format.xml { background-image: url(/images/icon_xml.png); }
