.calendar {
  border-collapse: separate;
  width: 218px;
  }
.calendar td,
.calendar th {
  padding: 0;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  }
.calendar thead tr.calendar_nav {
  height: 18px;
  }
.calendar .monthName {
  font-size: 1.3em;
  }
.calendar .dayName th {
  width: 30px;
  }  
.calendar td a {
  display: block;
  font-weight: 700;
  }
.calendar abbr {
  border-bottom: none;
  }
.calendar .dayName th {
  border-top: 1px solid #333;  
  border-bottom: 1px solid #333;
  }
.calendar tbody td {
  border: 1px solid #fff;
  }
.calendar .weekend {
  background: #cdcdcd;
  } 
.calendar .late {
  background: lighten($bookmark_red, 50%);
  cursor: pointer;
  }   
.calendar .holiday {
  background: lighten(#B3C2CF, 15%);
  }   
.calendar .published a {
  background: $pale_green;
  }
.calendar .published a:hover {
  background: $golden;  
  color: #fff;
  }  
.calendar .current {
  background: $green;
  }
.calendar .current a {
  color: #fff;
  }  
.calendar .otherMonth {
  background: #eee;
  }  

.calendar th.monthName select {
  margin-left: 10px;
  }
.calendar tr.calendar_nav th.cal_prev,
.calendar tr.calendar_nav th.cal_next {
  background: none;
  }
