$doc_icon_mini_width: 20;
$doc_icon_mini_height: 20;

.mini_document_types li { vertical-align: top; }

.mini_document_types .rule_type {
  width: $doc_icon_mini_width + px;
  height: $doc_icon_mini_height + px;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  position: relative;
  }

.mini_document_types li .rule_type img { 
  position: relative;
  }

.mini_document_types li .rule_type.doc_presdocu img { top: -3px; }
.mini_document_types li .rule_type.doc_rule img { top: -213px; }
.mini_document_types li .rule_type.doc_notice img { top: -424px; }
.mini_document_types li .rule_type.doc_prorule img { top: -634px; }
.mini_document_types li .rule_type.doc_correct img { top: -1056px; }

.mini_document_types li a { vertical-align: top; }

.mini_document_types .rule_type + a {
  display: inline-block;
  padding-left: $doc_icon_mini_width + 10 + px;
  }


/* PAGE SPECIFIC */
#navigation .previewable .right_column .mini_document_types { float: right; }
#navigation .previewable .right_column .mini_document_types li { 
  display: inline-block;
  padding-left: 10px;
  }

