#email_pane {
  -moz-border-radius:5px 5px 5px 5px;
  background:none repeat scroll 0 0 #F6F6F6;
  border:1px solid #DADADA;
  margin-bottom: 28px;
  padding:1em;
  width: 500px;
  }
#email_pane .errors {
  background: #fff;
  }
#new_entry_email .inputs ol {
  margin: 0;
  }  
#new_entry_email input,
#new_entry_email textarea {
  @extend .comment_form_input; /* see _blog.scss */
  width: 490px;
  }
#new_entry_email textarea {
  height: 140px;
  }  
#new_entry_email label {
  @extend .comment_form_label;
  font-size: 1.1em;
  }  
#new_entry_email label abbr {
  border-bottom: none;
  color: #363636;
  font-family:Arial;
  font-size:12px;
  margin-left: 3px;
  }
#new_entry_email .boolean label,
#new_entry_email .boolean input {
  display: inline;
  }
#new_entry_email .copy label {
  color: #363636;
  font-weight: normal;
  font-size: 12px;
  }   
#new_entry_email #entry_email_submit {
  @extend .comment_form_submit;
  }
#new_entry_email .buttons,
#new_entry_email .buttons ol {
  margin: 0;
  }
#recaptcha_widget_div {
  margin-bottom: 1em;
  }