#header {
  background: url(/images/top_of_page.png) repeat-x left top;
  margin-bottom: 33px;
  }

#issue_and_search_bar {
/*  background: #636363;
  background: rgba(99,99,99, 0.4);*/
  height: 40px;
  margin-bottom: 2px;
  }

#issue_and_search_bar p {
  color: #fff;  
  line-height: 42px;
  margin: 0;
  @include text-shadow(#8f8e8e, 1px, 1px);
  }  

#issue_and_search_bar form  {
  position: absolute;
  right: 0;
  top: 3px;
  }
  
#issue_and_search_bar form input {
  border: 1px solid #919191; 
  }
  
#issue_and_search_bar form input.search_btn {
  background: #737373;
  color: #fff;
  cursor: pointer;
  font-family: "Arial", "Helvetica", sans-serif;
  padding: 0;
  text-transform: uppercase;
  }

#issue_and_search_bar form label {
  display: none; }

#preview_indicator {
  background: red;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  left: 400px;
  padding: 0 20px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  }
  
#primary_nav {
/*  border-top: 2px solid $golden;*/
  margin-bottom: 3em;
  overflow: hidden; 
  }
#primary_nav ul {
  height: 27px;
  margin-bottom: 0;
}
#primary_nav li {
  display: block;
  font-size: 12px;
  float: left;
  line-height: 27px;
  list-style: none;
  margin-left: 30px;
  }
  
#primary_nav li:first-child {
  margin-left: 0;
  }

#primary_nav li:hover,
#primary_nav li:focus,
#primary_nav li.on {
/*  border-top: 5px solid $golden;*/
  } 
  
#primary_nav a {
  color: #6d6e71;
  text-decoration: none;
  text-transform: uppercase;
  }    

#header_logo {
  @include replace-text-with-dimensions('logotype.png', 0, 0);
  width: 960px;
  }

#header_logo h1,
#header_logo h2 {
  float: left;
  }

#header_logo a {
  display: block; 
  height: 64px;   
  width: 543px;    
  }
