/******************************

HOME PAGE 

******************************/


/* PROMO BOX */
#top_news_promo {
  border: 5px solid #ececec;
  @include border-radius(10px);
  margin-bottom: 2em;
  overflow: hidden;
  width: 645px;
}

/* PROMO NAV */
#top_news_promo ul.section_nav {
  display: block;
  float: left;
  height: 318px;  
  list-style: none;
  margin-bottom: 0;
  width: 190px;
  }
#top_news_promo ul.section_nav li {
  background: #f5f8f9 url(/images/promo_nav_bg.png) repeat-x left bottom;
  height: 53px;
  width: 150px;  
  }
#top_news_promo ul.section_nav li:first-child,  
#top_news_promo ul.section_nav li:first-child a{
  @include border-top-left-radius(5px);
  }
#top_news_promo ul.section_nav li:last-child,  
#top_news_promo ul.section_nav li:last-child a{
  @include border-bottom-left-radius(5px);
  }    
#top_news_promo ul.section_nav li a {
  border: 1px solid #e5e5e5;
  color: #5a5a5a;
  display: block;
  font-size: 1.3em;
  height: 37px;
  line-height: 1.1;
  padding: 7px 8px;
  text-transform: uppercase;
  }
#top_news_promo ul.section_nav li.one_word a {
  line-height: 40px;
  }  
#top_news_promo ul.section_nav li.on {
  background-color: none;
  background: url(/images/promo_nav_bg_on.png) no-repeat -2px 1px;
  padding-right: 20px;
  }
#top_news_promo ul.section_nav li.on a {
  color: #e4a529;
  border-right: none;
  }
  
#top_news_promo ul.section_nav li a:hover,
#top_news_promo ul.section_nav li a:focus {
  color: #e4a529;
  outline: none;
  }
  
/* PROMO ITEMS */
#top_news_promo .news_items {
  display: block;
  float: left;
  height: 318px;
  margin-bottom: 0;
  overflow: hidden;
  width: 425px;
  }  
#top_news_promo .news_items > li {
  height: 290px;
  padding: 1em 0;
  position: relative;
  }
#top_news_promo .news_items .metadata {
  font-size: 1em;
  padding-bottom: 1em;
  }  
#top_news_promo .news_items .figure {
  background: none;
  float: left;
  margin: 0 1em 0 0;
  padding :0;
  }
#top_news_promo .news_items .figcaption {
  bottom: 7px;
  left: 0;
  width: 90px;
  }
#top_news_promo .news_content {
  overflow: hidden;
  }  

/* PROMO STATS */     
.stats {
  border-top: 1px solid #ebebeb;
  bottom: 0;
  @include apertura-condensed;
  font-weight: 700;
  height: 40px;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 1em 0 0 0;
  position: absolute;
  text-transform: uppercase;
  width: 425px;
  }
.stats li.left {
  float: left;
  }
.stats li.right {
  float: right;
  }  
.stats .total {
  color: #979797;  
  font-size: 2.8em;
  margin-right: .2em;
  }  
.stats span {
  color: #c3c3c3;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.1;
  }
.stats span span {
  display: block;
  }  
  
  
  
  
  
.newsbox {
  @include border-radius(5px);
  height: 225px; /* TODO remove this height */
  margin-bottom: 1em;
  padding: 1em 1em 3em;
  position: relative;
  }
.newsbox h2 {
  margin-top: 0;
  }  
.newsbox h2 a {
  color: #5697CF;
  }  
.newsbox ul {
  color: darken(#E4A529, 10%);
  margin-bottom: 0;
  padding-left: 1em;
  }
.newsbox ul li {
  list-style: disc;
  list-style-position: outside;
  margin-bottom: .5em;
  }
  
.learn {
  clear: both;
  margin: 3em 0 4em 0;
  overflow: hidden;
  }
.learn h2 {
  margin-top: 0;
  }
.learn h3 {
  font-size: 1.318em;
  margin:.2em 0 .8em 0;
  }  

.notecard {
  background: #ececec;
  @include border-radius(10px);
  padding: 1em;
  }  
