/******************************

CURRENT ISSUE

******************************/
#current_issue {
  background: $pale_green sprite-image('icons/current_issue.png') no-repeat;
  border: 1px solid $green;
  height: 40px;
  margin-bottom: 2em;
  position: relative;
  }
#current_issue.error {
  background:  lighten($bookmark_red, 60%) sprite-image('icons/current_issue_error.png') no-repeat;
  border-color: $bookmark_red;
  }  
#current_issue .issue {
  color: #fff;
  @include inline-block;
  font-size: 1.2em;
  line-height: 40px;
  padding-left: 55px;
  width: 125px;
  }            
#current_issue .issue:hover,
#current_issue .issue:focus {
  text-decoration: underline;
  }
#current_issue.error .issue {
  color: $bookmark_red;
  font-weight: normal;
  line-height: 42px;
  padding-left: 40px;
  }
#current_issue.error .issue:hover,
#current_issue.error .issue:focus {
  text-decoration: none;
  }  
#current_issue ul {
  @include inline_list;
  margin-bottom: 0;
  position: absolute;
  left: 185px;
  top: 10px;
  }
#current_issue ul li a {
  color: $dark_green;
  padding: 5px;
  text-decoration: underline;
  }  
#current_issue ul li a:hover {
  background: #f5f9ed;
  @include border-radius(5px);
  text-decoration: none;
  }
#current_issue ul li span {
  font-weight: 700;
  }
#current_issue .other_dates {
  color: $dark_green;
  font-size: 1.2em;
  line-height: 1;
  position: absolute;
  right: .5em;
  text-align: right;
  top: 5px;
  width: 120px;
  }
.wf-active #current_issue .other_dates {
  width: 105px;
  }  
#current_issue .other_dates:hover {
  text-decoration: underline;
  }
#current_issue dl,
#current_issue dt,
#current_issue dd {
  display: inline;
  }
#current_issue dt {
  color: $dark_green;
  font-weight: 400;
  }  
#current_issue dd {
  margin: 0 1em 0 0;
  font-weight: 700;
  }  
#current_issue dd,
#current_issue dd a {
  color: $dark_green;
  }
#current_issue.error .issue {
  
}
#current_issue.error p {
  @include gesta;
  position: absolute;
  left: 195px;
  top: 10px;
  }
#current_issue.error p a {
  text-decoration: underline;
  }


/******************************

PROMO BOX

******************************/

#top_news_promo {
  overflow: hidden;
  }

#top_news_promo h1 {
  display: none;
  }

/******************************

PROMO NAV

******************************/

#top_news_promo ul.section_nav {
  clear: both;
  display: block;
  float: left;
  height: 318px;  
  list-style: none;
  margin-bottom: 0;
  width: 190px;
  }
#top_news_promo ul.section_nav li {
  margin-bottom: .5em;
  padding-right: 14px;
  }
#top_news_promo ul.section_nav li a {
  background-position: 5px 50%;
  background-repeat: no-repeat;
  display: block;
  font-size: 1.2em;
  height: 31px;
  line-height: 1.1;
  padding: 5px 0 5px 50px;
  text-transform: uppercase;
  }
#top_news_promo ul.section_nav li.money a { background: sprite-image('icons/section_icons/icon_money_50.png', 5px, 5px, 40px) no-repeat; }  
#top_news_promo ul.section_nav li.environment a { background: sprite-image('icons/section_icons/icon_environment_50.png', 5px, 5px, 40px) no-repeat; }
#top_news_promo ul.section_nav li.world a { background: sprite-image('icons/section_icons/icon_world_50.png', 5px, 5px, 40px) no-repeat; }  
#top_news_promo ul.section_nav li.science-and-technology a { background: sprite-image('icons/section_icons/icon_science_50.png', 5px, 5px, 40px) no-repeat; } 
#top_news_promo ul.section_nav li.business-and-industry a { background: sprite-image('icons/section_icons/icon_business_50.png', 5px, 5px, 40px) no-repeat; }  
#top_news_promo ul.section_nav li.health-and-public-welfare a { background: sprite-image('icons/section_icons/icon_health_50.png', 10px, 5px, 40px) no-repeat; } 
#top_news_promo ul.section_nav li.one_word a { line-height: 31px; }  
#top_news_promo ul.section_nav li.on {
  background-color: none;
  background: image-url("promo_nav_bg_on_new.png") no-repeat right top;
  }
#top_news_promo ul.section_nav li.on a {
  background-color: $golden;
  color: #fff;
  }
#top_news_promo ul.section_nav li.on a:focus {
  outline: none;
  }  
#top_news_promo ul.section_nav li.money.on a { background: $golden sprite-image('icons/section_icons/icon_money_nav_on.png', 5px, 5px, 40px) no-repeat; }  
#top_news_promo ul.section_nav li.environment.on a {background: $golden sprite-image('icons/section_icons/icon_environment_nav_on.png', 5px, 5px, 40px) no-repeat; }
#top_news_promo ul.section_nav li.world.on a { background: $golden sprite-image('icons/section_icons/icon_world_nav_on.png', 5px, 5px, 40px) no-repeat; }  
#top_news_promo ul.section_nav li.science-and-technology.on a { background: $golden sprite-image('icons/section_icons/icon_science_nav_on.png', 5px, 5px, 40px) no-repeat; } 
#top_news_promo ul.section_nav li.business-and-industry.on a { background: $golden sprite-image('icons/section_icons/icon_business_nav_on.png', 5px, 5px, 40px) no-repeat; }  
#top_news_promo ul.section_nav li.health-and-public-welfare.on a { background: $golden sprite-image('icons/section_icons/icon_health_nav_on.png', 5px, 5px, 40px) no-repeat; }
  
/******************************

PROMO ITEMS

******************************/

#top_news_promo .aside_box {
  clear: both;
  overflow: hidden;
  padding-left: 0;
  }
#top_news_promo #slideshow {
  display: block;
  float: left;
  height: 318px;
  margin: 0 0 0 10px;
  overflow: hidden;
  position: relative;
  width: 423px;
  }  
#slideshow .container {
  height: 1908px;  
  position:absolute;
  width: 423px;
  }
#slideshow .container > div {
  height: 318px;
  position: relative;
  width: 423px;
  }
#slideshow .metadata {
  font-size: 1em;
  padding-bottom: 0em;
  }
#slideshow figure {
  /* remove default browser style */
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;  
  }
#slideshow .figure {
  float: left;
  margin: 0 1em 0 0;
  padding: .5em .5em .0em .5em;
  }
#slideshow .figure a {
  height: 100px;
  width: 100px;
  }
#slideshow .figcaption {
  bottom: 7px;
  display: block;
  left: 0;
  width: 90px;
  }
#slideshow .figcaption a {
  word-wrap: break-word;
  height: auto;
  width: auto;
  }  
#news_content {
  overflow: hidden;
  }  
#slideshow.dragdealer .summary { line-height: 1.4em; }


/******************************

PROMO STATS

******************************/
      
.stats {
  bottom: 0;
  @include apertura-condensed;
  font-weight: 700;
  height: 40px;
  left: 0;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 1em 0 0 0;
  position: absolute;
  text-transform: uppercase;
  width: 423px;
  }
.stats li.left {
  float: left;
  }
.stats li.right {
  float: right;
  }  
.stats .total {
  color: #979797;  
  font-size: 2.8em;
  margin-right: .2em;
  }  
.stats span {
  color: #c3c3c3;
  @include inline-block;
  font-size: 1.1em;
  line-height: 1.1;
  }
.stats span span {
  display: block;
  }  
  
/******************************

NEWS 

******************************/

.celebrating {
  @include replace-text-with-dimensions("bright-idea-final.png", 0, 0);
  clear: both;
  float: right;
  margin: 0 0 0 .5em;
  }
#news h4 {
  margin-bottom: 1em;
  }
#special.home #disclaimer {
  float: left;
  margin-left: 10px;
  width: 265px;
  }
.inline_bullet {
  background: image-url('bullet.png') no-repeat 5px 10px;
  text-indent: 20px;
  }
#news h1 a {
  color:#464646;
  }
#news h1 a:hover,
#news h2 a:hover {
  color:#B88659;
  }
#news h2 {
  font-size: 1.1em;
  margin-bottom: 0;
  }   
#news h2 a {
  color: inherit;
  }
#news .metadata {
  color:#7A838A;
  font-size:1em;
  }
#news p {
  font-size: 1em;
  }
#news p a {
  display: block;
  }    
#news ul {
  margin-bottom: 0;
  }
#news li {
  list-style: none;
  margin-bottom: .75em;
  }
#news li:last-child,
#news li.lastchild {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
  }  
/******************************

WHATS HOT

******************************/

.home #popular.with_icon .header_with_icon {
  margin-bottom: 1.75em;
  padding: 21px 0 0 0;
  }
#popular{
  background: sprite-image('icons/icon_whats_hot.png', 30px, 15px, 400px) no-repeat;
  }
.home .with_icon h1,
.home #news h1 { /* TODO pull this into its own class to share with fr_sections below */
  border-bottom: 2px solid #464646;
  color: #464646;
  @include apertura-condensed;
  font-size: 1.5em;
  margin: 0 0 .5em;
  padding: 0;
  text-transform: uppercase;
  }
.home #popular.with_icon ol {
  list-style: none;
  }  
.home #popular.with_icon li {
  border-bottom: 2px solid #EFEFEF;
  @include min-height(40px);
  margin-bottom: .5em;
  padding-left: 3em;
  position: relative;
  }
.home #popular.with_icon li:last-child,
.home #popular.with_icon li.last-child {
  border-bottom: 0;
  }  
.home #popular.with_icon .index {
  color: #bdbdbd;  
  @include apertura-condensed;
  font-size: 2.8em;
  font-weight: 700;
  left: 0;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1em;
  }
// Tabs on! 
.home #popular.active ul {
  @include horizontal-list;
  }
.home #popular.active .header-nav li {
  border: none;
  height: auto;
  line-height: 23px;
  min-height: 0;
  }  
.home #popular.active .header-nav {
  border-bottom: 2px solid #464646;
  margin-bottom: 20px;
  padding-top: 21px;
  }
.home #popular.active .tab {
  color:#464646;
  @include apertura-condensed;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  }
.home #popular.active .tab a {
  color: #aaa;  
  }
.home #popular.active .tab.tabs-selected a {
  color: #464646;
  } 
/******************************

AGENCY HIGHLIGHT 

******************************/

.home #agency_highlight.with_icon .header_with_icon {
  background: sprite-image('icons/icon_highlighted_opportunity.png', 0, 20px, 50px) no-repeat;  
  margin-bottom: 1em;
  overflow: hidden;
  padding: 21px 0 0 3em;
  }
/* TODO need fallback for when there is not agency seal */
.logo_and_title {
  display:inline;
  float:left;
  margin-right: 1em;
  padding-right: 1em;
  width:100px;
  }
.logo_and_title a {
  display: block;
  text-align: center;
  }
#agency_highlight .content {
  display:inline;
  float: left;
  width: 334px;
  }

/******************************

History Movie

******************************/

.home #fr_movie.with_icon .header_with_icon {
  background: sprite-image('icons/icon_movie.png', 0, 20px, 50px) no-repeat;  
  margin-bottom: 1em;
  overflow: hidden;
  padding: 21px 0 0 3em;
  }
.home object, 
.home embed {
  margin-left: 1.6em;
  }
  
/******************************

LEARN 

******************************/

.home #learn.with_icon .header_with_icon {
  background: sprite-image('icons/whats_in_fr.png', 0, 0, 20px) no-repeat;
  margin-bottom: 1em;
  overflow: hidden;
  padding-left: 35px;
  }
#learn-body,
#learn-body div {
  height: 330px;
  overflow: hidden;
  }
  
/******************************

TOOLS OF FR2 

******************************/

.home #tools {
  overflow: hidden;
  }
.home #tools {
  background: sprite-image('icons/tools_of_fr2.png',  25px, 0, 500px) no-repeat;
  }
.home #tools .header_with_icon {
  position: relative;
  }
.home #tools .header_with_icon .disclaimer {
  position: absolute;
  right: 0;
  top: 0;
  }
.home #tools p {
  border-bottom:2px solid #EEEEEE;
  margin-bottom: .5em;
  }
  
/******************************

CURRENT 

******************************/  

.fr_section .header_with_icon {
  margin-bottom: 1em;
  padding: 2em 0 0 3em;
  }
.fr_section.money { background: sprite-image('icons/section_icons/icon_money.png', 15px, 0, 300px) no-repeat; }
.fr_section.environment { background: sprite-image('icons/section_icons/icon_environment.png', 15px, 0, 300px) no-repeat; }
.fr_section.world { background: sprite-image('icons/section_icons/icon_world.png', 15px, 0, 300px) no-repeat; }
.fr_section.science-and-technology { background: sprite-image('icons/section_icons/icon_science.png', 15px, 0, 300px) no-repeat; }  
.fr_section.business-and-industry { background: sprite-image('icons/section_icons/icon_business.png', 15px, 0, 300px) no-repeat; }
.fr_section.health-and-public-welfare { background: sprite-image('icons/section_icons/icon_health.png', 25px, 0, 300px) no-repeat; }
.fr_section.alpha {
  clear: both;
  } 
.fr_section ul.bullets li,
#tools li,
#news li {
  background-position: left 5px;
  border-bottom: 2px solid #eee;
  font-size: 1.1em;
  line-height: 1.5;
  }
.fr_section ul.bullets li:last-child,
.fr_section ul.bullets li.lastchild,
#tools li:last-child,
#tools li.lastchild { border-bottom: none; }   

/******************************

NOTIFICATIONS

******************************/

div.danger {
  padding: .5em .5em .25em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  float: none;
  width: 945px;
  }


