/******************************

PROMO BOX

******************************/

#top_news_promo {
/*  border: 5px solid #ececec;
  @include border-radius(10px);
  margin-bottom: 2em;*/
  overflow: hidden;
  width: 645px;
}

/******************************

PROMO NAV

******************************/
#top_news_promo ul.section_nav {
  display: block;
  float: left;
  height: 318px;  
  list-style: none;
  margin-bottom: 0;
  width: 190px;
  }
#top_news_promo ul.section_nav li {
  margin-bottom: .5em;
  }
#top_news_promo ul.section_nav li a {
  background-position: 5px 50%;
  background-repeat: no-repeat;
  display: block;
  font-size: 1.2em;
  height: 31px;
  line-height: 1.1;
  padding: 5px 0 5px 50px;
  text-transform: uppercase;
  }
#top_news_promo ul.section_nav li.money a { background-image: url(/images/icon_money_50.png); }  
#top_news_promo ul.section_nav li.environment a { background-image: url(/images/icon_environment_50.png); }
#top_news_promo ul.section_nav li.world a { background-image: url(/images/icon_world_50.png); }  
#top_news_promo ul.section_nav li.science-and-technology a { background-image: url(/images/icon_science_50.png); } 
#top_news_promo ul.section_nav li.business-and-industry a { background-image: url(/images/icon_business_50.png); }  
#top_news_promo ul.section_nav li.health-and-public-welfare a { background-image: url(/images/icon_health_50.png); } 
#top_news_promo ul.section_nav li.one_word a {
  line-height: 31px;
  }  
#top_news_promo ul.section_nav li.on {
  background-color: none;
  background: url(/images/promo_nav_bg_on_new.png) no-repeat right top;
  padding-right: 14px;
  }
#top_news_promo ul.section_nav li.on a {
  background-color: $golden;
  color: #fff;
  }
#top_news_promo ul.section_nav li.on a:focus {
  outline: none;
  }  
#top_news_promo ul.section_nav li.money.on a { background-color: $golden; background-image: url(/images/icon_money_nav_on.png); }  
#top_news_promo ul.section_nav li.environment.on a { background-color: $golden; background-image: url(/images/icon_environment_nav_on.png); }
#top_news_promo ul.section_nav li.world.on a { background-color: $golden; background-image: url(/images/icon_world_nav_on.png); }  
#top_news_promo ul.section_nav li.science-and-technology.on a { background-color: $golden; background-image: url(/images/icon_science_nav_on.png); } 
#top_news_promo ul.section_nav li.business-and-industry.on a { background-color: $golden; background-image: url(/images/icon_business_nav_on.png); }  
#top_news_promo ul.section_nav li.health-and-public-welfare.on a { background-color: $golden; background-image: url(/images/icon_health_nav_on.png); }
  
/******************************

PROMO ITEMS

******************************/
  
#top_news_promo .news_items {
  display: block;
  float: left;
  height: 318px;
  margin-bottom: 0;
  overflow: hidden;
  width: 425px;
  }  
#top_news_promo .news_items > li {
  height: 290px;
  padding: 1em 0;
  position: relative;
  }
#top_news_promo .news_items .metadata {
  font-size: 1em;
  padding-bottom: 1em;
  }  
#top_news_promo .news_items .figure {
  background: none;
  float: left;
  margin: 0 1em 0 0;
  padding :0;
  }
#top_news_promo .news_items .figcaption {
  bottom: 7px;
  left: 0;
  width: 90px;
  }
#top_news_promo .news_content {
  overflow: hidden;
  }  

/******************************

PROMO STATS

******************************/
      
.stats {
  border-top: 1px solid #ebebeb;
  bottom: 0;
  @include apertura-condensed;
  font-weight: 700;
  height: 40px;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 1em 0 0 0;
  position: absolute;
  text-transform: uppercase;
  width: 425px;
  }
.stats li.left {
  float: left;
  }
.stats li.right {
  float: right;
  }  
.stats .total {
  color: #979797;  
  font-size: 2.8em;
  margin-right: .2em;
  }  
.stats span {
  color: #c3c3c3;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.1;
  }
.stats span span {
  display: block;
  }  
  

/******************************

LEARN & CURRENT 

******************************/
  
#learn .about {
  margin-bottom: 1em;
  padding: 0 0 0 100px;
  }
#learn .about.notices { background: url(/images/icon_notice.png) no-repeat left top; }
#learn .about.proposed_rules { background: url(/images/icon_proposed.png) no-repeat left top;  }
#learn .about.final_rules { background: url(/images/icon_final.png) no-repeat left top;  }
#learn .about.presidential_documents { }  
#learn p {
  border-bottom: 3px solid #ECECEC;
  }
#learn .about:last-child p {
  border-bottom: 0;
  }  



/******************************

LEARN & CURRENT 

******************************/  

.fr_section {
  padding: 0 45px;
  }
.fr_section.money {
  background: url(/images/icon_money.png) no-repeat left top;
  }
.fr_section.environment {
  background: url(/images/icon_environment.png) no-repeat left top;
  }
.fr_section.world {
  background: url(/images/icon_world.png) no-repeat left top;
  }
.fr_section.science-and-technology {
  background: url(/images/icon_science.png) no-repeat left top;
  }  
.fr_section.business-and-industry {
  background: url(/images/icon_business.png) no-repeat left top;
  }
.fr_section.health-and-public-welfare {
  background: url(/images/icon_health.png) no-repeat left top;
  }
.fr_section h2 {
  border-bottom: 2px solid #464646;
  @include apertura-condensed;
  font-size: 1.5em;
  margin-bottom: .5em;
  text-transform: uppercase;
  }
.fr_section h2 a {
  color: #464646;
  }




.newsbox {
  @include border-radius(5px);
  height: 225px; /* TODO remove this height */
  margin-bottom: 1em;
  padding: 1em 1em 3em;
  position: relative;
  }
.newsbox h2 {
  margin-top: 0;
  }  
.newsbox h2 a {
  color: #5697CF;
  }  
.newsbox ul {
  color: darken(#E4A529, 10%);
  margin-bottom: 0;
  padding-left: 1em;
  }
.newsbox ul li {
  list-style: disc;
  list-style-position: outside;
  margin-bottom: .5em;
  }
  
.learn {
  clear: both;
  margin: 3em 0 4em 0;
  overflow: hidden;
  }
.learn h2 {
  margin-top: 0;
  }
.learn h3 {
  font-size: 1.318em;
  margin:.2em 0 .8em 0;
  }  

.notecard {
  background: #ececec;
  @include border-radius(10px);
  padding: 1em;
  }  
