/******************************

CURRENT ISSUE

******************************/
#current_issue {
  background: $pale_green url(/images/current_issue.png) no-repeat left top;
  border: 1px solid $green;
  display: block;
  height: 40px;
  margin: 1em 0 2em;
  }
#current_issue .issue {
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  line-height: 40px;
  margin-right: 1em;
  padding-left: 55px;
  width: 125px;
  }  
#current_issue dl {
  margin-bottom: 0;
  }
#current_issue dl,
#current_issue dt,
#current_issue dd {
  display: inline;
  }
#current_issue dt {
  color: #636363;
  text-transform: uppercase;
  }  
#current_issue dd {
  margin: 0 1em 0 0;
  font-weight: 700;
  }  

/******************************

PROMO BOX

******************************/

#top_news_promo {
  overflow: hidden;
  }

/******************************

PROMO NAV

******************************/
#top_news_promo ul.section_nav {
  clear: both;
  display: block;
  float: left;
  height: 318px;  
  list-style: none;
  margin-bottom: 0;
  width: 180px;
  }
#top_news_promo ul.section_nav li {
  margin-bottom: .5em;
  }
#top_news_promo ul.section_nav li a {
  background-position: 5px 50%;
  background-repeat: no-repeat;
  display: block;
  font-size: 1.2em;
  height: 31px;
  line-height: 1.1;
  padding: 5px 0 5px 50px;
  text-transform: uppercase;
  }
#top_news_promo ul.section_nav li.money a { background-image: url(/images/icon_money_50.png); }  
#top_news_promo ul.section_nav li.environment a { background-image: url(/images/icon_environment_50.png); }
#top_news_promo ul.section_nav li.world a { background-image: url(/images/icon_world_50.png); }  
#top_news_promo ul.section_nav li.science-and-technology a { background-image: url(/images/icon_science_50.png); } 
#top_news_promo ul.section_nav li.business-and-industry a { background-image: url(/images/icon_business_50.png); }  
#top_news_promo ul.section_nav li.health-and-public-welfare a { background-image: url(/images/icon_health_50.png); background-position: 10px 50%; } 
#top_news_promo ul.section_nav li.one_word a {
  line-height: 31px;
  }  
#top_news_promo ul.section_nav li.on {
  background-color: none;
  background: url(/images/promo_nav_bg_on_new.png) no-repeat right top;
  padding-right: 14px;
  }
#top_news_promo ul.section_nav li.on a {
  background-color: $golden;
  color: #fff;
  }
#top_news_promo ul.section_nav li.on a:focus {
  outline: none;
  }  
#top_news_promo ul.section_nav li.money.on a { background-color: $golden; background-image: url(/images/icon_money_nav_on.png); }  
#top_news_promo ul.section_nav li.environment.on a { background-color: $golden; background-image: url(/images/icon_environment_nav_on.png); }
#top_news_promo ul.section_nav li.world.on a { background-color: $golden; background-image: url(/images/icon_world_nav_on.png); }  
#top_news_promo ul.section_nav li.science-and-technology.on a { background-color: $golden; background-image: url(/images/icon_science_nav_on.png); } 
#top_news_promo ul.section_nav li.business-and-industry.on a { background-color: $golden; background-image: url(/images/icon_business_nav_on.png); }  
#top_news_promo ul.section_nav li.health-and-public-welfare.on a { background-color: $golden; background-image: url(/images/icon_health_nav_on.png); }
  
/******************************

PROMO ITEMS

******************************/
  
#top_news_promo #slideshow {
  display: block;
  float: left;
  height: 318px;
  margin: 0 0 0 20px;
  overflow: hidden;
  position: relative;
  width: 440px;
  }  
#slideshow .container {
  height: 318px;  
  position:absolute;
  width: 2640px;
  }
#slideshow .container > div {
  float: left;
  height: 318px;
  width: 440px;
  }
#slideshow .container > div > div {
  padding-right: 15px;
  }  
#slideshow .metadata {
  font-size: 1em;
  padding-bottom: 1em;
  }  
#slideshow .figure {
  background: none;
  float: left;
  margin: 0 1em 0 0;
  padding :0;
  }
#slideshow .figcaption {
  bottom: 7px;
  left: 0;
  width: 90px;
  }
#news_content {
  overflow: hidden;
  }  

/******************************

PROMO STATS

******************************/
      
.stats {
  border-top: 1px solid #ebebeb;
  bottom: 0;
  @include apertura-condensed;
  font-weight: 700;
  height: 40px;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 1em 0 0 0;
  position: absolute;
  text-transform: uppercase;
  width: 425px;
  }
.stats li.left {
  float: left;
  }
.stats li.right {
  float: right;
  }  
.stats .total {
  color: #979797;  
  font-size: 2.8em;
  margin-right: .2em;
  }  
.stats span {
  color: #c3c3c3;
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.1;
  }
.stats span span {
  display: block;
  }  
  
/******************************

NEWS 

******************************/

.celebrating {
  @include replace-text-with-dimensions("celebrating_75.png", 0, 0);
  clear: both;
  margin: .5em 0;
  }

/******************************

WHATS HOT 

******************************/
.home .with_icon > div {
  padding-left: 35px;
  }
.home #popular.with_icon > div {
  background: url(/images/icon_whats_hot.png) no-repeat left top;
  }
.home #agency_highlight.with_icon > div {
  background: url(/images/icon_highlighted_opportunity.png) no-repeat left top;
  }  
.home .with_icon h1 { /* TODO pull this into its own class to share with fr_sections below */
  border-bottom: 2px solid #464646;
  color: #464646;
  @include apertura-condensed;
  font-size: 1.5em;
  margin: 0 0 .5em;
  padding: 0;
  text-transform: uppercase;
  }
.home #popular.with_icon ol {
  list-style: none;
  }  
.home #popular.with_icon li {
  border-bottom: 2px solid #EFEFEF;
  @include min-height(40px);
  margin-bottom: .5em;
  padding-left: 2em;
  position: relative;
  }
.home #popular.with_icon li:last-child {
  border-bottom: 0;
  }  
.home #popular.with_icon .index {
  color: #eee;  
  @include apertura-condensed;
  font-size: 2.8em;
  font-weight: 700;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  }

/******************************

LEARN 

******************************/
  
#learn .about {
  margin-bottom: 1em;
  }
#learn .about.notices { background: url(/images/icon_notice.png) no-repeat left top; }
#learn .about.proposed_rules { background: url(/images/icon_proposed.png) no-repeat left top;  }
#learn .about.final_rules { background: url(/images/icon_final.png) no-repeat left top;  }
#learn .about.presidential_documents { }  
#learn .about:last-child p {
  border-bottom: 0;
  }  



/******************************

CURRENT 

******************************/  

.fr_section {
  padding: 0 45px;
  }
.fr_section.money {
  background: url(/images/icon_money.png) no-repeat left top;
  }
.fr_section.environment {
  background: url(/images/icon_environment.png) no-repeat left top;
  }
.fr_section.world {
  background: url(/images/icon_world.png) no-repeat left top;
  }
.fr_section.science-and-technology {
  background: url(/images/icon_science.png) no-repeat left top;
  }  
.fr_section.business-and-industry {
  background: url(/images/icon_business.png) no-repeat left top;
  }
.fr_section.health-and-public-welfare {
  background: url(/images/icon_health.png) no-repeat left top;
  }
.fr_section h2 {
  border-bottom: 2px solid #464646;
  @include apertura-condensed;
  font-size: 1.5em;
  margin-bottom: .5em;
  text-transform: uppercase;
  }
.fr_section h2 a {
  color: #464646;
  }


/*
*
* OLD?
*
*/

.newsbox {
  @include border-radius(5px);
  height: 225px; /* TODO remove this height */
  margin-bottom: 1em;
  padding: 1em 1em 3em;
  position: relative;
  }
.newsbox h2 {
  margin-top: 0;
  }  
.newsbox h2 a {
  color: #5697CF;
  }  
.newsbox ul {
  color: darken(#E4A529, 10%);
  margin-bottom: 0;
  padding-left: 1em;
  }
.newsbox ul li {
  list-style: disc;
  list-style-position: outside;
  margin-bottom: .5em;
  }
  
.learn {
  clear: both;
  margin: 3em 0 4em 0;
  overflow: hidden;
  }
.learn h2 {
  margin-top: 0;
  }
.learn h3 {
  font-size: 1.318em;
  margin:.2em 0 .8em 0;
  }  

.notecard {
  background: #ececec;
  @include border-radius(10px);
  overflow: hidden;
  padding: 1em;
  }  
