.icon {
  color: #5697CF;
  display: block;
  padding-left: 40px;
  @include sprite-background('/images/sectionicons-vertical-32.png', 386px, 32px);
  @include sprite-column(1);
  }
.icon.money {
  @include sprite-row(1, 32px, 16px);
  }
.icon.environment {
  @include sprite-row(2, 32px, 16px);  
  }
.icon.world {
  @include sprite-row(3, 32px, 16px);  
  }
.icon.science-and-technology {
  @include sprite-row(4, 32px, 16px);
  }  
.icon.business-and-industry {
  @include sprite-row(5, 32px, 16px);
  }
.icon.health-and-public-welfare {
  @include sprite-row(6, 32px, 16px);
  }
