.icon {
  color: #5697CF;
  @include inline-block;
  @include hide-text;  
  margin-right: 1em;
  }
.icon.money {
  background: sprite-image('section_icons/icon_money_50.png') no-repeat;
  height: image-height('section_icons/icon_money_50.png');
  width: image-width('section_icons/icon_money_50.png');
  }
.icon.environment {
  background: sprite-image('section_icons/icon_environment_50.png') no-repeat; 
  height:  image-height('section_icons/icon_environment_50.png');
  width: image-width('section_icons/icon_environment_50.png');
  }
.icon.world {
  background: sprite-image('section_icons/icon_world_50.png') no-repeat;
  height:  image-height('section_icons/icon_world_50.png');
  width: image-width('section_icons/icon_world_50.png');  
  }
.icon.science-and-technology {
  background: sprite-image('section_icons/icon_science_50.png') no-repeat;
  height:  image-height('section_icons/icon_science_50.png');
  width: image-width('section_icons/icon_science_50.png');
  }  
.icon.business-and-industry {
  background: sprite-image('section_icons/icon_business_50.png') no-repeat;
  height:  image-height('section_icons/icon_business_50.png');
  width: image-width('section_icons/icon_business_50.png');  
  }
.icon.health-and-public-welfare {
  background: sprite-image('section_icons/icon_health_50.png') no-repeat;
  height:  image-height('section_icons/icon_health_50.png');
  width: image-width('section_icons/icon_health_50.png');  
  }
