/******************************

GENERAL

******************************/
body {
background: url(/images/seal.png) no-repeat right top;
color: $body_type_color;
}

.read_more {
  white-space: nowrap;
  }

/******************************

DECORATIONS

******************************/

#seal {
background: url(/images/seal.png) no-repeat left top;
display: block;
height: 331px;
position: absolute;
top: 0;
right: -100px;
width: 436px;
z-index: -1;
}

.faux_col {
  @include linear-gradient(color-stops(#f1f1f1, #fff 20%));
  @include border-radius(5px);
  color: #666;
  margin-bottom: -1000px;
  padding: 1em 1em 1000px 1em;
  }

/******************************

SECTION

******************************/


.featured .article {
overflow: hidden; /* less awkward self-clear */
margin-bottom: 25px;
padding-bottom: 25px;
}

.articles_published_by_day .article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  }

#sections .article {
  border-bottom: 1px dotted #cdcdcd;
}

.article .metadata {
color: #7a838a;
font-size: 1em;
margin-bottom: .5em;
}

.article.with_photo .info {
display: inline;
float: left;
position: relative;
margin-left: 10px;
margin-right: 10px;
width: 460px;
}

.article.with_photo .photo {
display: inline;
float: left;
position: relative;
margin-left: 10px;
margin-right: 10px;
width: 160px;
}

.article.with_photo.on_left .photo {
left: -480px;
margin-right: 0;
}

.article.with_photo.on_left .info {
left: 180px;
margin-left: 0;
}

.article.with_photo.on_right .photo {
margin-right: 0;
}

.article.with_photo.on_right .info {
margin-left: 0;
}

.figure {
background: #e6e6e6;
float: left;
padding: 10px 10px 0;
position: relative;
}

.figcaption {
background: #000;
background: rgba(0,0,0, .0);
bottom: 15px;
color: #fff;
color: rgba(255,255,255, 0);
font-size: 10px;
left: 10px;
padding: 0 5px;
position: absolute;
width: 130px;
}

.figcaption a {
color: #fff;
color: rgba(255,255,255, 0);
}

.figure:hover .figcaption {
background: #000;
background: rgba(0,0,0, .7);
-moz-transition: all 0.3s ease-out;  /* FF3.7+ */
-o-transition: all 0.3s ease-out;  /* Opera 10.5 */
-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
color: #fff;
color: rgba(255,255,255, 1);
}

.figure:hover .figcaption a {
-moz-transition: all 0.3s ease-out;  /* FF3.7+ */
-o-transition: all 0.3s ease-out;  /* Opera 10.5 */
-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */;
color: #fff;
color: rgba(255,255,255, 1);
}

.article dl {
margin-bottom: 0;
}

.article dl dt,
.article dl dd {
display: inline;
text-transform: uppercase;
}

.article dl dd {
font-weight: bold;
padding-right: 10px;
}

#sections div > .article:last-child {
  border-bottom: none;
  }
  
/******************************

COMMENT PERIOD CLOSING

******************************/
#comments-closing-opening { clear: both; }
#comments-closing-opening .header-nav { display: none; }
.comments li {
margin: 0;
list-style-type: none;
margin-bottom: 10px;
overflow: auto;
padding: 0;
}

.group {
  clear: both;
  margin-bottom: 2em;
  overflow: hidden;
  }

/******************************

ARTICLE VIEW 

******************************/

#flash_message {
  @include border-radius(5px);  
  overflow: hidden;  
  background: #E6E6E6;
  color: #6E6E6E;
  margin-bottom: 1em;
  padding: 1em 1em .75em 1em;
  position: relative;
  }
#flash_message .button {
  background: #E4A529;
  color: #fff;
  font-size: .75em;
  margin: 0;
  padding: 1em 1em .6em 1em;
  position: absolute;
  right: 0;
  top: 0;
  }
#flash_message p {
  @include apertura-condensed;
  font-size: 1.5em;
  line-height: 20px;  
  margin: 0;
  padding: 0;
  }

.article .metadata_list {
  position: absolute;
  width: 200px;
  }
  
.box {
  border-bottom: 1px solid #dadada;    
  clear: both;
  overflow: hidden;
  padding: 1em 0;
  }

.box .button {
  margin-bottom: 0;
  }

.box .button:first-child {
  margin-left: 25px;
  }

#entries .box h4 {
  display: inline;
  margin: 0 1em 0 0;
  vertical-align: text-top;
  }

#entries.show .header_column h1,
#entries.show .header_column #table_of_contents,
#entries.show .header_column #table_of_graphics
  {
  clear: both;
  color: $powder_blue;
  font-size: 1.4em;
  @include apertura-condensed;
  margin: 0 0 1em;
  padding-top: 0;
  text-align: right;
  text-transform: uppercase;
  }
#entries.show .header_column h2 {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 0;
  text-align: right;
  }
#entries.show .metadata {
  font-size: 1.3em;
  font-weight: 700;
  }
#entries.show .back_to_top {
  color: #aaa;
  font-size: .8em;
  text-transform: none;
  }
#entries.show h1 .back_to_top,
#entries.show h2 .back_to_top {
  display: block;
  font-weight: normal;
  }
#entries.show .body_column {
  margin-bottom: 4em;
  }  

#entries.show .body_column h3,  
#entries.show .body_column h4 {
  @include gesta;
  font-size: 1.3em;
  line-height: 1.5;
  position: relative;
  }
#entries.show .body_column h3 {
  font-weight: 700;
  }  
#entries.show .body_column h4 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  }  
#entries.show .body_column .back_to_top {
  font-style: normal;
  font-weight: normal;
  position: absolute;
  right: -75px;
  top: 0;
  }  
.body_column h3,
.body_column h4,
.body_column h5 {
  margin: 2em 0 1em;
  }
#entries.show .body_column > h3:first-child {
  margin-top: 0;
  padding-top: 0;
  }

#entries.show .table_of_contents,
#entries.show .table_of_tables,
#entries.show .table_of_figures {
  font-size:1.1em;
  list-style-type: none;
  margin-left: 1em;
  }
#entries.show .table_of_contents li,
#entries.show .table_of_tables li,
#entries.show .table_of_figures li {
  margin-bottom: .5em;
  }
#entries.show .table_of_contents .level_1 {
  
  }
#entries.show .table_of_contents .level_2 {
  margin-left: 1em;
  }

#entries.show .table_of_contents .level_3 {
  margin-left: 2em;
  }  
#entries.show p + p {
  text-indent: 2em;
  }
#entries.show .body_column:empty {
  display: none;
  margin: 0;
  }  

.E-03 {
 font-style: italic; 
}

.E-04 {
  font-weight: bold;
}

#entries.show dt,
#entries.show dd {
  display: block;
  }
#entries.show dt {
  text-align: left;
  margin-top: .5em;
  }
#entries.show dt:first-child {
  margin-top: 0;
  }  
#entries.show dd {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: none;
  }  

.regulatory_timeline_container {
  display: block;
  height: 130px;
  /*overflow: auto; TODO-make this work  */ 
  width: 460px;  
}  
.timeline {
  display: block;
  list-style: none;
  height: 80px;
  width: 1000px;
}  
.timeline .timeline_item {
  border-right: 1px solid #ccc;  
  float: left;
  height: 80px;
  padding: 1em;
  width: 100px;
  }
.timeline .timeline_item:first-child {
  border-left: 1px solid #ccc;
  }
  
/******************************

AGENCY LIST 

******************************/

#agency_list li {
  list-style-type: none;
  }
#agency_list li li {
  background: url(/images/child_many.png) no-repeat left top;
  padding: 0 1.618em;  
  }  
#agency_list li li:last-child {
  background-image: url(/images/child_one.png);
  }
#agencies .agency_list_info .title_bar {
  border-top: none;
  margin-bottom: 0;
  margin-top: 7px;
  padding-top: 0;
  } 

.agency_list_info {  
  border-bottom: 3px solid #385F82;
  margin-bottom: 1em;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
  }
.agency_list_info ul {
  bottom: 0;
  @include horizontal-list;
  position: absolute;
  right: 1em;
  }
.agency_list_info li {
  padding-bottom: 7px;
  }
.agency_list_info li a {
  color: #BDBDBD;
  text-transform: uppercase;
  }    
.agency_list_info li.on {
  background: url(/images/tab_select_bottom.png) no-repeat 50% bottom;
  font-weight: 700;
  } 
.agency_list_info li.on a {
  color: #385F82;
  }
.filters .livesearch input {
  border: 1px solid #ccc;
  width: 90%;
  }  

/******************************

AGENCY VIEW 

******************************/

.quotebox {
  @include linear-gradient(color-stops(#eee  30%, #fff));
  @include border-radius(3px);
  padding: 2em;
}
.quotebox > p:last-child {
  margin-bottom: 0;
  }
  
  
/******************************

TOPIC LIST

******************************/

.topic_list_container .title_bar {
  margin-bottom: 0;
  }
.letter_list {
  @include horizontal-list;
  }
.letter_list li {
  padding: 0 8.5px 7px 8.5px;
  }
.letter_list li:first-child {
  padding-left: 8.5px;
  }
.letter_list li:last-child {
  padding-right: 8.5px;
  }    
.letter_list li.on {
  background: url(/images/tab_select_bottom.png) no-repeat 50% bottom;
  font-weight: 700;
  }
.topic_count {
  margin-bottom: 2em;
  position: relative;
  }  
.topic_count h2 {
  margin-top: 0;
  }  
.topic_list_container ul {
  list-style: none;
  }
.individual_topic_count {
  color: #bdbdbd;
  font-size: 1.3em;
  font-weight: 700;
  @include grid(1,16);  
  line-height: 1.15;
  text-align: right;
  }  

.topic_count .ordering {
  @include horizontal_list;
  position: absolute;
  right: 0;
  top: 0;
  } 
.topic_count .ordering li {
  padding-top: 7px;
  }
.topic_count .ordering li.on {
  background: url(/images/tab_select.png) no-repeat 50% top;
  font-weight: 700;
  }  
  
  
/******************************

TOPIC LIST

******************************/  

.citation_list {
  list-style: none;
  overflow: hidden;
  }

.citation_list li {
  margin-bottom: 1em;
  overflow: hidden;
  }
.citation_list .citation_count {
  font-size:1.3em;
  font-weight:700;
  line-height:1.15;
  }
  
  
/******************************

TABLES

******************************/
#entries .table_title {
  @include linear-gradient(color-stops(#f8f8f8, #cdcdcd));
  border: 1px solid #eee;  
  border-bottom: 1px solid #bbb;
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  color: #363636;
  margin-bottom: 0;
  padding: .5em;
  @include text-shadow(#ddd, 1px, 1px, 1px);  
  }
#entries table {
  border-collapse:separate;
  border: 1px solid #eee;  
  border-top: none;
  width: 100%;
  }
#entries table td {
  @include linear-gradient(color-stops(#fff 80%,#f8f8f8));
  border-left: 1px solid #fff;
  border-right: 1px solid #eee;  
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee; 
  padding: .5em 1.618em .5em .5em;
  }
#entries table tr:hover td {
  background: #F6F9FB;
  /*@include linear-gradient(color-stops(#fff 20%,#f8f8f8));*/
  border-left: 1px solid lighten(#F6F9FB, 2%);  
  border-right: 1px solid darken(#F6F9FB, 2%);
  }  
#entries table thead th {
  background: #F6F9FB;
  @include linear-gradient(color-stops(#F6F9FB,#e8ebed));
  border-top: 1px solid #fff;
  border-bottom: 3px double #e6e6f0;
  border-left: 1px solid #fff;
  border-right: 1px solid #cdcdef;
  color: $dark_blue;
  font-size: .9em;
  padding: .5em;
  @include text-shadow(#fff, 1px, 1px, 1px);
  } 

/******************************

FOOTNOTES

******************************/
#footnotediv {
  background-color: #fff;
  position: absolute;
  width: 400px;
  opacity: .9;
  }
#footnotediv .back {
  display: none;
}