/******************************

GENERAL

******************************/
body {
  background: image-url("seal.png") no-repeat right top;
  color: $body_type_color;
  }
.read_more {
  white-space: nowrap;
  }
ul.bullets {
  padding-left: 0;
  }  
ul.bullets  li {
  background: image-url("bullet.png") no-repeat left 4px;
  list-style: none;
  line-height: 1.25;
  margin-bottom: .75em;
  padding-left: 1em;
  }
.bullets li:last-child,
.bullets li.lastchild {
  margin-bottom: 0;
  }
#entries.show .bullets li {
  margin-left: 2em;
}
.bullets .citable {
  width: auto;
}
.bullets .citable .trigger {
  left: 454px;
}
ul.bold_links a {
  font-weight: 700;
  }  
.hide,  
.skip_to_content { display: none; }

#tender {
  background: sprite-image("icons/tender.png", 0, 0, 100px) no-repeat;
  display: block;
  height: image-height("icons/tender.png");
  @include hide-text;
  position: absolute;
  top: 100px;
  right: 0;
  width: image-width("icons/tender.png");
  z-index: 5000;
  }

.clear { clear: both; }

:invalid {
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);  
  }

#content_area a.wrap {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  }

/******************************

DECORATIONS

******************************/

#seal {
  background: url(/images/seal.png) no-repeat left top;
  display: block;
  height: 331px;
  position: absolute;
  top: 0;
  right: 0;
  width: 436px;
  z-index: -1;
  }

.faux_col {
  @include linear-gradient(color-stops(#f1f1f1, #fff 20%));
  @include border-radius(5px);
  color: #666;
  margin-bottom: -1000px;
  padding: 1em 1em 1000px 1em;
  }

/******************************

LEGAL DISCLAIMER

******************************/

#disclaimer {
  background: lighten($bookmark_red, 50%);
  border: 1px solid $bookmark_red;
  padding: .5em .5em .25em;
  }
#special.home  #disclaimer {
  background: none;
  border: none;
  margin-left: 10px;
  padding: 0;
  }  
#disclaimer h1,
.disclaimer {
  background: sprite-image('icons/disclaimer.png', 0, 0, 50px) no-repeat;
  color: $bookmark_red;
  @include gesta;
  font-size: 1em;
  line-height: 20px;
  margin-bottom: 0;
  padding-left: 25px;
  text-transform: uppercase;
  }
#disclaimer h1 a,
.disclaimer,
a.disclaimer:hover {
  color: $bookmark_red;
  }
a.disclaimer {
  display: block;
  font-weight: bold;
  height: 20px;
  }  
#disclaimer h1:hover,
.disclaimer:hover {
  text-decoration: underline;
  }
.home #news .disclaimer {
  display: block;
  font-weight: bold;
  }
.home #news .disclaimer:hover {
  color: $bookmark_red;
  }    
#print-disclaimer {
  display: none;
  }
  
/******************************

SECTION

******************************/

.featured .article,
#wordpress .blog_post_list .article {
  overflow: hidden; /* less awkward self-clear */
  margin-bottom: 25px;
  padding-bottom: 25px;
  }

.articles_published_by_day .article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  }

#sections .article,
#wordpress .blog_post_list .article {
  border-bottom: 1px dotted #cdcdcd;
  }
.article .metadata {
  color: #7a838a;
  font-size: 1em;
  margin-bottom: .5em;
  }
.article.with_photo .info {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  }
.article.with_photo .photo {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
  }
.article.with_photo .photo figure {
  margin: 0 !important; /* Over-ride chrome figure margin. Needs important until we fix html5 helper. */
  }  
.article.with_photo.on_left .photo {
  left: -480px;
  margin-right: 0;
  }
.article.with_photo.on_left .info {
  left: 180px;
  margin-left: 0;
  }
.article.with_photo.on_right .photo { margin-right: 0; }
.article.with_photo.on_right .info { margin-left: 0; }
.figure {
  background: #e6e6e6;
  float: left;
  padding: .5em;
  position: relative;
  }
.figcaption {
  font-size: .9em;
  width: 130px;
  }
.figcaption a {
  display: block;
  }
.article.with_photo.on_right .figure {
  float: right;
  }  
#sections div > .article:last-child,
#sections div > .article.lastchild  {
  border-bottom: none;
  }
  
/******************************

COMMENT PERIOD CLOSING

******************************/
#comments-closing-opening { clear: both; }
#comments-closing-opening .header-nav { display: none; }
.comments li {
  margin: 0;
  list-style-type: none;
  margin-bottom: 10px;
  overflow: auto;
  padding: 0;
  }
.group {
  clear: both;
  margin-bottom: 1em;
  overflow: hidden;
  }

/******************************

ARTICLE VIEW 

******************************/
#metadata_content_area {
  margin-bottom: 2em;
  }
#flash_message {
  @include border-radius(5px);  
  background: #E6E6E6;
  color: #6E6E6E;
  line-height: 20px;
  margin: 20px 0;
  overflow: hidden;  
  position: relative;
  }
#flash_message .button {
  background: $green;
  color: #fff;
  font-weight: normal;
  margin: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 193px;
  text-align: center;
  }
#flash_message.correction .button { background: $bookmark_red; }
#flash_message.correction_of .button { background: $golden; }

#flash_message .button:hover {
  background: $golden;
  }  
#flash_message p {
  @include apertura-condensed;
  line-height: 20px;  
  margin: 0;
  padding: 0;
  line-height: 3em;
  padding-left: 40px;
  }
#flash_message.pdf_only p {
  background: sprite-image('icons/icon_errors.png', 15px, 9px, 100px) no-repeat;
  }
#flash_message.comment p {
  background: sprite-image('icons/icon_comment.png', 10px, 14px, 20px) no-repeat;
  } 
#flash_message.correction_of p,
#flash_message.correction p {
  background: sprite-image('icons/disclaimer_grey.png', 12px, 12px, 50px) no-repeat;
  }
#comment_count {
  width: 100%;
  text-align: right;
  padding-bottom: 0;
  margin-top: -15px;
  color: #363636;
  font-family: gesta-1, gesta-2, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 14px;
  font-weight: bold;

  }
.article .metadata_list dt {
  text-transform: none;
  }  
.box {
  border-bottom: 1px solid #dadada;    
  clear: both;
  overflow: hidden;
  padding: 1em 0;
  }
.box .button {
  margin-bottom: 0;
  }
.box .button:first-child,
.box .button.firstchild {
  margin-left: 25px;
  }
#sidebar .aside_box {
  margin-bottom: 1em;
  }
#sidebar .aside_box ul.bullets {
  margin-bottom: 0;
  }
#entries .box h4 {
  display: inline;
  margin: 0 1em 0 0;
  vertical-align: text-top;
  }
.header_column h1,
.header_column #table_of_contents,
.header_column #table_of_graphics
  {
  clear: both;
  color: $powder_blue;
  font-size: 1.4em;
  @include apertura-condensed;
  margin: 0 0 1em;
  padding-top: 0;
  text-align: right;
  text-transform: uppercase;
  word-wrap: break-word;
  }
.header_column h2 {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 0;
  text-align: right;
  }
#entries.show .metadata,
#regulatory_plans.show .metadata {
  font-size: 1.3em;
  }
.metadata_share_bar {
  border-bottom:1px solid #CCCCCC;
  border-top:1px solid #CCCCCC;
  margin:0.5em 0;
  overflow:hidden;
  padding:0.5em 0;
  }
.metadata_share_bar .metadata {
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline-block;
  }
.metadata_share_bar .share {
  position: relative;
  display: inline-block;
  }
.metadata_share_bar .share ul {
  @include horizontal-list;
  position: absolute;
  right: 0;
  top: -2px;
  overflow:visible;
  }   
.metadata_share_bar .share ul li.clip_for_later {
  padding-right: 35px;
  }

#entries.show .back_to_top {
  color: #aaa;
  font-size: .8em;
  text-transform: none;
  }
#entries.show h1 .back_to_top,
#entries.show h2 .back_to_top {
  display: block;
  font-weight: normal;
  }
#entries.show .body_column,
#entries.show .header_column {
  margin-bottom: 2em;
  }  
#entries.show .body_column h3,  
#entries.show .body_column h4,
.timeline_info {
  @include gesta;
  font-size: 1.3em;
  line-height: 1.5;
  position: relative;
  }
#entries.show .body_column h3 {
  font-weight: 700;
  }  
#entries.show .body_column h4,
.timeline_info {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  }  
#entries.show .body_column .back_to_top {
  font-style: normal;
  font-weight: normal;
  position: absolute;
  right: -75px;
  top: 0;
  }  
.body_column h3,
.body_column h4,
.body_column h5 {
  margin: 2em 0 1em;
  }
/* TODO HELP-DESIGN add target styles, fadeout after a bit? */
/*h1:target,  
h2:target,
h3:target,
p:target {
  background: $aside_box_background;
  }  */
#entries.show .body_column > h3:first-child,
#entries.show .body_column > h3.firstchild {
  margin-top: 0;
  padding-top: 0;
  }
#entries.show .table_of_contents .level_1 {
  margin-left: 0;
}
#entries.show .table_of_contents .level_2 {
  margin-left: 1em;
  }
#entries.show .table_of_contents .level_3 {
  margin-left: 2em;
  }  
#entries.show .table_of_contents .level_4 {
  margin-left: 3em;
  }  
#entries.show .body_column p:first-child,
#entries.show .body_column p:first-child,
#entries.show .body_column p.firstchild {
  text-indent: 0;
  }
.table_of_graphics li {
  background: none;
  float: left;
  list-style: none;
  margin: 0 10px 1em 0;
  }
.table_of_graphics li.start_of_row {
  clear: both;
  }
.table_of_graphics li.end_of_row {
  margin-right: 0;
  }

#fulltext_content_area {
  overflow: hidden;
  clear: both;
  }
#fulltext_content_area p.document_details { color: #CCC; }
#fulltext_content_area p.document_details a { color: #CCC; }
#fulltext_content_area p.document_details a:hover { color: #B88659; }

#entries.show .body_column:empty {
  display: none;
  margin: 0;
  }  

.E-03 {
 font-style: italic; 
  }
.E-04 {
  font-weight: bold;
  }
.printed_page {
  background: sprite-image('icons/icon_page_break.png', 0, 0, 50px) no-repeat; 
  display: inline-block;
  width: 11px;
  height: 14px;
  margin-bottom: -2px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
}

.metadata_list dt,
.metadata_list dd {
  display: block;
  }
.metadata_list dt {
  text-align: left;
  margin-top: .5em;
  }
.metadata_list dt:first-child,
.metadata_list dt.firstchild {
  margin-top: 0;
  }  
.metadata_list dd {
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 10px;
  text-indent: -10px;
  text-transform: none;
  }
.metadata_list a.shorter_url {
  padding-right: 15px;
}
#sidebar .aside_box h5 {
  margin-top: 0;
  padding-top: 0;
}
.citable {
  padding-right: 25px;
  position: relative; 
  width: 460px;
  }
.citation_box { 
  display: none;
  @include box-shadow(#ccc, 1px, 1px, 5px);
  position: absolute; 
  }
.citation_box ul { margin-bottom: 0; }  
.citation_box li {
  padding-left: 25px;
  list-style: none;
  margin-bottom: .5em;
  }
.citation_box li:last-child,
.citation_box li.lastchild { margin-bottom: 0 ;}  
.citation_box li.bookmark { background: sprite-image('icons/citation_box/icon_bookmark.png', 0, 0, 50px) no-repeat; }
.citation_box li.twitter { background: sprite-image('icons/citation_box/icon_twitter.png', 0, 0, 50px) no-repeat; }
.citation_box li.facebook { background: sprite-image('icons/citation_box/icon_facebook.png', 0, 0, 50px) no-repeat; }
.citation_box li.digg { background: sprite-image('icons/citation_box/icon_digg.png', 0, 0, 50px) no-repeat; }
.citation_box li.cite_volume { background: sprite-image('icons/citation_box/icon_volume.png', 0, 0, 50px) no-repeat;  }
.citation_box li.cite_page { background: sprite-image('icons/citation_box/icon_page.png', 0, 0, 50px) no-repeat;  }
.citation_box li.link { background: sprite-image('icons/citation_box/icon_link.png', 0, 0, 50px) no-repeat;  }
.citation_box li.email { background: sprite-image('icons/citation_box/icon_email.png', 0, 0, 50px) no-repeat; }
.citation_box li.next { background: sprite-image('icons/citation_box/icon_next.png', 0, 4px, 100px) no-repeat; }
.citation_box li.top { background: sprite-image('icons/citation_box/back_to_top.png', 0, 0, 100px) no-repeat; }
.citation_box .close {
  background: sprite-image('icons/icon_close.png', 0, 0, 50px) no-repeat;;
  height: image-height('icons/icon_close.png');
  @include hide-text;  
  position: absolute;
  right: 1em;
  top: 1em;
  width: image-width('icons/icon_close.png');
  }
.citation_box .close:hover {
  background: sprite-image('icons/icon_close.png', 0, 0, 50px) no-repeat;
  }  
.trigger {
  background: sprite-image('icons/citation_box/icon_bookmark.png', 0, 0, 50px) no-repeat;;
  @include hide-text;
  cursor: pointer;
  position: absolute;
  top: .5em;
  height: 50px;
  width: 50px;  
  }
p:target {
  background-color: #F5F8F9;
}
.body_column p {
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.4125em;
}


/* <NOTE> */
#fulltext_content_area .note {
  margin: 1.5em 0;
  padding: 10px;
  background-color: #FFFEEC;
  }
#fulltext_content_area .note h4 {
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0.4em;
  padding-left: 20px;
  padding-top: 3px;
  background: sprite-image('icons/icon_notepad.png', 0, 0, 50px) no-repeat;
}
#entries.show .body_column .note h4 { font-size: 1.4em; }
#fulltext_content_area .note p {
  padding: 0 0 0 20px;
  text-indent: 0;
  width: auto;
  }

/* <PSIG> */
#entries #fulltext_content_area .signature_header {
  padding-left: 20px;
  float: right;
  height: 40px;
  width: 7px;
  background: sprite-image('icons/icon_pen.png', 0, 1px, 200px) no-repeat;
  }
#entries #fulltext_content_area .signature {
  margin-left: 4px;
  border-left: 4px solid #7B8687;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 430px;
}
#entries #fulltext_content_area .signature p {
  text-indent: 0;
  width: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  }
#entries #fulltext_content_area .signature p.signature_date { 
  padding-top: 0;
  margin-bottom: 10px;
  }
#entries #fulltext_content_area .signature p.name { font-weight: bold; }
#entries #fulltext_content_area .signature p.title { font-style: italic; }


/* <REGTEXT> */
#fulltext_content_area .reg_text {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  clear: both;
  }
#entries.show .reg_text .body_column { 
  margin-left: 0px;
  margin-bottom: 0.5em;
  width: 530px;
  }
#entries.show .reg_text .body_column .back_to_top {
  position: relative;
  right: 0px;
  }

.reg_text .header_column { float: none; }
.reg_text h1 {
  margin-left: 0;
  text-align: left;
  font-size: 1.3em;
  padding-top: 4px;
  color: #5697CF;
  font-weight: bold;
  }
.reg_text h1.chapter {
  margin-bottom: 0;
  padding-left: 30px;
  background: sprite-image('icons/icon_books.png', 0, 3px, 150px) no-repeat;
  }
.reg_text h1.part, .reg_text h1.subpart {
  margin-bottom: 0;
  padding-left: 30px;
  background: sprite-image('icons/icon_book.png', 0, 4px, 150px) no-repeat;
  }
.reg_text .divider { 
  overflow: hidden;
  clear: both;
  }
#fulltext_content_area .reg_text .divider h1.part { 
  padding-top: 10px;
  background: sprite-image('icons/icon_book.png', 0, 9px, 150px) no-repeat;
  }
#entries.show .reg_text .body_column.regtext_intro {
  position: relative;
  margin-left: 0;
  }
.regtext_intro p { padding-left: 0.3em; }

.reg_text h2 {
  padding-top: 20px;
  margin-left: 0;
  margin-bottom: 1em;
  text-align: left;
  color: #5697CF;
  font-size: 1.2em;
}
.reg_text h2.cfr_section {
  padding-left: 31px;
  background: sprite-image('icons/icon_openbook.png', 0, 15px, 50px) no-repeat;
  font-size: 1.2em;
  font-weight: bold;
  }

.reg_text h3 {
  color: #5697CF;
  font-size: 1.1em;
  }

#fulltext_content_area .reg_text .border {
  opacity: 0.3;
  border-bottom: 2px solid #7B8687;
  width: 38%;
  float: left;
  height: 13px;
  }
#fulltext_content_area .reg_text .border_icon {
  opacity: 0.3;
  background: sprite-image('icons/icon_scales.png', 7px, 0, 50px) no-repeat;
  float: left;
  width: 19%;
  height: 17px;
  text-transform: lowercase;
  font-style: italic;
  padding-left: 32px;
  padding-top: 5px;
  color: #7B8687;
  margin-bottom: 25px;
  }

#fulltext_content_area .reg_text p.amendment_part {
  margin-left: 35px;
  padding-top: 10px;
  padding-bottom: 0; 
  clear: left;
  line-height: 1.4em;
  font-weight: bold;
  }
#fulltext_content_area .reg_text .amendment_part_number {
  position: absolute;
  left: 0px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-family: "athelas-1","athelas-2", "Georgia", serif;
  vertical-align: top;
  display: inline-block;
  font-size: 24px;
  width: 25px;
  }
#fulltext_content_area .reg_text .amendment_part_text {
  width: 87%;
  display: inline-block;
  padding-top: 3px;
  }
#entries.show .reg_text .authority,
#entries.show .reg_text .extract,
#entries.show .reg_text .contents {
  padding: 0 10px 10px 10px;
  margin-left: 65px;
  width: 87%;
  overflow: hidden;
  margin-top: 10px;
  }
#entries.show .reg_text .authority,
#entries.show .reg_text .extract,
#entries.show .reg_text .contents {
  background-color: #F5F5F5;
  }
#entries.show .reg_text .authority { 
  margin-left: 65px;
  margin-top: 10px;
  }
#entries.show .reg_text .authority h3 { margin-bottom: 0; }

#entries.show .reg_text .table_of_contents { 
  font-size: 1.1em;
  overflow: hidden;
  clear: left;
  }
#entries.show .reg_text .table_of_contents h2 {
  height: 35px;
  width: 31px;
  padding-top: 0;
  float: left;
  background: sprite-image('icons/icon_compass.png', 0, 0, 50px) no-repeat;
  }
#entries.show .reg_text .table_of_contents ul {
  float: left;
  border-left: 4px solid #7B8687;
  list-style: none;
  margin-left: 0px;
  width: 87%;
  }
#entries.show .reg_text .table_of_contents ul li { margin-left: 5px; }
#entries.show .reg_text table { width: 92%; }

/* <LSTSUB> */
#fulltext_content_area h2.subject_list_header {
  padding-left: 20px;
  font-size: 1.3em;
  background: sprite-image('icons/icon_topics.png', 6px, -2px, 100px) no-repeat;
  }
#fulltext_content_area h2.subject_list_header span {
  width: 140px;
  display: block;
  }
#fulltext_content_area h2.subject_list_header a {
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-word;
  }
#fulltext_content_area .subject_list {
  margin-left: 4px;
  border-left: 4px solid #7B8687;
  padding: 0 10px;
  width: 430px;
  }
#fulltext_content_area .subject_list h3:first-child { margin-top: 0; }
#fulltext_content_area .subject_list h3 { margin-bottom: 0; }

#fulltext_content_area .subject_list p { padding-bottom: 0px; }
#fulltext_content_area .subject_list ul {
  margin-bottom: 0;
  font-size: 1.1em;
  margin-left: 30px;
  }

/* Words of Issuance */
#entries #fulltext_content_area .header_column.words_of_issuance,
#entries #fulltext_content_area .header_column.words_of_issuance + .body_column { margin-top: 15px; }
#entries #fulltext_content_area .header_column.words_of_issuance h2 {
  padding-left: 20px;
  float: right;
  height: 40px;
  width: 7px;
  background: sprite-image('icons/icon_megaphone.png', 0, 0, 200px) no-repeat;
  }

// HELP-DESIGN: I could convert this to a header if you prefer...
p.cfr_section {
  font-weight: bold;
}
// HELP-DESIGN: ideally some sort of graphical representation for the stars; again see /a/2010-15073
p.stars {
}
// HELP-DESIGN: I added these and they work, but are a bit gross; see /a/2010-15021 for example
.footnote p {
  padding-bottom: 0;
}
.footnote .back {
  display: block;
  padding-bottom: 1em;
}
#footnotediv {
  background: #F5F8F9;
  border: 1px solid #333;
  @include box-shadow( #aaa, 1px, 1px, 10px);
  opacity: 1;
  padding: .25em;
  }
#footnotediv > * {
  margin: 0;
  padding: 0;
  }  
  
#font_controls h1 {
  float: left;
  font-size: .9em;
  line-height: 23px;
  margin-right: 1em;
  font-weight: 400;
  }
.wf-active #font_controls h1 {
  font-size: 1em;
  line-height: 28px;  
  }  
#font_controls ul {
  @include horizontal_list;
  display: inline;
  }  
#font_controls ul a {
  display: block;
  @include hide-text;
  height: image-height("icons/font_controls/font_increase.png");
  width: image-width("icons/font_controls/font_increase.png");
  }
#font_controls a.increase { background: sprite-image("icons/font_controls/font_increase.png", 0, 0, 100px) no-repeat; }  
#font_controls a.increase:hover { background: sprite-image("icons/font_controls/font_increase_hover.png", 0, 0, 100px) no-repeat; }  
#font_controls a.decrease { background: sprite-image("icons/font_controls/font_decrease.png", 0, 0, 100px) no-repeat; }  
#font_controls a.decrease:hover { background: sprite-image("icons/font_controls/font_decrease_hover.png", 0, 0, 100px) no-repeat; }  
#font_controls a.serif { background: sprite-image("icons/font_controls/font_serif.png", 0, 0, 100px) no-repeat; }  
#font_controls a.serif:hover,
#font_controls a.serif:focus,
#font_controls a.serif.on { background: sprite-image("icons/font_controls/font_serif_hover.png", 0, 0, 100px) no-repeat; }  
#font_controls a.sans { background: sprite-image("icons/font_controls/font_sans.png", 0, 0, 100px) no-repeat; }  
#font_controls a.sans:hover,
#font_controls a.sans:focus,
#font_controls a.sans.on { background: sprite-image("icons/font_controls/font_sans_hover.png", 0, 0, 100px) no-repeat; }  
.font_control_wrapper {
  background: #e4ecd8;
  border:1px solid #a8bf82;
  padding:0.5em;
  }
#navigation_controls { overflow: hidden; }
#navigation_controls .prev,
#navigation_controls .next {
    display: block;
    height: 17px;
    line-height: 19px;
    }
#navigation_controls .prev { float: left; padding-left: 20px; }
#navigation_controls .next { float: right; padding-right: 20px; }

.prev { background: sprite-image('icons/blog/prev.png', 0, 2px, 100px) no-repeat; }
.prev:hover { background: sprite-image('icons/blog/prev-hover.png', 0, 2px, 100px) no-repeat; }  
.next { background: sprite-image('icons/blog/next.png', 100%, 2px, 100px) no-repeat; }
.next:hover { background: sprite-image('icons/blog/next-hover.png', 100%, 2px, 100px) no-repeat; }
 
 
/******************************

AGENCY LIST 

******************************/

#agency_list li {
  list-style-type: none;
  }
#agency_list li a {
  display: block;
  padding-top: 12px;
  }
#agency_list li li {
  background: image-url("child_many.png") no-repeat left top;
  padding: 0 1.618em;  
  }  
#agency_list li li:last-child,
#agency_list li li.lastchild  {
  background: image-url("child_one.png") no-repeat left top;
  }
.agency_list_info .title_bar {
  border-top: none;
  margin-bottom: 0;
  margin-top: 7px;
  padding-top: 0;
  } 
.agency_list_info {  
  border-bottom: 3px solid #385F82;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  }
.filters .livesearch input {
  border: 1px solid #ccc;
  width: 90%;
  }  

/******************************

AGENCY VIEW 

******************************/

.header.with_image.group {
  margin-bottom: 1.5em;
}

.header.with_image h1 {
  display: inline-block;
  float: none;
  width: 440px;
  text-align: center;
  vertical-align: middle;
  padding-right: 20px;
  font-size: 2em;
}

.header.with_image img {
  vertical-align: middle;
}  

.quotebox {
  @include linear-gradient(color-stops(#eee  30%, #fff));
  @include border-radius(3px);
  padding: 2em;
  }
.quotebox > p:last-child,
.quotebox > p.lastchild  {
  margin-bottom: 0;
  }
  
/******************************

REGULATION VIEW 

******************************/  

.split_list {
  overflow: hidden;
  }
.split_list dt {
  clear: both;
  float: left;
  width: 45%;
  }
.split_list dd {
  display: inline;
  float: left;
  width: 45%;
  }

.timeline {
  height: 175px;
  margin-bottom: 1em;
  overflow: hidden;
	position: relative;  
  width: 495px;
  }
.timeline_list {
  display: block;
  list-style: none;
  height: 170px;
  position: absolute;
  width: 1000px;
  }  
.timeline_item {
  border: 1px solid #ccc;
  float: left;
  height: 150px;  
  margin-right: 10px;
  list-style-type: none;
  padding: 10px;
  width: 135px;
  }
.timeline_item:hover {
  @include box-shadow(#ccc, 0, 0, 5px)
  }  
.timeline_item .date {
  color: #e4a529;
  @include gesta;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: .5em;
  }
.timeline_item .action {
  color: #524e46;
  }
.timeline_item ul {
  font-size: 1em;
  margin: 0;
  }  
.timeline_item:last-child,
.timeline_item.lastchild {
  margin-right: 0;
  } 
.timeline_item:last-child .date, 
.timeline_item:last-child li,
.timeline_item:last-child li .action,
.timeline_item.lastchild .date, 
.timeline_item.lastchild li,
.timeline_item.lastchild li .action {
   }

.track {
  background:#f1f1f1;
  @include border-radius(5px);
  cursor: pointer;
  display: none;
  height: 15px;
  margin: 0 0 1em;
  position: relative;
  width: 495px;
  }
.track .handle {
  background: #a19f9b;
  @include border-radius(5px);
  display: block;
  height: 15px;
  position: absolute;
  width: 40px;
  }
.track .handle:hover {
  background: $powder_blue;
  }  

.contacts li {
  background: sprite-image('icons/blog/author.png', 0, 5px, 200px) no-repeat;
  border-bottom:2px solid #EEEEEE;
  list-style: none;
  margin-bottom: 1em;
  padding-bottom: 1em;  
  padding-left: 30px;  
  }
.contacts li:last-child,
.contacts li.lastchild {
  border-bottom: none;
  }

.contacts .vcard .title {
  margin: 0;
  padding: 0;
  text-align: left;
  background: none;
  color: #000;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  height: auto;
  letter-spacing: auto;
  font-family: inherit;
  }
/******************************

TOPIC LIST

******************************/

.topic_list_info .title_bar {
  border-top: none;
  margin-bottom: 0;
  margin-top: 7px;
  padding-top: 0;
  } 
.topic_list_info {  
  border-bottom: 3px solid #385F82;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  }

.topic_list_container .title_bar {
  margin-bottom: 0;
  }
.topic_count {
  margin-bottom: 2em;
  position: relative;
  }  
.topic_count h2 {
  margin-top: 0;
  }  
.topic_list_container ul {
  display: inline-block;
  list-style: none;
  margin-right: 1em;
  margin-bottom: 0;
  }
.individual_topic_count {
  color: #565656;
  font-size: 1.3em;
  font-weight: 700;
  @include grid(1,16);  
  line-height: 1.15;
  text-align: right;
  }  
.filters .actions {
  position: relative;
  }
.filters .actions li {
  clear: none;
  float: none;
  margin-left: 0;
  }  
.filters .actions li:first-child,
.filters .actions li.firstchild,
.filters .actions li:last-child, 
.filters .actions li.lastchild   {
  margin-left: 0;
  padding: .25em .5em 0;
  }
/******************************

TOPIC LIST

******************************/  

.citation_list {
  list-style: none;
  overflow: hidden;
  }

.citation_list li {
  margin-bottom: 1em;
  overflow: hidden;
  }
.citation_list .citation_count {
  font-size:1.3em;
  font-weight:700;
  line-height:1.15;
  }
  
  
/******************************

TABLES

******************************/

#entries.show .table_title {
  @include linear-gradient(color-stops(#f8f8f8, #cdcdcd));
  border: 1px solid #eee;  
  border-bottom: 1px solid #bbb;
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  color: #363636;
  margin-bottom: 0;
  padding: .5em;
  @include text-shadow(#ddd, 1px, 1px, 1px);  
  }
#entries.show #content_area .table_wrapper {
  overflow: scroll;
  max-height: 550px;
}
#entries.show #content_area table {
  border-collapse:separate;
  border: 1px solid #eee;  
  border-top: none;
  width: 100%;
  }
#entries.show #content_area table td {
  @include linear-gradient(color-stops(#fff 80%,#f8f8f8));
  border-left: 1px solid #fff;
  border-right: 1px solid #eee;  
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee; 
  padding: .5em;
  }
#entries.show #content_area table tr:hover td {
  background: #F6F9FB;
  /*@include linear-gradient(color-stops(#fff 20%,#f8f8f8));*/
  border-left: 1px solid lighten(#F6F9FB, 2%);  
  border-right: 1px solid darken(#F6F9FB, 2%);
  }  
#entries.show #content_area table thead th {
  background: #F6F9FB;
  @include linear-gradient(color-stops(#F6F9FB,#e8ebed));
  border-top: 1px solid #fff;
  border-bottom: 3px double #e6e6f0;
  border-left: 1px solid #fff;
  border-right: 1px solid #cdcdef;
  color: $dark_blue;
  font-size: .9em;
  padding: .5em;
  @include text-shadow(#fff, 1px, 1px, 1px);
  } 
#entries.show #content_area table td.center {
  text-align: center;
}
#entries.show #content_area table td.indent {
  padding-left: 25px;
}

/******************************

DAILY ISSUE

******************************/

#meta_toc li {
  @include min-height(25px);
  padding-right: 40px;
  position: relative;
  }

#meta_toc li span {
  position: absolute;
  right: 0;
  top: 0;
  }

/******************************

FOOTNOTES

******************************/

#footnotediv {
  background-color: #fff;
  position: absolute;
  width: 400px;
  opacity: 1;
  }
#footnotediv .back {
  display: none;
  }

/******************************

HEADER ACTIONS

******************************/
.actions {
  bottom: 5px;
  @include horizontal_list;
  position: absolute;
  right: 0;
  }
.actions li {
  margin-left: .5em;
  padding: 0.25em 0.5em 0;
  }
.actions li:first-child,
.actions li.firstchild {
  margin-left: 0;
  }  
.actions li a {
  color: #385F82;
  text-transform: uppercase;
  }  
.actions li.on,
.actions li.tabs-selected,
.action_button {
  background: #385F82;
  @include border-radius(5px);
  font-weight: 700;
  }
.actions li.on:first-child,
.actions li.on.firstchild,
.actions li:last-child, 
.actions li.lastchild,
.actions li.tabs-selected:first-child,
.actions li.tabs-selected.firstchild,
.action_button {
  padding: 0.25em 0.5em 0;
  }  
.actions li.on a,
.actions li.tabs-selected a,
.action_button {
  color: #fff;
  }

#agencies .action_button {
  font-size: 16px;
  margin-left: 243px;
  }
#agencies .action_button:hover {
  background: #F77825;
  color: #fff;
  }
