/******************************

GENERAL

******************************/

html{
font-size:100%;
min-height:101%;
}

body {
background: url(/images/seal.png) no-repeat right top;  
color: $body_type_color;
}

/******************************

DECORATIONS

******************************/

#seal {
background: url(/images/seal.png) no-repeat left top;
display: block;
height: 331px;
position: absolute;
top: 0;
right: -100px;
width: 436px;
z-index: -1;
}

/******************************

SECTION

******************************/


.article {
border-bottom: 1px solid #e6e6e6;
overflow: hidden;
margin-bottom: 25px;
padding-bottom: 25px;
} 
  
.article .metadata {
color: #7a838a;
font-size: 1.2em;
}
  
.article .metadata a {
color: darken(#7a838a, 20%);
}

.article.with_photo .info {
display: inline;
float: left;
position: relative;
margin-left: 10px;
margin-right: 10px;
width: 460px;
}

.article.with_photo .photo {
display: inline;
float: left;
position: relative;
margin-left: 10px;
margin-right: 10px;
width: 160px;
}

.article.with_photo.on_left .photo {
left: -480px;
margin-right: 0;
}

.article.with_photo.on_left .info {
left: 180px;
margin-left: 0;
}

.article.with_photo.on_right .photo {
margin-right: 0;
}

.article.with_photo.on_right .info {
margin-left: 0;
}

.article.with_photo .figure {
background: #e6e6e6;
float: left;
padding: 10px;
position: relative;
}

.article.with_photo .figcaption {
background: #000;
background: rgba(0,0,0, .0);
bottom: 15px;
color: #fff;
color: rgba(255,255,255, 0);
font-size: 10px;
left: 10px;
padding: 0 5px;
position: absolute;
width: 130px;
}

.article.with_photo .figcaption a {
color: #fff;
color: rgba(255,255,255, 0);
}

.article.with_photo .figure:hover .figcaption {
background: #000;
background: rgba(0,0,0, .7);
-moz-transition: all 0.3s ease-out;  /* FF3.7+ */
-o-transition: all 0.3s ease-out;  /* Opera 10.5 */
-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
color: #fff;
color: rgba(255,255,255, 1);
}

.article.with_photo .figure:hover .article .figcaption a {
-moz-transition: all 0.3s ease-out;  /* FF3.7+ */
-o-transition: all 0.3s ease-out;  /* Opera 10.5 */
-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */;
color: #fff;
color: rgba(255,255,255, 1);
}

.article dl {
margin-bottom: 0;
}

.article dl dt,
.article dl dd {
display: inline;
text-transform: uppercase;
}

.article dl dd {
font-weight: bold;
padding-right: 10px;
}

/******************************

COMMENT PERIOD CLOSING

******************************/
#comments-closing-opening {
  clear: both;
  }
#comments-closing-opening .header-nav {
  display: none;
  }
.comments li {
margin: 0;
list-style-type: none;
margin-bottom: 10px;
overflow: auto;
padding: 0;
}

.grouped_comments_by_date .date {
color: #bdbdbd;
font-size: 1.4em;
font-weight: bold;
line-height: 1.5;
text-align: right;
}

.comments li a {
line-height: 1.5;
}

.comment_period_list h3 {
clear: both;
font-family: "apertura-condensed-1","apertura-condensed-2",sans-serif;
font-size: 1.4em;
line-height: 1.5;
text-align: right;
}

#comments-closing-opening .group {
  clear: both;
}

