/*  
    Most of the public inspection page co-opts the styles from the 
    entries table of contents by using the body id of #entries. These 
    styles are for the most part just tweaks to them.
*/

/* Green current issue box */
#current_issue.public_inspection .issue {
  padding-left: 46px;
}
#current_issue.public_inspection .issue:hover {
  text-decoration:none;
  }
#current_issue.public_inspection ul.statistics li {
  padding-right: 30px;
  }
#entries #content_area.public_inspection {
  width:680px;
  padding-right: 20px;
  }


/* Blue info box */
.info_box {
  background: #F5F8F9 sprite-image('icons/icon_info_circle_large.png', 10px, 20px, 100px) no-repeat;
  border: 1px solid #B3C2CF;
  clear: both;
  margin-bottom: 2em;
}
.info_box p{
  margin-left: 65px;
  padding: 10px;
  }
#content_area.public_inspection .info_box {
  // position the image down 10 more px than usual
  background: #F5F8F9 sprite-image('icons/icon_info_circle_large.png', 10px, 30px, 100px) no-repeat;

  width: 675px;
  height: 162px;
  padding-top: 15px;  
  }



/* Document listing by filing type */
#special-filing span.updated_at, #regular-filing span.updated_at {
  font-size: 12px;
  display: block;
  font-weight: normal;
  font-style: italic;  
  }
#regular-filing {
  clear:both;
  padding-top: 50px;
  }


/* Meta data for document */
#entries dl dt, #entries dl dd, #entries #content_area.public_inspection h3 {
  clear: both;
  }
#entries #content_area.public_inspection dl dt a, #entries #content_area.public_inspection dl dd a {
  font-weight: bold;
  }
#entries dl div.details {
  padding-bottom: 10px;
  overflow: hidden;
  width: 675px;
  font-weight: normal;
  }

#entries #content_area.public_inspection dl div.details a{
  font-weight: normal;
  }
#entries dl div.column {
  position: relative;
  width: 180px;
  margin-right:20px;
  float: left;
  display: block;
  }
#entries dl div.column.dates {
  width: 230px;
  }
#entries dl dt > div.details .column.file_info {
  width: 205px;
  }
#entries dl div.column .document_number {
  display: block;
  }

#entries div.editorial_note {
  clear: both;
  margin-bottom: 30px;
  }

#entries span.pdf.small {
  background: sprite-image('icons/icon_pdf_small.png', 0, 3px, 50px) no-repeat;
  padding-left: 20px;
  display: inline-block;
  }

#entries span.new_document {
  background: sprite-image('icons/new_badge_icon.png', 0, 0, 50px) no-repeat;
  width: 16px;
  height: 17px;
  display: inline-block;
  position: absolute;
  left: -20px;
  }

span.permalink {
  background: sprite-image('icons/icon_permalink.png', -1px, 0, 50px) no-repeat;
  padding-left: 20px;
  display: block;
  }
span.permalink:hover {
  background: sprite-image('icons/icon_permalink_hover.png', -1px, 0, 50px) no-repeat;
  }

/* Calendar modifications */
#calendar_wrapper.public_inspection {
  position: relative;
  top: -8px;
  }
