/******************************

PAGE ELEMENTS

******************************/

.tabs {
  margin-bottom: 0;
  font-size: 1.2em;
  outline: 0;
  }
.tabs li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  @include inline-block;
  }
.tabs li a {
  color: #666;
  @include apertura-condensed;
  margin-bottom: .5em;
  padding: 1em 1em 0 1em;
  }  
.tabs .on {
  background: #f1f1f1;
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  margin-bottom: -1em;
  padding-bottom: 1em;
  }
.tabs .on a {
  color: #385F82;
  font-weight: 700;
  padding: .5em 1em 1em 1em;
  }
.tabs .number_of_results {
  font-weight: normal;
  font-size: .8em;
  margin: -5px 0 -5px 5px;
  }
.search_bar {
  background: #f1f1f1;
  @include border-radius(5px);
  margin-bottom: 1em;
  padding: 1em 0;
  overflow: hidden;
  position: relative;  
  }
.search_bar .actions {
  position: absolute;
  right: 2em;
  top: 1.2em;  
  }
.search_bar .button {
 background-color: #fff;
  }
.search_bar label,
.search_bar .label {
  color: #777777;
  display: block;
  float: left;
  @include apertura-condensed;
  font-size: 1.5em;
  line-height: 25px;
  margin-left: 1em;
  margin-top: 3px;
  }
.search_bar label {
  margin-right: .5em;
  }  
.search_bar .label {
  margin-left: .5em;
  margin-right: .5em;  
  }  
.search_bar #conditions_term {
  border: 1px solid #ccc;
  display: block;
  float: left;
  height: 15px;
  padding: 5px;
  }
.search_bar #conditions_type,
.search_bar select {
  display: block;
  float: left;
  margin-top: 4px;
  }  
.search_bar select {
  margin-right: 5px;
  }  
.search_bar #conditions_submit {
  background: sprite-image('icons/search_button.png') no-repeat;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  height:  image-height('icons/search_button.png');
  @include hide-text;
  margin-left: -1px;
  width: image-width('icons/search_button.png');
  }
.search_bar #conditions_submit:hover {
  background: sprite-image('icons/search_button_hover.png') no-repeat;
  }
.search_info {  
  border-bottom: 3px solid #385F82;
  clear: both;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  }
#search .search_info .title_bar {
  border-top: none;
  margin-bottom: 0;
  margin-top: 7px;
  padding-top: 0;
  }

#citations .search_bar {
  margin-left: 0;
  }

/******************************

RESULTS

******************************/

ol.results {
  list-style-type: none;
  }
ol.results > li {
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 2em;
  padding-bottom: 2em;
  }
ol.results > li:last-child,
ol.results > li.lastchild {
  border: none;
  }  
ol.results h4 {
  font-weight: normal;
  }  
ol.results li .date {
  font-size: 1.3em;
  line-height: 1.15;
  text-transform: uppercase;
  }
.match {
  background: rgba(255,255,0,.2);
  @include border-radius(5px);
  padding: 1px 5px;
  }
.active_filter_list li {
  background: #fee9d7;
  border: 1px solid #ff9f51;
  list-style: none;
  padding: .5em 1em;
  position: relative;
  }
.active_filter_list li + li {
  border-top: 0;
  }  
.active_filter_list li:first-child,
.active_filter_list li.firstchild {
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);  
  }
.active_filter_list li:last-child,
.active_filter_list li.lastchild {
  @include border-bottom-left-radius(5px);
  @include border-bottom-right-radius(5px);
  }
.active_filter_list li .type {
  background: sprite-image('icons/icon_filter_50.png') no-repeat;
  font-weight: bold;
  margin-right: 1em;
  padding-left: 20px;
  }  
.active_filter_list li .remove,
.bsmListItem .remove {
  background: sprite-image('icons/icon_close.png', 0, 0, 50px) no-repeat;
  @include inline-block;
  height: 14px;
  @include hide-text;  
  width: 14px;
  }
.active_filter_list li .remove {
  position: absolute;
  right: 1em;
  top: .8em;
  }  
.excerpts {
  display: block;
  margin: 0 0 1em 0;
  }

/******************************

RESULTS - MATCHING DOCUMENT 

******************************/

.matching_citation {
  @include box-shadow(#eee, 3px, 3px, 3px);
  border: 1px solid #eee;
  margin-bottom: 1em;
  padding: 10px;
  }
.matching_citation_header {
  background: sprite-image('icons/icon_article.png', 0, 0, 100px) no-repeat;
  border-bottom:1px solid #EEEEEE;
  color: #666;
  @include gesta;
  line-height: image-height('icons/icon_article.png');
  margin-bottom:10px;
  padding-bottom:10px;
  padding-left: 35px;
  }
.matching_citation_document {
  margin-left: 5px;
  }
.matching_citation_document ul {
  margin: 0;
  }
.matching_citation_document li {
  list-style: none;
  }  

/******************************

RESULTS - EVENTS & REGULATIONS

******************************/
.result_set {
  margin-bottom: 2em;
  }
.result_set.events .row {
  border-bottom: 2px solid #ccc;
  }
.result_set.events .results {
  margin-bottom: 0;
  }
.result_set.events .results li {
  padding: 0 0 2.5em 50px;
  position: relative;
  }
.result_set.events .results li.effective_date {
  background: sprite-image('icons/effective.png', 0 , 0, 300px) no-repeat;
  }
.result_set.events .results li.comment_period.closing {
  background: sprite-image('icons/closing.png', 0 , 0, 300px) no-repeat;
  }
.result_set.events .results li.comment_period.opening {
  background: sprite-image('icons/opening.png', 0 , 0, 300px) no-repeat;
  }
.result_set.events .results li.public_meeting {
  background: sprite-image('icons/meeting.png', 0 , 0, 300px) no-repeat;
  }
.result_set.events .results dl,
.result_set.regulations .results dl {
  overflow: hidden;
  }
.result_set.regulations dl {
  margin-bottom: 0;
  }  
.result_set.events .results dt,
.result_set.events .results dd,
.result_set.regulations .results dt,
.result_set.regulations .results dd {
  float: left;
  }
.result_set.events .results dt,
.result_set.regulations .results dt {
  clear: both;
  width: 4em;
  text-align: right;
  }
.result_set.regulations .results dt {
  width: auto;
  }  
.result_set.events .results dd.next {
  width: 380px;
  }
.result_set.regulations .results dd {
  width: 480px;
  }  
dd.next + dd.next {
  padding-left: 4em;
  }  
.result_set.events .results dd.icon {
  margin-right: 0;
  }  
.result_set.events .results .actions {
  bottom: .5em;
  @include inline-list;
  position: absolute;
  right: 0;
  @include opacity(0.4);
  }
.result_set.events .results > li:hover .actions {
  @include opacity(1);
  }    
.result_set.regulations h5 {
  color: $bookmark_red;
  font-size:1.1em;
  margin: 0 0 1em 0;
  }
.article_list {
  overflow: hidden;
  }  
.article_list li {
  border-bottom: 1px solid #EEEEEE;
  clear: both;
  float: none;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0 0 1em 35px;
  }
.article_list li:last-child,
.article_list li.lastchild {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  }  
.article_list li.notice {
  background: sprite-image('icons/icon_notice_50.png', 0, 4px, 100px) no-repeat;
  }
.article_list li.proposed_rule {
  background: sprite-image('icons/icon_proposed_50.png', 0, 4px, 100px) no-repeat;
  }
.article_list li.rule {
  background: sprite-image('icons/icon_final_50.png', 0, 4px, 100px) no-repeat;
  }
  
/******************************

FILTERS

******************************/

.filters h4 {
  color: #585858;
  @include apertura-condensed;
  font-size: 1.3em;
  line-height: 1.15;
  text-transform: uppercase;
  }  
.filters ul {
  border-bottom: 1px solid #eee;
  list-style-type: none;
  margin-bottom: 1em;
  padding-bottom: 1em;
  }
.filters li {
  clear: both;
  margin-bottom: .3em;
  position: relative;
  overflow: hidden;
  }
.filters li a {
  font-size: 1em; 
  font-weight: 700;
  }
.filters li.on .facet_name {
  color: #363636;
  padding-left: 17px;
  width: 143px;
  }   
.filters .count {
  text-align: right;
  }  
.filters .zip {
  border: 1px solid #ccc;
  width: 75px;
  }  
 
/******************************

PAGINATION

******************************/

div.pagination span,
div.pagination a {
  border: 1px solid #CCCCCC;
  line-height: 1;
  padding: .5em .5em .25em;
  }
.result_set .pagination .current {
  background-color: $golden;
  color: #fff;
  }
div.pagination .disabled {
  display: none;
  }

/******************************

ERRORS

******************************/

.errors li,
.notice {
  @include border-radius(5px);  
  background: #ebd8b6 image-url("error.png") no-repeat 1em top;
  color: #777777;
  @include apertura-condensed;
  font-size: 1.5em;
  line-height: 20px;    
  list-style: none;
  margin-bottom: 1em;
  overflow: hidden;  
  padding: .75em 2.5em .5em;  
  }
.notice {
  float: left;
  font-size: 1em;  
  overflow: hidden;
  }
#citation.search {
  margin-left: 10px;
  }  
.notice p {
  line-height: 30px;
  margin-left: 10px;
  padding-bottom: 0;
  }
  
/******************************

ADVANCED SEARCH

******************************/

.simple {
  display: block;
  overflow: hidden;
  }
.advanced {
  border-top: 1px solid #ddd;
  display: none;
  margin-top: 1em;
  padding: 2em 5em 0;
  }  
.advanced.open {
  display: block;
  }  
.formtastic fieldset {
  border: none;
  display: block;
  margin: 0 0 1em 0;
  padding: 0;
  }
.formtastic fieldset fieldset,
.formtastic fieldset fieldset ol,
.formtastic fieldset .type_selector {
  border: none;
  margin: 0;
  padding: 0;
  }
.formtastic fieldset legend,
.formtastic fieldset .check_boxes legend,
.formtastic .show_labels .string label {
  color: #777777;
  display: block;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  text-align: right;
  width: 11em;
  } 
.formtastic fieldset legend,
.formtastic fieldset .label {
  margin: 0 1em 0 0;
  }
.formtastic fieldset label {
  color: #666;
  font-size: 1em;
  margin: 0 1em 0 0;
  text-align: right;
  }
.formtastic fieldset .label label {
  color: #777777;
  float: none;
  margin: 0;
  }
.formtastic .string label,
.formtastic .select label { display: none; }    
.formtastic li {
  list-style: none;
  margin-bottom: .5em;
  }
.formtastic fieldset .check_boxes li,
.formtastic .buttons li,
.formtastic fieldset .type_selector li,
.formtastic .date_options .range,
.formtastic .cfr li,
.formtastic .zip li { 
  display: inline; 
  }
.formtastic fieldset .check_boxes ol label,
.formtastic fieldset .boolean label {
  width: auto;
  margin-left: 0;
  }
.formtastic fieldset .check_boxes input,
.formtastic fieldset .boolean input { 
  margin-left: 0; 
  }
.formtastic .show_labels,
.formtastic .show_labels .selected_agency_list,
.formtastic .advanced ol,
.formtastic .show_labels .reg_id { 
  margin-bottom: 0; 
  }
.formtastic .show_labels li { 
  margin-bottom: 1em;
  }
.formtastic fieldset .date input { 
  width: 7em; 
  }
.formtastic .inline-hints {
  clear: both;
  font-size: 1em;
  @include gesta;
  margin-left: 13em; 
  } 
.formtastic .row_of_options {
  display: block;
  margin-bottom: 0;
  overflow:hidden;
  width: 500px;
  }
.formtastic .date_options .date {
  display: block;
  float: left;
  height: 16px;
  }
.has_js .formtastic .date_options .date,
.has_js .formtastic .selected_agency_list select {
  display: none;
  }
.exact_date { 
  margin-left: 15.5em; 
  }
.exact_year { 
  margin-left: 21.75em; 
  }
.exact_year select,
.zip select {
  display: inline;
  float: none;
  margin: 0;
  }
.range_start { 
  margin-left: 27.5em; 
  }
.formtastic .cfr input,
.formtastic .zip input { 
  width: 50px; 
  }
.formtastic .significant {
  clear: both;
  margin-left: 13.25em;
  overflow: hidden;
  }
.formtastic .show_labels .reg_id input { 
  width: 65px; 
  }
.formtastic .show_labels .docket input { 
  width: 160px;
   }
.formtastic .agency input { 
  width: 400px; 
  }
.formtastic .advanced #conditions_submit {
  background: url(/images/search_btn_bg.png) repeat-x;
  border: 1px solid #aaa;
  color: #555;
  @include border-radius(5px);
  @include apertura-condensed;
  font-size: 1.3em;
  line-height: 25px;
  padding: 0 5px;
  text-indent: 0;
  width: auto;
  }
.formtastic .advanced #conditions_submit:hover { color: #B88659; }
.formtastic .buttons {
  margin-left: 13.75em;
  margin-top: 2em;
  }
#toggle_advanced {
  clear: both;
  cursor: pointer;
  display:block;
  float:left;
  margin-left:5em;
  }
select.bsmSelect {
  display: none !important; /* important needed for IE */
  } 
.bsmList {
  margin-left: 13.25em;
  overflow: hidden;
  }
.ui-autocomplete  {
  background: #fff;
  border: 1px solid #ccc;
  @include border-bottom-left-radius(5px);
  @include border-bottom-right-radius(5px);
  list-style: none;
  padding: 10px 0;
  width: 380px;
  }
.ui-autocomplete a {
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  }
.ui-autocomplete a:hover,
.ui-autocomplete a:focus,
.ui-autocomplete a.ui-state-hover {
  background: #efefef;
  color: #B88659;
  }
.ui-autocomplete-input.loading {
  background: #fff image-url('ajax-loader.gif') no-repeat right top;
  }  
.bsmList .bsmListItem,
.inline-hints {
  background: #dfe4ea;
  @include border-radius(5px);
  float: left;
  margin: 0 5px 5px 0;
  padding: 5px 5px 3px 7px;
  }
.bsmList .bsmListItem:hover {
  background: #d3dae2;
  }  
.bsmList .bsmListItem .remove {
  margin-left: 10px;
  }
.formtastic .string span {
  margin: 0 3px;
  }
#expected_result_count {
  background: #fcfcfc;
  color: #f77825;
  @include border-radius(5px);
  display: none;
  float: left;
  @include apertura-condensed;
  font-size: 12px;
  font-weight: 700;  
  height: 21px;
  line-height: 23px;
  margin-left: 5px;
  padding: 3px 1em;
  width: auto;
  }
#expected_result_count.loading,
.inline-hints.loading {
  background-image: image-url('ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @include hide-text();
  }
.inline-hints.loading {
  width: 20px;
  }  
.formtastic .clear_form {
  margin-left: 5px;
  }
.text-placeholder {color: #AAA !important}  