/******************************

PAGE ELEMENTS

******************************/

.tabs {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: inline-block;
}
.tabs {
  background: rgba(161, 181, 189, .5);
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  border-bottom: 10px solid #f1f1f1;
  display: block;
  font-size: 1.2em;
  margin-bottom: -10px;
  }
.tabs li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline-block;
  }
.tabs li a {
  color: #666;
  @include type_kit_font_1;
  margin-bottom: .5em;
  padding: 1em 1em 0 1em;
  }  
.tabs .on a {
  background: #f1f1f1;
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  color: #385F82;
  font-weight: 700; /* TODO Look up proper weight */
  padding: .5em 1em 1em 1em;
  }
.tabs .number_of_results {
  font-weight: normal;
  font-size: .8em;
  margin: -5px 0 -5px 5px;
  }
  
.search_bar {
  background: #f1f1f1;
  @include border-radius(5px);
  margin-bottom: 1em;
  padding: 1em;
  overflow: hidden;
  position: relative;  
  }
.search_bar .actions {
  position: absolute;
  right: 1em;
  top: 1em;  
  }
.search_bar .button {
 background-color: #fff;
  }    
  
.search_bar label,
.search_bar .label {
  color: #777777;
  display: block;
  float: left;
  @include type_kit_font_1;
  font-size: 1.5em;
  line-height: 25px;
  margin-top: 3px;
  }
.search_bar label {
  margin-right: .5em;
  }  
.search_bar .label {
  margin-left: .5em;
  margin-right: .5em;  
  }  
.search_bar #conditions_term {
  border: 1px solid #ccc;
  display: block;
  float: left;
  padding: .5em;
  }
.search_bar #conditions_type {
  display: block;
  float: left;
  margin-top: 4px;
  }  
/*.search_bar #conditions_submit {
  background: #65be5f;
  border: 1px solid #eee;
  color: #fff;
  display: block;
  float: left;  
  @include border-radius(10px);
  @include type_kit_font_1;
  font-size: 1.5em;
  height: 27px;
  margin: 3px 0 0 .5em;
  padding: 0;
  text-transform: uppercase;
  }*/
.search_info {  
  border-bottom: 3px solid #385F82;
  clear: both;
  margin-bottom: 1em;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
  }
.search_info ul {
  bottom: 0;
  @include horizontal-list;
  position: absolute;
  right: 1em;
  }
.search_info li {
  padding-bottom: 7px;
  }
.search_info li a {
  color: #BDBDBD;
  text-transform: uppercase;
  }    
.search_info li.on {
  background: url(/images/tab_select_bottom.png) no-repeat 50% bottom;
  font-weight: 700;
  } 
.search_info li.on a {
  color: #385F82;
  }
.search .search_info .title_bar {
  border-top: none;
  margin-bottom: 0;
  margin-top: 7px;
  padding-top: 0;
  }

/******************************

RESULTS

******************************/

ol.results {
  list-style-type: none;
  }
ol.results li {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 2em;
  padding-bottom: 2em;
  }
ol.results li:last-child {
  border: none;
  }  
ol.results h4 {
  font-weight: normal;
  }  
ol.results li .date {
  color: #bdbdbd;
  @include type_kit_font_3;
  font-size: 1.3em;
  line-height: 1.15;
  text-transform: uppercase;
  }
.result_set .pagination .current {
  background-color: #B88659;
  border-color: #CCCCCC;
  }

.match {
    background: rgba(255,255,0,.2);
  @include border-radius(5px);
  padding: 1px 5px;
  }

.active_filter_list li {
  background: #ccc;
  padding: 1em;
  }  

/******************************

FILTERS

******************************/

.filters h4 {
  color: #bdbdbd;
  @include type_kit_font_1;
  font-size: 1.3em;
  line-height: 1.15;
  text-transform: uppercase;
  }  
.filters ul {
  border-bottom: 1px solid #eee;
  list-style-type: none;
  margin-bottom: 1em;
  padding-bottom: 1em;
  }
.filters li {
  clear: both;
  margin-bottom: .3em;
  position: relative;
  overflow: hidden;
  }
.filters li a {
  font-size: 1em; 
  font-weight: 700;
  }
.filters li a.remove {
  background: url(/images/remove.png) no-repeat left top;
  color: #385F82;
  height: 12px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  top: 3px;
  width: 12px;
  }
.filters li a.remove:hover {
  background-position: left -50px;
  }    
.filters li.on .facet_name {
  color: #363636;
  padding-left: 17px;
  width: 143px;
  }   
.filters .count {
  color: #ccc;
  float: right;
  text-align: right;
  }  
.filters .zip {
  border: 1px solid #ccc;
  width: 75px;
  }  

/******************************

ERRORS

******************************/

.errors {

}
.errors li{
  @include border-radius(5px);  
  overflow: hidden;  
  background: #ebd8b6 url(/images/error2.png) no-repeat 1em top;
  color: #777777;
  @include type_kit_font_1;
  font-size: 1.5em;
  line-height: 20px;    
  list-style: none;
  margin-bottom: 1em;
  padding: .75em 2.5em .5em;  
  }
