/******************************

SIDEBAR

******************************/
   
#sidebar .section {
margin-bottom: 3em;
position: relative;
text-align: right;
}

#sidebar .section.stats ul {
list-style: none;
}

#sidebar .section h1 {
  
}