/******************************

SIDEBAR

******************************/
#sidebar .section {
  margin-bottom: 1em;
  position: relative;
  }
.section.subscribe .button {
  margin-bottom: 0;
  }  
.section.whats_hot ol {
  color: #bdbdbd;
  padding-left: 1em;
  }
.section.whats_hot li {
  border-bottom: 1px dotted #ddd;
  margin-bottom: .5em;
  padding-bottom: .5em;
  }
.section.whats_hot li:last-child,
.section.whats_hot li.lastchild {
  border-bottom: 0;
  }  
.section.whats_hot ul {
  list-style: none;
  }
.section.featured_agency h2 {
  font-size: 1em;
  }
.section.featured_agency .metadata {
  font-size: 1em;
  }
.aside_box {
  background: $aside_box_background;
  border: 1px solid $aside_box_border;
  padding: 1em;
  }
.aside_box.subscribe {
  background: #fee9d7;
  border: 1px solid #ff9f51;
  padding:0.5em 1em 0.25em;
  }    
.download_separator {
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;
  padding-bottom: .5em;
  } 
.header_navigation_separator {
  border-top: 1px solid #ccc;
  margin-top: .5em;
  padding-top: .5em;
  }  
.TOC h1 {
  color: $aside_box_title;
  @include apertura-condensed;
  font-size: 1em;
  margin-bottom: .5em;
  }  
.TOC ul:last-child,
.TOC ul.lastchild {
  margin-bottom: 0;
  }
.TOC li {
  background: none;
  border-bottom: 1px solid $aside_box_border;
  list-style: none;
  margin-top: 0.2em;
  padding-left: 0;
  }
.TOC li:last-child,
.TOC li.lastchild {
  border-bottom: 0;
  } 