/******************************

SIDEBAR

******************************/
   
#sidebar .section {
  margin-bottom: 1.5em;
  position: relative;
  }
.section.subscribe .button {
  margin-bottom: 0;
  }  
  
  
.section.whats_hot ol {
  color: #ccc;
  padding-left: 1em;
  }
.section.whats_hot li {
  border-bottom: 1px dotted #ddd;
  margin-bottom: .5em;
  padding-bottom: .5em;
  }
.section.whats_hot li:last-child {
  border-bottom: 0;
  }  
.section.whats_hot ul {
  list-style: none;
  }
  
  
.section.featured_agency h2 {
  font-size: 1em;
  }
.section.featured_agency .metadata {
  font-size: 1em;
  }
  
  
.TOC h1 {
  color: #60686A;
  @include apertura-condensed;
  font-size: 1em;
  margin-bottom: .5em;
  }  
.TOC ul:last-child {
  margin-bottom: 0;
  }
.TOC li {
  border-bottom: 1px solid #b3c2cf;
  list-style: none;
  margin-top: 0.2em;
  margin-left: 1em;
  }
.TOC li:last-child {
  border-bottom: 0;
  } 
