#footer {
    background: #636363;
    background: rgba(99,99,99, 0.4);
    border-top: 2px solid $golden;
    clear: both;
    margin-top: 2px;
  }
#footer > .wrapper {
  @include grid_system(16);
  padding-top: 2em;
  overflow: hidden;
  }