.push_1, 
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11,
.push_12,
.pull_12,
.push_13,
.pull_13,
.push_14,
.pull_14,
.push_15,
.pull_15 {
position: relative
}

.container_16 .push_1 {
left: 60px
}
.container_16 .push_2 {
left: 120px
}
.container_16 .push_3 {
left: 180px
}
.container_16 .push_5 {
left: 300px
}
.container_16 .push_6 {
left: 360px
}
.container_16 .push_7 {
left: 420px
}
.container_16 .push_9 {
left: 540px
}
.container_16 .push_10 {
left: 600px
}
.container_16 .push_11 {
left: 660px
}
.container_16 .push_13 {
left: 780px
}
.container_16 .push_14 {
left: 840px
}
.container_16 .push_15 {
left: 900px
}

.container_12 .pull_3,.container_16 .pull_4 {
left: -240px
}
.container_12 .pull_6,.container_16 .pull_8 {
left: -480px
}
.container_12 .pull_9,.container_16 .pull_12 {
left: -720px
}

.container_16 .pull_1 {
left: -60px
}
.container_16 .pull_2 {
left: -120px
}
.container_16 .pull_3 {
left: -180px
}
.container_16 .pull_5 {
left: -300px
}
.container_16 .pull_6 {
left: -360px
}
.container_16 .pull_7 {
left: -420px
}
.container_16 .pull_9 {
left: -540px
}
.container_16 .pull_10 {
left: -600px
}
.container_16 .pull_11 {
left: -660px
}
.container_16 .pull_13 {
left: -780px
}
.container_16 .pull_14 {
left: -840px
}
.container_16 .pull_15 {
left: -900px
}
