#issue_and_search_bar > div {
  margin: 0 auto;
  position: relative;
  width:960px;  
}

#header_logo {
  margin: 0 auto;
  position: relative;
  width: 960px;
}  

#primary_nav ul {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 785px;
}
