/******************************

SETUP

******************************/

#main {
  @include grid_system(16);
  }

.header_column {
  @include grid(3, 16);
  @include alpha;
  clear: both;
  }
.body_column {
  @include grid(8, 16);
  @include omega;
  }  

.row {
  margin-bottom: 3em;
  overflow: hidden;
  }

/******************************

SECTION VIEW

******************************/

#sections #content_area,
#topics #content_area {
  @include grid(11, 16);
  @include grid-suffix(1, 16);
  @include alpha;  
  }
  
#sections #sidebar,
#topics #sidebar {
  @include grid(4, 16);
  @include omega;
  }



/******************************

ENTRIES

******************************/

#entries #content_area {
  @include grid(11, 16);
  @include grid-suffix(1, 16);  
  @include alpha;
  position: relative;
  }
#entries #sidebar {
  @include grid(4, 16);
  @include omega;
  position: relative;  
  }

#entries .citation_box {
  @include grid(4, 16);
  @include alpha;
  @include omega;
  }
.metadata_share_bar .metadata {
  @include grid(12, 16);
  @inclsude alpha;
  }
.metadata_share_bar .share {
  @include grid(4, 16);
  @include omega;  
  }

/******************************

REGULATION VIEW

******************************/

#regulatory_plans #content_area {
  @include grid(11, 16);
  @include grid-suffix(1, 16);  
  @include alpha;
  }
#regulatory_plans #sidebar {
  @include grid(4, 16);
  @include omega;
  }

/******************************

THREE COL LIST

******************************/

.three_col_list h3 {
  @include grid(2, 16);
  @include alpha;
  }
.three_col_list .date {
  @include grid(2, 16);
  @include alpha;
  }
.three_col_list ul {
  @include grid(12, 16);
  @include omega;  
  }
.three_col_list .grouped_by_date {
  @include grid(14, 16);
  @include omega;
  }
  
  /* TODO do these better - see topic page */
#topics .three_col_list .grouped_by_date {
  @include grid(9, 16);
  @include omega;
  }
#topics .three_col_list ul {
  @include grid(7, 16); 
  @include omega;  
  }

/******************************

THREE COL LIST - COMMENT PERIOD LIST

******************************/  
  
.three_col_list.comments ul {
  @include grid(10, 16);
  @include omega;
  }  
.three_col_list.comments h3 {
  @include grid(4, 16);
  @include alpha;
  }   
.three_col_list.comments .grouped_by_date {
  @include grid(12, 16);
  @include omega;  
  }
  

/******************************

CITATION LIST

******************************/  

.citation_list .citation_count {
  @include grid(2, 16);
  @include alpha;
  
  clear: both;
  }
.citation_list .date {
  @include grid(2, 16)
  }

.citation_list .title {
  @include grid(12, 16);
  @include omega;
  }

#topics .citation_list .title {
  @include grid(7, 16);
  @include omega;
  } 
  
/******************************

AGENCY VIEW

******************************/  
  
#agencies #agency_description {
  @include grid(10, 16);
  @include grid-suffix(1, 16);
  @include alpha;
  }
#agencies #sidebar {
  @include grid(5, 16);
  @include omega;
  }  
#agencies .header.with_image img {
  @include grid(2, 16);
  @include alpha;
  }

#agencies .header.with_image h1 {
  @include grid(8, 16);
  @include omega;
  }
  
  
/******************************

HOMEPAGE

******************************/
#top_news_promo {
  @include grid(11, 16);
  @include alpha;  
  }

.home #news {
  @include grid(5, 16);
  @include omega;
  margin-left: 30px;
  }  
.home #popular {
  @include grid(8, 16);
  @include omega;  
  }  
.home #agency_highlight {
  @include grid(8, 16);
  @include alpha;  
  }  
.home #learn .about {
  @include grid(4,16);
  }
.home .fr_section {
  @include grid(7, 16);
  @include grid-prefix(1, 16);  
  }