/******************************

SETUP

******************************/

#main,
#footer .wrapper {
  @include grid_system(16);
  }

.header_column {
  @include grid(3, 16);
  @include alpha;
  clear: both;
  }
.body_column {
  @include grid(8, 16);
  @include omega;
  }  

.row {
  clear: both;
  margin-bottom: 3em;
  overflow: hidden;
  }

/******************************

SECTION VIEW

******************************/

#sections #content_area,
#topics #content_area,
#pages #content_area,
#entries #content_area,
#regulatory_plans #content_area,
#search #content_area {
  @include grid(11, 16);
  @include grid-suffix(1, 16);
  }
#sections #sidebar,
#topics #sidebar,
#pages #sidebar,
#entries #sidebar,
#regulatory_plans #sidebar,
#search #sidebar {
  @include grid(4, 16);
  }
#articles_published_by_day.active #articles_published_by_day-links {
  @include grid(3, 16);
  @include alpha;
  }
#articles_published_by_day.active #articles_published_by_day-body {
  @include grid(13, 16);
  @include omega;
  }

/******************************

ENTRIES

******************************/
#metadata_content_area {
  @include grid(16, 16);
  }
#entries.show #content_area {
  left: -240px; /* PULL 4 */
  }  
#entries.show #sidebar {
  left: 720px; /* PUSH 12 */
  }  
.metadata_share_bar .metadata {
  @include grid(12, 16);
  @include alpha;
  }
.metadata_share_bar .share {
  @include grid(4, 16);
  @include omega;  
  }
#entries #content_area, 
#entries #sidebar {
  position: relative;  
  }
#entries .citation_box {
  @include grid(4, 16);
  @include alpha;
  @include omega;
  }

/******************************

THREE COL LIST of VARIOUS TYPES

******************************/

.three_col_list h3,
.three_col_list .date {
  @include grid(2, 16);
  @include alpha;
  }
.three_col_list ul,
.three_col_list.comments .grouped_by_date,
.citation_list .title  {
  @include grid(12, 16);
  @include omega;  
  }
.three_col_list .grouped_by_date {
  @include grid(14, 16);
  @include omega;
  }
  
  /* TODO do these better - see topic page */
#topics .three_col_list .grouped_by_date {
  @include grid(9, 16);
  @include omega;
  }
#topics .three_col_list ul,
#topics .citation_list .title {
  @include grid(7, 16); 
  @include omega;  
  }
.three_col_list.comments ul {
  @include grid(10, 16);
  @include omega;
  }  
.three_col_list.comments h3 {
  @include grid(4, 16);
  @include alpha;
  }   
.citation_list .citation_count {
  @include grid(2, 16);
  @include alpha;
  clear: both;
  }
.citation_list .date {
  @include grid(2, 16);
  }
  
/******************************

AGENCY VIEW

******************************/  
  
#agencies #agency_description {
  @include grid(10, 16);
  @include grid-suffix(1, 16);
  }
#agencies #sidebar {
  @include grid(5, 16);
  }  
#agencies .header.with_image img {
  @include grid(2, 16);
  @include alpha;
  }
#agencies .header.with_image h1 {
  @include grid(8, 16);
  @include omega;
  }
  
/******************************

HOMEPAGE

******************************/
#current_issue {
  @include grid(16, 16);
  }
#top_news_promo {
  @include grid(11, 16);
  }
.home #news {
  @include grid(5, 16);
  }  
.home #agency_highlight,
.home #fr_movie,
.home #learn {
  @include grid(8, 16);
  }  
.home #popular,
.home .fr_section,
.home #tools
 {
  @include grid(7, 16);
  @include grid-prefix(1, 16);
  }
.home #learn #learn-links {
  @include grid(3, 16);
  @include alpha;
  }
.home #learn #learn-body {
  @include grid(5, 16);
  @include omega;
  }

/******************************

BLOG

******************************/

#wordpress #sidebar {
  @include grid(4, 16);
  @include omega;
  }
#wordpress #content_area {
  @include grid(12, 16);
  }
#wordpress .meta_actions {
  @include grid(4, 16);
  @include alpha;
  }
#wordpress .post_content {
  @include grid(8, 16);
  @include omega;
  }
#wordpress .comment_area {
  @include grid(8, 16);
  left: 240px; /* PUSH 4 */  
  position: relative;
  @include alpha;
  @include omega;    
  }
#wordpress .meta_actions img { 
  @include grid(1, 16);
  @include alpha;
  }
#wordpress .meta_actions p {
  @include grid(3, 16);
  @include omega;  
  }
#wordpress .comment-meta  img { 
  @include grid(1, 16);
  @include alpha;
  }
#wordpress .comment-meta  p {
  @include grid(6, 16);
  @include omega;  
  }      