<p class="public_inspection_suggestion">There are <%= link_to pluralize(public_inspection_document_search.count, "public inspection document") + " pending publication", public_inspection_search_path(:conditions => params[:conditions]) %> that match your search.</p>
