<% if search.suggestion.present? %>
  <div class="suggestion">
    <p>Did you mean the
    <%= link_to((@search.suggestion.count == 1 ? "1 document" : "#{number_with_delimiter @search.suggestion.count} documents"), entries_search_path(:conditions => @search.suggestion.conditions)) %> <%= search_suggestion_title(@search.suggestion, @search) %>?</p>
  </div>
<% end %>
