<% if @search.suggestion.present? %>
  <h3>Did you mean?</h3>
  <div class="suggestion">
    <%= link_to pluralize(@search.suggestion.count, "article"), entries_search_path(:conditions => @search.suggestion.conditions) %> <%= search_suggestion_title(@search.suggestion, @search) %>
  </div>
<% end %>