<% if @search.suggestions.present? %>
  <h3>Did you mean?</h3>
  <% @search.suggestions.each do |suggestion| %>
    <div class="suggestion">
      <%= link_to pluralize(suggestion.count, "article"), entries_search_path(:conditions => suggestion.conditions) %> <%= search_title(suggestion) %>
    </div>
  <% end %>
<% end %>