/* button 
---------------------------------------------- */
.button {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: "bookman-1","bookman-2",sans-serif;
  padding: 5px 10px 5px 30px;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
/*  top: 1px;*/
}
 
.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}
.button.small {
  font-size: 11px;
  padding: 4px 10px 4px 10px;
}


/* color styles 
---------------------------------------------- */

/* tan */
.tan {
  color: #FFF;
  border: solid 1px #B58C5E;
  background: #E5AE7C;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5AE7C), to(#C69967));
  background: -moz-linear-gradient(top,  #E5AE7C,  #C69967);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5AE7C', endColorstr='#C69967');
}
.tan:hover {
  background: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC08D), to(#C69967));
  background: -moz-linear-gradient(top,  #FFC08D,  #C69967);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC08D', endColorstr='#C69967');
}
.tan:active {
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#C69967), to(#E5AE7C));
  background: -moz-linear-gradient(top,  #C69967,  #E5AE7C);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C69967', endColorstr='#E5AE7C');
}

/* grey */
.grey {
  color: #FFF;
  border: solid 1px #666666;
  background: #666666;
  background: -webkit-gradient(linear, left top, left bottom, from(#BFBFBF), to(#7F7F7F));
  background: -moz-linear-gradient(top,  #BFBFBF,  #7F7F7F);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFBFBF', endColorstr='#7F7F7F');
}

.grey.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#7F7F7F), to(#BFBFBF));
  background: -moz-linear-gradient(top,  #7F7F7F,  #BFBFBF);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F7F7F', endColorstr='#BFBFBF');
}

.grey:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#7F7F7F), to(#BFBFBF));
  background: -moz-linear-gradient(top,  #7F7F7F,  #BFBFBF);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F7F7F', endColorstr='#BFBFBF');
}


/* icon styles 
---------------------------------------------- */
.home {
  background: url(/images/admin/icons/home.png) no-repeat 5px 6px;
}
.users {
  background: url(/images/admin/icons/users.png) no-repeat 5px 5px;
}