<h1 class="title"><span>About the Federal Register</span></h1>

<ul>
  <li><a href="/learn/the_rulemaking_process.pdf">The Rulemaking Process (PDF)</a></li>
  <li><a href="/learn/fr_101.pdf">Federal Register 101 (PDF)</a></li>
  <li><a href="/learn/fr_history.pdf">History of the Office of the Federal Register (PDF)</a></li>
  <li><a href="/learn/fr_pamphlet.pdf">Brochure of OFR Publications (PDF)</a></li>
</ul>
