<h1 class="title"><span>About this site</span></h1>

<% section_tag(:id => 'content_area') do %>
  <h1>The Federal Register</h1>
  <p>Published by the Office of the Federal Register, National Archives and Records Administration (NARA), the Federal Register is the official daily publication for rules, proposed rules, and notices of Federal agencies and organizations, as well as executive orders and other presidential documents. It is updated daily by 6 a.m. and is published Monday through Friday, except Federal holidays. GPO Access contains Federal Register volumes from 59 (1994) to the present.</p>

  <p>The Unified Agenda, which appears twice a year in the printed version of the Federal Register, is maintained as a separate application on GPO Access.</p>

  <h2>Learn more:</h2>
  <ul class="bullets">
    <li><a href="/learn/the_rulemaking_process.pdf">The Rulemaking Process (PDF)</a></li>
    <li><a href="/learn/fr_101.pdf">Federal Register 101 (PDF)</a></li>
    <li><a href="/learn/fr_history.pdf">History of the Office of the Federal Register (PDF)</a></li>
    <li><a href="/learn/fr_pamphlet.pdf">Brochure of OFR Publications (PDF)</a></li>
  </ul>
<% end -%>

<% aside_tag(:id => 'sidebar') do %>
  <% section_tag(:id => 'relevant_links') do %>
    <h1 class="title_bar">Relevant Links</h1>
    <ul class="bullets">
      <li><a href="/learn/the_rulemaking_process.pdf">The Rulemaking Process (PDF)</a></li>
      <li><a href="/learn/fr_101.pdf">Federal Register 101 (PDF)</a></li>
      <li><a href="/learn/fr_history.pdf">History of the Office of the Federal Register (PDF)</a></li>
      <li><a href="/learn/fr_pamphlet.pdf">Brochure of OFR Publications (PDF)</a></li>
    </ul>
  <% end -%>
<% end -%>