<h1 class="title"><span>Regulatory Journals &amp; Articles</span></h1>

<% section_tag(:id => 'content_area') do %>
<ul class="bullets">
  <li><a href="http://www.uscg.mil/proceedings/spring2010/" target="_blank">U.S. Coast Guard Proceedings, Spring 2010</a></li>
</ul>
<% end -%>

<% aside_tag(:id => 'sidebar') do %>
  <% section_tag(:id => 'relevant_links') do %>
    <h1 class="title_bar">Relevant Links</h1>
    <ul class="bullets">
      <li><a href="http://www.uscg.mil/proceedings/spring2010/" target="_blank">U.S. Coast Guard Proceedings, Spring 2010</a></li>
    </ul>
  <% end -%>
<% end -%>