<h1 class="title"><span>OFR Publications &amp; Services</span></h1>

<% section_tag(:id => 'content_area') do %>
  <ul class="bullets">
    <li><a href="http://www.fdsys.gov/" target="_blank">GPO's Federal Digital System (Official Editions)</a></li>
    <li><a href="http://www.ofr.gov/" target="_blank">OFR.gov Portal to Publications &amp; Services</a></li>
    <li><a href="http://www.ofr.gov/inspection.aspx" target="_blank">Electronic Public Inspection Desk (Preview FR docs)</a></li> 
    <li><a href="http://ecfr.gpoaccess.gov/cgi/t/text/text-idx?c=ecfr&amp;tpl=%2Findex.tpl" target="_blank">e-CFR: Currently Updated Code of Federal Regulations</a></li>
    <li><a href="http://www.archives.gov/" target="_blank">National Archives &amp; Records Administration</a></li>
  </ul>
<% end -%>

<% aside_tag(:id => 'sidebar') do %>
  <% section_tag(:id => 'relevant_links') do %>
    <h1 class="title_bar">Relevant Links</h1>
    <ul class="bullets">
      <li><a href="http://www.fdsys.gov/" target="_blank">GPO's Federal Digital System (Official Editions)</a></li>
      <li><a href="http://www.ofr.gov/" target="_blank">OFR.gov Portal to Publications &amp; Services</a></li>
      <li><a href="http://www.ofr.gov/inspection.aspx" target="_blank">Electronic Public Inspection Desk (Preview FR docs)</a></li> 
      <li><a href="http://ecfr.gpoaccess.gov/cgi/t/text/text-idx?c=ecfr&amp;tpl=%2Findex.tpl" target="_blank">e-CFR: Currently Updated Code of Federal Regulations</a></li>
      <li><a href="http://www.archives.gov/" target="_blank">National Archives &amp; Records Administration</a></li>
    </ul>
  <% end -%>  
<% end -%>