<h1 class="title"><span>Document Drafting &amp; Research</span></h1>
<ul>
  <li><a href="http://www.archives.gov/federal-register/write/resources.html" target="_blank">Document Drafting Handbook</a></li>
  <li><a href="http://www.archives.gov/federal-register/write/newsletter" target="_blank">Federal Register Bulletins</a></li>
  <li><a href="http://www.archives.gov/federal-register/write/plain-language/index.html" target="_blank">Federal Register Plain Language Tools</a></li>
  <li><a href="http://www.plainlanguage.gov/" target="_blank">PlainLanguage.gov</a></li>
  <li><a href="http://govtinfo.org/" target="_blank">Ask a Librarian: Government Information Online </a></li>
  <li><a href="http://www.llsdc.org/fed-reg-cfr/" target="_blank">A Research Guide to the Federal Register and the Code of Federal Regulations </a></li>
</ul>
