<div class="title"><span>Citation Search</span></div>

<div class="notice">
  <p>You can also simply entry the citation into the document search at the top of any page.</p>
</div>

<div class="search_bar">
  <%= render :partial => "form" %>
</div>
