<% title "Multiple articles were found for '#{@volume} FR #{@page}'" %>

<h1 class="title"><span><%= "#{@volume} FR #{@page}" %></span></h1>

<div class="notice">
  <p>Which of the following articles are you looking for?</p>
</div>


<ul class="bullets clear">
<% @entries.each do |entry| %>
  <li><%= link_to(entry.title, entry_path(entry)) %></li>
<% end %>
</ul>