<% title "Multiple entries were found for '#{@volume} FR #{@page}'" %>

<h1 class="title"><span><%= "#{@volume} FR #{@page}" %></span></h1>

<p>Which of the following entries are you looking for?</p>

<ul class="indent raquo">
<% @entries.each do |entry| %>
  <li><%= link_to(entry.title, entry_path(entry)) %></li>
<% end %>
</ul>