<% title "No documents were found for '#{@volume} FR #{@page}'" %>

<div class="title"><span><%= "#{@volume} FR #{@page}" %></span></div>

<div class="notice">
  <p>Not found! We could not find any documents on volume <strong><%= @volume %></strong>, page <strong><%= @page %></strong>.</p>
</div>

<p class="clear">Would you like to go to a different citation?</p>
<div class="search_bar">
  <%= render :partial => 'form' %>
</div>
