<% title "No entries were found for '#{@volume} FR #{@page}'" %>

<% content_for :search_form %>

<%= render :partial => 'form' %>
<%= submit_tag 'Search', :class => 'btn' %>

<br />
<div class="infobox">
  <p class='copy'>Federal Register citations are by volume and page number.  Volume maps directly to the year of publication, with 1994 being 59, and 2009 being 74.</p>
</div>
