.DS_Store
.bundle

.git*

data/
!data/holidays.yml
!data/holidays_ad_hoc.yml

db/sphinx/*
log*

public/images/icons.png
public/index/pdf*
public/generated_files*
app/stylesheets/*.css
app/stylesheets/admin/*.css
public/system*
public/uploads*
tmp*

vendor/bundle*
