.DS_Store
.bundle

.git*

data/
!data/historical_document_type_counts.csv
!data/historical_page_counts.csv
!data/holidays.yml
!data/holidays_ad_hoc.yml
!data/regulations_dot_gov_non_participating_agencies.csv
!data/regulations_dot_gov_participating_agencies.csv
!data/open_api_v3.yml
!data/fr_xml_corrections

log*
!log/.gitkeep

public/images/icons.png
public/index/pdf
public/generated_files

app/stylesheets/*.css
app/stylesheets/admin/*.css

public/system
public/uploads

tmp*
!tmp/.gitkeep
!tmp/pids/.gitkeep

vendor/bundle
