.DS_Store
.bundle
/bin
/config/varnish*
/config/sphinx/*
/data
/db/sphinx/
/log
/public/images/icons.png
/public/index/pdf
/public/sitemap*
/public/stylesheets/*
/public/generated_files/
/tmp

# Leave last
!/**/.gitkeep