[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git://github.com/wested/annotate_models.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/later_dude"]
	path = vendor/plugins/later_dude
	url = git://github.com/clemens/later_dude.git
[submodule "vendor/plugins/geokit-rails"]
	path = vendor/plugins/geokit-rails
	url = git://github.com/andre/geokit-rails.git
[submodule "vendor/plugins/thinking-sphinx"]
	path = vendor/plugins/thinking-sphinx
	url = git://github.com/freelancing-god/thinking-sphinx.git
[submodule "vendor/plugins/hoptoad_notifier"]
	path = vendor/plugins/hoptoad_notifier
	url = git://github.com/thoughtbot/hoptoad_notifier.git
[submodule "vendor/plugins/sitemap_generator"]
	path = vendor/plugins/sitemap_generator
	url = git://github.com/adamsalter/sitemap_generator-plugin.git
