.DS_Store
.bundle
.irb_history
/bin
/config/varnish*
**/data/*
/log
/public/images/icons.png
/public/index/pdf
/public/stylesheets/*
/public/generated_files/
/tmp

# Leave last
!data/open_api_v3.yml
!**data/fr_xml_corrections
!/**/.gitkeep
