[submodule "vendor/plugins/cookbooks"]
	path = vendor/plugins/cookbooks
	url = git@github.com:criticaljuncture/cookbooks.git
[submodule "public/images/icons"]
	path = public/images/icons
	url = git@github.com:criticaljuncture/fr2_icons.git
