[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git://github.com/wested/annotate_models.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/later_dude"]
	path = vendor/plugins/later_dude
	url = git://github.com/clemens/later_dude.git
[submodule "vendor/plugins/geokit-rails"]
	path = vendor/plugins/geokit-rails
	url = git://github.com/andre/geokit-rails.git
[submodule "vendor/plugins/sitemap_generator"]
	path = vendor/plugins/sitemap_generator
	url = git@github.com:criticaljuncture/sitemap_generator
[submodule "vendor/plugins/validation_reflection"]
	path = vendor/plugins/validation_reflection
	url = git://github.com/redinger/validation_reflection.git
[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/userstamp"]
	path = vendor/plugins/userstamp
	url = git://github.com/delynn/userstamp.git
[submodule "vendor/plugins/cookbooks"]
	path = vendor/plugins/cookbooks
	url = git@github.com:criticaljuncture/cookbooks.git