/******************************
POWDER BLUE: 
Used in page title headers
******************************/
$powder_blue: #5697CF;

/******************************
DARK BLUE: 
Small stack and border color
******************************/
$dark_blue: #385F82;
$dark_blue_complement: #C7A07D;

/******************************
GOLDEN: 
Used for border of nav
******************************/
$golden: #e4a529;

/******************************
body_type_color: 
The base color for all the text 
******************************/
$body_type_color: #363636;