@mixin basic_font {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@mixin athelas {
  font-family: "athelas-1","athelas-2",sans-serif;
}

@mixin apertura-condensed {
  font-family: "apertura-condensed-1","apertura-condensed-2",sans-serif;
}

@mixin gloriola-web {
  font-family: "gloriola-web-1","gloriola-web-2",sans-serif;
}

@mixin gesta {
  font-family: "gesta-1","gesta-2",sans-serif;
}