@mixin basic_font {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@mixin type_kit_serif_headline {
  font-family: "athelas-1","athelas-2",sans-serif;
}

@mixin type_kit_font_1 {
  font-family: "apertura-condensed-1","apertura-condensed-2",sans-serif;
}

@mixin type_kit_font_2 {
  font-family: "gloriola-web-1","gloriola-web-2",sans-serif;
}

@mixin type_kit_font_3 {
  font-family: "gesta-1","gesta-2",sans-serif;
}