<li data-entry-id="<%= highlighted_entry.id %>"><%= link_to highlighted_entry.curated_title, edit_admin_issue_section_highlight_path(@publication_date.to_s(:db), @section, highlighted_entry) %> <a class="remove">[remove]</a></li>
