<li id="<%= dom_id(highlighted_entry) %>" data-entry-id="<%= highlighted_entry.id %>">
  <%# image_tag(entry.lede_photo.photo_url) if entry.lede_photo_id %>
  <%= image_tag(highlighted_entry.lede_photo.photo.url(:small)) if highlighted_entry.lede_photo %>
  <%= link_to highlighted_entry.curated_title, edit_admin_issue_entry_path(highlighted_entry.publication_date.to_s(:db), highlighted_entry.document_number) %>
  <a class="remove">[remove]</a>
</li>
