/******************************

Enhanced Fonts for elements

******************************/


/* stacked left words, big right word */

.title_bar,
#wordpress .widget-title {
  border-top: 3px solid $dark_blue;
  clear: both;
  color: $powder_blue;
  font-size: 2.3em;
  @include apertura-condensed;
  margin: 1em 0 1em;
  padding-top: 10px;
  text-transform: uppercase;
  }
#sidebar .title_bar {
  margin-top: 0;
  }
#modal .title_bar,
#exit_modal .title_bar,
#disclaimer_modal .title_bar,
#cfr_citation_modal .title_bar {
  border-top: none;
  margin: 0;
  }
div.title_bar {
  font-size: 1em;
  position: relative;
  }
div.title_bar h2 {
  @include apertura-condensed;
  }
div.title_bar h2 a {
  color: $powder_blue;
  }
.title_bar .actions {
  position: absolute;
  right: 0;
  top: 0;
  }
.small_stack {
  color: $dark_blue;
  display: inline-block;
  font-size: .4em;
  line-height: 1em;
  margin-right: .5em;
  text-align: right;
  text-transform: uppercase;
  font-variant: small-caps;
  }
.small_stack span {
  display: block;
  }
.fr_section h1 {
  border-bottom: 2px solid $dark_grey;
  @include apertura-condensed;
  font-size: 1.5em;
  margin-bottom: .5em;
  text-transform: uppercase;
  }
.fr_section h1 a { color: $dark_grey; }
.fr_section h1 a:hover { color: darken($dark_blue_complement, 10%); }

/******************************

SIDEBAR

******************************/

#sidebar .title_bar,
#wordpress .widget-title {
  font-size: 1.5em;
  margin: 0 0 .5em;
  padding: .3em 0 0 0;
  }

/******************************

THREE COL LIST

******************************/

.three_col_list h3 {
  clear: both;
  font-size: 1.2em;
  line-height: 1.45;
  text-align: right;
  }

.comments .grouped_by_date .date {
  color: #bdbdbd;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
}

.comments li a {
  line-height: 1.5;
  }


/******************************

REGULATION VIEW

******************************/

.split_list dt {
  text-align: right;
  }

/******************************

CITATION LIST

******************************/

.citation_count span {
  display: block;
  }


/******************************

STATIC PAGES

******************************/
#wordpress.page #content_area h1 {
  border-top: 2px solid #464646;
  @include athelas;
  margin: 1em 0 .5em;
  }
#wordpress.page #content_area h1:first-child,
#wordpress.page #content_area h1.firstchild {
  border-top: none;
  margin-top: 0;
  }
#wordpress.page #content_area h2 {
  color: #464646;
  font-size: 1.6em;
  margin: .5em 0 0;
  }
#wordpress.page #content_area ul.bullets li strong {
  text-transform: uppercase;
  }
#wordpress.page #content_area ul.bullets li ul {
  margin-top: 0.75em;
  }
#wordpress.page #content_area .aside_box {
  margin-bottom: 1em;
  }
#wordpress.page .article ul,
#wordpress.single-post .post_content ul,
#wordpress #disclaimer_modal ul  {
  @extend ul.bullets;
  @include athelas;
  font-size: 15.6px;
  }
#wordpress.page #content_area.static_page .article ul li,
#wordpress.single-post #content_area .post_content ul li,
#wordpress #disclaimer_modal .modal_content ul li {
  background-position: left 8px;
  line-height: 1.5;
  }
#wordpress.page #content_area.static_page .article h3,
#wordpress.single-post #content_area .post_content h3 {
  margin-top: 1em;
  }
#wordpress.page #content_area.static_page .article li,
#wordpress.single-post #content_area .post_content li {
  @include athelas;
  font-size: 15.6px;
  list-style-position: inside;
  }
