/******************************

SETUP

******************************/
html{
font-size:100%;
}

body {
@include basic_font;
font-weight: 300;
font-size:62.5%;
line-height: 1.5;
}

/******************************

TITLE STYLES

******************************/

.title {
background: #5697cf url(/images/header_bg.png) repeat-x left top;
color: #fff;
clear: both;
line-height: .8em;
font-weight: bold;
letter-spacing: 0px;
margin-bottom: 50px;
text-transform: uppercase;
}

.title span {
background: #fff;
color: $powder_blue;
padding: 0 10px;
margin: 0 25px 0 0;
}
  
h1.title {
margin-left: -999px;
padding-left: 999px;
text-align: right;
}

/* stacked left words, big right word */

.title_bar {
border-top: 3px solid ;
clear: both;
font-family: "apertura-condensed-1","apertura-condensed-2",sans-serif;
margin: 2em 0;
padding-top: 10px;
}

.title_bar .small_stack {
color: #385f82;
display: inline-block;
font-size: .75em;
line-height: 1em;
margin-right: 1em;
text-align: right;
text-transform: uppercase;
font-variant: small-caps;
}

.title_bar .small_stack span {
display: block;
}

.title_bar .large_flow {
color: $powder_blue;
font-size: 1.85em;
text-transform: uppercase;
}


/******************************

ARTICLES

******************************/

.article h1 {
font-family: "gloriola-web-1","gloriola-web-2",sans-serif;
font-size: 2em;
font-weight: normal;
line-height: 1.4;
margin-bottom: 5px;
}

.article .metadata {
font-size: 1.2em;
}

.articles_published_by_day .article h1 {
  font-size: 1.6em;
}
.articles_published_by_day .article h1 a {
  color: #333;
  
}
