<%
  if entry.has_full_xml?
    html = transform_xml(entry.full_xml, 'entries/_abstract.html.xslt', {'first_page' => (entry.start_page.to_s)}).to_s
  elsif entry.abstract.present?
    html = content_tag(:p, entry.abstract)
  end %>
<% if html.present? %>
  <div class="header_column">
    <h1>Summary</h1>
  </div>
  <div class="body_column">
    <span class="printed_page" id="page-<%= entry.start_page %>" data-page="<%= entry.start_page %>"></span>
    <%= add_citation_links(auto_link(html, :href_options => { :class => 'external' })) %>
  </div>
<% end %>
