  <% aside_tag(:id => 'sidebar') do %>
    <% if (@entry.comments_close_on.present? && @entry.comments_close_on >= Time.current.to_date) %>
      <% section_tag(:class => 'comment') do %>
        <h1 class="title_bar">Submit a formal comment</h1>      
        <div class="padding">
          <p>The agency is required to respond in a future Federal Register document.</p>
          <%= link_to "Submit a formal comment", entry.comment_url, :class => 'button', :target => '_blank' %>
        </div>
      <% end %>
    <% end -%>
  <% end %>  
