<li>
  <%= link_to_if citation.url, citation.name, citation.url %><%= ": #{citation.cited_entry.title} (#{citation.cited_entry.publication_date})" if citation.cited_entry%>
  <%= render( :partial => 'tip', :locals => {:entry => citation.cited_entry} ) if citation.cited_entry %>
</li>
