<% if entry.correction_of %>
  <div id="flash_message" class="correction_of">
    <p>
      This article is a correction of an article that was published on <%= entry.correction_of.publication_date %>.
      <%= link_to 'View Corrected Article', entry_path(entry.correction_of), :class => "button" %>
    </p>
  </div>
<% end %>

<% if entry.corrections.present? %>
  <% entry.corrections.each do |correction| %>
    <div id="flash_message" class="correction">
      <p>
        This article was corrected by an article published on <%= correction.publication_date %>.
        <%= link_to 'View Correction', entry_path(correction), :class => "button" %>
      </p>
    </div>
  <% end %>
<% end %>
