<li class="<%= 'on' if facet.on? %>">
   <%= link_to "#{facet.name}", params.recursive_merge(:page => nil, :conditions => {facet.condition => facet.value}), :class => 'facet_name' %>
   <span class='count'><%= number_with_delimiter facet.count %></span>
  <% if facet.on? %>
    <%= link_to 'remove', params.recursive_merge(:page => nil, :conditions => {facet.condition => nil})%>
  <% end %>
</li>
