<div class="font_control_wrapper">
  <h1>Font Controls</h1>
  <ul>
    <li><a href="#" class="increase" title="Increase font size">Increase</a></li>
    <li><a href="#" class="decrease" title="Decrease font size">Decrease</a></li>
    <li><a href="#" class="sans" title="View with a sans-serif font">Sans</a></li>
    <li><a href="#" class="serif on" title="View with a serif font">Serif</a></li>
  </ul>
</div>


<% if false %>
  <strong>Font Size</strong>
  <a href="#" class="increase">Increase</a>
  <a href="#" class="decrease">Decrease</a>
  <a href="#" class="reset">Reset</a>

  <a href="#" class="serif">Serif</a>
  <a href="#" class="sans">Sans</a>
<% end -%>