<div class="fulltextWrapper">
  <% if @entry.has_full_xml? %>
    <%=
     html = transform_xml(entry.full_xml, 'entries/_full_text.html.xslt').to_s
     html = auto_link(html, :href_options => { :class => 'external' })
     add_citation_links(html) %>
  <% elsif entry.full_text %>
    <% if entry.abstract %>
      <% section_tag(:class => 'summary') do %>
        <h3>Summary</h3>
        <p class='abstract'>
          <%= text_with_links(entry, entry.abstract) %>
        </p>
      <% end -%>
    <% end %>
  
    <h3>Full text</h3>
      <pre><%=
        # FIXME: move out of view!
        text = @entry.full_text
  
        text.sub!(/.*^-{71}$/m, '')
        text.gsub!(/<\/?INF>/, '')
        text.gsub!(/\[deg\]/, '&deg;')
        text.gsub!(/<A HREF="[^"]+">\s*([^<]+)<\/A>/, 'http://\1')
        text.gsub!(/^\[GRAPHIC\].*/, '')
        text.gsub!(/\s+\[\[Page \d+\]\]\s*/m, " ")
        # text.gsub!(/\n\n([A-Z].*(?:\n^\S.*)*)/, "\n\n<h3>\\1</h3>")
        # text.gsub!(/^    (.+(?:\n^\S.*)*)/, "<p>\\1</p>\n")
        text = add_citation_links(text)
        text.sub!(/<\/pre>.*/m, '')
  
        text.sub!(/\A\s+/, '')
        text.sub!(/\s+\Z/, '')
        text
      -%>
      </pre>
  <% end -%>
</div>
