<div class="title_bar" id="recent_articles">
  <h2><span class="small_stack">Listing<span> Of <%= entries.size < 50 ? 'All' : "50" %> </span></span>Recent Documents</h2>
  <% if false && entries.size > 50 %>
    <span class="actions"><%= link_to "view all", entries_search_path(search_params) %></span>
  <% end %>
</div>
