<% if entries.present? %>
<h2 class="title_bar"><span class="small_stack"> <span>Most</span></span>Cited Articles</h2>

  <ul class="raquo indent">
  <% entries.each do |entry| %>
    <li><%= link_to entry.title, entry_path(entry) %><br />
      <%= entry.publication_date %>; <%= link_to pluralize(entry.citing_entries_count, 'citation'), entry_citation_path(entry, :anchor => 'referencing_entries') %>
    </li>
  <% end %>
  </ul>
<% end %>