<% if entries.present? %>
<h2 class="title_bar"><span class="small_stack"> <span>Most</span></span>Cited Articles</h2>

  <ul class="citation_list">
  <% entries.each do |entry| %>
    <li>
      <%= link_to pluralize(entry.citing_entries_count, 'citation'), entry_citation_path(entry, :anchor => 'referencing_entries'), :class => 'citation_count' %>
      <span class="date"><%= entry.publication_date %></span>
      <%= link_to entry.title, entry_path(entry), :class => 'title' %>
    </li>
  <% end %>
  </ul>
<% end %>