<% title "Citations for: #{@entry.title}" %>

<div id="citations">
  <h2>Citations</h2>
  <ul>
    <%= render :partial => 'citation', :collection => @entry.citations %>
  </ul>
</div>

<div id="referencing_entries">
  <h2>Entries Referencing This</h2>
  <ul>
    <%= render :partial => "referencing_entry", :collection =>  @entry.referencing_entries %>
  </ul>
</div>