<div id="ticker">
  <span class="date">Entries for <%= @entries.first.publication_date.to_formatted_s(:pretty) %></span>        
  <div class="daily group">
    <ul class="items">
    <% @entries.each_with_index do |entry, i| %>
      <li>    
        <%= link_to truncate("##{i+1} - #{entry.title}", :length => 97), entry_path(entry), :class => "entry tip" %>          
        <%= render :partial => "tip", :locals => {:entry => entry, :size => @entries.size, :i => i} %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="pulse left"></div>
  <div class="pulse right"></div>
</div>