<% section_tag(:class => 'whats_hot') do %>  
  <h1 class="title_bar">Most Viewed</h1>
  <ol>
    <% @entries.each do |entry| %>
      <li><%= link_to truncate_words(entry.title, :length => 110), entry_path(entry) %></li>
    <% end %>
  </ol>
<% end -%>
