<%= render :partial => "search/tabs", :locals => {:search => @search, :selected => :events}%>

<div class="search_bar">
  <% form_for :conditions, @search, :url => events_search_path, :html => {:method => :get} do |f| %>
    <label>Find</label>
    <%= f.text_field :term %>
    <%= f.submit 'Search' %>
  <% end %>
  
  <div class="actions">
    <%# HELP-DESIGN: need ics icon %>
    <%= link_to 'Subscribe', events_search_path(params.except(:action).merge(:format => :ics, :order => 'date')), :class => 'button notext add_to_calendar' %>
  </div>
  
</div>
