.events {
  position: relative;
  top: 0;
  }
#existing_events li {
  position: relative;
  }
#existing_events .more_info {
  display: none;
  }
#existing_events li:hover .more_info {
  background: #fff;
  border: 2px solid #ddd;
  @include box-shadow;
  display: block;
  padding: 1em;
  position: absolute;
  right: -213px;
  top: 0;
  width: 200px;
  z-index: 999;
  }

#existing_events {
  border-top: 1px solid #ccc;
  }
#existing_events > li {
  border-bottom: 1px solid #eee;
  padding: 1em;
  }
#existing_events > li:last-child {
  border: none;
  }