#header {
  background: url(/images/admin/header_bg.png) repeat-x left top;
  display: block;
  height: 75px; 
  }
#inner_header{
  margin: 0 auto;
  position: relative;
  width: 960px;
  }  
#header_logo {
  @include replace-text-with-dimensions('admin/logotype.png', 0, 50%);
  height: 65px;
  }  
#utility {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  }
#utility p {
  display: block;
  float: left;
  }  
#utility ul {
  @include horizontal-list;
  }
