#header {
  background: url(/images/admin/header_bg.png) repeat-x left top;
  display: block;
  height: image-height('admin/header_bg.png'); 
  margin-bottom: 2em;
  }
#inner_header{
  height: image-height('admin/header_bg.png'); 
  margin: 0 auto;
  position: relative;
  width: 960px;
  }  
#header_logo {
  @include replace-text-with-dimensions('admin/logotype.png', 0, 50%);
  position: relative;
  top: 28px;
  }  
#utility {
  position: absolute;
  right: 0;
  top: 1em;
  }
#utility p {
  display: block;
  float: left;
  }  
#utility ul {
  @include horizontal-list;
  float: left;
  }
#utility ul li:first-child a,
#utility ul li.firstchild a {
  border-right: 1px solid #fff;
  padding-right: .5em;
  }