body {
  background: #f6f1e7;
  }

ul {
  list-style: none;
  }
  
#content_area {
  background: #fff;
  @include border-radius(10px);
  }

.notice {
  background: $aqua;
  border: 1px solid $dark_aqua;
  margin-bottom: 1em;
  padding: .5em;
  }

.article_list a {
  color: #477394;
  }
.article_list > li {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: 1em;
  }
.section_list {
  @include horizontal-list;
  }  

/* VIVA BOB*/

dt.highlighted {
  color: gray;
}
article.highlighted {
  color: gray;
}
.flow {
  height:200px;
}
.ContentFlow {
  // width:700px;
}

#photo_content {
  padding-top:20px;
}

#custom_tag {
  // position:relative;
  // left:640px;
  // margin:15px 5px;
}

table#lede_photo_candidate_topics {
  border-top:black 1px solid;
  border-bottom:#F2F2F2 1px solid;
  margin-top:20px;
  padding-top:20px;
}
table#lede_photo_candidate_topics a {
  color:#000;
  text-decoration:none;
}
table#lede_photo_candidate_topics tr td {
  padding: 2px 5px;
  width:720px;
}
table#lede_photo_candidate_topics tr.odd {
  background-color:#F2F2F2;
}

#lede_photo_flow .ContentFlow .globalCaption {
  margin: 10px auto;
  background-color: rgba(204,204,204,0.3);
  font-size:16px;
  padding-bottom:2px;
}

div.topic_photo_flow {
  margin:0px auto;
}

.flash {
  padding: 1em;
  margin: 1em;
}

.flash.error {
  border: 2px solid red;
  background-color: pink;
}
.flash.notice {
  border: 2px solid green;
  background-color: lightgreen;
}

div#blank_flow {
  display:none;
  height:230px;
}
.modal.jqmWindow {
  top: 20px;
  left: 20px;
  right: 20px;

  margin-left: auto;
  margin-right: auto;
  width: 1040px;
}
#preview, #entry_photo_preview {
  width:160px;
  height:70px;
  overflow:hidden;
  margin-left:5px;
  position:relative;
  left:510px;
  top:-332px;
}
#entry_photo_preview {
  left:0px;
  top:0px;
}

#content_area ul li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  }
#content_area .section_list li {
  border: none;
  }
#content_area table {
  @include table-scaffolding;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  width: 100%;
  }
#content_area table th {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: left;
  } 
#content_area table td {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 3px 5px;
  } 

#canned_searches tr.separator {
  border-bottom: 2px solid black;
}

#canned_searches .active_canned_searches td.title:hover {
  cursor: pointer;
}

// Documents :: Missing Images
.missing-images {
  h3 {
    border-bottom: 1px solid #000;
    margin-top: 30px;
  }
}
