#user_session_remember_me_input {
  width:400px;
}

dt.highlighted {
  color: gray;
}

div#content {
  @include grid(12,12);
  border: thin solid #CCC;
  border-top:none;
  height:100%;
  min-height:500px;
  margin:0;
  position:relative;
  left:-10px;
  top:-21px;
  width:968px;
}

article.highlighted {
  color: gray;
}

.center_content {
  @include grid(10, 12);
  position:relative;
  top:-20px;
}

.center_content_alt {
  @include grid(9, 12);
}

.bordered_wrapper {
  @include grid(10, 12);
  border: thin solid #CCC;
  margin-left:0px;
}

.center_content .bordered_wrapper #entry_content {
  border-top:thin solid #CCC;
}

div.center_content a.preview {
  @include float_right;
  position:relative;
  top:-23px;
}

.flow {
  height:200px;
}
.ContentFlow {
  width:700px;
}

#photo_content {
  padding-top:20px;
}

#custom_tag {
  position:relative;
  left:640px;
  margin:15px 5px;
}

table#lede_photo_candidate_topics {
  border-top:black 1px solid;
  border-bottom:#F2F2F2 1px solid;
  margin-top:20px;
  padding-top:20px;
}
table#lede_photo_candidate_topics a {
  color:#000;
  text-decoration:none;
}
table#lede_photo_candidate_topics tr td {
  padding: 2px 5px;
  width:720px;
}
table#lede_photo_candidate_topics tr.odd {
  background-color:#F2F2F2;
}

#lede_photo_flow .ContentFlow .globalCaption {
  margin: 10px auto;
  background-color: rgba(204,204,204,0.3);
  font-size:16px;
  padding-bottom:2px;
}

ul#highlighted, div#article_list {
  @include grid(9,12);
  @include grid-prefix(1);
}
ul#highlighted li.highlighted_entry, div#article_list article {
  position:relative;
  margin-bottom:15px;
}

ul#highlighted li.highlighted_entry a.remove, div#article_list article a.add {
  position:absolute;
  left:-80px;
  top:5px;
}

ul#highlighted li.highlighted_entry h4, div#article_list article h4 {
  margin-bottom:0px;
}

ul#highlighted li.highlighted_entry h4 a.article_title {
  font-size:1em;
  text-decoration:none;
  color:#000;
}

div#article_list article.highlighted h4, div#article_list article.highlighted p{
  color:#808080;
}

div#article_list article p{
  font-size:1em;
}

div.topic_photo_flow {
  margin:0px auto;
}

.flash {
  padding: 1em;
  margin: 1em;
}

.flash.error {
  border: 2px solid red;
  background-color: pink;
}
.flash.notice {
  border: 2px solid green;
  background-color: lightgreen;
}

div#blank_flow {
  display:none;
  height:230px;
}

.modal.jqmWindow {
  top:10%;
  width:675px;
}

#preview, #entry_photo_preview {
  width:100px;
  height:100px;
  overflow:hidden;
  margin-left:5px;
  position:relative;
  left:550px;
  top:-342px;
}
#entry_photo_preview {
  left:0px;
  top:0px;
}