#sidebar {
  position: relative;
  }
.module {
  background: #fff;
  @include border-radius(10px);
  margin-bottom: 1em;
  padding-bottom: 1em;
  }
.module .nav,
.module .formtastic {
  padding: 0 1em;
  }
.module .nav ul {
  margin-bottom: 0;
  }
.module .nav ul > li {
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;
  padding-bottom: .5em;
  }
.module .nav ul > li:last-child,
.module .nav ul > li.lastchild {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  }

#main .module label,
.module .location span  {
  clear: both;
  display: block;
  width: auto;
  }
#main .module .string input {
  width: 100%;
 }
#main .module .boolean label {
  padding-left: 0;
  }
#main .module .buttons {
  padding-left: 0;
  }
 #main .commit  {
   margin-bottom: 0;
  }
 #main .inputs li:last-child {
  margin-bottom: .5em;
  }
