<% title "Topics" %>
<% description "Federal agencies add topics to the documents they publish in the Federal Register. Use these topics to learn more about your areas of interest and the regulations that affect them." %>

<div class="title"><span>Topic List</span></div>

<div class="filters">
  <h4>Live Filter</h4>
  <ul>
    <li class="livesearch">
      <label for="live_filter_topics" class="hide">Filter Topics</label>
      <input title="Filter topics" placeholder="Filter Topics" id="live_filter_topics">
    </li>  
  </ul>
  <h4>Alphabetical</h4>
  <ul class="actions alpha">
    <li class="all on"><a href="#">ALL</a></li>
    <li><a href="#">A-B</a></li>
    <li><a href="#">C</a></li>
    <li><a href="#">D-E</a></li>
    <li><a href="#">F</a></li>
    <li><a href="#">G-J</a></li>
    <li><a href="#">K-M</a></li>
    <li><a href="#">N</a></li>
    <li><a href="#">O-P</a></li>
    <li><a href="#">Q-T</a></li>
    <li><a href="#">U-Z</a></li>    
  </ul>
</div>


<div class="result_set topic_list_container">
  
  <div class="titlebar topic_list_info">
    <div class="article_count">
      <h2 class="title_bar"><span class="small_stack">Topics <span>Found</span></span> <span id="topic_count"><%= @topics.count %></span></h2>
    </div>

    <div class="actions">
      <ul>
        <li>Alpha</li>
        <li class="on">
          <a class="asc" href="#asc">Asc</a>
        </li>
        <li>
          <a class="dec" href="#dec">Dec</a>
        </li>
      </ul>
      <ul>  
        <li>Popularity</li>
        <li>
          <a class="pop-asc" href="#pop-asc">Asc</a>
        </li>
        <li>
          <a class="pop-dec" href="#pop-dec">Dec</a>
        </li>
      </ul>
    </div>
  </div>

  <ul id="topic_list">
    <% @topics.each do |topic| %>
      <li>
        <span class="individual_topic_count" title="Number of associated documents"><%= topic.entries_count %></span> 
        <%= link_to topic.name, topic_path(topic) %>
      </li>
    <% end %>
  </ul>
</div>
