<% form_tag maps_path, :method => :GET, :class => "group" do %>
  <%= text_field_tag :location, @location.try(:name) %>
  <p class="inline-hints">(eg '94118', 'Seattle', etc.)</p>
  <%= submit_tag 'Change Location', :class => "btn" %>
<% end %>
