<h2>What agency does '<%= h @unknown_agency_name %>' represent?</h2>

<p>This will update the following agencies:</p>
<ul>
<% @entries.each do |entry| %>
  <li><%= entry.title %></li>
<% end %>
</ul>

<% semantic_form_for @alternative_agency_name,
        :url => admin_issue_unknown_agency_path(@publication_date.to_s(:db), @unknown_agency_name),
        :html => {:method => :put} do |f| %>
  <% f.inputs do %>
    <%= f.input :agency_id, :as => :select, :collection => Agency.all %>
  <% end %>
  
  <% f.buttons do %>
    <%= f.commit_button 'Assign to these entries' %>
  <% end %>
<% end %>