<h1>Unknown Agencies on <%= @publication_date %></h1>

<% if @unknown_agency_names.present? %>
  <dl>
  <% @unknown_agency_names.each do |agency_name, entries| %>
    <dt><%= link_to agency_name, edit_admin_issue_unknown_agency_path(@publication_date.to_s(:db), agency_name) %></dt>
    <% entries.each do |entry| %>
      <dd><%= entry.title %></dd>
    <% end %>
  <% end %>
  </dl>
<% else %>
  <p>No unknown agencies on this date.</p>
<% end %>