---
http_interactions:
- request:
    method: get
    uri: https://api.regulations.gov/v4/documents?api_key=DEMO_KEY&filter%5BfrDocNum%5D=2022-28376
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '39'
      x-vcap-request-id:
      - 8719e784-6dd8-45e7-73a1-31bb72d62604
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "HHS_FRDOC_0001-0882",
            "type" : "documents",
            "attributes" : {
              "documentType" : "Proposed Rule",
              "lastModifiedDate" : "2023-01-17T02:00:09Z",
              "highlightedContent" : "",
              "frDocNum" : "2022-28376",
              "withdrawn" : false,
              "agencyId" : "HHS",
              "commentEndDate" : "2023-03-15T03:59:59Z",
              "title" : "Partnerships With Faith-Based and Neighborhood Organizations",
              "postedDate" : "2023-01-13T05:00:00Z",
              "docketId" : "HHS_FRDOC_0001",
              "subtype" : null,
              "commentStartDate" : "2023-01-13T05:00:00Z",
              "openForComment" : true,
              "objectId" : "09000064855eb9c5"
            },
            "links" : {
              "self" : "https://api.regulations.gov/v4/documents/HHS_FRDOC_0001-0882"
            }
          }, {
            "id" : "AID_FRDOC_0001-0412",
            "type" : "documents",
            "attributes" : {
              "documentType" : "Proposed Rule",
              "lastModifiedDate" : "2023-01-22T02:00:25Z",
              "highlightedContent" : "",
              "frDocNum" : "2022-28376",
              "withdrawn" : false,
              "agencyId" : "AID",
              "commentEndDate" : "2023-03-15[...]
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/HHS_FRDOC_0001-0882?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '39'
      x-vcap-request-id:
      - 4c182b0b-77f5-4c7f-4c71-7e349f539aa9
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HHS_FRDOC_0001-0882","type":"document-comments-received-counts","attributes":{"count":3},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/HHS_FRDOC_0001-0882"}}}'
  recorded_at: Tue, 31 Jan 2023 01:18:24 GMT
[...]
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/AID_FRDOC_0001-0412?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '39'
      x-vcap-request-id:
      - cd855f07-3391-4a6e-4461-2389af75bf41
    body:
      encoding: UTF-8
      string: '{"data":{"id":"AID_FRDOC_0001-0412","type":"document-comments-received-counts","attributes":{"count":2},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/AID_FRDOC_0001-0412"}}}'
  recorded_at: Tue, 31 Jan 2023 18:15:32 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/USDA_FRDOC_0001-2761?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '39'
      x-vcap-request-id:
      - 13158528-ee50-442c-6cee-73b4cfb8b821
    body:
      encoding: UTF-8
      string: '{"data":{"id":"USDA_FRDOC_0001-2761","type":"document-comments-received-counts","attributes":{"count":3},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/USDA_FRDOC_0001-2761"}}}'
  recorded_at: Tue, 31 Jan 2023 18:15:55 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/DOJ_FRDOC_0001-0271?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '38'
      x-vcap-request-id:
      - '09c79572-8e50-4873-7d33-9825a8be2e62'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"DOJ_FRDOC_0001-0271","type":"document-comments-received-counts","attributes":{"count":0},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/DOJ_FRDOC_0001-0271"}}}'
  recorded_at: Tue, 31 Jan 2023 18:15:55 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/DHS-2023-0006-0002?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '39'
      x-vcap-request-id:
      - 0d439ae0-0ac9-46ee-7799-20a618bccfd5
    body:
      encoding: UTF-8
      string: '{"data":{"id":"DHS-2023-0006-0002","type":"document-comments-received-counts","attributes":{"count":0},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/DHS-2023-0006-0002"}}}'
  recorded_at: Tue, 31 Jan 2023 18:15:55 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/DOL_FRDOC_0001-2038?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '38'
      x-vcap-request-id:
      - baf849f6-cc11-4357-7048-7b8d0214f13f
    body:
      encoding: UTF-8
      string: '{"data":{"id":"DOL_FRDOC_0001-2038","type":"document-comments-received-counts","attributes":{"count":1},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/DOL_FRDOC_0001-2038"}}}'
  recorded_at: Tue, 31 Jan 2023 18:15:56 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/ED_FRDOC_0001-1011?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '37'
      x-vcap-request-id:
      - 24683931-7d35-4908-521d-750b48680f6a
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ED_FRDOC_0001-1011","type":"document-comments-received-counts","attributes":{"count":1},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/ED_FRDOC_0001-1011"}}}'
  recorded_at: Tue, 31 Jan 2023 18:15:56 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/HUD-2023-0003-0001?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '38'
      x-vcap-request-id:
      - 0463e742-ccbd-4ace-58c5-11860e8121d1
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HUD-2023-0003-0001","type":"document-comments-received-counts","attributes":{"count":0},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/HUD-2023-0003-0001"}}}'
  recorded_at: Tue, 31 Jan 2023 18:15:56 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/VA-2023-VACO-0006-0001?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '36'
      x-vcap-request-id:
      - 8bcde899-5b5e-46c3-4eee-51819f000730
    body:
      encoding: UTF-8
      string: '{"data":{"id":"VA-2023-VACO-0006-0001","type":"document-comments-received-counts","attributes":{"count":0},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/VA-2023-VACO-0006-0001"}}}'
  recorded_at: Tue, 31 Jan 2023 18:15:56 GMT
recorded_with: VCR 6.0.0
