---
http_interactions:
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/INVALID-DOCUMENT-ID?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
      x-vcap-request-id:
      - ea535eb9-d6ce-4886-4bd5-5183317883e9
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "code": "API_KEY_INVALID",
            "message": "An invalid api_key was supplied. Get one at https://api.regulations.gov:443"
          }
        }
  recorded_at: Wed, 09 Nov 2022 06:43:36 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/INVALID-DOCUMENT-ID?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '35'
      x-vcap-request-id:
      - 9cbeda5d-9ad5-4dc3-627c-00e68fb1891b
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Invalid ID: INVALID-DOCUMENT-ID"}]}'
  recorded_at: Wed, 09 Nov 2022 06:47:19 GMT
recorded_with: VCR 6.0.0
