---
http_interactions:
- request:
    method: get
    uri: https://api.regulations.gov/v4/comments?api_key=<API_KEY>&filterSearchTerm=1k5-9l2j-gnbc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '35'
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : "400",
            "title" : "Request parameters error",
            "detail" : "filterSearchTerm"
          } ]
        }
  recorded_at: Thu, 21 Jan 2021 05:56:08 GMT
recorded_with: VCR 6.0.0
