---
http_interactions:
- request:
    method: get
    uri: https://api-staging.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001?api_key=COjlEHEje5dOL5upgpkEd9M7BHgdHgv01xyyJ3pJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '936'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HHS-OCR-2021-0006-0001","type":"document-comments-received-counts","attributes":{"count":550},"links":{"self":"https://api-staging.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001"}}}'
  recorded_at: Thu, 04 Mar 2021 23:16:26 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HHS-OCR-2021-0006-0001","type":"document-comments-received-counts","attributes":{"count":550},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001"}}}'
  recorded_at: Thu, 04 Mar 2021 23:19:45 GMT
recorded_with: VCR 6.0.0
