---
http_interactions:
- request:
    method: get
    uri: https://api-staging.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001?api_key=COjlEHEje5dOL5upgpkEd9M7BHgdHgv01xyyJ3pJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '936'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HHS-OCR-2021-0006-0001","type":"document-comments-received-counts","attributes":{"count":550},"links":{"self":"https://api-staging.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001"}}}'
  recorded_at: Thu, 04 Mar 2021 23:16:26 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '36'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HHS-OCR-2021-0006-0001","type":"document-comments-received-counts","attributes":{"count":550},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001"}}}'
  recorded_at: Thu, 04 Mar 2021 23:19:45 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      content-type:
      - application/json
      x-vcap-request-id:
      - 9c3fbafa-28ce-46cd-6169-142987821268
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "code": "API_KEY_INVALID",
            "message": "An invalid api_key was supplied. Get one at https://api.regulations.gov:443"
          }
        }
  recorded_at: Wed, 09 Nov 2022 06:32:05 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '38'
      x-vcap-request-id:
      - a68e5ac1-56da-4432-71f4-a61fe4939ba0
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HHS-OCR-2021-0006-0001","type":"document-comments-received-counts","attributes":{"count":1436},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001"}}}'
  recorded_at: Wed, 09 Nov 2022 06:32:36 GMT
[...]
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001?api_key=DEMO_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json;charset=utf-8
      x-ratelimit-limit:
      - '40'
      x-ratelimit-remaining:
      - '36'
      x-vcap-request-id:
      - 5b6c123c-6000-4461-531a-9fe23c78ce78
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HHS-OCR-2021-0006-0001","type":"document-comments-received-counts","attributes":{"count":1436},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001"}}}'
  recorded_at: Wed, 09 Nov 2022 06:34:15 GMT
recorded_with: VCR 6.0.0
