---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?sensor=false&address=02108&key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"02108\",\n               \"short_name\"
        : \"02108\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Boston\",\n               \"short_name\"
        : \"Boston\",\n               \"types\" : [ \"locality\", \"political\" ]\n
        \           },\n            {\n               \"long_name\" : \"Suffolk County\",\n
        \              \"short_name\" : \"Suffolk County\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Massachusetts\",\n               \"short_name\"
        : \"MA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Boston, MA 02108, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 42.363543,\n
        \                 \"lng\" : -71.05525\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 42.2575459,\n                  \"lng\" :
        -71.1665028\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 42.3548561,\n               \"lng\" : -71.0661193\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 42.363543,\n
        \                 \"lng\" : -71.05525\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 42.35238289999999,\n                  \"lng\"
        : -71.0734439\n               }\n            }\n         },\n         \"place_id\"
        : \"ChIJHS8sNINw44kRL2zr4Pt6118\",\n         \"types\" : [ \"postal_code\"
        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Tue, 19 Jul 2016 22:45:55 GMT
[...]
