---
http_interactions:
- request:
    method: get
    uri: https://api.regulations.gov/v4/comments?api_key=<API_KEY>&filter%5BcommentOnId%5D=0900006483a6cba3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '989'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "FAA-2018-1084-0418",
            "type" : "comments",
            "attributes" : {
              "documentType" : "Public Submission",
              "highlightedContent" : null,
              "withdrawn" : false,
              "agencyId" : "FAA",
              "title" : "Comment from Jeramie Scott",
              "postedDate" : "2019-03-18T04:00:00Z"
            },
            "links" : {
              "self" : "https://api.regulations.gov/v4/comments/FAA-2018-1084-0418"
            }
          }, {
            "id" : "FAA-2018-1084-0208",
            "type" : "comments",
            "attributes" : {
              "documentType" : "Public Submission",
              "highlightedContent" : null,
              "withdrawn" : false,
              "agencyId" : "FAA",
              "title" : "Comment from Michael Giovagnoni",
              "postedDate" : "2019-02-19T05:00:00Z"
            },
            "lin[...]
- request:
    method: get
    uri: https://api.regulations.gov/v4/comments?api_key=<API_KEY>&filter%5BSearchTerm%5D=1k5-9l2j-gnbc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : "400",
            "title" : "Invalid filter field name: SearchTerm"
          } ]
        }
  recorded_at: Thu, 21 Jan 2021 17:23:32 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/comments?api_key=<API_KEY>&filter%5BsearchTerm%5D=1k5-9l2j-gnbc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "FINCEN-2020-0020-5871",
            "type" : "comments",
            "attributes" : {
              "documentType" : "Public Submission",
              "highlightedContent" : "",
              "withdrawn" : false,
              "agencyId" : "FINCEN",
              "title" : "Comment on FR Doc # 2020-28437",
              "objectId" : "09000064849e17d5",
              "postedDate" : "2021-01-07T05:00:00Z"
            },
            "links" : {
              "self" : "https://api.regulations.gov/v4/comments/FINCEN-2020-0020-5871"
            }
          } ],
          "meta" : {
            "aggregations" : {
              "agencyId" : [ {
                "docCount" : 1,
                "value" : "FINCEN"
              } ],
              "postedDate" : [ {
                "docCount" : 1,
                "label" : "Last 15 Days",
                "fromDate" : "2021-01-07 00:00:00",
                "toDate" : "2021-01-21 23:59:59"
              }, {
                "docCount" : 1,
                "label" : "Last 30 Days",
                "fromDate" : "2020-12-23 00:00:00",
                "toDate" : "2021-01-21 23:59:59"
              }, {
                "docCount" : 1,
                "label" : "Last 90 Days",
                "fromDate" : "2020-10-24 00:00:00",
                "toDate" : "2021-01-21 23:59:59"
              } ]
            },
            "filters" : { },
            "hasNextPage" : false,
            "hasPreviousPage" : false,
            "numberOfElements" : 1,
            "pageNumber" : 1,
            "pageSize" : 25,
            "totalElements" : 1,
            "totalPages" : 1,
            "firstPage" : true,
            "lastPage" : true
          }
        }
  recorded_at: Thu, 21 Jan 2021 18:25:42 GMT
- request:
    method: get
    uri: https://api-staging.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001?api_key=COjlEHEje5dOL5upgpkEd9M7BHgdHgv01xyyJ3pJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '948'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"HHS-OCR-2021-0006-0001","type":"document-comments-received-counts","attributes":{"count":550},"links":{"self":"https://api-staging.regulations.gov/v4/document-comments-received-counts/HHS-OCR-2021-0006-0001"}}}'
  recorded_at: Thu, 04 Mar 2021 23:11:57 GMT
- request:
    method: get
    uri: https://api-staging.regulations.gov/v4/comments?api_key=COjlEHEje5dOL5upgpkEd9M7BHgdHgv01xyyJ3pJ&filter%5BsearchTerm%5D=1k5-9l2j-gnbc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '942'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "FINCEN-2020-0020-5871",
            "type" : "comments",
            "attributes" : {
              "documentType" : "Public Submission",
              "lastModifiedDate" : "2021-01-07T19:57:55Z",
              "highlightedContent" : "",
              "withdrawn" : false,
              "agencyId" : "FINCEN",
              "title" : "Comment on FR Doc # 2020-28437",
              "objectId" : "09000064849e17d5",
              "postedDate" : "2021-01-07T05:00:00Z"
            },
            "links" : {
              "self" : "https://api-staging.regulations.gov/v4/comments/FINCEN-2020-0020-5871"
            }
          } ],
          "meta" : {
            "aggregations" : {
              "agencyId" : [ {
                "docCount" : 1,
                "value" : "FINCEN"
              } ],
              "postedDate" : [ {
                "docCount" : 1,
                "label" : "Last 90 Days",
                "fromDate" : "2020-12-05 00:00:00",
                "toDate" : "2021-03-04 23:59:59"
              } ]
            },
            "filters" : { },
            "hasNextPage" : false,
            "hasPreviousPage" : false,
            "numberOfElements" : 1,
            "pageNumber" : 1,
            "pageSize" : 25,
            "totalElements" : 1,
            "totalPages" : 1,
            "firstPage" : true,
            "lastPage" : true
          }
        }
  recorded_at: Thu, 04 Mar 2021 23:15:07 GMT
recorded_with: VCR 6.0.0
