---
http_interactions:
- request:
    method: get
    uri: https://api.regulations.gov/v4/documents/FRTIB_FRDOC_0001-0319?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : {
            "id" : "FRTIB_FRDOC_0001-0319",
            "type" : "documents",
            "links" : {
              "self" : "https://api.regulations.gov/v4/documents/FRTIB_FRDOC_0001-0319"
            },
            "attributes" : {
              "additionalRins" : null,
              "allowLateComments" : false,
              "authorDate" : null,
              "authors" : null,
              "cfrPart" : "5 CFR Part 1631",
              "commentEndDate" : "2020-11-24T04:59:59Z",
              "commentStartDate" : "2020-10-22T04:00:00Z",
              "effectiveDate" : null,
              "exhibitLocation" : null,
              "exhibitType" : null,
              "frDocNum" : "2020-22330",
              "frVolNum" : null,
              "implementationDate" : null,
              "media" : null,
              "ombApproval" : null,
              "paperLength" : 0,
              "paperWidth" : 0,
              "regWriterInstruction" : null,
              "sourceCitation" : null,
              "startEndPage" : null,
              "subject" : "Courts, Freedom of Information, Government Employees",
              "topics" : [ "Courts", "Freedom of Information", "Government Employees" ],
              "address1" : null,
              "address2" : null,
              "agencyId" : "FRTIB",
              "city" : null,
              "category" : null,
              "comment" : null,
              "country" : null,
              "displayProperties" : null,
              "docAbstract" : null,
              "docketId" : "FRTIB_FRDOC_0001",
              "documentType" : "Rule",
              "email" : null,
              "fax" : null,
              "field1" : null,
              "field2" : null,
              "fileFormats" : [ {
                "fileUrl" : "https://downloads.regulations.gov/FRTIB_FRDOC_0001-0319/content.pdf",
                "format" : "pdf",
                "size" : 250314
              }, {
                "fileUrl" : "https://downloads.regulations.gov/FRTIB_FRDOC_0001-0319/content.htm",
                "format" : "htm",
                "size" : 18705
              } ],
              "firstName" : null,
              "govAgency" : null,
              "govAgencyType" : null,
              "objectId" : "0900006484925e7e",
              "lastName" : null,
              "legacyId" : null,
              "modifyDate" : "2020-10-22T11:55:08Z",
              "organization" : null,
              "originalDocumentId" : null,
              "pageCount" : 0,
              "phone" : null,
              "postedDate" : "2020-10-22T04:00:00Z",
              "postmarkDate" : null,
              "reasonWithdrawn" : null,
              "receiveDate" : "2020-10-22T04:00:00Z",
              "restrictReason" : null,
              "restrictReasonType" : null,
              "stateProvinceRegion" : null,
              "submitterRep" : null,
              "submitterRepAddress" : null,
              "submitterRepCityState" : null,
              "subtype" : null,
              "title" : "Availability of Records",
              "trackingNbr" : null,
              "withdrawn" : false,
              "zip" : null,
              "openForComment" : true
            },
            "relationships" : {
              "attachments" : {
                "links" : {
                  "self" : "https://api.regulations.gov/v4/documents/FRTIB_FRDOC_0001-0319/relationships/attachments",
                  "related" : "https://api.regulations.gov/v4/documents/FRTIB_FRDOC_0001-0319/attachments"
                }
              }
            }
          }
        }
  recorded_at: Fri, 23 Oct 2020 19:08:32 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/comments?api_key=<API_KEY>&filter%5BcommentOnId%5D=0900006484925e7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '990'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ ],
          "meta" : {
            "aggregations" : {
              "agencyId" : [ ],
              "postedDate" : [ ]
            },
            "filters" : { },
            "hasNextPage" : false,
            "hasPreviousPage" : false,
            "numberOfElements" : 0,
            "pageNumber" : 1,
            "pageSize" : 25,
            "totalElements" : 0,
            "totalPages" : 0,
            "firstPage" : true,
            "lastPage" : true
          }
        }
  recorded_at: Fri, 23 Oct 2020 19:08:33 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/0900006484925e7e?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '34'
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"400","title":"Invalid ID: 0900006484925e7e"}]}'
  recorded_at: Thu, 04 Mar 2021 23:21:32 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/FRTIB_FRDOC_0001-0319?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '33'
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"500","title":"INTERNAL_SERVER_ERROR","detail":"Incorrect
        result size: expected 1, actual 0"}]}'
  recorded_at: Thu, 04 Mar 2021 23:22:24 GMT
[...]
- request:
    method: get
    uri: https://api.regulations.gov/v4/documents/NSF_FRDOC_0001-2638?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : {
            "id" : "NSF[...]
- request:
    method: get
    uri: https://api.regulations.gov/v4/document-comments-received-counts/NSF_FRDOC_0001-2638?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '6'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"NSF_FRDOC_0001-2638","type":"document-comments-received-counts","attributes":{"count":0},"links":{"self":"https://api.regulations.gov/v4/document-comments-received-counts/NSF_FRDOC_0001-2638"}}}'
  recorded_at: Thu, 04 Mar 2021 23:46:58 GMT
recorded_with: VCR 6.0.0
