---
http_interactions:
- request:
    method: get
    uri: https://api.regulations.gov/v4/dockets/EPA-HQ-OAR-2003-0129?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : {
            "id" : "EPA-HQ-OAR-2003-0129",
            "type" : "dockets",
            "attributes" : {
              "displayProperties" : [ {
                "name" : "generic",
                "label" : "Location",
                "tooltip" : "Agency specific program associated with a docket (regulatory action); equivalents: Bureau, Docket Item Code, Program Area."
              }, {
                "name" : "abstract",
                "label" : "Description",
                "tooltip" : "Describes an agency's specific regulatory action; equivalents: Abstract, Docket Subject, General Info, Related To, Summary."
              }, {
                "name" : "shortTitle",
                "label" : "Short Title",
                "tooltip" : "A combination of letters and or numbers assigned to an agency's regulatory action for purposes of brevity."
              } ],
              "keywords" : null,
              "modifyDate" : "2018-11-08T16:31:31Z",
              "dkAbstract" : "Point of Contact: James W. Caldwell, TRPD/OTAQ/OAR  Mailcode:6406J (202) 564-9303, fax (202) 565-2085",
              "agencyId" : "EPA",
              "program" : null,
              "shortTitle" : "ICR #0309.10",
              "subType2" : null,
              "title" : "Registration of Fuels and Fuels Additives (Application for Registration of Manufacturers) (ICR # 0309.10, OMB Control # 2060-0150)",
              "generic" : "HQ-OAR",
              "field1" : null,
              "docketType" : "Nonrulemaking",
              "petitionNbr" : null,
              "rin" : null,
              "organization" : null,
              "legacyId" : null,
              "subType" : null,
              "category" : null,
              "field2" : null,
              "effectiveDate" : null,
              "objectId" : "0b000064800bb6f6"
            },
            "links" : {
              "self" : "https://api.regulations.gov/v4/dockets/EPA-HQ-OAR-2003-0129"
            }
          }
        }
  recorded_at: Fri, 23 Oct 2020 20:29:49 GMT
- request:
    method: get
    uri: https://api.regulations.gov/v4/documents?api_key=<API_KEY>&filter%5BdocketId%5D=EPA-HQ-OAR-2003-0129
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "EPA-HQ-OAR-2003-0129-0001",
            "type" : "documents",
            "attributes" : {
              "docketId" : "EPA-HQ-OAR-2003-0129",
              "documentType" : "Supporting & Related Material",
              "subtype" : "Office of Management and Budget (OMB)",
              "commentStartDate" : null,
              "highlightedContent" : null,
              "withdrawn" : false,
              "agencyId" : "EPA",
              "commentEndDate" : null,
              "title" : "Supporting Statement for ICR# 0309.10",
              "openForComment" : false,
              "postedDate" : "2003-04-24T04:00:00Z"
            },
            "links" : {
              "self" : "https://api.regulations.gov/v4/documents/EPA-HQ-OAR-2003-0129-0001"
            }
          }, {
            "id" : "EPA-HQ-OAR-2003-0129-0002",
            "type" : "documents",
            "attributes" : {
              "docketId" : "EPA-HQ-OAR-2003-0129",
              "documentType" : "Supporting & Related Material",
              "subtype" : "Office of Management and Budget (OMB)",
              "commentStartDate" : null,
              "highlightedContent" : null,
              "withdrawn" : false,
              "agencyId" : "EPA",
              "commentEndDate" : null,
              "title" : "Form 83-I for ICR # 0309.10",
              "openForComment" : false,
              "postedDate" : "2003-04-24T04:00:00Z"
            },
            "links" : {
              "self" : "https://api.regulations.gov/v4/documents/EPA-HQ-OAR-2003-0129-0002"
            }
          } ],
          "meta" : {
            "aggregations" : {
              "documentType" : [ {
                "docCount" : 2,
                "label" : "Supporting & Related Material"
              } ],
              "subtype" : [ {
                "docCount" : 2,
                "label" : "Office of Management and Budget (OMB)"
              } ],
              "withinCommentPeriod" : [ {
                "docCount" : 0,
                "label" : "true"
              }, {
                "docCount" : 2,
                "label" : "false"
              } ],
              "agencyId" : [ {
                "docCount" : 2,
                "value" : "EPA"
              } ],
              "commentEndDate" : [ ],
              "postedDate" : [ ]
            },
            "filters" : { },
            "hasNextPage" : false,
            "hasPreviousPage" : false,
            "numberOfElements" : 2,
            "pageNumber" : 1,
            "pageSize" : 25,
            "totalElements" : 2,
            "totalPages" : 1,
            "firstPage" : true,
            "lastPage" : true
          }
        }
  recorded_at: Fri, 23 Oct 2020 22:17:43 GMT
[...]
