---
http_interactions:
- request:
    method: get
    uri: https://api.regulations.gov/v4/documents?api_key=<API_KEY>&filter%5BfrDocNum%5D=2020-22330
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '992'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "FRTIB_FRDOC_0001-0319",
            "type" : "documents",
            "attributes" : {
              "docketId" : "FRTIB_FRDOC_0001",
              "documentType" : "Rule",
              "subtype" : null,
              "commentStartDate" : "2020-10-22T04:00:00Z",
              "highlightedContent" : null,
              "withdrawn" : false,
              "agencyId" : "FRTIB",
              "commentEndDate" : "2020-11-24T04:59:59Z",
              "title" : "Availability of Records",
              "openForComment" : true,
              "postedDate" : "2020-10-22T04:00:00Z"
            },
            "links" : {
              "self" : "https://api.regulations.gov/v4/documents/FRTIB_FRDOC_0001-0319"
            }
          } ],
          "meta" : {
            "aggregations" : {
              "documentType" : [ {
                "docCount" : 1,
                "label" : "Rule"
              } ],
              "subtype" : [ ],
              "withinCommentPeriod" : [ {
                "docCount" : 1,
                "label" : "true"
              }, {
                "docCount" : 0,
                "label" : "false"
              } ],
              "agencyId" : [ {
                "docCount" : 1,
                "value" : "FRTIB"
              } ],
              "commentEndDate" : [ {
                "docCount" : 1,
                "label" : "Next 90 Days",
                "fromDate" : "2020-10-23 00:00:00",
                "toDate" : "2021-01-20 23:59:59"
              } ],
              "postedDate" : [ {
                "docCount" : 1,
                "label" : "Last 3 Days",
                "fromDate" : "2020-10-21 00:00:00",
                "toDate" : "2020-10-23 23:59:59"
              }, {
                "docCount" : 1,
                "label" : "Last 7 Days",
                "fromDate" : "2020-10-17 00:00:00",
                "toDate" : "2020-10-23 23:59:59"
              }, {
                "docCount" : 1,
                "label" : "Last 15 Days",
                "fromDate" : "2020-10-09 00:00:00",
                "toDate" : "2020-10-23 23:59:59"
              }, {
                "docCount" : 1,
                "label" : "Last 30 Days",
                "fromDate" : "2020-09-24 00:00:00",
                "toDate" : "2020-10-23 23:59:59"
              }, {
                "docCount" : 1,
                "label" : "Last 90 Days",
                "fromDate" : "2020-07-26 00:00:00",
                "toDate" : "2020-10-23 23:59:59"
              } ]
            },
            "filters" : {
              "frDocumentNumber" : {
                "label" : "2020-22330",
                "value" : "2020-22330"
              }
            },
            "hasNextPage" : false,
            "hasPreviousPage" : false,
            "numberOfElements" : 1,
            "pageNumber" : 1,
            "pageSize" : 25,
            "totalElements" : 1,
            "totalPages" : 1,
            "firstPage" : true,
            "lastPage" : true
          }
        }
  recorded_at: Fri, 23 Oct 2020 19:08:32 GMT
recorded_with: VCR 6.0.0
