---
http_interactions:
- request:
    method: get
    uri: https://api.regulations.gov/v4/documents?api_key=<API_KEY>&filter%5BdocumentType%5D=Proposed%20Rule&filter%5BlastUpdated%5D%5Bge%5D=2021-01-06&page%5Bsize%5D=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '35'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "DOD-2020-OS-0095-0001",
            "type" : "documents",
            "attributes" : {
              "documentType" : "Proposed Rule",
              "highlightedContent" : "",
              "frDocNum" : "2020-28791",
              "withdrawn" : false,
              "agencyId" : "DOD",
              "commentEndDate" : "2021-03-09T04:59:59Z",
              "title" : "Privacy Act; Implementation",
              "postedDate" : "2021-01-06T05:00:00Z",
              "docketId" : "DOD-2020-OS-0095",
              "subtype" : null,
              "commentStartDate" : "2021-01-06T05:00:00Z",
              "openForComment" : true,
              "objectId" : "09000064849e08b9"
            },
            "links" : {
              "self" : "https://api.regulations.gov/v4/documents/DOD-2020-OS-0095-0001"
            }
          }, {
            "id" : "FDA-2014-N-0053-0137",
            "type" : "documents",
            "attributes" : {
              "documentType" : "Proposed Rule",
              "highlightedContent" : "",
              "frDocNum" : "2020-21935",
              "withdrawn" : false,
              "agencyId" : "FDA",
              "commentEndDate" : "2021-02-23T04:59:59Z",
              "title" : "Requirements for A[...]
[...]
- request:
    method: get
    uri: https://api.regulations.gov/v4/documents?api_key=<API_KEY>&filter%5BdocumentType%5D=Proposed%20Rule&filter%5BlastModifiedDate%5D%5Bge%5D=2021-12-21%2005:00:00&page%5Bnumber%5D=1&page%5Bsize%5D=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '279'
    body:
      encoding: UTF-8
      string: |-
        {
          "data" : [ {
            "id" : "EPA-HQ-OPP-2021-0088-0010",
            "type" : "documents",
            "attributes" : {
              "documentType" : "Proposed Rule",
              "lastModifiedDate" : "2021-12-21T15:19:31Z",
              "highlightedContent" : "",
              "frDocNum" : "2021-27619",
              "withdrawn" : false,
              "agencyId" : "EPA",
              "commentEndDate" : null,
              "title" : "Receipt of Pesticide PetitionsFiled for Residues of Pesticide Chemicals in or on Various Commodities (December 2021)",
              "postedDate" : "2021-12-21T05:00:00Z",
              "docketId" : "EPA-HQ-OPP-2021-0088",
              "subtype" : null,
     [...]
- request:
    method: get
    uri: https://api.regulations.gov/v4/documents?api_key=<API_KEY>&filter%5BdocumentType%5D=Notice&filter%5BlastModifiedDate%5D%5Bge%5D=2021-12-21%2005:00:00&page%5Bnumber%5D=1&page%5Bsize%5D=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
    [...]
[...]
