/* line 19, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body {
  text-align: center;
}
/* line 32, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
* html body legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 36, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
html>body p code {
  *white-space: normal;
}

/* line 51, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
.container {
  text-align: left;
}

/* line 53, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
ol {
  margin-left: 2em;
}

/* line 55, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
sup {
  vertical-align: text-top;
}

/* line 57, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
sub {
  vertical-align: text-bottom;
}

/* line 59, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
hr {
  margin: -8px auto 11px;
}

/* line 61, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 63, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
fieldset {
  padding-top: 0;
}

/* line 66, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.text {
  margin: 0.5em 0;
  background-color: #fff;
  border: 1px solid #bbb;
}
/* line 70, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.text:focus {
  border: 1px solid #666;
}
/* line 72, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.title {
  margin: 0.5em 0;
  background-color: #fff;
  border: 1px solid #bbb;
}
/* line 76, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.title:focus {
  border: 1px solid #666;
}
/* line 78, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 81, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.radio {
  position: relative;
  top: 0.25em;
}
/* line 84, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.button {
  position: relative;
  top: 0.25em;
}

/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
textarea {
  margin: 0.5em 0;
}

/* line 89, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
select {
  margin: 0.5em 0;
}

/* line 91, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
button {
  position: relative;
  top: 0.25em;
}
