/* line 1, ../../app/stylesheets/modal.sass */
.modal {
  background: url(/images/modal_bg.png);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 8888;
}

/* line 9, ../../app/stylesheets/modal.sass */
.modal_box {
  background: #fff;
  border: 5px solid #DDDDDD;
  -border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: none;
  padding: 10px;
  position: absolute;
  top: 20px;
  width: 673px;
  z-index: 9999;
}
/* line 21, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content {
  background: #fff;
  padding: 1em;
}
/* line 24, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content h1 {
  color: #46565c;
  font: 2.5em Georgia,"Times New Roman",Serif;
  font-variant: small-caps;
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  text-align: center;
}
/* line 31, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content a {
  border: none;
  color: #005b81;
  outline: none;
  text-decoration: none;
}
/* line 37, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content a:visited {
  color: #7d7d7d;
}
/* line 39, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content a:hover {
  color: #cf8227;
}
/* line 42, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content a.raquo {
  background: url(/images/raquo3.png) no-repeat 0 5px;
  padding: 0 0 0 10px;
}
/* line 45, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content a.cancel {
  background: url(/images/cross.png) no-repeat right 2px;
  font-weight: bold;
  padding-right: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 52, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content textarea {
  border-color: #999;
  float: left;
  height: 265px;
  margin-right: 15px;
  width: 300px;
}
/* line 58, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content .preview {
  float: left;
}
/* line 60, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content fieldset {
  border: none;
  margin: 0;
}
/* line 63, ../../app/stylesheets/modal.sass */
.modal_box .modal_box_content h3 {
  border-bottom: 1px solid #ccc;
  color: #fa6900;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-weight: bold;
}

/* line 69, ../../app/stylesheets/modal.sass */
.modal_instructions .center {
  margin: 0 auto;
  width: 650px;
}
/* line 72, ../../app/stylesheets/modal.sass */
.modal_instructions textarea {
  border-color: #999;
  float: left;
  height: 265px;
  margin-right: 15px;
  width: 300px;
  float: left;
}
/* line 79, ../../app/stylesheets/modal.sass */
.modal_instructions .preview {
  float: left;
}
