/*@import "library/links";
@import "library/lists";*/
/******************************
POWDER BLUE: 
Used in page title headers
******************************/
/******************************
DARK BLUE: 
Small stack and border color
******************************/
/******************************
GOLDEN: 
Used for border of nav
******************************/
/******************************
body_type_color: 
The base color for all the text 
******************************/
/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   0.8 (2008-03-10)
	 
-------------------------------------------------------------- */
/* line 8, ../../app/stylesheets/print/_hartija.scss */
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  font-family: Garamond,"Times New Roman", serif;
  color: #000;
  background: none;
  font-size: 12pt;
}

/*Headings */
/* line 17, ../../app/stylesheets/print/_hartija.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 18, ../../app/stylesheets/print/_hartija.scss */
h1 {
  font-size: 19pt;
}

/* line 19, ../../app/stylesheets/print/_hartija.scss */
h2 {
  font-size: 17pt;
}

/* line 20, ../../app/stylesheets/print/_hartija.scss */
h3 {
  font-size: 15pt;
}

/* line 21, ../../app/stylesheets/print/_hartija.scss */
h4, h5, h6 {
  font-size: 12pt;
}

/* line 23, ../../app/stylesheets/print/_hartija.scss */
code {
  font: 10pt Courier, monospace;
}

/* line 24, ../../app/stylesheets/print/_hartija.scss */
blockquote {
  margin: 1.3em;
  padding: 1em;
  font-size: 10pt;
}

/* line 25, ../../app/stylesheets/print/_hartija.scss */
hr {
  background-color: #ccc;
}

/* Images */
/* line 28, ../../app/stylesheets/print/_hartija.scss */
img {
  float: left;
  margin: 1em 1.5em 1.5em 0;
}

/* line 29, ../../app/stylesheets/print/_hartija.scss */
a img {
  border: none;
}

/* Links */
/* line 32, ../../app/stylesheets/print/_hartija.scss */
a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #333;
}

/* line 33, ../../app/stylesheets/print/_hartija.scss */
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

/* line 34, ../../app/stylesheets/print/_hartija.scss */
a[href^="http://"] {
  color: #000;
}

/* Table */
/* line 37, ../../app/stylesheets/print/_hartija.scss */
table {
  margin: 1px;
  text-align: left;
}

/* line 38, ../../app/stylesheets/print/_hartija.scss */
th {
  border-bottom: 1px solid #333;
  font-weight: bold;
}

/* line 39, ../../app/stylesheets/print/_hartija.scss */
td {
  border-bottom: 1px solid #333;
}

/* line 40, ../../app/stylesheets/print/_hartija.scss */
th, td {
  padding: 4px 10px 4px 0;
}

/* line 41, ../../app/stylesheets/print/_hartija.scss */
tfoot {
  font-style: italic;
}

/* line 42, ../../app/stylesheets/print/_hartija.scss */
caption {
  background: #fff;
  margin-bottom: 2em;
  text-align: left;
}

/* line 43, ../../app/stylesheets/print/_hartija.scss */
thead {
  display: table-header-group;
}

/* line 44, ../../app/stylesheets/print/_hartija.scss */
tr {
  page-break-inside: avoid;
}

/*hide various parts from the site

#header, #footer, #navigation, #rightSideBar, #leftSideBar 
{display:none;}

*/
/* line 3, ../../app/stylesheets/print/_page.scss */
#modal,
.back_to_top,
.read_more {
  display: none;
}

/* line 6, ../../app/stylesheets/print/_page.scss */
.section {
  border-bottom: 3px double #000;
}

/* line 2, ../../app/stylesheets/print/_header.scss */
#primary_nav,
#search_bar {
  display: none;
}

/* line 6, ../../app/stylesheets/print/_header.scss */
#header {
  border-bottom: 2px solid #aaa;
  padding-bottom: 0;
}

/* line 11, ../../app/stylesheets/print/_header.scss */
#header h1 {
  font-size: 21pt;
  margin-bottom: 0;
}

/* line 15, ../../app/stylesheets/print/_header.scss */
#header h1 a {
  font-family: Garamond,"Times New Roman", serif;
  text-decoration: none;
}

/* line 19, ../../app/stylesheets/print/_header.scss */
#header h2 {
  font-size: 15pt;
  margin-top: 0;
}

/* line 1, ../../app/stylesheets/print/_homepage.scss */
#current_issue {
  margin: 1em 0;
}

/* line 4, ../../app/stylesheets/print/_homepage.scss */
#current_issue a:after {
  content: ": " attr(title);
}

/* line 7, ../../app/stylesheets/print/_homepage.scss */
#current_issue dt, dd {
  display: inline;
}

/* line 10, ../../app/stylesheets/print/_homepage.scss */
#current_issue dt {
  margin-right: 0;
}

/* line 13, ../../app/stylesheets/print/_homepage.scss */
#current_issue dt:after {
  content: ": ";
}

/* line 16, ../../app/stylesheets/print/_homepage.scss */
#current_issue dd {
  margin: 0 1em 0 0;
  font-weight: bold;
}

/* line 20, ../../app/stylesheets/print/_homepage.scss */
.section_nav {
  display: none;
}

/* line 23, ../../app/stylesheets/print/_homepage.scss */
#top_news_promo .figure {
  display: none;
}

/* line 26, ../../app/stylesheets/print/_homepage.scss */
.stats {
  display: none;
}

/* line 29, ../../app/stylesheets/print/_homepage.scss */
.index {
  display: none;
}

/* line 32, ../../app/stylesheets/print/_homepage.scss */
.logo_and_title img {
  display: none;
}

/* line 1, ../../app/stylesheets/print/_article.scss */
h1.title {
  display: none;
}

/* line 5, ../../app/stylesheets/print/_article.scss */
.share {
  display: none;
}

/* line 10, ../../app/stylesheets/print/_article.scss */
.metadata_list dt,
.metadata_list dd {
  margin: 0;
}

/*#table_of_contents,
.table_of_contents {
  display: none;
  }*/
/* line 1, ../../app/stylesheets/print/_sidebar.scss */
#sidebar {
  display: none;
}

/* line 1, ../../app/stylesheets/print/_section.scss */
#top-articles .article {
  border-bottom: 2px solid #eee;
  margin: 1em 0;
}

/* line 6, ../../app/stylesheets/print/_section.scss */
.photo {
  display: none;
}

/* line 10, ../../app/stylesheets/print/_section.scss */
.header-nav {
  display: none;
}

/* line 14, ../../app/stylesheets/print/_section.scss */
.small_stack {
  margin-right: .5em;
}

/* line 18, ../../app/stylesheets/print/_section.scss */
.section .article h1 {
  font-size: 13pt;
}

/* line 1, ../../app/stylesheets/print/_search.scss */
.tabs {
  display: none;
}

/* line 4, ../../app/stylesheets/print/_search.scss */
.search_bar {
  display: none;
}

/* line 7, ../../app/stylesheets/print/_search.scss */
.filters {
  display: none;
}

/* line 10, ../../app/stylesheets/print/_search.scss */
.ordering {
  display: none;
}

/* line 13, ../../app/stylesheets/print/_search.scss */
.pagination {
  display: none;
}

/* line 16, ../../app/stylesheets/print/_search.scss */
.actions {
  display: none;
}

/* line 19, ../../app/stylesheets/print/_search.scss */
.active_filter_list {
  display: none;
}

/* line 1, ../../app/stylesheets/print/_footer.scss */
#footer {
  display: none;
}
