body {
  background: #eeeded;
  margin: 0;
}

#wrapper {
  border: 1px solid #aaa;
}

#header {
  background: #efeeee url(/images/header-bg.png) repeat-x bottom left;
  height: 6em;
}
#header h1 {
  color: #003399;
  float: left;
  line-height: 96px;
  margin-left: 1em;
}
#header .nav {
  display: block;
  float: right;
  height: 35px;
  margin: 2em 0 0 0;
  width: 200px;
}
#header .nav a {
  color: #777778;
  padding-left: .8em;
}
#header .nav ul {
  margin: 0;
  width: 100%;
}
#header .nav ul li {
  list-style-type: none;
}

#main {
  margin: 2em;
}
#main ul li {
  list-style-type: none;
}
#main .mod {
  width: 50em;
}
#main .mod .meta li {
  float: left;
  margin-right: 1.5em;
}
#main .mod .meta li:last-child {
  list-style-type: disc;
}
#main .mod .details {
  clear: both;
}
#main table.calendar {
  float: left;
  margin-right: 1em;
}
#main table.calendar th.current {
  color: red;
}

#footer {
  background: #5a5a5a;
  clear: both;
  min-height: 10em;
  border-top: 4px solid #9b9b9b;
}

.btn {
  display: block;
  height: 31px;
  float: left;
  background: url(/images/btn_cap.png) no-repeat right top;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  z-index: 9999;
}
.btn a,
.btn input {
  display: block;
  float: left;
  width: auto;
  height: 31px;
  padding: 0 2px 0 8px;
  line-height: 31px;
  background: url(/images/btn_bg.png) no-repeat left top;
  color: #fff;
  text-decoration: none;
  border: none;
}
.btn a:hover,
.btn input:hover {
  color: #fff !important;
  text-decoration: underline;
}
