.tab_container {
 display: block;
 height: 340px; 
 margin: 0 0 15px 0;
 position: relative;
}

.tab_container .nav {
  display: block;
  position:absolute;
  left: 0;
  top: 0;
  width: 100px;
}
#main .tab_container .nav li {
  border-bottom: 1px solid #E5EBEE;
  padding: 0;
}
#main .tab_container .nav li a {
  display: block;
  padding: 5px;
}
#main .tab_container .nav li.on a {
  font-weight: bold; 
}
.tab_content_container {
  position: absolute;
  left: 120px;
  top: 0;
  width: 808px;
}
.tab_content_wrapper {
  height: 320px; 
  overflow: hidden;   
  }
.tab_content {
  height: 320px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tab_content img {
  float: left;
  }