/* line 1, ../../app/stylesheets/trifecta.sass */
html {
  background: #27338b url(/images/bg3.gif);
}

/* line 3, ../../app/stylesheets/trifecta.sass */
body {
  background: url(/images/bg_overlay2.png) no-repeat top center;
}

/* line 5, ../../app/stylesheets/trifecta.sass */
#wrapper {
  background: url(/images/wrapper_bg.png) repeat-y top center;
  min-height: 100%;
  margin-bottom: -150px;
  position: relative;
}
/* line 10, ../../app/stylesheets/trifecta.sass */
#wrapper .clearfooter {
  clear: both;
  height: 150px;
}

/* line 13, ../../app/stylesheets/trifecta.sass */
#header {
  background: url(/images/header_bg3.png) repeat-x bottom left;
  border-left: 1px solid #27338b;
  border-right: 1px solid #27338b;
  height: 80px;
  padding: 0 0 20px 0;
  position: relative;
  z-index: 9999;
}
/* line 23, ../../app/stylesheets/trifecta.sass */
#header h1 {
  color: #737374;
  float: left;
  font: 330% Georgia,"Times New Roman",Serif;
  padding: 20px 0 0 40px;
}
/* line 28, ../../app/stylesheets/trifecta.sass */
#header h1 span {
  color: #cf8227;
}
/* line 30, ../../app/stylesheets/trifecta.sass */
#header .nav {
  float: right;
}
/* line 32, ../../app/stylesheets/trifecta.sass */
#header .nav .search {
  background: url(/images/search_bg.png) no-repeat top left;
  height: 25px;
  width: 220px;
}
/* line 36, ../../app/stylesheets/trifecta.sass */
#header .nav .search form {
  height: 25px;
  width: 200px;
  margin: 10px 20px 0 0;
}
/* line 40, ../../app/stylesheets/trifecta.sass */
#header .nav .search form input#q {
  border: none;
  display: block;
  float: left;
  height: 18px;
  margin: 5px 0 0 10px;
  padding: 0;
  width: 175px;
}
/* line 48, ../../app/stylesheets/trifecta.sass */
#header .nav .search form input {
  display: none;
}
/* line 50, ../../app/stylesheets/trifecta.sass */
#header .nav ul {
  float: right;
  margin: 10px 20px 0 0;
}
/* line 53, ../../app/stylesheets/trifecta.sass */
#header .nav ul li {
  color: #797979;
  float: left;
  font: 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  list-style-type: none;
  margin-right: 5px;
}
/* line 59, ../../app/stylesheets/trifecta.sass */
#header .nav ul li a {
  color: #797979;
  font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 64, ../../app/stylesheets/trifecta.sass */
#header .nav ul li a:hover {
  color: #344391;
  border-bottom: 3px solid #344391;
}

/* line 68, ../../app/stylesheets/trifecta.sass */
#main {
  background: url(/images/main_bg.png) repeat-x top left;
  border-left: 1px solid #27338b;
  border-right: 1px solid #27338b;
  clear: both;
  margin-top: -9px !important;
}
/* line 74, ../../app/stylesheets/trifecta.sass */
#main h1 {
  border-bottom: 2px solid #ff8400;
  border-top: 2px solid #ff8400;
  color: #ff8400;
  margin-bottom: 10px;
}
/* line 79, ../../app/stylesheets/trifecta.sass */
#main h2 {
  border-top: 2px solid #007acb;
  border-bottom: 2px solid #007acb;
  color: #007acb;
  margin-bottom: 0;
}
/* line 84, ../../app/stylesheets/trifecta.sass */
#main h3 {
  border-bottom: 1px solid #aaa;
  color: #333;
  font: 1.2em Georgia,"Times New Roman",Serif;
  font-variant: small-caps;
}
/* line 91, ../../app/stylesheets/trifecta.sass */
#main ul li {
  list-style-type: none;
}
/* line 95, ../../app/stylesheets/trifecta.sass */
#main .content {
  background: #eaeaea;
  min-height: 600px;
  padding-top: 20px;
}
/* line 100, ../../app/stylesheets/trifecta.sass */
#main .content .precolumn .infobox {
  padding: 1em 0;
}
/* line 102, ../../app/stylesheets/trifecta.sass */
#main .content .precolumn .infobox p {
  clear: both;
  font: 330% Georgia,"Times New Roman",Serif;
  margin: 0;
  text-align: center;
  width: 100%;
}
/* line 108, ../../app/stylesheets/trifecta.sass */
#main .content .precolumn .infobox p.fed {
  color: #3e8417;
}
/* line 111, ../../app/stylesheets/trifecta.sass */
#main .content .precolumn .infobox p.stats span.num {
  display: block;
  float: left;
  margin-right: 20px;
  text-align: right;
  width: 48%;
}
/* line 117, ../../app/stylesheets/trifecta.sass */
#main .content .precolumn .infobox p.stats span.stat {
  display: block;
  float: left;
  text-align: left;
  width: 48%;
}
/* line 122, ../../app/stylesheets/trifecta.sass */
#main .content .precolumn .infobox p span.around {
  color: #f00;
}
/* line 125, ../../app/stylesheets/trifecta.sass */
#main .content .col1 .fulltextWrapper {
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 400px;
  margin-bottom: 20px;
  overflow: auto;
}
/* line 132, ../../app/stylesheets/trifecta.sass */
#main .content .col1 .fulltextWrapper pre {
  background-color: #fff;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
/* line 144, ../../app/stylesheets/trifecta.sass */
#main .content .col2 .sidebar ul li {
  list-style-type: none;
}
/* line 146, ../../app/stylesheets/trifecta.sass */
#main .content .col2 .sidebar h2 {
  border-color: #ff8400;
  color: #ff8400;
  margin-bottom: 10px;
}
/* line 150, ../../app/stylesheets/trifecta.sass */
#main .content .col2 .sidebar ul#featured_agency_buttons {
  margin: 0 0 10px 0;
}
/* line 152, ../../app/stylesheets/trifecta.sass */
#main .content .col2 .sidebar ul#featured_agency_buttons li {
  border: 1px solid #747d87;
  float: left;
  margin-right: 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 158, ../../app/stylesheets/trifecta.sass */
#main .content .col2 .sidebar ul#featured_agency_buttons li a {
  color: #747d87;
  display: block;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
}
/* line 164, ../../app/stylesheets/trifecta.sass */
#main .content .col2 .sidebar ul#featured_agency_buttons li a:hover {
  background: #747d87;
  color: #fff;
}
/* line 168, ../../app/stylesheets/trifecta.sass */
#main .content .col2 .sidebar ul#featured_agency_buttons li.on a {
  background: #747d87;
  color: #fff;
}
/* line 171, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents {
  height: 100px;
  vertical-align: text-top;
}
/* line 174, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily {
  height: 30em;
  width: 590px;
  margin: 10px 0 0 0;
  position: relative;
  overflow: hidden;
}
/* line 180, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items {
  margin: 0;
  height: 10000em;
  position: absolute;
}
/* line 184, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li {
  float: left;
  height: 6em;
  list-style-type: none;
  width: 590px;
}
/* line 189, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li p.number {
  color: #ccc;
  float: left;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  margin: 0 15px 0 0;
  text-align: right;
  width: 75px;
  vertical-align: text-top;
}
/* line 200, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li a {
  font: 140% Georgia,"Times New Roman",Serif;
  text-decoration: none;
  width: 500px;
}
/* line 204, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li a.entry {
  color: #555;
  float: left;
  margin-top: 5px;
}
/* line 208, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li a.agency {
  float: left;
  font-style: italic;
}
/* line 211, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li a:hover {
  color: #cf8227;
}
/* line 213, ../../app/stylesheets/trifecta.sass */
#main dl.fixed {
  width: 600px;
}
/* line 215, ../../app/stylesheets/trifecta.sass */
#main dl.fixed dt {
  clear: left;
  float: left;
  text-align: right;
  width: 45%;
}
/* line 220, ../../app/stylesheets/trifecta.sass */
#main dl.fixed dd {
  float: left;
  width: 45%;
}
/* line 223, ../../app/stylesheets/trifecta.sass */
#main table.calendar {
  float: left;
  height: 200px;
  margin-right: 1em;
  width: 47%;
}
/* line 228, ../../app/stylesheets/trifecta.sass */
#main table.calendar th {
  background: none;
}
/* line 230, ../../app/stylesheets/trifecta.sass */
#main table.calendar th.current {
  border-bottom: 2px solid red;
  color: red;
}

/* line 233, ../../app/stylesheets/trifecta.sass */
.icon {
  padding: 5px 0 5px 60px;
  background-repeat: no-repeat;
}
/* line 236, ../../app/stylesheets/trifecta.sass */
.icon.cal {
  background-image: url(/images/icons/calendar_small.png);
  background-position: top left;
}
/* line 239, ../../app/stylesheets/trifecta.sass */
.icon.agency {
  background-image: url(/images/icons/agency_small2.png);
  background-position: top left;
}
/* line 242, ../../app/stylesheets/trifecta.sass */
.icon.contact {
  background-image: url(/images/icons/contact_small.png);
  background-position: top left;
  padding: 32px 0 0 60px;
}

/* line 247, ../../app/stylesheets/trifecta.sass */
hr.ornament {
  background: url(/images/hr_bg2.png) no-repeat top center;
  border: none;
  display: block;
  margin: 20px 0;
  padding: 5px 0;
}

/* line 254, ../../app/stylesheets/trifecta.sass */
#footer {
  background: #5a5a5a;
  border-top: 4px solid #9b9b9b;
  clear: both;
  height: 150px;
  position: relative;
}
/* line 260, ../../app/stylesheets/trifecta.sass */
#footer .sitemap {
  padding: 2em;
}
/* line 262, ../../app/stylesheets/trifecta.sass */
#footer .sitemap h4 {
  color: #fff;
  font: 175% serif;
  margin: 0 0 0 0;
}
/* line 266, ../../app/stylesheets/trifecta.sass */
#footer .sitemap ul {
  margin: 0 0 0 1em;
}
/* line 268, ../../app/stylesheets/trifecta.sass */
#footer .sitemap ul li {
  list-style-type: none;
}
/* line 270, ../../app/stylesheets/trifecta.sass */
#footer .sitemap ul li a {
  color: #989898;
  font-size: 125%;
  text-decoration: none;
}
