/* line 1, ../../app/stylesheets/trifecta.sass */
html {
  background: #27338b url(/images/bg3.gif);
}

/* line 3, ../../app/stylesheets/trifecta.sass */
body {
  background: url(/images/bg_overlay2.png) no-repeat top center;
}

/* line 5, ../../app/stylesheets/trifecta.sass */
#wrapper {
  background: url(/images/wrapper_bg.png) repeat-y top center;
}

/* line 7, ../../app/stylesheets/trifecta.sass */
#header {
  background: url(/images/header_bg3.png) repeat-x bottom left;
  border-left: 1px solid #27338b;
  border-right: 1px solid #27338b;
  height: 80px;
  padding: 0 0 20px 0;
  position: relative;
  z-index: 9999;
}
/* line 17, ../../app/stylesheets/trifecta.sass */
#header h1 {
  color: #737374;
  float: left;
  font: 330% Georgia,"Times New Roman",Serif;
  padding: 20px 0 0 40px;
}
/* line 22, ../../app/stylesheets/trifecta.sass */
#header h1 span {
  color: #cf8227;
}
/* line 24, ../../app/stylesheets/trifecta.sass */
#header .nav {
  float: right;
}
/* line 26, ../../app/stylesheets/trifecta.sass */
#header .nav form {
  margin: 10px 20px 0 0;
}
/* line 28, ../../app/stylesheets/trifecta.sass */
#header .nav ul {
  float: right;
  margin: 10px 20px 0 0;
}
/* line 31, ../../app/stylesheets/trifecta.sass */
#header .nav ul li {
  float: left;
  list-style-type: none;
  color: #797979;
  font: 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
/* line 36, ../../app/stylesheets/trifecta.sass */
#header .nav ul li a {
  color: #797979;
  font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 41, ../../app/stylesheets/trifecta.sass */
#header .nav ul li a:hover {
  color: #344391;
  border-bottom: 3px solid #344391;
}

/* line 45, ../../app/stylesheets/trifecta.sass */
#main {
  background: url(/images/main_bg.png) repeat-x top left;
  border-left: 1px solid #27338b;
  border-right: 1px solid #27338b;
  clear: both;
  margin-top: -9px !important;
}
/* line 52, ../../app/stylesheets/trifecta.sass */
#main .content {
  background: #eaeaea;
  min-height: 600px;
}
/* line 55, ../../app/stylesheets/trifecta.sass */
#main .content h1 {
  color: #3e8417;
  font: 330% Georgia,"Times New Roman",Serif;
  padding: .5em 0;
  width: 100%;
}
/* line 63, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents {
  height: 100px;
  vertical-align: text-top;
}
/* line 66, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents h2 {
  color: #007acb;
  border-bottom: 2px solid #007acb;
  margin-bottom: 0;
}
/* line 71, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily {
  height: 100px;
  width: 400px;
  margin: 10px 0 0 0;
  position: relative;
  overflow: hidden;
}
/* line 77, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items {
  margin: 0;
  width: 10000em;
  position: absolute;
}
/* line 81, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li {
  float: left;
  list-style: none;
  height: 100px;
  width: 400px;
}
/* line 86, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li a {
  font: 140% Georgia,"Times New Roman",Serif;
  text-decoration: none;
}
/* line 89, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li a.entry {
  color: #555;
  float: left;
}
/* line 92, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li a.agency {
  clear: both;
  float: left;
  font-style: italic;
}
/* line 96, ../../app/stylesheets/trifecta.sass */
#main .content .currentevents .daily ul.items li a:hover {
  color: #cf8227;
}
/* line 98, ../../app/stylesheets/trifecta.sass */
#main dl.fixed {
  width: 600px;
}
/* line 100, ../../app/stylesheets/trifecta.sass */
#main dl.fixed dt {
  clear: left;
  float: left;
  text-align: right;
  width: 25%;
}
/* line 105, ../../app/stylesheets/trifecta.sass */
#main dl.fixed dd {
  float: left;
  width: 55%;
}
/* line 108, ../../app/stylesheets/trifecta.sass */
#main table.calendar {
  float: left;
  margin-right: 1em;
  width: 1em;
}
/* line 112, ../../app/stylesheets/trifecta.sass */
#main table.calendar th {
  background: none;
}
/* line 114, ../../app/stylesheets/trifecta.sass */
#main table.calendar th.current {
  border-bottom: 2px solid red;
  color: red;
}

/* line 117, ../../app/stylesheets/trifecta.sass */
.icon {
  padding: 5px 0 5px 60px;
  background-repeat: no-repeat;
}
/* line 120, ../../app/stylesheets/trifecta.sass */
.icon.cal {
  background-image: url(/images/icons/calendar_small.png);
  background-position: top left;
}

/* line 123, ../../app/stylesheets/trifecta.sass */
#footer {
  background: #5a5a5a;
  clear: both;
  min-height: 10em;
  border-top: 4px solid #9b9b9b;
}
/* line 128, ../../app/stylesheets/trifecta.sass */
#footer .sitemap {
  padding: 2em;
}
/* line 130, ../../app/stylesheets/trifecta.sass */
#footer .sitemap h4 {
  color: #fff;
  font: 175% serif;
  margin: 0 0 0 0;
}
/* line 134, ../../app/stylesheets/trifecta.sass */
#footer .sitemap ul {
  margin: 0 0 0 1em;
}
/* line 136, ../../app/stylesheets/trifecta.sass */
#footer .sitemap ul li {
  list-style-type: none;
}
/* line 138, ../../app/stylesheets/trifecta.sass */
#footer .sitemap ul li a {
  color: #989898;
  font-size: 125%;
  text-decoration: none;
}
