/* self-clearing floats: add .group class to parents with floats */
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;	
	visibility: hidden;
	}
*:first-child+html .group { /* IE7 */
	min-height: 1%;
	}
* html .group { /* IE6 */
	height: 1%;
	}
	
/* fix for IE displaying tag cloud */	
v\:* { behavior: url(#default#VML); position: absolute}	

.clear {
	clear:both;
	}