<% title "Manage Sections" %>

<div class="center_content">
  <%= link_to "New Section", new_admin_section_path %>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.title %></td>
        <td><%= link_to 'Edit', edit_admin_section_path(section) %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>