<% title @section.title %>

<div class="center_content">
  <%= link_to 'Edit', edit_admin_section_path(@section) %>
  <dl>
    <dt>Description</dt>
    <dd><%= @section.description %></dd>
  
    <dt>Agencies</dt>
    <% @section.agencies.each do |agency| %>
      <dd><%= agency.name %></dd>
    <% end %>
    
    <dt>CFR Ranges</dt>
    <% @section.cfr_citation_ranges.each do |cfr_range| %>
      <dd><%= cfr_range.name %></dd>
    <% end %>
  </dl>
</div>