<% title @search.term.blank? ? 'Unified Agenda Search' : "Unified Agenda Search Results for '#{h @search.term}'" %>

<% if @search.blank? %>
  <% description 'Easy, powerful search of all Federal Register documents since 1994 by Unified Agenda' %>
  <% meta_robots("NOFOLLOW") %>
<% else %>
  <% meta_robots("NOINDEX, NOFOLLOW") %>
<% end %>

<div class="title"><span>Search the Unified Agenda</span></div>

<%= render :esi => regulatory_plan_search_header_path(params.except(:action)) %>

<% unless @search.blank? %>
  <div class="filters">
    <%= render :esi => regulatory_plan_search_facets_path(params.except(:action).merge(:facet => 'priority_category')) %>
    <%= render :esi => regulatory_plan_search_facets_path(params.except(:action).merge(:facet => 'agency')) %>
  </div>

  <%= render :esi => regulatory_plan_search_results_path(params.except(:action)) %>
<% end %>
