body {
font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
a:focus {
outline:1px dotted;
}
hr {
border-color:#CCCCCC;
border-right:0 solid #CCCCCC;
border-style:solid;
border-width:1px 0 0;
clear:both;
height:0;
}
h1 {
font-size:25px;
}
h2 {
font-size:23px;
}
h3 {
font-size:21px;
}
h4 {
font-size:19px;
}
h5 {
font-size:17px;
}
h6 {
font-size:15px;
}
ol {
list-style:decimal outside none;
}
ul {
list-style:disc outside none;
}
li {
margin-left:30px;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
margin-bottom:20px;
}
