.container {
  margin: 0 auto;
  width: 960px;
}
.grid {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
.grid_1 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
}
.grid_2 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}
.grid_3 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
}
.grid_4 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
.grid_5 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
}
.grid_6 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
}
.grid_7 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
}
.grid_8 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
.grid_9 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 520px;
}
.grid_10 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
}
.grid_11 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 640px;
}
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}
.grid_13 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 760px;
}
.grid_14 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
}
.grid_15 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 880px;
}
.grid_16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
.prefix_1 { padding-left: 60px; }
.prefix_2 { padding-left: 120px; }
.prefix_3 { padding-left: 180px; }
.prefix_4 { padding-left: 240px; }
.prefix_5 { padding-left: 300px; }
.prefix_6 { padding-left: 360px; }
.prefix_7 { padding-left: 420px; }
.prefix_8 { padding-left: 480px; }
.prefix_9 { padding-left: 540px; }
.prefix_10 { padding-left: 600px; }
.prefix_11 { padding-left: 660px; }
.prefix_12 { padding-left: 720px; }
.prefix_13 { padding-left: 780px; }
.prefix_14 { padding-left: 840px; }
.prefix_15 { padding-left: 900px; }
.suffix_1 { padding-right: 60px; }
.suffix_2 { padding-right: 120px; }
.suffix_3 { padding-right: 180px; }
.suffix_4 { padding-right: 240px; }
.suffix_5 { padding-right: 300px; }
.suffix_6 { padding-right: 360px; }
.suffix_7 { padding-right: 420px; }
.suffix_8 { padding-right: 480px; }
.suffix_9 { padding-right: 540px; }
.suffix_10 { padding-right: 600px; }
.suffix_11 { padding-right: 660px; }
.suffix_12 { padding-right: 720px; }
.suffix_13 { padding-right: 780px; }
.suffix_14 { padding-right: 840px; }
.suffix_15 { padding-right: 900px; }
.push_1 { left: 60px; }
.push_2 { left: 120px; }
.push_3 { left: 180px; }
.push_4 { left: 240px; }
.push_5 { left: 300px; }
.push_6 { left: 360px; }
.push_7 { left: 420px; }
.push_8 { left: 480px; }
.push_9 { left: 540px; }
.push_10 { left: 600px; }
.push_11 { left: 660px; }
.push_12 { left: 720px; }
.push_13 { left: 780px; }
.push_14 { left: 840px; }
.push_15 { left: 900px; }
.pull_1 { left: -60px; }
.pull_2 { left: -120px; }
.pull_3 { left: -180px; }
.pull_4 { left: -240px; }
.pull_5 { left: -300px; }
.pull_6 { left: -360px; }
.pull_7 { left: -420px; }
.pull_8 { left: -480px; }
.pull_9 { left: -540px; }
.pull_10 { left: -600px; }
.pull_11 { left: -660px; }
.pull_12 { left: -720px; }
.pull_13 { left: -780px; }
.pull_14 { left: -840px; }
.pull_15 { left: -900px; }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
header { margin-bottom: 30px; }
header #issue_and_search_bar {
  background: #636363;
  background: rgba(99, 99, 99, 0.3);
  height: 30px;
  margin-bottom: 2px;
}
header #issue_and_search_bar .container { position: relative; }
header #issue_and_search_bar p {
  color: #919191;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 30px;
  margin: 0;
}
header #issue_and_search_bar form {
  position: absolute;
  right: 0;
  top: 3px;
}
header #issue_and_search_bar form input { border: 1px solid #919191; }
header #issue_and_search_bar form input.search_btn {
  background: #737373;
  color: #ffffff;
  cursor: pointer;
  font-family: "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  padding: 0px;
}
header #issue_and_search_bar form label { display: none; }
header nav {
  border-top: 2px solid #e4a529;
  margin-bottom: 5px;
  overflow: hidden;
}
header nav ul {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 785px;
}
header nav ul li {
  border-top: 5px solid transparent;
  display: block;
  float: left;
  font-size: 12px;
  list-style: none;
  margin-left: 30px;
}
header nav ul li.on { border-top: 5px solid #e4a529; }
header nav ul li:hover { border-top: 5px solid #e4a529; }
header nav ul li:focus { border-top: 5px solid #e4a529; }
header nav ul li:first-child { margin-left: 0; }
header nav ul li a {
  color: #6d6e71;
  text-decoration: none;
  text-transform: uppercase;
}
header hgroup {
  background: url(/images/logotype.png) no-repeat left top;
  margin: 0 auto;
  width: 960px;
  display: block;
  height: 64px;
  position: relative;
  text-indent: -9999px;
}
header hgroup h1 { float: left; }
header hgroup h2 { float: left; }
header hgroup h1 a {
  display: block;
  height: 64px;
  width: 543px;
}
