@import "compass";

/* TODO test this thoroughly */
#main ul.bullets li {
  zoom: 1;
  }
  
.title_bar .small_stack {
  @include inline-block;
  margin-right: 0;
  zoom: 1;
  }  

.footer {
  margin-top: 1em;
  }
  
.button.format {
  padding: 0 0 0 25px;
  }
  
/******************************

NAV

******************************/
#navigation .dropdown {
  position: relative;
  width: 110px;
  }
#navigation .dropdown .arrow {
  position: absolute;
  right: 2px;
  top: 2px;
  }
#navigation .dropdown.nav_sections { width: 113px; }
#navigation .dropdown.nav_browse { width: 112px; }
#navigation .dropdown.nav_policy { width: 92px; }
#navigation .dropdown.nav_learn { width: 92px; }
#navigation .dropdown.nav_blog { width: 70px; }

#navigation #term {
  border: 0;
  padding: 2px 0 0 0;
  outline: none;
  }

/******************************

HOMEPAGE

******************************/
.home #popular.with_icon .header_with_icon {
  margin-bottom: .5em;
  }
#special.home #popular .header_with_icon {
  height: 40px;
  }  
#slideshow .stats li span {
  zoom: 1;
  }
#current_issue.error p {
  top: 7px;
  }  
    
/******************************

SECTION

******************************/

#comments-closing-opening .header-nav .tabs-nav {
  margin-left: 10px;
  }
#comments-closing-opening .header-nav .tabs-nav li {
  display: block;
  float: left;
  }
.section.whats_hot ol {
  margin-left: 15px;
  }
  
/******************************

ARTICLE

******************************/
  
.citation_box li {
  zoom: 1;
  }
.button {
  zoom: 1;
  }  
#font_controls h1 {
  margin-right: .5em;
  }

.timeline .timeline_item.lastchild {
  margin-right: 0;
  }

/******************************

SEARCH

******************************/  
  
#search .tabs li {
  display: inline;
  }
#search .search_bar {
  *padding-bottom: 0; /* TODO remove hack */
  }
  
/* TODO this is not a fix */  
#search .active_filter_list li {
  border-top-width: 4px;
  }  
#search .pagination {
  margin-bottom: 2em;  
  padding-bottom: 2px;
  } 
#header #search_bar .search_btn,    
#conditions_submit,
#blog-search-submit {
  line-height: 0;
  } 
.filters .actions li {
  zoom: 1;
  }
#search li.location input.submit {
  line-height: 1;
  }
.result_set.events .results .actions,
.result_set.events .results > li:hover .actions {
  filter: none;
  }  
.result_set.events .results .actions a {
  display: block;
  }
#citations .search_bar {
  margin-bottom: 1em;
  } 
.pages,
#toggle_advanced {
  width: 150px;
  }

/******************************

ADVANCED SEARCH

******************************/

.formtastic fieldset {
  position: relative;
  }
.formtastic fieldset legend {
  position: absolute;
  top: 0;
  left: 0;
  }
.formtastic .zip legend {
  //left: -2em;
  }   
.formtastic fieldset ol,
.formtastic .show_labels .check_boxes ol,
.formtastic .bsmContainer {
  margin-left: 17em;
  }
.formtastic .show_labels ol,
.formtastic .buttons ol {
  margin-left: 0;
  }
#main .formtastic .string {
  clear: both;
  }
#main .formtastic .exact_date,  
#main .formtastic .exact_year,  
#main .formtastic .exact_year select,
#main .formtastic .zip select {
  display: inline;
  float: none;
  margin: 0;
  }
#main .range_start { 
  margin-left: 0; 
  }
.bsmListItemLabel,
.bsmListItem .remove {
  float: left;
  }
.bsmListItem .remove {
  margin-top: 3px;
  }
.formtastic .advanced #conditions_submit {
  padding: 0;
  text-align: center;
  }
.formtastic .date_options .date {
  display: inline;
  float: none;
  }
.formtastic .show_labels .docket {
  display: block;
  }

#main .formtastic .advanced .date_options .select {
  clear: both;
  display: block;
  }
#main .formtastic .advanced .date_options .select select {
  margin-left: 0;
  }
.has_js #main .formtastic .advanced .date_options .select select  {
  margin-left: 8.5em;
  }
   
/******************************

TOPIC LIST

******************************/ 

div.actions ul {
  display: inline;
  } 
  
.formtastic .date_options .range {
  float: left;
  }
  
/******************************

BLOG

******************************/  

#wordpress .meta {
  margin-top: 1em;
  margin-bottom: 0;
  }
#wordpress .blog_post_list .article {
  padding-bottom: 0;
  }
#wordpress .meta_actions ul ul,
#wordpress .meta_actions li {
  zoom: 1;
  }
#wordpress .meta_actions li.comments span {
  top: 0;
  }  

/******************************

EMAIL SUBS

******************************/  

#emails #entry_email_send_me_a_copy {
  border: 0;
  }

 #modal.subscribe .icons li {
   border: none;
   margin-bottom: 0;
   padding-bottom: 0;
  }
#modal.subscribe .icons .email,
#subscriptions .icons .email {
  width: 350px;
  }
