@import "compass";

/* TODO test this thoroughly */
#main ul.bullets li {
  zoom: 1;
  }
  
.title_bar .small_stack {
  @include inline-block;
  margin-right: 0;
  zoom: 1;
  }  

/******************************

NAV

******************************/
#primary_nav {
  background: url(/images/nav_bg.png);
  }
#primary_nav a:hover,
#primary_nav a:focus {
  text-decoration: underline;
  }
#primary_nav .science-and-technology {
  width: 80px;
  }
#primary_nav .business-and-industry {
  width: 80px;
  }
#primary_nav .health-and-public-welfare {
  width: 115px;
  }
#header #browse_container {
  right: 20px;
  width: 110px;
  }  
  
/******************************

HOMEPAGE

******************************/
.home #popular.with_icon .header_with_icon {
  margin-bottom: .5em;
  }
#special.home #popular .header_with_icon {
  height: 40px;
  }  
#slideshow .stats li span {
  zoom: 1;
  }
    
/******************************

SECTION

******************************/

#comments-closing-opening .header-nav .tabs-nav {
  margin-left: 10px;
  }
#comments-closing-opening .header-nav .tabs-nav li {
  display: block;
  float: left;
  }
.section.whats_hot ol {
  margin-left: 15px;
  }
  
/******************************

ARTICLE

******************************/
  
.citation_box li {
  zoom: 1;
  }
.button {
  zoom: 1;
  }  
#font_controls h1 {
  margin-right: .5em;
  }

/******************************

SEARCH

******************************/  
  
#search .tabs li {
  display: inline;
  }
#search .search_bar {
  padding-bottom: 0;
  }
  
/* TODO this is not a fix */  
#search .active_filter_list li {
  border-top-width: 4px;
  }  
#search .pagination {
  margin-bottom: 2em;  
  padding-bottom: 2px;
  } 
#header #search_bar .search_btn,    
#conditions_submit {
  line-height: 0;
  } 
.filters .actions li {
  zoom: 1;
  }
#search li.location input.submit {
  line-height: 1;
  }
.result_set.events .results .actions,
.result_set.events .results > li:hover .actions {
  filter: none;
  }  
.result_set.events .results .actions a {
  display: block;
  }
 
/******************************

TOPIC LIST

******************************/ 

div.actions ul {
  display: inline;
  } 