#comments-closing-opening .header-nav .small_stack {
  float: left;
  margin-top: 10px;
  }
#comments-closing-opening .header-nav .tabs-nav {
  display: inline !important;
  margin-left: 10px;
  margin-top: -4px;
  }
#comments-closing-opening .header-nav .tabs-nav li {
  display: block;
  float: left;
  }