@import "compass";
@import "library";

/******************************

GENERAL

******************************/

#main {
  margin: 0 auto;
  width: 960px;
  }

/* turn off the icons */
#main .external  {
  background-image: none;
  padding-left: 0;
  }
#header #primary_nav li {
  background-image: none;
  }
.row {
  clear: both;
  }
#sections #main .article {
  border-bottom: none;
  }
.metadata_share_bar,
.font_control_wrapper,
.aside_box {
  @include clearfix;
  }
.titlebar,
.filters li,
.search_info {
  zoom: 1;
  }  

/******************************

HEADER

******************************/
#primary_nav {
  background: #b7c8cc;
  }
#header_logo {
  background: image-url('ie6/logotype.png') no-repeat;
  }
#header #search {
  background: #b7c8cc image-url('ie6/search_bg_wide.png') no-repeat left 2px;
  }
#header #search .search_btn {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/header_search_button.png', sizingMethod='image');  
  }
#search label {
  display: none;
  }
#search_container #browse_container {
  top: 5px;
  } 

/******************************

HOMEPAGE

******************************/

#news .celebrating {  
  background: image-url('ie6/celebrating_75.png') no-repeat;
  }  
#slideshow .stats {
  display: none;
  }
#current_issue {
  background: $pale_green image-url('ie6/current_issue.png') no-repeat;
  }
#popular {
  background: image-url('ie6/icon_whats_hot.png') no-repeat 30px 15px;
  }
.home #agency_highlight.with_icon .header_with_icon {
  background: image-url('ie6/icon_highlighted_opportunity.png') no-repeat 20px 50px;  
  }
.home #fr_movie.with_icon .header_with_icon {
  background: image-url('ie6/icon_movie.png') no-repeat 0 10px;
  }
  
#slideshow .container .news_content {
  height: 318px;
  position: relative;
  width: 423px;
  }
.home #top_news_promo ul.section_nav li {
  background-image: none;
  width: 190px;
  }
.home #top_news_promo ul.section_nav li a {
  line-height: 1;
  }  
#top_news_promo ul.section_nav li.money a { background: image-url('ie6/icon_money_50.png') no-repeat 5px 5px; }  
#top_news_promo ul.section_nav li.environment a { background: image-url('ie6/icon_environment_50.png') no-repeat 5px 5px; }
#top_news_promo ul.section_nav li.world a { background: image-url('ie6/icon_world_50.png') no-repeat 5px 5px; }  
#top_news_promo ul.section_nav li.science-and-technology a { background: image-url('ie6/icon_science_50.png') no-repeat 5px 5px; } 
#top_news_promo ul.section_nav li.business-and-industry a { background: image-url('ie6/icon_business_50.png') no-repeat 5px 5px; }  
#top_news_promo ul.section_nav li.health-and-public-welfare a { background: image-url('ie6/icon_health_50.png') no-repeat 10px 5px; } 
#top_news_promo ul.section_nav li.one_word a { line-height: 31px; }  
#top_news_promo ul.section_nav li.on {
  background-color: none;
  background: image-url("ie6/promo_nav_bg_on_new.png") no-repeat right top;
  }
#top_news_promo ul.section_nav li.on a {
  background-image: none;
  }  
#top_news_promo ul.section_nav li.money.on a { background: $golden image-url('ie6/icon_money_nav_on.png') no-repeat 5px 5px; }  
#top_news_promo ul.section_nav li.environment.on a {background: $golden image-url('ie6/icon_environment_nav_on.png') no-repeat 5px 5px; }
#top_news_promo ul.section_nav li.world.on a { background: $golden image-url('ie6/icon_world_nav_on.png') no-repeat 5px 5px; }  
#top_news_promo ul.section_nav li.science-and-technology.on a { background: $golden image-url('ie6/icon_science_nav_on.png') no-repeat 5px 5px; } 
#top_news_promo ul.section_nav li.business-and-industry.on a { background: $golden image-url('ie6/icon_business_nav_on.png') no-repeat 5px 5px; }  
#top_news_promo ul.section_nav li.health-and-public-welfare.on a { background: $golden image-url('ie6/icon_health_nav_on.png') no-repeat 5px 5px; }

#special .fr_section.money { background: image-url('ie6/icon_money.png') no-repeat 10px 0; }
#special .fr_section.environment { background: image-url('ie6/icon_environment.png') no-repeat 10px 0; }
#special .fr_section.world { background: image-url('ie6/icon_world.png') no-repeat 10px 0; }
#special .fr_section.science-and-technology { background: image-url('ie6/icon_science.png') no-repeat 10px 0; }  
#special .fr_section.business-and-industry { background: image-url('ie6/icon_business.png') no-repeat 10px 0; }
#special .fr_section.health-and-public-welfare { background: image-url('ie6/icon_health.png') no-repeat 18px 0; }
  
/******************************

GENERAL PAGE ITEMS

******************************/

.agency_list_info .article_count,
.search_info .article_count {
  display: inline;
  }
.agency_list_info .actions,
.search_info .actions {
  top: 0;
  }  
#main #content_area, 
#main #sidebar {
  margin: 0;
  }
#comments-closing-opening .header-nav {
  display: none;
  }
#comments-closing-opening.active .header-nav {
  border-top: 3px solid $dark_blue;
  display: block;
  position: relative;
  }
#disclaimer h1 {
  background: image-url('ie6/disclaimer.png') no-repeat left top;
  }

.button.format.pdf { background: image-url('ie6/icon_pdf.png') no-repeat left top; }
.button.format.xml { background: image-url('ie6/icon_xml.png') no-repeat left top; }
.citation_box li.twitter { background: image-url('ie6/icon_twitter.png') no-repeat; }
.citation_box li.facebook { background: image-url('ie6/icon_facebook.png') no-repeat; }
.citation_box li.digg { background: image-url('ie6/icon_digg.png') no-repeat; }
.citation_box li.cite_volume { background: image-url('ie6/icon_volume.png') no-repeat;  }
.citation_box li.cite_page { background: image-url('ie6/icon_page.png') no-repeat;  }
.citation_box li.link { background: image-url('ie6/icon_link.png') no-repeat;  }
.citation_box li.email { background: image-url('ie6/icon_email.png') no-repeat; }
.citation_box li.next { background: image-url('ie6/icon_next.png') no-repeat; }
.citation_box li.top { background: image-url('ie6/back_to_top.png') no-repeat; }
.rss { background: image-url('ie6/icon_rss.png') no-repeat; }
.rss:hover { background: image-url('ie6/icon_rss_hover.png') no-repeat;  }
.comments_close { background: image-url('ie6/icon_comment.png') no-repeat; }

/******************************

SECTION

******************************/

.three_col_list.comments .group h3 {
  width: 100px;
  }

/******************************

MODAL

******************************/

#modal {
  position: absolute;
  }