@import "compass";

/* NARA Seal */
body {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/seal.png', sizingMethod='image');
  }

#special #main #top_news_promo ul.section_nav li,
#special #main #top_news_promo ul.section_nav li a,
#special #main .with_icon .header_with_icon,
#special #main .fr_section,
#main #disclaimer h1,
#main .rss  {
  background-image: none;
  padding-left: 0;
  }
.row {
  clear: both;
  }
#sections #main .article {
  border-bottom: none;
  }
#header_logo {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logotype.png', sizingMethod='image');
  margin-left: 0;
  }

#header #search {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/search_bg_wide.png', sizingMethod='image');
  }
#header #search .search_btn {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/header_search_button.png', sizingMethod='image');  
  }

.metadata_share_bar,
.font_control_wrapper,
.aside_box {
  @include clearfix;
  }
.titlebar,
.filters li,
.search_info {
  zoom: 1;
  }
.agency_list_info .article_count,
.search_info .article_count {
  display: inline;
  }
.agency_list_info .actions,
.search_info .actions {
  top: 0;
  }  
#main #content_area, 
#main #sidebar {
  margin: 0;
}

#main .citation_box li {
  background-image: none;
  padding-left: 0;
  }