/******************************

SECTIONS

******************************/
#sections div.title span {
  top: -38px;
  }
#sections a.subscription {
  top:-44px;
  z-index: 600;
  display: inline-block;
  }
#sections .title_icon {
  left: -249px;
  }


/******************************

CANNED SEARCH SHOW

******************************/ 
.wf-active #canned_searches a.subscription {
  top: -6px;
  }
#frequency-header {
  width: 140px;
  }
ul#frequency-spark-lines {
  width: 789px;
  }
