#nav
  :background-color #005b81
  :border-bottom 5px solid #39505e
  :float left
  :height 25px
  :padding 3px 0 5px 0 
  :width 100%  
  ul
    :float left
    :margin 2px 0 0 0
    :padding 0 0 0 20px
    li
      :color #aaa
      :float left
      :font 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif     
      :list-style-type none
      :margin-right 5px
      a
        :color #fff
        :font .8em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
        :text-decoration none
        :text-transform uppercase
        &:hover
          :color #fa6900  
  .search
    :float right
    :height 25px
    :margin 2px 0 0 0
    :padding 0 0 0 0    
    :width 220px
    form
      :background url(/images/search_bg3.png) no-repeat top right
      :height 25px
      :width 200px      
      :margin 0 20px 0 0
      ul
        :margin 0
        :padding 0
        li
          :font-size 100%
        input#q
          :border none
          :display block
          :float left
          :height 15px
          :margin 5px 0 0 10px 
          :padding 0
          :width 165px
          &:focus
            :outline none
        input.search_btn
          :background url(/images/icon_search.png) no-repeat right 50%
          :border none
          :cursor pointer  
          :height 23px
          :padding 0
          :position absolute
          :right -15px
          :top -5px
          :outline none
          :width 12px