.container {
  margin: 0 auto;
  width: 960px;
}
.grid {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
.grid_1 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
}
.grid_2 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}
.grid_3 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
}
.grid_4 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
.grid_5 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
}
.grid_6 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
}
.grid_7 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
}
.grid_8 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
.grid_9 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 520px;
}
.grid_10 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
}
.grid_11 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 640px;
}
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}
.grid_13 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 760px;
}
.grid_14 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
}
.grid_15 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 880px;
}
.grid_16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
.prefix_1 { padding-left: 60px; }
.prefix_2 { padding-left: 120px; }
.prefix_3 { padding-left: 180px; }
.prefix_4 { padding-left: 240px; }
.prefix_5 { padding-left: 300px; }
.prefix_6 { padding-left: 360px; }
.prefix_7 { padding-left: 420px; }
.prefix_8 { padding-left: 480px; }
.prefix_9 { padding-left: 540px; }
.prefix_10 { padding-left: 600px; }
.prefix_11 { padding-left: 660px; }
.prefix_12 { padding-left: 720px; }
.prefix_13 { padding-left: 780px; }
.prefix_14 { padding-left: 840px; }
.prefix_15 { padding-left: 900px; }
.suffix_1 { padding-right: 60px; }
.suffix_2 { padding-right: 120px; }
.suffix_3 { padding-right: 180px; }
.suffix_4 { padding-right: 240px; }
.suffix_5 { padding-right: 300px; }
.suffix_6 { padding-right: 360px; }
.suffix_7 { padding-right: 420px; }
.suffix_8 { padding-right: 480px; }
.suffix_9 { padding-right: 540px; }
.suffix_10 { padding-right: 600px; }
.suffix_11 { padding-right: 660px; }
.suffix_12 { padding-right: 720px; }
.suffix_13 { padding-right: 780px; }
.suffix_14 { padding-right: 840px; }
.suffix_15 { padding-right: 900px; }
.push_1 { left: 60px; }
.push_2 { left: 120px; }
.push_3 { left: 180px; }
.push_4 { left: 240px; }
.push_5 { left: 300px; }
.push_6 { left: 360px; }
.push_7 { left: 420px; }
.push_8 { left: 480px; }
.push_9 { left: 540px; }
.push_10 { left: 600px; }
.push_11 { left: 660px; }
.push_12 { left: 720px; }
.push_13 { left: 780px; }
.push_14 { left: 840px; }
.push_15 { left: 900px; }
.pull_1 { left: -60px; }
.pull_2 { left: -120px; }
.pull_3 { left: -180px; }
.pull_4 { left: -240px; }
.pull_5 { left: -300px; }
.pull_6 { left: -360px; }
.pull_7 { left: -420px; }
.pull_8 { left: -480px; }
.pull_9 { left: -540px; }
.pull_10 { left: -600px; }
.pull_11 { left: -660px; }
.pull_12 { left: -720px; }
.pull_13 { left: -780px; }
.pull_14 { left: -840px; }
.pull_15 { left: -900px; }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.box_transition {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
body {
  color: #363636;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
strong { font-weight: 500; }
p { line-height: 22px; }
#main {
  margin: 0 auto;
  width: 960px;
}
#seal {
  background: url(/images/seal.png) no-repeat left top;
  display: block;
  height: 331px;
  position: absolute;
  top: 0;
  right: -100px;
  width: 436px;
  z-index: -1;
}
.title {
  background: #5697cf url(/images/header_bg.png) repeat-x left top;
  color: #3d6e99;
  clear: both;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 0px;
  margin-left: -999px;
  margin-bottom: 50px;
  padding-left: 999px;
  text-align: right;
  text-transform: uppercase;
}
.title span {
  background: #ffffff;
  color: #5697cf;
  padding: 0 10px;
  margin: 0 25px 0 0;
}
article h1 {
  font-family: "gloriola-web-1", "gloriola-web-2", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  margin-bottom: 5px;
}
article h1 a {
  border: none;
  color: #d49931;
  text-decoration: none;
}
article .metadata {
  color: #7a838a;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 25px;
}
article .metadata a { color: #7a838a; }
article .summary { margin-bottom: 0; }
article {
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
article figure {
  background: #e6e6e6;
  float: left;
  padding: 10px;
  position: relative;
}
article figcaption {
  background: #000000;
  background: rgba(0, 0, 0, 0);
  bottom: 15px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0);
  font-size: 10px;
  padding: 0 5px;
  position: absolute;
  width: 130px;
}
article figcaption a { color: rgba(255, 255, 255, 0); }
article figure:hover figcaption {
  background: rgba(0, 0, 0, 0.7);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: #ffffff;
}
article figure:hover figcaption a {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: #ffffff;
}
section {
  text-align: right;
  margin-bottom: 50px;
}
section h1 {
  background: #5697cf url(/images/header_bg.png) repeat-x left top;
  color: #5697cf;
  font-size: 16px;
  line-height: 13px;
  text-align: left;
  text-transform: uppercase;
}
section h1 span {
  background: #ffffff;
  padding: 0 5px;
  margin: 0 0 0 10px;
}
section.stats ul { list-style: none; }
#content_area {
  margin-left: 0;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 640px;
  padding-right: 60px;
}
aside {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-right: 0;
}
article.with_photo .info {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
article.with_photo .photo {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
}
article.with_photo.on_left .photo {
  left: -480px;
  margin-right: 0;
}
article.with_photo.on_left .info {
  left: 180px;
  margin-left: 0;
}
article.with_photo.on_right .photo { margin-right: 0; }
article.with_photo.on_right .info { margin-left: 0; }
.button {
  background: #e6e6e6;
  color: #6e6e6e;
  font-weight: bold;
  padding: 12px 10px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.button.rss {
  background-image: url(/images/rss_icon_line.png);
  background-position: 10px 11px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
