@import 'grid.css';

.rounded_corners (@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.box_transition {
     -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
}


body {
  color: #363636;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px; }

strong {
  font-weight: 500; }

p {
  line-height: 22px; }

#main { 
  .container; }

#seal {
  background: url(/images/seal.png) no-repeat left top;
  display: block;
  height: 331px;
  position: absolute;
  top: 0;
  right: -100px;
  width: 436px;  
  z-index: -1; }    
  
.title {
  background: #5697cf url(/images/header_bg.png) repeat-x left top;
  color: #3d6e99;
  clear: both;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 0px;
  margin-left: -999px;
  margin-bottom: 50px;
  padding-left: 999px;
  text-align: right;
  text-transform: uppercase; }   

.title span {
  background: #fff;  
  color: #5697cf;
  padding: 0 10px; 
  margin: 0 25px 0 0; }
  
article h1 { 
  font-family: "gloriola-web-1","gloriola-web-2",sans-serif;
  font-size: 20px;  
  font-weight: normal;
  line-height: 25px;  
  margin-bottom: 5px; }

article h1 a {
  border: none;
  color: #d49931;
  text-decoration: none; }
  
article .metadata {
  color: #7a838a;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 25px; }
  
article .metadata a {
  color: #7a838a; }    

article .summary {
  margin-bottom: 0;
  }
  
article {
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
  margin-bottom: 25px;
  padding-bottom: 25px; }
  
article figure {
  background: #e6e6e6;
  float: left;  
  padding: 10px;
  position: relative; } 

article figcaption {
  background: #000;
  background: rgba(0,0,0, .0);
  bottom: 15px;
  color: #fff;
  color: rgba(255,255,255, 0);
  font-size: 10px;
  padding: 0 5px;
  position: absolute;
  width: 130px; 
  }   
article figcaption a {
  color: rgba(255,255,255, 0);
}  
article figure:hover figcaption {  
  background: rgba(0,0,0, .7);
  .box_transition;
  color: rgba(255,255,255, 1);  
  }
article figure:hover figcaption a {
  .box_transition;  
  color: rgba(255,255,255, 1);
  }
    
section {
  text-align: right;
  margin-bottom: 50px; }  
  
section h1 {
  background: #5697cf url(/images/header_bg.png) repeat-x left top;
  color: #5697cf;
  font-size: 16px;
  line-height: 13px;  
  text-align: left;
  text-transform: uppercase; }   
  
section h1 span {
  background: #fff;
  padding: 0 5px; 
  margin: 0 0 0 10px; }  

section.stats ul {
  list-style: none; }  

#content_area {
  .alpha;
  .grid_11;
  .suffix_1; }

aside {
  .grid_4;
  .omega; }
  
article.with_photo .info {
  .grid_8; }
article.with_photo .photo {
  .grid_3; }
article.with_photo.on_left .photo {
  .pull_8;
  .omega; }
article.with_photo.on_left .info {
  .push_3;
  .alpha; }  
article.with_photo.on_right .photo {
  .omega; }
article.with_photo.on_right .info {
  .alpha; }
  
.button {
  background: #e6e6e6;
  color: #6e6e6e;
  font-weight: bold;
  padding: 12px 10px 7px;
  .rounded_corners(5px);
  text-decoration: none;  
  }

.button.rss {
  background-image: url(/images/rss_icon_line.png);
  background-position: 10px 11px;
  background-repeat: no-repeat;
  padding-left: 30px;
    
  }             