strong {
font-weight: 500;
}
a {
color: #849bb0;
}
p {
font-size: 1.2em;
line-height: 1.5em;
margin-bottom: 1.5em;
}
h1 {
font-size: 3em;
margin-bottom: 0.6em;
line-height: 1.2em;
}
h2 {
font-size: 2em;
margin-bottom: 0.9em;
line-height: 0.9em;
}
h3 {
font-size: 1.5em;
margin-bottom: 1.2em;
line-height: 1.2em;
}
h4 {
font-size: 1.2em;
margin-bottom: 1.5em;
line-height: 1.5em;
}
h5 {
font-size: 1em;
margin-bottom: 1.8em;
line-height: 1.8em;
}
h6 {
font-size: 1em;
margin-bottom: 1.8em;
line-height: 1.8em;
}
