#ticker_container
  :height 30px
  :position absolute  
  :top 0 
  :width 100%
  :z-index 5999  
#ticker
  :background url(/images/ticker_bg3.png) no-repeat left top
  :height 30px
  :margin 0 auto
  :position relative  
  :width 950px
  .pulse
    :height 26px
    :position absolute
    :top 3px
    :width 147px
    &.left
      :background url(/images/ticker_pulse_left2.png) no-repeat 2px top
      :left 0
    &.right
      :background url(/images/ticker_pulse_right2.png) no-repeat -2px top
      :right 0
  p.loading
    :color #333333
    :height 29px
    :line-height 29px
    :margin 0
    :text-align center
  div.tip
    :display none
  .counter
    :left 115px
    :position absolute
    :top 5px
  .date
    :border-right 1px solid #ccc
    :color #636363
    :float left
    :font-weight bold
    :height 29px    
    :line-height 29px
    :margin 0 10px 0 100px    
    :padding-right 10px
    a
      :color #005B81
      &:hover
        :color #FA6900
  .daily
    :height 30px
    :float left
    :position relative    
    :overflow hidden    
    :width 560px
    ul
      :height 30px
      :margin 0
      :position absolute
      :width 99999px
      li 
        :float left
        :height 30px
        :line-height 29px
        :list-style none
        :width 560px
        a 
          :color #005B81
          :text-decoration none
          &:hover 
            :color #fa6900