@import compass/utilities/general.sass
body
  :min-height 100%
  :margin-bottom -150px
  :position relative
#wrapper
  :background url(/images/header_bottomshadow4.png) repeat-x left 180px
#ticker_container
  :height 30px
  :position absolute  
  :top 0 
  :width 100%
  :z-index 5999  
#ticker
  :background url(/images/ticker_bg3.png) no-repeat left top
  :height 30px
  :margin 0 auto
  :position relative  
  :width 950px
  .pulse
    :height 26px
    :position absolute
    :top 3px
    :width 147px
    &.left
      :background url(/images/ticker_pulse_left2.png) no-repeat 2px top
      :left 0
    &.right
      :background url(/images/ticker_pulse_right2.png) no-repeat -2px top
      :right 0
  p.loading
    :color #333333
    :height 29px
    :line-height 29px
    :margin 0
    :text-align center
  div.tip
    :display none
  .counter
    :left 115px
    :position absolute
    :top 5px
  .date
    :border-right 1px solid #ccc
    :color #636363
    :float left
    :font-weight bold
    :height 29px    
    :line-height 29px
    :margin 0 10px 0 100px    
    :padding-right 10px
    a
      :color #005B81
      &:hover
        :color #FA6900
  .daily
    :height 30px
    :float left
    :position relative    
    :overflow hidden    
    :width 560px
    ul
      :height 30px
      :margin 0
      :position absolute
      :width 99999px
      li 
        :float left
        :height 30px
        :line-height 29px
        :list-style none
        :width 560px
        a 
          :color #005B81
          :text-decoration none
          &:hover 
            :color #fa6900
#header
  :background #f5f8f9 url(/images/header_bg.png) repeat-x bottom left
  :border-left 1px solid #27338b  
  :border-right 1px solid #27338b
  :height 151px   
  :position relative
  :z-index 5999
  .type
    :background url(/images/header_type.png) no-repeat top left
    :display block
    :float left
    :height 61px
    :left 20px
    :position absolute    
    :top 60px    
    :width 277px    
    a
      :display block
      :height 61px
      :width 277px
    h1
      :text-indent -9999px
  .capitol
    :background url(/images/header_capitol4.png) no-repeat  60px bottom
    :display block
    :position absolute
    :right 0
    :bottom 0
    :height 100%  
    :width 345px
#nav
  :background-color #005b81
  :border-bottom 5px solid #39505e
  :float left
  :height 25px
  :padding 3px 0 5px 0 
  :width 100%
  .search
    :float right
    :height 25px
    :margin 2px 0 0 0
    :padding 0 0 0 0    
    :width 220px
    form
      :background url(/images/search_bg3.png) no-repeat top right
      :height 25px
      :width 200px      
      :margin 0 20px 0 0
      input#q
        :border none
        :display block
        :float left
        :height 15px
        :margin 5px 0 0 10px 
        :padding 0
        :width 165px
        &:focus
          :outline none
      input.search_btn
        :background url(/images/icon_search.png) no-repeat top right
        :border none
        :cursor pointer  
        :float left 
        :height 20px
        :margin 3px 0 0 0
        :padding 0
        :outline none
        :width 15px   
  ul
    :float left
    :margin 2px 0 0 0
    :padding 0 0 0 20px
    li
      :color #aaa
      :float left
      :font 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif     
      :list-style-type none
      :margin-right 5px
      a
        :color #fff
        :font .8em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
        :text-decoration none
        :text-transform uppercase
        &:hover
          :color #fa6900   
.shadow
  :background url(/images/header_bg2.png) repeat-x top left
  :display inline-block
  :height 68px
  :position absolute
  :top 161px
  :width 100%
#main
  :clear both 
  :margin-top -9px !important
  :position relative
  .govpulse
    :color #5b5b5b
    span
      :color #fa6900
    &:hover
      :color #5b5b5b    
  .vote
    :float left
    :margin 0 10px 0 0
    &.big 
      :margin-bottom 15px
  h1  
    :color #46565c
    :font 2.5em Georgia,"Times New Roman",Serif
    :font-variant small-caps        
    :margin 0 0 10px 0
    :padding 0 0 0 0
    :text-align center
    &.noMargin
      :margin 0
  h2
    :color #46565c  
    :font 2em Georgia,"Times New Roman",Serif
    :font-variant small-caps
    :margin 0 0 .5em 0  
    span
      :font-size .6em  
  h3
    :border-bottom 1px solid #aaa
    :color #333
    :font 1.2em Georgia,"Times New Roman",Serif    
    :font-variant small-caps
    :margin 10px 0
    &:first-child
      :margin-top 0
    span.top
      :float right
  h4
    :border-bottom 1px solid #aaa
    :font 1.2em Georgia,"Times New Roman",Serif    
    :font-variant small-caps
    :margin 0 0 5px
    :float left 
    &.title
      :float none
  h5
    :color #333
    :font 1.1em sans-serif
    :padding 0
    :margin 0 0 5px 0
  p.votecenter
    :font-size 1.5em
    :text-align center
  a
    :border none
    :color #005b81
    :outline none  
    :text-decoration none
    &:link
    &:visited
      :color #7d7d7d
    &:hover
      :color #cf8227
    &:active
    &.raquo
      :background url(/images/raquo3.png) no-repeat 0 5px
      :padding 0 0 0 10px 
  span.gray
    :color #7D7D7D
  span.orange
    :color #fa6900
  ul
    /:padding 10px 0 0 0
    :padding 0
    :margin 0
    li
      :list-style-type none
      :padding 0 0 5px 0
      ul
        :padding 0
        /:margin-left 15px
        ul
          /:margin-left 15px
          :clear left
    li.group
      :padding 0 0 15px 0
    &.indent
      li
        :padding-left 1.5em
    &.bullets
      li
        :list-style-type disc !important
    &.raquo
      li
        :background url(/images/raquo3.png) no-repeat 4px 6px
      li.agency
        :background none
    &.agencyList
      li
        :height 25px
        a
          :display block
          :float left
          :margin-top 7px
      &.raquo
        li
          :background-position 4px 13px
    &.citation,
    &.citation-right_tip 
      div.tip
        :display none
  ul.btn
    li
      :padding 0
  &.sidebar
  .header
    :background #fff url(/images/main_hX_bg3.png) repeat-x left bottom
    :border 1px solid #bdbcbd
    :-moz-border-radius 5px
    :-webkit-border-radius 5px
    :margin 0 0 10px 0    
    :padding 3px 10px
    h1 
      :background-image none
      :float left
    h2
      :margin-bottom 0
    a.options
      :float right
    &.slide
      :margin-top -5px
    &.search
      :padding 10px
    &.calendar
      :position relative 
  .widget
    :border 1px solid #bdbcbd
    :border-top none
    :-moz-border-radius 5px
    :-webkit-border-radius 5px  
    :margin-bottom 10px
    .header
      :margin-bottom 0
  .content
    :min-height 600px
    :padding 20px 0
    ul.recent_prorule
      :max-height 250px
      :overflow auto
      :padding 0 10px 10px 10px
      li
        :border-top 1px solid #ddd
        :font-size 1.2em
        :padding-top 10px
        &:first-child 
          :border none
        a
          :font-weight bold
        span.details
          :font-size 12px
        ul
          li
            :border none
            :font-size 12px
            :padding-top 0
            a
              :font-weight normal
            
    .precolumn
      .votepane 
        :margin 0 auto
        :width 50%
      ul.agency_precolumn
        li
          :float left
          :margin 0 20px 20px 0
        li#col1
          :width 270px
          div.pulses
            :height 70px
        ul
          li
            :clear both
            :margin 0
      div.tag_cloud
        div.fancy
          :position relative
          :width 230px 
          :height 230px 
          :overflow hidden
      .large_map
        :width 900px
        :height 400px
        :margin-left auto
        :margin-right auto
        div.wml-text-background
          :opacity 0
        div.wml-copyright-text
          :width 900px
      .medium_map  
        :width 350px 
        :height 320px
        :margin 0 auto
        :padding 0 1em
        div.wml-info-window-content
          ul
            :margin 0
            li
              :margin-left 10px
      .infobox
        :padding 1em 0
        :margin 0 0 20px 0
        p
          :clear both    
          :margin 0
          :text-align center
          &.fed
            :width 100%
            :font 250% Georgia,"Times New Roman",Serif
            :color #46565C
            &.alt
              :color #fa6900
              :font-size 200%
          &.copy
            :width 700px
            :text-align justify
            :margin 10px auto
          &.stats
            span.num
              :display block
              :float left
              :margin-right 20px
              :text-align right
              :width 48%
            span.stat
              :display block
              :float left
              :text-align left  
              :width 48%
          span.around
            :color #f00
      div.entry_calendars
        :display none      
        :margin 0 auto
        :width 850px        
        div.search 
          :margin 0 auto
          :width 100%          
          form
            :color #005073
            :font-size 1.5em
            :text-align center
            :width 100%            
            #search
              :height 15px
        .group
          :float left
          :width 250px
          :margin 0 30px 30px 0
          tbody
            :height 135px
    .col1
      .filterBy
        :margin 13px 10px 0 0
      .fulltextWrapper
        :border 1px solid #ccc
        :-moz-border-radius 3px
        :-webkit-border-radius 3px                    
        :height 400px
        :margin-bottom 20px
        :overflow auto
        pre
          :background-color #fff
          :font-size 1.1em
          :margin 0
          :padding 10px
          :white-space pre-wrap     
          :white-space -moz-pre-wrap
          :white-space -pre-wrap 
          :white-space -o-pre-wrap  
          :word-wrap break-word 
      .calendar_date
        :display none
        .extra
          :display none
        span.more, span.less
          :float right
      ul.entries
        h2
          :margin-bottom 15px
    .col2
      .sidebar
        :padding-right 5px
        .hAction
          :position relative
          span.small_link            
            :font-size 85%
            :position absolute
            :right 0
        ul
          li
            :list-style-type none
        h2
          :border-bottom 1px solid #46565C
          /:color #ff8400
        h3 + ul
          :padding 0
        .small_map  
          :width 250px 
          :height 350px
          :margin 0 0 10px 7px
          div.wml-info-window-content
            ul
              :margin 0
              li
                :margin-left 10px
        div.featured_agencies
          :width 345px
          ul.entry_counts
            li
              :clear left
              a
                :float left
                :height 20px
                :margin-top 3px
                :line-height 25px
              div.viewport
                :*float left
                :width 135px
                :position relative
                :height 25px
                :overflow hidden
                ul
                  :float left
                  :height 75px
                  :position absolute
                  :top 0
                  li
                    :height 25px
        div.tag_cloud
          div.fancy
            :position relative
            :width 230px 
            :height 230px 
            :overflow hidden
        ul.social
          li
            :padding 5px 0 5px 30px 
          li#twitter
            :background url(/images/social/tweeter_24x24.png) no-repeat top left
          li#facebook
            :background url(/images/social/facebook_24x24.png) no-repeat top left
          li#digg
            :background url(/images/social/digg_24x24.png) no-repeat top left
          li#reddit
            :background url(/images/social/reddit_24x24.png) no-repeat top left
        span.social
          :display block
          :width 290px
        ul.congressional_members
          :padding 0 0 0 10px
          li.member_info
            span.member_details
              :display none
    .search
      /:background url(/images/search_bg.png) no-repeat top left
      :height 25px
      :margin 10px 0 20px 0
      :padding 0 10px 0 0    
      form
        input
          :margin 0
          &:focus
            :outline none          
    .currentevents 
      :vertical-align text-top  
      .header
        :margin 0
        :position relative
        :z-index 9999
      .slide
        :background #eee
        :margin-top -10px
        :z-index 5555
      .daily
        :height 7em
        :margin 10px 0 0 0
        :position relative
        :overflow hidden    
        ul.items
          :margin 0
          :height 10000em
          :position absolute
          li
            :float left
            :height 6em
            :list-style-type none
            :width 100%
            p.number
              :float left
              :font-family Arial, "MS Trebuchet", sans-serif
              :font-size 6em
              :font-weight bold
              :line-height 1
              :margin 0 15px 0 0
              :text-align right
              :width 115px
              :vertical-align text-top
            a
              :font 140% Georgia,"Times New Roman",Serif
              :padding-left 15px
              :text-decoration none 
              :width 95%
              &.entry
                :color #005B81
                :float left
                :margin-top 10px
              &.agency
                :color #999
                :float left
                :font-style italic
              &:hover
                :color #cf8227
  ul.btn
    :margin 10px 0 10px 0
    li
      :border 1px solid #747d87
      :float left
      :margin-right 5px
      :-moz-border-radius 5px
      :-webkit-border-radius 5px
      a
        :color #747d87
        :display block
        :font-weight bold
        :padding 0 5px
        :text-decoration none
        &:hover
          :background #747d87
          :color #fff
      &.on
        a
          :background #747d87
          :color #fff
    &.small
      li
        :margin-right 1px 
        :width 19px
        :height 20px
        a
          :padding 1px 2px 
          :text-align center
    li.livesearch 
      :background #fff    
      :-moz-border-radius 0
      :-webkit-border-radius 0  
      :float right  
      :height 18px    
      :line-height 16px
      input
        :border none
        :color #747d87  
        :margin 0 5px
        :padding 0
        :background transparent
        :width 114px
        :height 18px
        &:focus
          :outline none
      &.on 
        :border-width 2px    
        :height 16px  
        :line-height 14px   
          
  ul.count
    :margin 0
    :padding 0
    li
      :background #eef
      :border-left 1px solid transparent
      :border-right 1px solid transparent
      :-moz-border-radius 5px
      :-webkit-border-radius 5px
      :color #343434
      :font-size .8em
      :height 10px
      :margin 0 0 5px 0
      :position relative
      a
        :color #343434
        :font-weight bold
        :text-decoration none
      .info
        :display block
        :height 15px
        :line-height 16px
        :margin-left 10px
        :position relative
        :z-index 5555
      .bg
        :background url(/images/count_bg.png) repeat-x left top
        :border 1px solid #83bbd9        
        :-moz-border-radius 5px
        :-webkit-border-radius 5px        
        :display block
        :height 15px
        :left 0    
        :position absolute
        :top 0
        :z-index 1111
        
  .search_info
    p.entries
      :float left
      :margin 20px 0 0 0  
    .pagination
      :float right
      :margin 20px 0 0 0
      a
        :border 1px solid #aaa
        :padding 1px 3px
        &.next_page,
        &.prev_page 
          :border none
        &:hover
          :background #39505e
          :color #fff
  ol.results
    :clear both
    :margin 10px 0 0 0
    li
      :list-style-type none
      :margin 0 0 20px 0
      .result_info
        :padding 0 0 0 15px
        .date
          :color #565656
          :font-weight bold
  dl.fixed
    :width 600px
    dt
      :clear left
      :float left
      :text-align right
      :width 45%
    dd
      :float left
      :width 45%      
  table.calendar 
    :height 200px
    :margin 10px auto
    :width 50%
    th
      :background none
    th.current
      :border-bottom 1px solid grey
      :color #005073
      :font-size 1.5em
      :text-align center
    td.day
      a
        :font-weight bold
        &:visited
          :color #b48144
  .icon
    :padding 5px 0 5px 60px
    :background-repeat no-repeat
    &.cal
      :background-image url(/images/ical_small.gif)
      :background-position left top
      :height 24px
      :padding 0
      :position absolute
      :top 5px
      :right 10px
      :width 24px
    &.agency
      :background-image url(/images/icons/agency_small2.png)
      :background-position top left 
      :margin 0
      :padding 0 0 10px 65px
    &.contact
      :background-image url(/images/icons/contact_small.png)
      :background-position top left 
      :padding 32px 0 0 60px
    &.arrow
      :background-image url(/images/arrow.png)
      :background-position left 2px
      :margin 10px 0 0 0
      :padding 0 0 0 20px    
      :width 80px
      &.next
        :background-position right 2px   
        :padding 0 20px 0 0
        &.floatRight
          :float right
          :width auto
      &.open
        :background-position left -15px
      &:visited
        :color #005b81
      &.prev
        :background-position left -30px 
        &.floatLeft
          :float left
          :width auto
  input.btn
    :background #d9f0fc url(/images/btn_bg2.png) repeat-x left bottom
    :border 1px solid #83bbd9
    :cursor pointer
    :-moz-border-radius 5px
    :-webkit-border-radius 5px   
    :font-weight bold     
    :margin-bottom .5em    
    :padding 5px
    &:hover
      :background url(/images/btn_bg2_hover.png) repeat-x left 50%     
div.ornament
  :background url(/images/hr_bg3.png) no-repeat top center
  :display block
  :height 60px
  :margin 0 0 20px 0
form
  ul.searchform label
    :text-align right
    :width 5em
  input.labelHighlight 
    :color #aeaeae !important
  li
    span
      :color #6e6e6e
      :vertical-align middle
      &.under
        :display block
        :padding-left 72px
  li
    label.nextto 
      :clear none
      :display inline
      :float none
      :margin-left 10px
      :margin-right 10px
      :width auto
    input.miles
      :width 50px
#main form a.topic
  :background #dedede url(/images/topic_destroy.png) no-repeat 5px 4px
  :border 1px solid #dedede
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :border-radius 5px; /* future proofing */
  :-khtml-border-radius 5px; /* for old Konqueror browsers */
  :color #333
  :display block
  :float left 
  :margin-right 5px
  :padding 3px 10px 3px 25px
  &:hover
    :background-color #cdcdcd
    :background-position 5px -96px
#main .col2
  label
    :font-weight bold
    :width 35px
  input, select, span
    :float left
  span
    :padding 5px
  select
    :margin-top 8px
  input.pagenumber
    :margin-left 15px
    :width 75px
  input.btn
    :margin-left 15px
  h4 
    :border none
    :float none
    :font-weight bold
.panel
  :padding-top 2em
  &.on
    :display block

body #footer
  :background  #5a5a5a
  :border-top 4px solid #9b9b9b 
  :clear both
  :padding 2em 0 0 0
  :position absolute
  :width 100%
  :color #FFFFFF
  a
    :color #CF8227
  a.hover
    :color #005B81
  a.gravycones
    :background url(/images/gravycones.png) no-repeat left top
    :color #333
    :display block
    :height 46px
    :line-height 46px
    :padding-left 90px
    :text-decoration none
    :width 180px
  a.gravycones:hover 
    :background-position left -46px
    :color #b1a7a7
  h4
    :color #aaa
    :text-align center
  ul
    li
      :list-style none
  div.left
    :width 300px
    :float left
    :margin 0 0 10px 25px
  div.right
    :width 300px
    :float right
    :margin 0 25px 10px 0
  ul.contact
    li
      :padding 5px 0 5px 30px 
      a
        :padding 0 0 3px 0
    li#twitter
      :background url(/images/social/tweeter_24x24.png) no-repeat top left
    li#facebook
      :background url(/images/social/facebook_24x24.png) no-repeat top left 
.qtip-content
  :border 1px solid #ccc
  .tip
    :padding 1em 1em 0 1em
    .entry
      :color #ccc
      :float right
      :font-weight bold
      :margin 0
      :text-align center
    dl
      dt
        :border-bottom 1px solid #ccc
        :color #fa6900
        :font-weight bold
        :margin-bottom 2px
        :padding-bottom 2px
        :text-transform uppercase
      dd
        :color #39505e
        :margin 0 0 1em 1em

.home_search #location,
.location_search #location
  :border 1px solid #cbc8c0
  :-moz-border-radius 5px
  :-webkit-border-radius 5px 
  :height 16px
  :width 195px

#main .col2 .home_search .btn,
.location_search .btn
  :margin-left 5px
  :*font-size 11px
  :*width 112px

.widget_map 
  :background #e5ebee
  :border 1px solid #e5ebee
  :-moz-border-radius 3px
  :-webkit-border-radius 3px  
  :padding 10px 10px 5px 10px
  :width 325px

.widget_map.large 
  :-moz-border-radius 10px
  :-webkit-border-radius 10px 
  :padding 12px 10px 5px 10px
  :width 900px

.location_search
  :float right
  :margin-top 5px
    
div.wml-text-background
  :opacity 0
  
.icon_rss
  :background url(/images/rss_icon.gif) no-repeat left 1px
  :display block
  :margin-bottom 10px
  :padding-left 40px
.icon_widget
  :background url(/images/widget_icon.gif) no-repeat left 1px
  :display block
  :height 40px
  :padding-left 40px
#feedback  
  :background url(/images/feedback.png) no-repeat left top
  :bottom 20px
  :height 102px  
  :left -10px
  :position fixed
  :text-indent -9999px
  :width 40px 
  &:hover
    :background-position left -102px
#tender_window
  :z-index 999999 !important
.modal
  :background url(/images/modal_bg.png)
  :height 100%
  :position absolute
  :top 0
  :width 100%
  :z-index 8888

#main .modal_box
  :background #fff
  :border 5px solid #DDDDDD
  :-border-radius 10px
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :display none
  :padding 10px
  :position absolute
  :top -125px
  :width 673px
  :z-index 9999
  .modal_box_content
    :background #fff
    :padding 1em
    a.cancel
      :background url(/images/cross.png) no-repeat right 2px
      :font-weight bold
      :padding-right 20px
      :position absolute
      :right 10px
      :top 10px
    textarea
      :border-color #999
      :float left
      :height 265px
      :margin-right 15px
      :width 300px
    .preview
      :float left
    fieldset
      :border none
      :margin 0
    h3
      :border-bottom 1px solid #ccc
      :color #fa6900
      :font-family "Helvetica Neue",Arial,Helvetica,sans-serif
      :font-weight bold
.modal_instructions 
  .center
    :margin 0 auto
    :width 650px
  textarea
    :border-color #999
    :float left
    :height 265px
    :margin-right 15px
    :width 300px  
    :float left
  .preview
    :float left
.floatLeft
  :float left
.floatRight
  :float right  
.marginTop
  :margin-top 10px
.marginBottom
  :margin-bottom 10px !important  
.paddingLeft
  :padding-left 10px
ul.tag_cloud
  +tag-cloud(1.1em)
  li
    :float left
#tagcloud_label
  :background #005b81
  :border 2px solid #bde3f1
  :-moz-border-radius 5px
  :-webkit-border-radius 5px   
  :color #bde3f1 !important
  :font 14px Georgia,"Times New Roman",Serif !important
  :font-variant small-caps    
  :padding 5px
  