html
  :background #27338b url(/images/bg3.gif)
body
  :background url(/images/bg_overlay2.png) no-repeat top center
#wrapper
  :background url(/images/wrapper_bg.png) repeat-y top center
#header
  :background url(/images/header_bg3.png) repeat-x bottom left
  //:background #eaeaea url(/images/header_bg.png) repeat-x bottom left
  //:border-top 10px solid #666
  :border-left 1px solid #27338b  
  :border-right 1px solid #27338b
  :height 80px    
  :padding 0 0 20px 0
  :position relative
  :z-index 9999
  h1
    :color #737374
    :float left
    :font 330% Georgia,"Times New Roman",Serif
    :padding 20px 0 0 40px
    span
      :color #cf8227
  .nav
    :float right
    form
      :margin 10px 20px 0 0
    ul
      :float right
      :margin 10px 20px 0 0
      li
        :float left
        :list-style-type none
        :color #797979
        :font 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif        
        a
          :color #797979
          :font 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
          :text-decoration none
          :text-transform uppercase
          &:hover
            :color #344391
            :border-bottom 3px solid #344391
          
#main
  :background url(/images/main_bg.png) repeat-x top left
  :border-left 1px solid #27338b
  :border-right 1px solid #27338b
  :clear both 
  :margin-top -9px !important
  &.sidebar
  .content
    :background #eaeaea
    :min-height 600px
    .precolumn
      .infobox
        :padding 1em 0
        p
          :clear both    
          :color #3e8417
          :font 330% Georgia,"Times New Roman",Serif
          :margin 0
          :text-align center
          :width 100%
          &.stats
            span.num
              :display block
              :float left
              :margin-right 20px
              :text-align right
              :width 48%
            span.stat
              :display block
              :float left
              :text-align left  
              :width 48%
          span.around
            :color #f00
      h2
        :border-bottom 2px solid #ff8400      
        :color #ff8400
        :margin-bottom 10px
    .col1
    .col2
      .sidebar
    .currentevents 
      :height 100px
      :vertical-align text-top  
      h2
        //:background-color #007acb      
        :color #007acb
        :border-bottom 2px solid #007acb
        :margin-bottom 0
      .daily
        :height 100px
        :width 500px
        :margin 10px 0 0 0
        :position relative
        :overflow hidden    
        ul.items
          :margin 0
          :width 10000em
          :position absolute
          li
            :float left
            :list-style none
            :height 100px
            :width 500px  
            a
              :font 140% Georgia,"Times New Roman",Serif
              :text-decoration none 
              &.entry
                :color #555
                :float left
              &.agency
                :clear both
                :float left
                :font-style italic
            & a:hover
              :color #cf8227
  dl.fixed
    :width 600px
    dt
      :clear left
      :float left
      :text-align right
      :width 25%
    dd
      :float left
      :width 55%      
  table.calendar 
    :float left
    :margin-right 1em
    :width 1em
    th
      :background none
    th.current
      :border-bottom 2px solid red
      :color red
.icon
  :padding 5px 0 5px 60px
  :background-repeat no-repeat
  &.cal
    :background-image url(/images/icons/calendar_small.png)
    :background-position top left 

hr.ornament
  :background url(/images/hr_bg.png) no-repeat top center
  :border none
  :display block
  :padding 20px 0
    
#footer
  :background  #5a5a5a
  :clear both
  :min-height 10em
  :border-top 4px solid #9b9b9b 
  .sitemap
    :padding 2em
    h4
      :color #fff
      :font 175% serif
      :margin 0 0 0 0
    ul
      :margin 0 0 0 1em
      li
        :list-style-type none
        a
          :color #989898
          :font-size 125%
          :text-decoration none