@import compass/utilities/general.sass

html
  :background url(/images/main_bg_left.png) repeat-y top left 
body
  :background url(/images/main_bg_right2.png) repeat-y top right  
  :min-height 100%
  :margin-bottom -150px
  :position relative
#wrapper
  :background url(/images/header_bottomshadow4.png) repeat-x left 161px
#header
  :background url(/images/header_bg.png) repeat-x top left
  :border-left 1px solid #27338b  
  :border-right 1px solid #27338b
  :height 121px   
  :position relative
  :z-index 9999
  .type
    :background url(/images/header_type.png) no-repeat top left
    :display block
    :float left
    :height 61px
    :margin 30px 0 0 40px
    :width 277px    
    a
      :display block
      :height 61px
      :width 277px
    h1
      :text-indent -9999px
  .capitol
    :background url(/images/header_capitol.png) no-repeat top left
    :display block
    :float right
    :height 121px  
    :width 345px
#nav
  :background-color #005b81
  :border-bottom 10px solid #39505e
  :float left
  :height 30px
  :padding 5px 0 
  :width 100%
  .search
    :float right
    :height 25px
    :margin 4px 0 0 0
    :padding 0 0 0 0    
    :width 220px
    form
      :background url(/images/search_bg3.png) no-repeat top right
      :height 25px
      :width 200px      
      :margin 0 20px 0 0
      input#q
        :border none
        :display block
        :float left
        :height 15px
        :*height 17px
        :margin 5px 0 0 10px 
        :*margin 4px 0 0 10px 
        :padding 0
        :width 165px
        &:focus
          :outline none
      input.search_btn
        :background url(/images/icon_search.png) no-repeat top right
        :border none
        :cursor pointer  
        :float left 
        :height 20px
        :margin 3px 0 0 0
        :padding 0
        :outline none
        :width 15px   
  ul
    :float left
    :margin 5px 0 0 0
    :padding 0 0 0 40px
    li
      :color #aaa
      :float left
      :font 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif     
      :list-style-type none
      :margin-right 5px
      a
        :color #fff
        :font 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif
        :text-decoration none
        :text-transform uppercase
        &:hover
          :color #fa6900   
.shadow
  :background url(/images/header_bg2.png) repeat-x top left
  :display inline-block
  :height 68px
  :position absolute
  :top 161px
  :width 100%
#main
  :clear both 
  :margin-top -9px !important
  h1  
    :background url(/images/hr_bg3.png) no-repeat bottom center
    :color #46565c
    :font 2.5em Georgia,"Times New Roman",Serif
    :font-variant small-caps        
    :margin 0 0 10px 0
    :padding 0 0 60px 0
    :text-align center
    &.noMargin
      :margin 0
  h2
    :color #46565c  
    :font 2em Georgia,"Times New Roman",Serif
    :font-variant small-caps
    :margin 0   
    span
      :font-size .6em  
  h3
    :border-bottom 1px solid #aaa
    :color #333
    :font 1.2em Georgia,"Times New Roman",Serif    
    :font-variant small-caps
    :margin 10px 0
    &:first-child
      :margin-top 0
    span.top
      :float right
  h4
    :border-bottom 1px solid #aaa
    :font 1.2em Georgia,"Times New Roman",Serif    
    :font-variant small-caps
    :margin 0 0 5px
    :float left 
    &.title
      :float none
  h5
    :color #333
    :font 1.1em sans-serif
    :padding 0
    :margin 0 0 5px 0
  a
    :border none
    :color #005b81
    :outline none  
    :text-decoration none
    &:link
    &:visited
      :color #7d7d7d
    &:hover
      :color #cf8227
    &:active
  ul
    /:padding 10px 0 0 0
    :padding 0
    :margin 0
    li
      :list-style-type none
      :padding 0 0 5px 0
      ul
        :padding 0
        :margin-left 15px
        ul
          :margin-left 15px
          :clear left
    li.group
      :padding 0 0 15px 0
    &.indent
      :padding-left 25px
    &.bullets
      li
        :list-style-type disc
  ul.btn
    li
      :padding 0
  &.sidebar
  .header
    :background #fff url(/images/main_hX_bg3.png) repeat-x left bottom
    :border 1px solid #bdbcbd
    :-moz-border-radius 5px
    :-webkit-border-radius 5px
    :margin 0 0 10px 0    
    :padding 3px 10px
    h1 
      :background-image none
      :float left
    a.options
      :float right
    &.slide
      :margin-top -5px
    &.search
      :padding 10px
  .content
    :min-height 600px
    :padding 20px 0
    .precolumn
      .large_map
        :width 900px
        :height 400px
        :margin-left auto
        :margin-right auto
        :margin-bottom 20px
        div.wml-text-background
          :opacity 1
        div.wml-copyright-text
          :width 900px
      .infobox
        :padding 1em 0
        p
          :clear both    
          :font 330% Georgia,"Times New Roman",Serif
          :margin 0
          :text-align center
          :width 100%
          &.fed
            :color #46565C
            &.alt
              :color #fa6900
          &.stats
            span.num
              :display block
              :float left
              :margin-right 20px
              :text-align right
              :width 48%
            span.stat
              :display block
              :float left
              :text-align left  
              :width 48%
          span.around
            :color #f00
      div.entry_calendars
        :width 850px
        :margin 0 auto
        :display none
        .group
          :float left
          :width 250px
          :margin 0 30px 30px 0
          :*margin 0 15px 30px 0 
          tbody
            :height 135px
            & > *
              :height auto !important
    .col1
      .filterBy
        :margin 13px 10px 0 0
      .fulltextWrapper
        :border 1px solid #ccc
        :-moz-border-radius 3px
        :-webkit-border-radius 3px                    
        :height 400px
        :margin-bottom 20px
        :overflow auto
        pre
          :background-color #fff
          :font-size 1.1em
          :margin 0
          :padding 10px
          :white-space pre-wrap     
          :white-space -moz-pre-wrap
          :white-space -pre-wrap 
          :white-space -o-pre-wrap  
          :word-wrap break-word 
      .calendar_date
        :display none
        .extra
          :display none
        span.more, span.less
          :float right
      ul.entries
        h2
          :margin-bottom 15px
    .col2
      .sidebar
        :padding-right 5px
        ul
          li
            :list-style-type none
        h2
          :border-bottom 1px solid #46565C
          /:color #ff8400
        h3 + ul
          :padding 0
        .small_map  
          :width 230px 
          :height 350px
          div.wml-info-window-content
            ul
              :margin 0
              li
                :margin-left 10px
        .search
          /:background url(/images/search_bg.png) no-repeat top left
          :height 25px
          :margin 10px 0 20px 0
          :padding 0 10px 0 0    
          form
            input#location
              :border 2px solid #6e6e6e
              :-moz-border-radius 15px
              :-webkit-border-radius 15px
              :display block
              :float left
              :height 15px
              :margin 5px 5px 0 0 
              :padding 6px 10px
              :line-height 15px
              :width 165px
              &:focus
                :outline none
            input.btn
              :float left
              :padding 2px 4px
        div.tag_cloud
          div.fancy
            :position relative
            :width 230px 
            :height 230px 
            :overflow hidden
    .currentevents 
      :vertical-align text-top  
      .header
        :margin 0
        :position relative
        :z-index 9999
      .slide
        :background #eee
        :margin-top -10px
        :z-index 5555
      .daily
        :height 7em
        :margin 10px 0 0 0
        :position relative
        :overflow hidden    
        ul.items
          :margin 0
          :height 10000em
          :position absolute
          li
            :float left
            :height 6em
            :list-style-type none
            :width 100%
            p.number
              :float left
              :font-family Arial, "MS Trebuchet", sans-serif
              :font-size 6em
              :font-weight bold
              :line-height 1
              :margin 0 15px 0 0
              :text-align right
              :width 115px
              :vertical-align text-top
            a
              :font 140% Georgia,"Times New Roman",Serif
              :padding-left 15px
              :text-decoration none 
              :width 95%
              &.entry
                :color #005B81
                :float left
                :margin-top 10px
              &.agency
                :color #999
                :float left
                :font-style italic
              &:hover
                :color #cf8227
  ul.btn
    :margin 10px 0 10px 0
    li
      :border 1px solid #747d87
      :float left
      :margin-right 13px
      :-moz-border-radius 5px
      :-webkit-border-radius 5px
      a
        :color #747d87
        :display block
        :font-weight bold
        :padding 3px 10px
        :text-decoration none
        &:hover
          :background #747d87
          :color #fff
      &.on
        a
          :background #747d87
          :color #fff
    &.small
      li
        :margin-right 1px 
        :width 19px
        :height 20px
        a
          :padding 1px 2px 
          :text-align center
  ul.count
    :margin 0
    :padding 0
    li
      :background #eef
      :border-left 1px solid transparent
      :border-right 1px solid transparent
      :-moz-border-radius 5px
      :-webkit-border-radius 5px
      :color #343434
      :font-size .8em
      :height 10px
      :margin 0 0 5px 0
      :position relative
      a
        :color #343434
        :font-weight bold
        :text-decoration none
      .info
        :display block
        :height 15px
        :line-height 16px
        :margin-left 10px
        :position relative
        :z-index 5555
      .bg
        :background url(/images/count_bg.png) repeat-x left top      
        :border 1px solid #83bbd9        
        :-moz-border-radius 5px
        :-webkit-border-radius 5px        
        :display block
        :height 15px
        :left 0    
        :position absolute
        :top 0
        :z-index 1111
        
  .search_info
    p.entries
      :float left
      :margin 20px 0 0 0  
    .pagination
      :float right
      :margin 20px 0 0 0
      :*padding-bottom 2px      
      a
        :border 1px solid #aaa
        :padding 1px 3px
        &.next_page,
        &.prev_page 
          :border none
        &:hover
          :background #39505e
          :color #fff
  ol.results
    :clear both
    :margin 10px 0 0 0
    li
      :list-style-type none
      :margin 0 0 20px 0
      .result_info
        :padding 0 0 0 15px
        .date
          :color #565656
          :font-weight bold
  dl.fixed
    :width 600px
    dt
      :clear left
      :float left
      :text-align right
      :width 45%
    dd
      :float left
      :width 45%      
  table.calendar 
    :height 200px
    :margin 10px auto
    :width 50%
    th
      :background none
    th.current
      :border-bottom 1px solid grey
      :color #005073
      :font-size 1.5em
      :text-align center
    td.day
      a
        :font-weight bold
        &:visited
          :color #b48144
  .icon
    :padding 5px 0 5px 60px
    :background-repeat no-repeat
    &.cal
      :background-image url(/images/ical_small.gif)
      :background-position left top
      :height 24px
      :margin 0
      :*margin -27px 0 0 0
      :padding 0
      :width 24px
    &.agency
      :background-image url(/images/icons/agency_small2.png)
      :background-position top left 
      :margin 0
      :padding 0 0 10px 65px
    &.contact
      :background-image url(/images/icons/contact_small.png)
      :background-position top left 
      :padding 32px 0 0 60px
    &.arrow
      :background-image url(/images/arrow.png)
      :background-position left 2px
      :margin 10px 0 0 0
      :padding 0 0 0 20px    
      :width 80px
      &.next
        :background-position right 2px   
        :padding 0 20px 0 0
        &.floatRight
          :float right
          :width auto
      &.open
        :background-position left -15px
      &:visited
        :color #005b81
      &.prev
        :background-position left -30px 
        &.floatLeft
          :float left
          :width auto
  input.btn
    :background url(/images/btn_bg2.png) repeat-x bottom left
    :border 1px solid #83bbd9
    :cursor pointer
    :-moz-border-radius 5px
    :-webkit-border-radius 5px   
    :font-weight bold     
    :height 30px
    :padding 5px
    :*padding 0
    &:hover
      :background url(/images/btn_bg2_hover.png) repeat-x left 50%
div.ornament
  :background url(/images/hr_bg3.png) no-repeat top center
  :display block
  :height 60px
  :margin 0 0 20px 0
form
  input.labelHighlight 
    :color #aeaeae !important
  li
    span
      :color #6e6e6e
      :vertical-align middle
.col2 li fieldset
  label
    :font-weight bold
    :width 35px
  span
    :display block
    :padding-left 47px
.panel
  :display none
  :padding-top 2em
  &.on
    :display block

body #footer
  :background  #5a5a5a
  :border-top 4px solid #9b9b9b 
  :clear both
  :height 150px
  :padding 2em 0 0 0
  :position relative
  h4
    :color #aaa
    :text-align center
  .sitemap
    :padding 2em 0 0 2em
    h4
      :color #fff
      :font 175% serif
      :margin 0 0 0 0
    ul
      :float left
      :margin 0 0 0 1em
      li
        :list-style-type none
        a
          :color #989898
          :font-size 125%
          :text-decoration none
  .legal
    :padding 2em 0 0 0
    h4
      :color #fff
      :font 125% serif
      :text-align center
.floatLeft
  :float left
.floatRight
  :float right  
.marginTop
  :margin-top 10px
.marginBottom
  :margin-bottom 10px !important  
  
ul.tag_cloud
  +tag-cloud(1.1em)
  li
    :float left
#tagcloud_label
  :background #005b81
  :border 2px solid #bde3f1
  :-moz-border-radius 5px
  :-webkit-border-radius 5px   
  :color #bde3f1 !important
  :font 14px Georgia,"Times New Roman",Serif !important
  :font-variant small-caps    
  :padding 5px