<%# TODO: FIX-ME: the below sorting is totally nasty... %>
<% entries.group_by(&:toc_subject).sort{|a,b| (a.first || 'ZZZZZ') <=> (b.first || 'ZZZZZ') }.each do |toc_subject, subject_entries| %>
  <span class="clear"></span> <%# HELP-DESIGN: I don't get why this solves my problem, but Bob told me to do it and it works!!! %>
  
  <h3 class="grid_4 alpha "><%= toc_subject || 'Other' %></h3>
  <ul class="comments grid_12 omega">
    
    <% subject_entries.group_by{|e| e.comments_close_date.date}.each do |comment_close_date, entries| %>
      <% entries.each_with_index do |entry, i| %>
      <li>
          <% if i == 0 %>
          <div class="grid_2 alpha date"><date><%= comment_close_date %></date></div>
          <% end %>
          
          <%= link_to (entry.toc_doc || entry.curated_title), entry_path(entry), :class => "grid_9 omega #{'push_2' if i > 0}" %>
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
