<%# TODO: FIX-ME: the below sorting is totally nasty... %>
<% entries.group_by(&:toc_subject).sort{|a,b| (a.first || 'ZZZZZ') <=> (b.first || 'ZZZZZ') }.each do |toc_subject, subject_entries| %>  
  <div class="group">
    <h3><%= toc_subject || 'Other' %></h3>
    <div class="grouped_by_date">  
      <% subject_entries.group_by{|e| e.comments_close_date.date}.each do |comment_close_date, entries| %>
        <div class="date"><date><%= comment_close_date %></date></div>
        <ul class="comments">
          <% entries.each_with_index do |entry, i| %>
            <li>          
                <%= link_to (entry.toc_doc || entry.curated_title), entry_path(entry), :class => "#{'not_first' if i > 0}" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
