<% if @agency %>
  <% section_tag(:class => 'featured_agency') do %>  
    <h1 class="title_bar">Featured Agency</h1>
    <% if @agency.logo_file_name.present? %>
      <%= image_tag @agency.logo.url(:thumb), :style => "float:left; margin-right: 1em; margin-bottom: 10px;" %>
    <% end %>
    <h2><%= link_to @agency.name, agency_path(@agency) %></h2>
    <p class="metadata">
      <%= link_to "#{@search.count} '#{ @section.title }' documents in the last month", entries_search_path(@search.to_hash) %>
    </p>
  <% end -%>
<% end %>
