<% title 'Browse by Agency', :body => :precolumn %>
<div class="header">
  <h2>By Name</h2>

<%= raise Agency.all.inspect%>

<ul class="btn filter group">
  <li class="all"><a href="#">ALL</a></li>    
  <li><a href="#">A-C</a></li>
  <li><a href="#">D</a></li>
  <li><a href="#">E-F</a></li>
  <li><a href="#">G-N</a></li>
  <li><a href="#">O-Z</a></li>
  <li><input class="livesearch" title="Filter for agencies"></li>
</ul>
</div>
<ul class="agencyList">
<% @agencies.each do |agency|  %>
  <li><%= render :partial => 'agency_list_item', :locals => {:agency => agency, :chart_max => @weekly_chart_max} %></li>
<% end %>
</ul>

<% content_for :sidebar do %>
  <%= render :partial => 'agencies/featured', :locals => {:featured_agencies => @featured_agencies} %>  
<% end %>

<%# content_for :precolumn do %>
  <!-- <div class="column span-4 prepend-1">
    <h2>Some text</h2>
    <p>Description</p>
  </div>
  <div class="column span-4 prepend-1">
    <h2>Graph </h2>
    <p>Description</p>
  </div>    --> 
<%# end %>