<ul>
<% @agencies.each do |parent_agency|  %>
  <% sub_agencies = Agency.find(:all, :conditions => ['parent_id = ?', parent_agency.id], :order => 'name ASC') %>
  <li>
  <%= render :partial => 'agency_list_item', :locals => {:agency => parent_agency, :chart_max => @chart_max} %>  
    <% unless sub_agencies.length == 0 %>
      <ul>
      <% sub_agencies.each do |agency| %>
        <li><%= render :partial => 'agency_list_item', :locals => {:agency => agency, :chart_max => @chart_max} %></li>
      <% end %>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>