<% add_column_class('home') %>
<% title 'Agency List' %>
<% description 'Federal agencies publish documents in the Federal Register. Browse these agencies to learn more about each agency, view their most recently published documents, and to subscribe to their RSS feed.' %>

<div class="title"><span>Agency List</span></div>

<div class="filters">
  <h4>Live Filter</h4>
  <ul>
    <li class="livesearch">
      <label for="live_filter_agencies" class="hide">Filter Agencies</label>
      <input title="Filter agencies" placeholder="Filter Agencies" id="live_filter_agencies">
    </li>
  </ul>
    
  <h4>Alphabetical</h4>
  <ul class="actions alpha">
    <li class="all on"><a href="#">ALL</a></li>
    <li><a href="#">A-B</a></li>
    <li><a href="#">C</a></li>
    <li><a href="#">D-E</a></li>
    <li><a href="#">F</a></li>
    <li><a href="#">G-J</a></li>
    <li><a href="#">K-M</a></li>
    <li><a href="#">N</a></li>
    <li><a href="#">O-P</a></li>
    <li><a href="#">Q-T</a></li>
    <li><a href="#">U-Z</a></li>    
  </ul>
  
  <h4>Sub Agencies</h4>
  <ul class="actions sub_agencies">
    <li class="show_agencies on"><a href="#">Show</a></li>    
    <li class="hide_agencies"><a href="#">Hide</a></li>
  </ul>
  
</div>

<div class="result_set agency_list_container">

  <div class="titlebar agency_list_info">
    <div class="article_count">
      <h2 class="title_bar"><span class="small_stack">Agencies <span>Found</span></span> <span id="agency_count"><%= @agencies.count %></span></h2>
    </div>

    <ul class="actions">
        <li class="on">
          <a class="asc" href="#asc">Ascending</a>
        </li>
        <li>
          <a class="dec" href="#dec">Descending</a>
        </li>
    </ul>
  </div>  
  
  <ul id="agency_list">
  <% @agencies.each do |agency|  %>
    <li><%= render :partial => 'agency_list_item', :locals => {:agency => agency} %>
      <% if agency.children.alphabetically.present? %>
        <ul>
          <% agency.children.alphabetically.each do |sub_agency| %>
            <li><%= render :partial => 'agency_list_item', :locals => {:agency => sub_agency} %></li>
          <% end %> 
        </ul>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
