<% add_column_class('home') %>

<% title 'Explore by Agency', :body => :precolumn %>
<% content_for :precolumn do %>
    <div class="infobox">
      <p class='copy'>
        Every day federal agencies make entries into the Federal Register. The sparklines (small graphs) next to each
        agency allow you to see the activity for each agency by week for 12 months, allowing you to take the pulse of 
        each agency. You can also use the search box to filter the list and quickly find any agency you care to look for!
      </p>
      <p class='copy'> 
        Selecting an agency will allow you to take a more in depth view of where each agency is active, its recent 
        entries into the Register, and the most common topics covered by that agency.
      </p>
    </div>
<% end %>


<div class="header">
  <h2>By Name</h2>

  <ul class="btn filter group">
    <li class="all"><a href="#">ALL</a></li>    
    <li><a href="#">A-C</a></li>
    <li><a href="#">D</a></li>
    <li><a href="#">E-F</a></li>
    <li><a href="#">G-N</a></li>
    <li><a href="#">O-Z</a></li>
    <li class="livesearch"><input title="Filter agencies"></li>  
  </ul>
</div>

<ul class="agencyList indent raquo">
<% @agencies.each do |agency|  %>
  <li><%= render :partial => 'agency_list_item', :locals => {:agency => agency, :chart_max => @weekly_chart_max} %></li>
<% end %>
</ul>

<% content_for :sidebar do %>
  <%= render :partial => 'agencies/pulse', :locals => {:featured_agencies => @featured_agencies} %>
<% end %>