<ul>
<% @agencies.each do |parent_agency|  %>
  <% sub_agencies = Agency.find(:all, :conditions => ['parent_id = ?', parent_agency.id], :order => 'name ASC') %>
  <li><%= link_to parent_agency.name, agency_path(parent_agency) %></li>
  <li>
    <% unless sub_agencies.length == 0 %>
      <ul>
      <% sub_agencies.each do |agency| %>
        <li><%= link_to agency.name, agency_path(agency) %></li>
      <% end %>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>