<div><h3>Featured Agencies</h3></div>

<ul class='featured'>
  <% @featured_agencies.each do |agency| %>
    <li><%= link_to(agency.name, agency_path(agency)) %> (<%= pluralize(agency.entry_count_by_week(@week), 'entry') %>)</li>
  <% end %>
</ul>

<h3>All Agencies</h3>
<ul class="btn filter group">
  <li><a>A-C</a></li>
  <li><a href="#">D</a></li>
  <li><a href="#">E-H</a></li>
  <li><a href="#">I-L</a></li>
  <li><a href="#">M-O</a></li>
</ul>
  
<ul>
<% @agencies.each do |parent_agency|  %>
  <% sub_agencies = Agency.find(:all, :conditions => ['parent_id = ?', parent_agency.id], :order => 'name ASC') %>
  <li>
  <%= render :partial => 'agency_list_item', :locals => {:agency => parent_agency, :chart_max => @chart_max} %>  
    <% unless sub_agencies.length == 0 %>
      <ul>
      <% sub_agencies.each do |agency| %>
        <li><%= render :partial => 'agency_list_item', :locals => {:agency => agency, :chart_max => @chart_max} %></li>
      <% end %>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>

<% content_for :sidebar do %>
  <h2>Maybe those word graphs</h2>
<% end %>

<% content_for :precolumn do %>
  <div class="column span-4 prepend-1">
    <h2>Some text</h2>
    <p>Description</p>
  </div>
  <div class="column span-4 prepend-1">
    <h2>Graph </h2>
    <p>Description</p>
  </div>    
<% end %>