<%# TODO HELP-DESIGN do something with this %>
<%# title @agency.name %>

<% content_for :precolumn do %>
  <h1><%= @agency.name %></h1>
<% end %>


<% feed_autodiscovery agency_path(@agency, :format => :rss) %>

<%= render :partial => 'entries/list', :locals => {:entries => @entries, :search_params => {:agency_id => @agency.id}} %>

<% content_for :sidebar do %>
  <% unless @places.blank? %>
    <div class="header">
      <h2>Recent Places</h2>
    </div>
    <% add_javascript { @map.to_js } %>
    <div id="map" class="small_map"></div>
  <% end %>
<% end %>