<%# TODO HELP-DESIGN do something with this %>
<%# title @agency.name %>

<% content_for :precolumn do %>
  <div class="header group">
    <h1><%= @agency.name %></h1>
  </div>
<% end %>

<% feed_autodiscovery agency_path(@agency, :format => :rss) %>

<%= render :partial => 'entries/list', :locals => {:entries => @entries, :search_params => {:agency_id => @agency.id}} %>

<% content_for :sidebar do %>
  <% unless @places.blank? %>
  <h3>Recently Mentioned Places</h3>
    <% add_javascript { @map.to_js } %>
    <div id="map" class="small_map"></div>
  <% end %>
<% end %>