<div id="agency_pseudonymns">
  <h1>Agency Pseudonyms</h1>

  <% if RAILS_ENV == 'development' %>
  <div class="index">
    <% agency_years.each do |agency_year| %>
      <h2><%= agency_year.name %></h2>
      <% if agency_year.children.present? %>
        <ul class="see_also">
          <% agency_year.children.each do |sub_agency| %>
            <li>
              <em class="see">See</em>
              <%= sub_agency.name %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
