<div id="front_matter">
  <div class="header">
    <div class="inner">
      <div class='logo'><img src="<%= Rails.root %>/public/images/nara1985.svg" /></div>
    </div>
  </div>

  <div class="left_column">
    <p>
      <strong>THIS INDEX</strong> is based on a consolidation of contents entries appearing 
      in the <%= date_description_without_year %> subject references. The entries are arranged 
      first under the name of the agency which issued the document. Under 
      each agency, the entries are then listed alphabetically within the 
      categories of Rules, Proposed Rules, and Notices. Executive Orders, 
      Proclamations, and other documents from the President are listed 
      under Presidential Documents. Each entry contains the page number 
      in the  <strong>Federal Register</strong> where the document begins, 
      followed by the date it was published. This index 
      is published monthly and is cumulated for 12 months.
    </p>
    <p>
      A general index to the entire Code of Federal Regulations, is found 
      in the CFR Index and Finding Aids volume, and is revised as of January 
      1 each year.
    </p>
    <p>
      The LSA (List of CFR Sections Affected), a cumulative numerical finding 
      aid, is published monthly and is cumulated for 12 months, keyed to the 
      revision dates of the various CFR volumes.
    </p>
    <p>
      All <strong>Federal Register</strong> publications are available for purchase from the 
      Superintendent of Documents, U.S. Government Publishing Office, Washington, 
      D.C. 20402. For sales information, contact GPO via: bookstore.gpo.gov, or by calling 
      1-866-512-1800 (toll-free). 
    </p>
    <p>
      The <strong>Federal Register Index</strong> is prepared under the direction of
      John Hyrum Martinez, Director of the Publications and Services Division, assisted by Moja N. Scott.
    </p>
    <p>
      INQUIRIES may be made to the Scheduling Unit 202&ndash;741&ndash;6060
      or by e-mail at <a href="mailto:fedreg.info@nara.gov">fedreg.info@nara.gov</a>.
    </p>
    <p>
      POSTMASTER: Send address change to the Superintendent of Documents, U.S. 
      Government Publishing Office, Washington, DC 20402, along with the entire 
      mailing label from the last issue received.
    </p>
    <p>
      SUGGESTIONS concerning this and other publications of the Office will be 
      welcomed by the Managing Editor, Office of the Federal Register (F),
      8601 Adelphi Road, College Park, MD 20740-6001.
    </p>
  </div>
</div>
