<% content_tag  :li,
                :id => subject_grouping.identifier,
                :class => "top_level",
                :"data-form-data" => { 
                          :subject_form => true,
                          :form_url => "/admin/index/#{agency_year.year}/#{agency_year.agency.slug}",
                          :form_class => 'top_level',
                          :granule_class => subject_grouping.granule_class,
                          :max_date => params[:max_date],
                          :old_subject => subject_grouping.header,
                          :entry_ids => subject_grouping.entries.map{|e| e.id},
                          :fr_index_subject => subject_grouping.header,
                          :unapproved_only => params[:unapproved_only].present?
                        }.to_json do %>

                          <span class="title" data-header-attribute="<%= subject_grouping.header_attribute %>" data-original-title='<%= subject_grouping.header %>'>
                            <%= spell_checker.highlight_spelling_errors subject_grouping.header %>
                          </span>
  <% if subject_grouping.document_groupings.size > 1 %>
    <a href="#" class="edit btn">Edit</a>
  <% end %>
  <ul>
    <%= render :partial => "document_grouping", :collection => subject_grouping.document_groupings, :locals => {:agency_year => agency_year, :spell_checker => spell_checker} %>
  </ul>
<% end %>

