<li>
  <%= subject_grouping.header %>
  <ul>
    <%= render :partial => "admin/indexes/document_grouping.pdf.erb",
      :collection => subject_grouping.document_groupings,
      :locals => {:agency => agency} %>
  </ul>
</li>
