<div id='title_page'>
  <div class='logo'><img src="<%= Rails.root %>/public/images/nara1985.svg" /></div>

  <h1>FEDERAL REGISTER INDEX</h1>
  
  <p>
    <%= date_description %><br />
    Volume XX &mdash; Numbers X-XXX
  </p>

  <p>Pages 1-XXX</p>

  <p class="ofr">OFFICE OF THE FEDERAL REGISTER<p>
</div>
