<%
[
  ['Summary', 'abstract'],
  ['Statement of need', 'statement_of_need'],
  ['Legal Basis', 'legal_basis'],
  ['Alternatives', 'alternatives'],
  ['Costs and Benefits', 'costs_and_benefits'],
  ['Risks', 'risks']
].each do |label, method |
  value = regulatory_plan.send(method)
  next if value.blank? %>
  <div class="header_column">
    <h1><%= label %></h1>
  </div>
  <div class="body_column">
    <%= format_regulation_text(regulatory_plan.send(method)) %>
  </div>
<% end %>