<% if regulatory_plan.try(:events).present? %>
  <h3>Regulatory Timeline</h3>

  <table>
  <% regulatory_plan.events.each do |event| %>
    <tr>
      <td><%= event.action %></td>
      <td><%= event.date %></td>
      <td><%= add_citation_links(event.fr_citation) %></td>
    </tr>
  <% end %>
  </table>
<% end %>