<h1>Legal Status &amp; Disclaimer</h1>

<p>This site displays a prototype of a “Web 2.0” version of the daily Federal Register.  It is not an official legal edition of the Federal Register, and does not replace the current electronic version on GPO’s Federal Digital System (FDsys.gov).</p>

<p>The articles posted on this site are XML renditions of published Federal Register documents.  Each document posted on the site includes a link to the corresponding official PDF file on FDsys.gov.   This prototype edition of the daily Federal Register on FederalRegister.gov will remain an unofficial informational resource until the Administrative Committee of the Federal Register (ACFR) issues a regulation granting it official legal status.   For complete information about, and access to our official publications and services, go to the OFR.gov website. </p>

<p>The OFR/GPO partnership is committed to presenting accurate and reliable regulatory information on FederalRegister.gov with the objective of establishing the XML-based Federal Register as an ACFR-sanctioned publication in the future. While every effort has been made to ensure that the material on FederalRegister.gov is accurately displayed consistent with the official SGML-based PDF version on FDsys.gov, those relying on it for legal research should verify their results against an official edition of the Federal Register.  Until the ACFR grants it official status, the XML rendition of the daily Federal Register on FederalRegister.gov does not provide legal notice to the public or judicial notice to the courts.</p>
