<h1>No FEAR Act</h1>

<h2>Equal Employment Opportunity</h2>

<p>Equal Employment Opportunity (EEO) is the right of all persons to work and advance on the basis of merit, ability and potential. Federal fair employment laws prohibit discrimination and require the government to provide equal employment opportunity without regard to race, color, religion, sex, national origin, age, disabling condition or reprisal. </p>

<h2>EEO Complaint Data Posted Pursuant to the No Fear Act </h2>

<p>The National Archives posts summary statistical Equal Employment Opportunity (EEO) complaint data as required by the Notification Federal Employee Administration and Retaliation Act of 2002 (The No Fear Act). The NO FEAR Act requires Federal Agencies to post cumulative year-to-date summary statistical EEO complaint data on a quarterly basis during each Fiscal Year (FY) as follows: January 31; April 30; July 31; and October 31. View the most recent data at: <a href="http://www.archives.gov/eeo/policy/complaint-activity.html">http://www.archives.gov/eeo/policy/complaint-activity.html</a>.</p> 
