<div id='<%= topic.underscore %>_flow' class="ContentFlow">
    <div class="loadIndicator"><div class="indicator"></div></div>
    <div class="flow">
        <% photos.each do |photo| %>
        <div class="item">
          <%= image_tag photo.url('m'), 'data-owner-id' => photo.owner_id, :class => 'content', :title => '' %>
          <div class="caption"><%= topic %></div>
        </div>
        <% end %>
    </div>
    <div class="globalCaption"><%= topic %></div>
    <div class="scrollbar">
      <div class="slider">
        <div class="position"></div>
      </div>
    </div>
</div>