google_maps: your-google-maps-api-key
yahoo_placemaker: your-yahoo-placemaker-api-key
cloudmade: your-cloudmake-api-key
hoptoad: your-hoptoad-api-key
open_calais: your-open-calais-api-key
flickr: your-flickr-api-key
flickr_secret: your-flickr-secret