session_key: '012345678901234567890123456789'
email_salt: '012345678901234567890123456789'
resque_web_password: XXX
varnish:
  skip_cache_key: '012345678901234567890123456789'
data_dot_gov:
  api_key: '012345678901234567890123456789'
sendgrid:
  username: XXX
  password: XXX

api_keys:
  google_maps: XXXXXXXXX
  yahoo_placemaker: XXXXXXXXX
  flickr: XXXXXXXXX
  flickr_secret: XXXXXXXXX
  recaptcha_public: XXXXXXXXX
  recaptcha_private: XXXXXXXXX
  honeybadger: XXXXXXXXX

aws:
  access_key_id:      XXXX
  secret_access_key:  XXXX

gpo_sftp:
  username: XXXX
  password: XXXX

pil_api_base_uri: "http://127.0.0.1/RestServices"
pil_api_user_name: 'secret'
pil_api_password: 'secret'
