test:
  fr2:
    port: 3002
    host: 127.0.0.1
  my_fr2:
    port: 14000
    host: 127.0.0.1
  assets_my_fr2:
    port: 3001
    host: 127.0.0.1
  wordpress:
    port: 8000
    host: 127.0.0.1
  cache: true
  port: 8081
  management_port: 6083
