<% title 'Agency Name Assignment' %>

<%= render :partial => 'agency_names_nav' %>

<% if @unprocessed_agency_names.present? %>
  <table class='grid_10 push_1'>
    <thead>
      <tr>
        <th class='grid_5'>Agency Name</th>
      </tr>
    </thead>
    <tbody>
      <% @unprocessed_agency_names.each do |agency_name| %>
        <tr>
          <td><%= link_to agency_name.name, edit_admin_agency_name_path(agency_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No unprocessed agency names</p>
<% end %>
