<% super_title 'Agency Name Assignment' %>
<% title 'Unprocessed Agencies' %>

<% sidebar(render :partial => 'nav') %>

<%= will_paginate @unprocessed_agency_names, renderer: BootstrapPagination::Rails %>

<% if @unprocessed_agency_names.present? %>
  <table class='center_content table table-bordered table-striped table-condensed'>
    <thead>
      <tr>
        <th>Agency Name</th>
      </tr>
    </thead>
    <tbody>
      <% @unprocessed_agency_names.each do |agency_name| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td><%= link_to agency_name.name, edit_admin_agency_name_path(agency_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No unprocessed agency names</p>
<% end %>

<%= will_paginate @unprocessed_agency_names, renderer: BootstrapPagination::Rails %>
