<% title "Method Not Allowed" %>
<div class="title"><span>405 Method Not Allowed</span></div>

<h2>The HTTP method you used is not allowed.</h2>

<% content_for(:page_to_track, '/405.html') %>

<script type="text/javascript">
  _gaq.push(['_trackEvent', 'errors', '405', document.location.pathname + document.location.search + "&from=" + document.referrer]);
</script>
