<% title "We're sorry, but something went wrong." %>

<div class="title"><span>500 Server Error</span></div>

<h2>Something went wrong!</h2>

<p>We've been notified about this issue and we'll take a look at it shortly.</p>
