<table>
  <caption>Recent Reprocessings:</caption>
  <thead>
    <th>Issue Date</th>
    <th>Reprocessed At</th>
  </thead>

  <tbody>
    <% @presenter.reprocessed_issues_by_date_ordered.each do |date, reprocessed_issues| %>
      <tr>
        <td><%= link_to(
            date.to_s(:default_yy),
            admin_reprocessed_issue_path(date.to_s(:iso))
          )%>
        </td>
        <td><%= reprocessed_issues.first.updated_at.to_s(:short_date_then_time_yy) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create a new reprocessing", admin_reprocessed_issues_path %>
