<div class='spelling_error_menu'>
  <b style="padding-left: 10px"><i>suggestions disabled</i></b>
  <ol class='suggestions'>
    <!--
      {{#each suggestions}}
        <li data-role='replace-word'>{{this}}</li>
      {{/each}}
-->

    <div class="horiz-rule"></div>
    <li class='add-to-dict' data-role='add-to-dictionary'>Add to Dictionary</li>
  </ol>
</div>
