<h1 class="title"><span>Subscriptions</span></h1>

<h1>Your subscription has been confirmed!</h1>

<p>When new articles are published that match your criteria, you will receive email notification.</p>
