<div class="title"><span>Subscriptions</span></div>

<h3>Your subscription has been confirmed!</h3>

<p>When new articles are <%= params[:type] == 'MailingList::PublicInspectionDocument' ? 'filed on public inspection' : 'published' %> that match your criteria, you will receive email notification.</p>
