<license id="1001235">
<name>Server License</name>
<vendor>YesLogic</vendor>
<product>Prince</product>
<version>8.1</version>
<end-user>US Government Printing Office</end-user>
<date>2013-01-25</date>
<signature>${PRINCEXML_LICENSE}</signature>
<option id="upgrades">20140125</option>
</license>
