<% super_title @section.title %>

<p>
  <%= link_to 'Add a canned search', new_admin_canned_search_path(:canned_search => {:section_id => @section.id }) %>
</p>

<table id="canned_searches" class='<%= table_css_class %>'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Active</th>
      <th>Max</th>
      <th>Avg</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="active_canned_searches">
    <%= render :partial => "row", :collection => @active_canned_searches, :as => :canned_search %>
  </tbody>
  <tbody class="inactive_canned_searches">
    <%= render :partial => "row", :collection => @inactive_canned_searches, :as => :canned_search %>
  </tbody>
</table>
