<html>
  <head>
    <style>
      body { margin-top: 0; padding-top: 10px; }
      div.banner {
        background-color: #E5E5E5;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        
        width: 430px;
        height: 60px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        }
      
      div.logo {
        width: 85px;
        height: 85px;
        background: url('<%= Rails.root %>/public/images/nara1985.svg') 0 0 no-repeat;
        background-size: 100%;
        top:10px;
        left: 110px;
        position: absolute;
        opacity: 0.95;
        }
      
      div.banner p {
        margin-left: 108px;
        width: 310px;
        font-family: "Helvetica";
        margin-top:0.5em;
        line-height: 1.4em;
        font-size: 11px;
      }
      a {
        color: #000;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class='banner'>
      <p>
        <% if document.publication_date %>
          This document is scheduled to be published in the<br />
          Federal Register on <%= document.publication_date %> and available online at
        <% else %>
          More information can be found at
        <% end %>
        <br />
        <%= link_to nil, short_document_url(document) %>,
        and on <%= link_to 'FDsys.gov', short_document_url(document, :format => :pdf) %>
      </p>
      <div class='logo'></div>
    </div>
  </body>
</html>
