<% title "Public Inspection: #{@public_inspection_document.title.present? ? @public_inspection_document.title : "#{@public_inspection_document.toc_subject} #{@public_inspection_document.toc_doc}"}" %>

<div class="title"><span>Public Inspection: <%= @public_inspection_document.entry_type %></span></div>

<% article_tag do %>
  
  <div id="metadata_content_area">
      <%= render :partial => "public_inspection/header.html.erb", :locals => {:document => @public_inspection_document} %>
  </div> <!-- end metadata_content_area -->

<div class="notice">
  <p><strong><%= link_to 'This document', entry_url(@public_inspection_document) %> has not been published yet and thus is not available on <a href="http://www.fdsys.gov">FDsys.gov</a>.
  </strong></p>
</div>
<% end %>
