<ul>
  <li><%= link_to_unless_current 'All Topic names',         admin_topic_names_path()             %></li>
  <li><%= link_to_unless_current 'Unprocessed Topic Names', unprocessed_admin_topic_names_path() %></li>
</ul>

