<% super_title 'Topic Name Assignment' %>
<% title 'Unprocessed Topics' %>

<% nav_secondary(render :partial => 'nav') %>

<%= will_paginate @topic_names %>

<% if @topic_names.present? %>
  <table class='grid_10 push_2 sortable'>
    <thead>
      <tr>
        <th>Agency Name</th>
      </tr>
    </thead>
    <tbody>
      <% @topic_names.each do |topic_name| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td><%= link_to topic_name.name, edit_admin_topic_name_path(topic_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No unprocessed topic names</p>
<% end %>

<%= will_paginate @topic_names %>
