<% content_for :precolumn do %>
  <h1>Explore Topics</h1>
<% end %>

<div class="header">
  <h2>By Letter</h2>
</div>

<ul class="btn small">
<% @letters.each do |letter| %>
  <li><%= link_to letter.upcase, topic_groups_by_letter_path(letter) %></li>
<% end %>
</ul>

<% content_for :sidebar do %>
  <h2>Popular Topics</h2>

  <div class="tag_cloud">
    <div id="fancy_tag_cloud" class="fancy"></div>
    <ul>
    <% @popular_topic_groups.each do |topic_group| %>
      <li><%= link_to topic_group.name, topic_group_path(topic_group.group_name) %> (<%= topic_group.entries_count %>)</li>
    <% end %>
    </ul>
  </div>
<% end %>
