<% content_for :precolumn do %>
  <h1>Explore Topics</h1>
<% end %>

<div class="header">
  <h2>By Letter</h2>

<ul class="btn small">
<% @letters.each do |letter| %>
  <li><%= link_to letter.upcase, topic_groups_by_letter_path(letter) %></li>
<% end %>
</ul>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'topics_tagcloud', :locals => {:topic_groups => @popular_topic_groups, :title => 'Popular Topics'} %>
<% end %>


