<% content_for :precolumn do %>
  <h1>Explore Topics</h1>
<% end %>

<div class="header">
  <h2>By Letter</h2>
</div>

<ul>
<% @letters.each do |letter| %>
  <li><%= link_to letter.upcase, topic_groups_by_letter_path(letter) %></li>
<% end %>
</ul>

<div class="header">
  <h2>Popular</h2>
</div>

<ul class="tag_cloud">
<%
  counts = @popular_topic_groups.map(&:entries_count)
  min = counts.min
  max = counts.max
  
  classes = %w(xxs xs s m l xl xxl)
  range = max-min
%>

<% @popular_topic_groups.each do |topic_group| %>
  <% 
    beyond_minimum = topic_group.entries_count - min
    class_name = classes[Math.log(((beyond_minimum.to_f / range) * 1000)+1).to_i]
  %>
  <li class="<%= class_name %>"><%= link_to topic_group.name, topic_group_path(topic_group) %></li>
<% end %>
</ul>

<% content_for :sidebar do %>
<% end %>
