<div class="header_with_icon">
  <h1>What's in the Federal Register</h1>
</div>

  <ul id="learn-links" class="tabs-nav">
      <li class="tab" id="type-notice"><a href="#explanation-notice">Notices</a></li>
      <li class="tab" id="type-prorules"><a href="#explanation-prorules">Proposed Rules</a></li>
      <li class="tab" id="type-finalrules"><a href="#explanation-finalrules">Final Rules</a></li>
      <li class="tab" id="type-presdocs"><a href="#explanation-presdocs">Presidential Documents</a></li>
  </ul>
      
  <div id="learn-body" class="tabs-body">

    <div id="explanation-notice">
      <h3><%= link_to 'Notices', entries_search_path(:conditions => {:type => "NOTICE"}, :order => "newest") %></h3>
      <p>This category contains non-rulemaking documents that are applicable to the general public and named parties.  These documents include notices of public meetings, hearings, investigations, grants and funding, environmental impact statements, information collections, statements of organization and functions, delegations, and other announcements of public interest.
      </p>
    </div>

    <div id="explanation-prorules">
      <h3><%= link_to 'Proposed Rules', entries_search_path(:conditions => {:type => "PRORULE"}, :order => "newest") %></h3>
      <p>This category contains proposed regulations. These documents announce and explain agencies’ plans to solve problems and accomplish goals, and give interested persons an opportunity to submit comments to improve the final regulation. It also includes advance notices of proposed rulemaking, petitions for rulemaking, negotiated rulemakings, and various proposed determinations and interpretations.</p>
    </div>

    <div id="explanation-finalrules">
      <h3><%= link_to 'Final Rules', entries_search_path(:conditions => {:type => "RULE"}, :order => "newest") %></h3>
      <p>This category contains regulations that apply to the general public and have final legal effect. It also includes interim final rules, direct final rules, and various determinations, interpretive rules, and policy statements.  The documents cite to the <em>Code of Federal Regulations</em>, which contains the codified text of final rules, and is published annually in 50 titles.</p>
    </div>

    <div id="explanation-presdocs">
      <h3><%= link_to 'Presidential Documents', entries_search_path(:conditions => {:type => "PRESDOCU"}, :order => "newest") %></h3>
      <p>This category contains documents signed by the President of the United States.  Documents include Executive Orders, Proclamations, Administrative Orders, Presidential Memoranda, and other issuances of the President that are required or directed to be published in the <em>Federal Register</em>.  
      </p>
    </div>

  </div>
  
  


