<h1 class="celebrating">75th anniversary of the Federal Register Act</h1>
<p>July 26, 2010 marks the 75th anniversary of the Federal Register Act. Join us in celebrating a proud tradition of open access to government information with the launch of our experimental Federal Register beta site.</p>
<span class="banner"></span>