<h1>News</h1>

<p class="inline_bullet">Try our new <strong>Advanced Search</strong>; and visit our <strong>Search Help</strong> page to learn more.</p>

<h2 class="celebrating">75th anniversary of the Federal Register Act</h2>
<p class="inline_bullet">July 26, 2010 marked the 75th anniversary of the Federal Register Act. Join us in celebrating with the launch of our experimental Federal Register beta site. <a href="http://federalregister.tenderapp.com/discussion/new" class="trigger_tender">We welcome your comments and suggestions!</a></p>