<h2 class="celebrating">75th anniversary of the Federal Register Act</h2>
<p><strong>July 26, 2010 marks the 75th anniversary of the Federal Register Act.</strong> Join us in celebrating a proud tradition of open access to government information with the launch of our experimental Federal Register beta site.</p>
