<h1>News</h1>

  <p class="inline_bullet">Try our new <strong><a href="/articles/search?conditions[term]=&commit=Go#advanced" title="Advanced Search">Advanced Search</a></strong>; and visit our <strong><%= link_to 'Search Help', entries_search_help_path %></strong> page to learn more.</p>

  <h2 class="celebrating">75th anniversary of the Federal Register Act</h2>
  <p class="inline_bullet">July 26, 2010 marked the 75th anniversary of the Federal Register Act. Join us in celebrating with the launch of our experimental Federal Register beta site. <strong><a href="http://federalregister.tenderapp.com/discussion/new" class="trigger_tender">We welcome your comments and suggestions!</a></strong></p>
  
  <%= link_to 'Legal Disclaimer', '/policy/legal_status', :class => 'disclaimer' %>