<div id="current_issue" class="error">
  <h2 class="issue">Current Issue</h2>
  <p>Today's issue is currently unavailable; we apologize for any inconvenience. <%= link_to 'Browse other dates.', entries_current_issue_path, :title => "Browse other dates."  %></p>
</div>