<% section_tag(:id => "disclaimer") do %>
  <h1><%= link_to 'Legal Notice', '/learn/public-inspection-desk', :class => "public-inspection" %></h1>
  <%= add_template('pi_legal_notice', 'pi-legal-notice') %>
<% end -%>
