<ul class="stats">
  <li class="left">
    <% conditions = {:publication_date => {:is => @current_issue.publication_date}, :section_ids => [section.id]} %>
    <% link_to entries_search_path(:conditions => conditions, :utm_source => 'homepage', :utm_medium => 'slideshow', :utm_content => 'new_articles') do %>
      <span class="total"><%= count = EntrySearch.new(:conditions => conditions).count %></span>
      <span><%= pluralize_without_count(count, 'New Documents') %> <span>In this Issue</span></span>
    <% end %>
  </li>
  <li class="right">
    <% conditions = {:comment_date => {:gte => Date.current, :lte => 1.week.from_now.to_date}, :section_ids => [section.id]} %>
    <% link_to entries_search_path(:conditions => conditions, :utm_source => 'homepage', :utm_medium => 'slideshow', :utm_content => 'comments_closing') do %>
      <span class="total"><%= count = EntrySearch.new(:conditions => conditions).count %></span>
      <span><%= pluralize_without_count(count, 'Comment Period') %> <span>Ending Soon</span></span> 
    <% end %>
  </li>
</ul>
