<ul class="stats">
  <li class="left">
    <span class="total"><%= section.entries.count %></span>
    <span>New Articles <span>Today</span></span>
  </li>
  <li class="right">
    <span class="total">12</span>
    <span>Comment Periods <span>Ending Soon</span></span> 
  </li>
</ul>   