<% content_for :precolumn do %>
  <h1>About this site</h1>
  
  <ul class="btn about">
    <li class="on"><a href="#why">Why we did it</a></li>
    <li><a href="#fr">Federal Register</a></li>
    <li><a href="#what">What we did</a></li>
    <li><a href="#how">How we did it</a></li>
    <li><a href="#who">Who we are</a></li>
  </ul> 
 
<% end %>

<div class="panel on" id="why">
<h2>About govpulse</h2>
<p>To the average US citizen it can often seem that their government works in leaps and bounds, with new legislation or debates on legislation leaping to the fore. Yet every day the thousands of employees of the U.S Government go to work for the people of the country. Each day agencies release hundreds of proposed rules and regulations, meeting notices, final rules, and changes to existing rules in the form of the Federal Register. However in their current format they are difficult to find and to process in meaningful ways.</p>

<p>govpulse was built to address this problem and open the doors of government to the people they work for. By making such documents as the Federal Register searchable, more accessible and easier to digest, govepulse seeks to encourage every citizen to become more involved in the workings of their government and make their voice heard on the things that matter to them, from the smallest to the largest issues.</p>

<p>The Federal Registrar was created to inform citizens of their rights and obligations, document the actions of Federal agencies, and to provide a forum for public participation in the democratic process. Additionally it provides access to a wide range of Federal benefits and opportunities for funding</p>

<p>We like to think of the Federal Register as the pulse of government. It is our goal to see the hard work of the men and women that make up our government more robustly presented and thus encourage the people of the US to more fully participate.</p>

<p>

</div>

<div class="panel" id="fr">

<h2>Federal Register</h2>

<p>The Federal Register was created in 1935 under the Federal Register Act and was further enlarged and amended by the Administrative Procedure Act of 1946.</p>

<p>Federal Register serves as the main source for the U.S. federal government agencies to propose new rules and regulations, announce final rules and changes to existing rules, and notify the public of meetings and adjudicatory proceedings.</p>


<p>The Federal Register updated daily by 6 a.m. and is published Monday through Friday, except Federal holidays, and consists of four types of entries.</p>

<ul>
<li>* Presidential Documents, including Executive orders and proclamations</li>
<li>* Rules and Regulations, including policy statements and interpretations of rules</li>
<li>* Proposed Rules, including petitions for rulemaking and other advance proposals</li>
<li>* Notices, including scheduled hearings and meetings open to the public, grant applications, and administrative orders</li>
</ul>

<p>We recommend reading About the Federal Register for a brief overview of the structure and value of the Federal Register.</p>

</div>

<div class="panel" id="what">
  <h2>Usability &amp; Data Manipulation</h2>
  
  <p>While the Federal Register provides a wealth of information about the workings of our government, a variety of steps were needed to clean up the data to make it accessible:</p>
  
  <ul class="bullets">
    <li>We consolidated the list of agencies (dealing with the vast number of typographical errors - over 30+ spellings of the word 'department' alone!).</li>
    <li>We embedded links to other Federal Register entries, the Code of Federal regulation, the United States Code, etc., making the next step to understanding an entry only a click away.</li>
    <li>We geocoded the abstracts of every entry since 1994; allowing you to see the context and areas in which your government is acting.</li>
    <li>We extracted relevant dates such comments clsoing soon and effective date and put them on a calendar. This increases your ability to contriubute to your governmnent. (Every agency must respond to all relevant comments!)</li>
    <li>We provide RSS feeds by agency, topic, or any custom search. Keep track of what's important to you!</li>
  </ul>
  
  <p>This site is still a work in progress, but we hope that with the help of the larger development community these features can be extended.</p>
</div>
<div class="panel" id="how">

<h2>Serious technology</h2>
  
<p>When we embarked on the creation of this site 3 weeks before the Apps for America 2 deadline we knew that the open source software community would be essential to us realizing our dream. We are deeply indebted to all those who toil everyday to create incredible software and freely share it with the world. We are proud to have toiled along side them and thankful for their efforts to enable us to build a new app and tools we can release back into the community. It is our hope that this app continues to celebrate that spirit and gives back to that community, to the people of the US, and the world.</p>

<p>Technologies used:</p>

<ul class="bullets">
<li>Ruby</li>
<li>Ruby on Rails</li>

<li>Thinking sphinx</li>

<li>Compass, Blueprint, Sass &amp; Haml</li>

<li>Cloudmade APIs</li>
<li>Yahoo Placemaker</li>
<li>Google Maps Geocoding API</li>
<li>Google Charts</li>

<li>Geokit &amp; geokit-rails</li>
<li>Maxmind ip database</li>

<li>jQuery</li>

</ul>

</div>

<div class="panel" id="who">

<h2>We are not robots</h2>
  
<p>We are three developers that have a passion for building web applications that make a difference in the lives of people. By day we work to make further our Educational system. By night, well we do other stuff. Like this app.</p>

<div class="span-6 prepend-1">
  <h3>Andrew</h3> 
  <p>Web developer extraordinaire, he bends regular expressions to his whim and is concerned more about the right way to develop than he is actually sleeping at night. Andrew is especially apt at wrangling large sets of unruly data to the ground and wrapping it up complex search mechanisms.</p>
  </div>

<div class="span-6 prepend-1">
  <h3>Dave</h3>
  <p>Our resident CSS and javascript ninja who has a hidden knack for development that truly makes him the most sought after front end developer in the Bay Area (no you can't have him, he's ours!). Dave works incessantly to make interfaces usable and functional and ensures that all pixels land where they belong.</p>
</div>

<div class="span-6 prepend-1"><h3>Bob</h3> 
  <p>He's kind of like the glue, he seeps into all the cracks, makes a mess and gets all over everything. But you're usually glad he did. Usually. He generally drinks way too much coffee and stays up late at night writing fluffy words like these.</p>
</div>

</div>
