<% content_for :precolumn do %>
<div class="header group"><h1>Search</h1><a href="#" class="options icon arrow closed">Show Options</a></div>

<form method="get">
  <ul>
    <li class="simple"><label>Keywords:</label><input id="q" name="q" type="text" value="food" /></li>

    <li class="simple"><label>Agency:</label><select id="agency_id" name="agency_id"><option value=""></option>
<option value="56">African Development Foundation</option>
<option value="11">Agricultural Research Service</option>
<option value="2">Animal and Plant Health Inspection Service</option>

<option value="57">Broadcasting Board of Governors</option>
<option value="23">Bureau of Economic Analysis</option>
<option value="19">Bureau of Industry and Security</option>
<option value="22">Bureau of the Census</option>
<option value="6">Center for Nutrition Policy and Promotion</option>
<option value="58">Central Intelligence Agency</option>
<option value="8">Commodity Credit Corporation</option>
<option value="59">Commodity Futures Trading Commission</option>
<option value="60">Consumer Product Safety Commission</option>

<option value="12">Cooperative State Research, Education, and Extension Service</option>
<option value="61">Corporation for National and Community Service</option>
<option value="42">Defense Agencies</option>
<option value="62">Defense Nuclear Facilities Safety Board</option>
<option value="1">Department of Agriculture</option>
<option value="18">Department of Commerce</option>
<option value="38">Department of Defense</option>
<option value="44">Department of Education</option>
<option value="45">Department of Energy</option>

<option value="46">Department of Health and Human Services</option>
<option value="47">Department of Homeland Security</option>
<option value="48">Department of Housing and Urban Development</option>
<option value="50">Department of Justice</option>
<option value="51">Department of Labor</option>
<option value="52">Department of State</option>
<option value="39">Department of the Air Force</option>
<option value="40">Department of the Army</option>
<option value="49">Department of the Interior</option>

<option value="41">Department of the Navy</option>
<option value="54">Department of the Treasury</option>
<option value="53">Department of Transportation</option>
<option value="55">Department of Veterans Affairs</option>
<option value="20">Economic Development Administration</option>
<option value="13">Economic Research Service</option>
<option value="21">Economics and Statistics Administration</option>
<option value="63">Environmental Protection Agency</option>
<option value="64">Equal Employment Opportunity Commission</option>

<option value="65">Export-Import Bank of the United States</option>
<option value="66">Farm Credit Administration</option>
<option value="7">Farm Service Agency</option>
<option value="67">Federal Communications Commission</option>
<option value="68">Federal Deposit Insurance Corporation</option>
<option value="69">Federal Election Commission</option>
<option value="70">Federal Housing Finance Board</option>
<option value="71">Federal Labor Relations Authority</option>
<option value="72">Federal Maritime Commission</option>

<option value="73">Federal Mediation and Conciliation Service</option>
<option value="74">Federal Mine Safety and Health Review Commission</option>
<option value="75">Federal Reserve System</option>
<option value="76">Federal Retirement Thrift Investment Board</option>
<option value="77">Federal Trade Commission</option>
<option value="5">Food and Nutrition Service</option>
<option value="4">Food Safety and Inspection Service</option>
<option value="10">Foreign Agricultural Service</option>
<option value="15">Forest Service</option>

<option value="78">General Services Administration</option>
<option value="17">Graduate School</option>
<option value="3">Grain Inspection, Packers, and Stockyards Administration</option>
<option value="115">Guide to Boards, Commissions, and Committees</option>
<option value="88">Institute of Museum and Library Services</option>
<option value="79">Inter-American Foundation</option>
<option value="24">International Trade Administration</option>
<option value="43">Joint Service Schools</option>
<option value="116">Legal Services Corporation</option>

<option value="80">Merit Systems Protection Board</option>
<option value="25">Minority Business Development Agency</option>
<option value="81">National Aeronautics and Space Administration</option>
<option value="14">National Agricultural Statistics Service</option>
<option value="82">National Archives and Records Administration</option>
<option value="83">National Capital Planning Commission</option>
<option value="84">National Credit Union Administration</option>
<option value="86">National Endowment for the Arts</option>
<option value="87">National Endowment for the Humanities</option>

<option value="28">National Environmental Satellite, Data, and Information Service</option>
<option value="85">National Foundation on the Arts and the Humanities</option>
<option value="35">National Institute of Standards and Technology</option>
<option value="89">National Labor Relations Board</option>
<option value="29">National Marine Fisheries Service</option>
<option value="90">National Mediation Board</option>
<option value="30">National Ocean Service</option>
<option value="26">National Oceanic and Atmospheric Administration</option>
<option value="91">National Railroad Passenger Corporation (AMTRAK)</option>

<option value="92">National Science Foundation</option>
<option value="36">National Technical Information Service</option>
<option value="33">National Telecommunications and Information Administration</option>
<option value="93">National Transportation Safety Board</option>
<option value="27">National Weather Service</option>
<option value="16">Natural Resources Conservation Service</option>
<option value="94">Nuclear Regulatory Commission</option>
<option value="95">Occupational Safety and Health Review Commission</option>
<option value="97">Office of Government Ethics</option>

<option value="32">Office of Marine and Aviation Operations</option>
<option value="31">Office of Oceanic and Atmospheric Research</option>
<option value="98">Office of Personnel Management</option>
<option value="99">Office of Special Counsel</option>
<option value="34">Office of Technology Policy</option>
<option value="96">Office of the Director of National Intelligence</option>
<option value="100">Overseas Private Investment Corporation</option></select></li>
    
  <li class="simple"><label>Topic:</label><select id="topic_ids" name="topic_ids"><option value=""></option>

<option value="2660">(hmo)</option>
<option value="1445">-canada free trade agreement</option>
<option value="3641">121</option>
<option value="2909">13 carcinogens</option>
<option value="2894">17 cfr part brokers</option>
<option value="2908">3-butadiene</option>
<option value="2839">3-propanetriol</option>
<option value="2302">42</option>
<option value="2552">Abandoned mine reclamation fund</option>

<option value="1213">Abandoned mine reclamation programs</option>
<option value="3463">Abortion</option>
<option value="2631">Absentee deserter apprehension program and surrender of military personnel to civilian authorities</option>
<option value="2475">Access</option>
<option value="1852">Access charges</option>
<option value="2203">Access to neutrals</option>
<option value="2506">Accident investigation</option>
<option value="1329">Accordingly</option>
<option value="1122">Account servicing</option>

<option value="334">Accountants</option>
<option value="213">Accounting</option>
<option value="565">Accounting servicing</option>
<option value="2848">Accounts</option>
<option value="1559">Accreditation</option>
<option value="2884">Accredited laboratory program</option>
<option value="1743">Acetal resins production</option>
<option value="2257">Acid gases</option>
<option value="1575">Acid rain</option>

<option value="1467">Acid rain program</option>
<option value="2075">Acquisition of real property</option>
<option value="1192">Acquisition regulations</option>
<option value="972">Acreage allotments</option>
<option value="2899">Acreage reports</option>
<option value="2067">Acreages</option>
<option value="1744">Acrylic and modacrylic fiber production</option>
<option value="2784">Actions against administrative law judges</option>
<option value="2785">Actions filed by administrative law judges</option>

<option value="3019">Addressee of record</option>
<option value="497">Adequacy</option>
<option value="490">Adhesives</option>
<option value="1580">Admininstrative practice and procedure</option>
<option value="781">Administration</option>
<option value="1495">Administration practice and procedure</option>
<option value="1817">Administrative</option>
<option value="2005">Administrative costs</option>
<option value="3451">Administrative offset</option>

<option value="1828">Administrative penalties</option>
<option value="2728">Administrative personnel</option>
<option value="1251">Administrative pracatice and procedure</option>
<option value="3057">Administrative practice</option>
<option value="72">Administrative practice and procedure</option>
<option value="874">Administrative practice and procedure and air transportation</option>
<option value="1737">Administrative practice and procedure and cable television</option>
<option value="2145">Administrative practice and procedure and immigration</option>
<option value="2305">Administrative practice and procedure and radio broadcast services</option>

<option value="2337">Administrative practice and procedure in the federal</option>
<option value="2732">Administrative practice and procedure in the federal old age</option>
<option value="3580">Administrative practice and procedure: freedom of information</option>
<option value="393">Administrative practice and procedures</option>
<option value="2936">Administrative practice procedure</option>
<option value="216">Administrative practices and procedure</option>
<option value="625">Administrative practices and procedures</option>
<option value="1296">Administrative procedure and practice</option>
<option value="2171">Administrative procedures</option>

<option value="3525">Administrative remedies for non-compliance</option>
<option value="3452">Administrative wage garnishment</option>
<option value="922">Administrtive practice and procedure</option>
<option value="1551">Adminstrative practice and procedure</option>
<option value="1767">Adoption and foster care</option>
<option value="1107">Adoption of state implementation plans</option>
<option value="2071">Adoption of the amendment</option>
<option value="3362">Adult day health care</option>
<option value="1833">Adult education</option>

<option value="2023">Advertisements</option>
<option value="233">Advertising</option>
<option value="1857">Advertising consumer information</option>
<option value="266">Advisory committees</option>
<option value="3345">Aerosol coatings</option>
<option value="3346">Aerosol products</option>
<option value="2516">Affiliate marketing</option>
<option value="2072">Affiliates</option>
<option value="2468">Affirmative action plans</option>

<option value="1804">Afghanistan</option>
<option value="1334">Age</option>
<option value="1922">Age discrimination</option>
<option value="138">Aged</option>
<option value="2498">Agency procedures</option>
<option value="3520">Agents of foreign governments</option>
<option value="3550">Aggregation</option>
<option value="2739">Aging</option>
<option value="3004">Agreement</option>

<option value="2079">Agricultural</option>
<option value="191">Agricultural commodities</option>
<option value="2269">Agricultural commodities imports</option>
<option value="2332">Agricultural commodity imports</option>
<option value="726">Agricultural extension</option>
<option value="3648">Agricultural operation</option>
<option value="2490">Agricultural operations</option>
<option value="486">Agricultural research</option>
<option value="1683">Agriculturalcommodities</option>

<option value="107">Agriculture</option></select></li>
    
    <li>
      <fieldset>
        <legend>Location</legend>
        <ul>
    <li><label>Near:</label> <input id="near" name="near" type="text" /><span> (eg '94118', 'San Francisco', etc)</span></li>           
    <li><label>Within:</label> <input id="within" name="within" type="text" /> <span>miles</span></li>
    </ul>
    </fieldset>
  </li>
  
  <li>
    <fieldset>
      <legend>Publication Date</legend>
      <ul>
        <li><label>From:</label><input id="publication_date_greater_than" name="publication_date_greater_than" type="text" /></li>
        <li><label>To:</label><input id="publication_date_less_than" name="publication_date_less_than" type="text" /><span>(eg '01/01/09', 'a year ago', 'yesterday')</span></li>

      </ul>
    </fieldset>
  </li>
  
  <li>
    <fieldset>
      <legend>Options</legend>
      <ul>
  <li><label>Order:</label><select id="order" name="order"><option value="date">Date</option>
<option value="relevance">Relevance</option></select> </li>
    </ul>
  </fieldset>
  </li>
  <input name="commit" type="submit" value="Search" class="btn" />
 </form>

 
<% end %>


Displaying entries <b>1&nbsp;-&nbsp;20</b> of <b>24128</b> in total

<div class="pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/entries/search?commit=Search&amp;page=2&amp;q=food" rel="next">2</a> <a href="/entries/search?commit=Search&amp;page=3&amp;q=food">3</a> <a href="/entries/search?commit=Search&amp;page=4&amp;q=food">4</a> <a href="/entries/search?commit=Search&amp;page=5&amp;q=food">5</a> <a href="/entries/search?commit=Search&amp;page=6&amp;q=food">6</a> <a href="/entries/search?commit=Search&amp;page=7&amp;q=food">7</a> <a href="/entries/search?commit=Search&amp;page=8&amp;q=food">8</a> <a href="/entries/search?commit=Search&amp;page=9&amp;q=food">9</a> <span class="gap">&hellip;</span> <a href="/entries/search?commit=Search&amp;page=1206&amp;q=food">1206</a> <a href="/entries/search?commit=Search&amp;page=1207&amp;q=food">1207</a> <a href="/entries/search?commit=Search&amp;page=2&amp;q=food" class="next_page" rel="next">Next &raquo;</a></div>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Title</th>
      <th>Agency</th>

      <th>Extract</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>07/31/2009</td>
      <td>Notice.</td>

      <td><a href="/entries/2009/07/31/E9-18354/agency-information-collection-activities-submission-for-office-of-management-and-budget-review-comment-request-guidance-for-industry-and-food-and-drug-administration-staff-class-ii-special-controls-guidance-document-automated-blood-cell-separator-device-operating-by-centrifugal-or-filtration-separation-principle"> &#8230;  Collection Activities; Submission for Office of Management and Budget Review; Comment Request; Guidance for Industry and <span class="match">Food</span> and Drug Administration Staff; Class II Special Controls Guidance Document: Automated Blood Cell Separator Device Operating by  &#8230; </a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>
      <td>The <span class="match">Food</span> and Drug Administration (FDA) is announcing that a proposed collection of information has been submitted to the Office of Management and Budget (OMB) for review and clearance under the Paperwork Reduction Act of 1995.</td>

    </tr>
    
    <tr>
      <td>07/29/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/29/E9-18000/proposed-information-collection-nutrition-and-food-services-survey-comment-request">Proposed Information Collection (Nutrition and <span class="match">Food</span> Services Survey); Comment Request</a></td>
      <td>DEPARTMENT OF VETERANS AFFAIRS</td>

      <td> &#8230;  proposed revision to currently approved collection, and allow 60 days for public comment in response to the notice. This notice solicits comments on information needed to determine patients' satisfaction with the quality of <span class="match">food</span> and nutrition services.</td>
    </tr>
    
    <tr>
      <td>07/28/2009</td>
      <td>Final rule.</td>

      <td><a href="/entries/2009/07/28/E9-17963/applications-for-food-and-drug-administration-approval-to-market-a-new-drug-postmarketing-reports-reporting-information-about-authorized-generic-drugs">Applications for <span class="match">Food</span> and Drug Administration Approval To Market a New Drug; Postmarketing Reports; Reporting Information About Authorized Generic Drugs</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>
      <td>The <span class="match">Food</span> and Drug Administration (FDA) is amending its regulations to require that the holder of a new drug &#8230; . We are taking this action as part of our implementation of the <span class="match">Food</span> and Drug Administration Amendments Act of 2007 (FDAAA). FDAAA requires that FDA &#8230; </td>

    </tr>
    
    <tr>
      <td>07/28/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/28/E9-17961/science-board-to-the-food-and-drug-administration-notice-of-meeting">Science Board to the <span class="match">Food</span> and Drug Administration; Notice of Meeting</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>

      <td></td>
    </tr>
    
    <tr>
      <td>07/24/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/24/E9-17719/agency-information-collection-activities-proposed-collection-comment-request-information-collection-for-the-summer-food-service-program">Agency Information Collection Activities: Proposed Collection; Comment Request-Information Collection for the Summer <span class="match">Food</span> Service Program</a></td>

      <td>DEPARTMENT OF AGRICULTURE</td>
      <td> &#8230;  to comment on a proposed information collection for the Summer <span class="match">Food</span> Service Program (SFSP). Pursuant to Section 13 of the  &#8230;  provides assistance to States to initiate and maintain nonprofit <span class="match">food</span> service programs for needy children during the summer months  &#8230; </td>

    </tr>
    
    <tr>
      <td>07/22/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/22/E9-17332/agency-information-collection-activities-announcement-of-office-of-management-and-budget-approval-food-contact-substances-notification-system">Agency Information Collection Activities; Announcement of Office of Management and Budget Approval; <span class="match">Food</span> Contact Substances Notification System</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>

      <td>The <span class="match">Food</span> and Drug Administration (FDA) is announcing that a collection of information entitled ``<span class="match">Food</span> Contact Substances Notification System'' has been approved by the Office of Management and Budget (OMB) under the Paperwork Reduction Act of 1995.</td>
    </tr>
    
    <tr>
      <td>07/22/2009</td>
      <td>Notice.</td>

      <td><a href="/entries/2009/07/22/E9-17331/agency-information-collection-activities-announcement-of-office-of-management-and-budget-approval-export-of-food-and-drug-administration-regulated-products-export-certificates">Agency Information Collection Activities; Announcement of Office of Management and Budget Approval; Export of <span class="match">Food</span> and Drug Administration Regulated Products: Export Certificates</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>
      <td>The <span class="match">Food</span> and Drug Administration (FDA) is announcing that a collection of information entitled ``Export of <span class="match">Food</span> and Drug Administration Regulated Products: Export Certificates'' has been approved by the Office of Management and Budget (OMB) under the  &#8230; </td>

    </tr>
    
    <tr>
      <td>07/21/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/21/E9-17250/ajinomoto-co-inc-filing-of-food-additive-petition">Ajinomoto Co., Inc.; Filing of <span class="match">Food</span> Additive Petition</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>

      <td>The <span class="match">Food</span> and Drug Administration (FDA) is announcing that Ajinomoto Co., Inc., has filed a petition proposing that the <span class="match">food</span> additive regulations be amended to provide for the safe use of N-[N-[3- (3-hydroxy-4- &#8230; </td>
    </tr>
    
    <tr>
      <td>07/21/2009</td>

      <td></td>
      <td><a href="/entries/2009/07/21/E9-17273/board-for-international-food-and-agricultural-development-one-hundred-and-fifty-seventh-meeting-notice-of-meeting">Board for International <span class="match">Food</span> and Agricultural Development; One Hundred and Fifty-Seventh Meeting; Notice of Meeting</a></td>
      <td>U.S. AGENCY FOR INTERNATIONAL DEVELOPMENT</td>
      <td></td>
    </tr>
    
    <tr>

      <td>07/15/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/15/E9-16746/food-distribution-program-value-of-donated-foods-from-july-1-2009-through-june-30-2010"><span class="match">Food</span> Distribution Program: Value of Donated <span class="match">Foods</span> From July 1, 2009 Through June 30, 2010</a></td>
      <td>DEPARTMENT OF AGRICULTURE</td>

      <td> &#8230;  notice announces the national average value of donated <span class="match">foods</span> or, where applicable, cash in lieu of donated <span class="match">foods</span>, to be provided in school year 2010 (July 1,  &#8230;  served by institutions participating in the Child and Adult Care <span class="match">Food</span> Program (CACFP).</td>
    </tr>

    
    <tr>
      <td>07/15/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/15/E9-16867/draft-guidance-for-industry-on-postmarketing-studies-and-clinical-trials-implementation-of-the-federal-food-drug-and-cosmetic-act-availability">Draft Guidance for Industry on Postmarketing Studies and Clinical Trials; Implementation of the Federal <span class="match">Food</span>, Drug, and Cosmetic Act; Availability</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>
      <td>The <span class="match">Food</span> and Drug Administration (FDA) is announcing the availability of a draft  &#8230;  of Section 505(o) of the Federal <span class="match">Food</span>, Drug, and Cosmetic Act.'' The <span class="match">Food</span> and  &#8230;  (FDAAA) added new provisions to the Federal <span class="match">Food</span>, Drug, and Cosmetic Act (the act) authorizing  &#8230; </td>

    </tr>
    
    <tr>
      <td>07/15/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/15/E9-16748/child-and-adult-care-food-program-national-average-payment-rates-day-care-home-food-service-payment-rates-and-administrative-reimbursement-rates-for-sponsoring-organizations-of-day-care-homes-for-the-period-july-1-2009-through-june-30-2010">Child and Adult Care <span class="match">Food</span> Program: National Average Payment Rates, Day Care Home <span class="match">Food</span> Service Payment Rates, and Administrative Reimbursement Rates for Sponsoring Organizations of Day Care Homes for the Period July 1, 2009 through June 30, 2010</a></td>

      <td>DEPARTMENT OF AGRICULTURE</td>
      <td> &#8230;  centers, at-risk afterschool care centers, and adult day care centers; the <span class="match">food</span> service payment rates for meals and snacks served in day care homes;  &#8230;  basis each July, as required by the laws and regulations governing the Child and Adult Care <span class="match">Food</span> Program.</td>
    </tr>

    
    <tr>
      <td>07/15/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/07/15/E9-16869/agency-information-collection-activities-proposed-collection-comment-request-food-labeling-regulations">Agency Information Collection Activities; Proposed Collection; Comment Request; <span class="match">Food</span> Labeling Regulations</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>

      <td>The <span class="match">Food</span> and Drug Administration (FDA) is announcing an opportunity for public comment on the proposed collection of  &#8230;  notice solicits comments on the information collection provisions in FDA's <span class="match">food</span> labeling regulations and on Form FDA 3570, ``Model Small  &#8230; </td>
    </tr>
    
    <tr>
      <td>07/13/2009</td>

      <td>Notice of public workshop; request for comments.</td>
      <td><a href="/entries/2009/07/13/E9-16657/food-and-drug-administration-regulation-and-licensure-of-whole-blood-and-blood-components-including-source-plasma-public-workshop-request-for-comments"><span class="match">Food</span> and Drug Administration Regulation and Licensure of Whole Blood and Blood Components, Including Source Plasma; Public Workshop; Request for Comments</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>
      <td></td>
    </tr>
    
    <tr>

      <td>07/09/2009</td>
      <td></td>
      <td><a href="/entries/2009/07/09/E9-16290/notice-of-consolidated-decision-on-applications-for-duty-free-entry-of-electron-microscopes-u-s-food-and-drug-adminsitration-et-al-">Notice of Consolidated Decision on Applications for Duty-Free Entry of Electron Microscopes; U.S. <span class="match">Food</span> and Drug Adminsitration, et al.</a></td>
      <td>DEPARTMENT OF COMMERCE</td>
      <td></td>
    </tr>

    
    <tr>
      <td>06/29/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/06/29/E9-15202/draft-guidance-for-industry-on-measures-to-address-the-risk-for-contamination-by-salmonella-species-in-food-containing-a-pistachio-derived-product-as-an-ingredient-availability">Draft Guidance for Industry on Measures to Address the Risk for Contamination by Salmonella Species in <span class="match">Food</span> Containing a Pistachio-Derived Product as an Ingredient; Availability</a></td>
      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>

      <td>The <span class="match">Food</span> and Drug Administration (FDA) is announcing the availability of a draft guidance for industry entitled ``Guidance for</td>
    </tr>
    
    <tr>
      <td>06/26/2009</td>
      <td></td>
      <td><a href="/entries/2009/06/26/E9-15253/in-the-matter-of-paivis-corp-peabodys-coffee-inc-penge-corp-petrol-industries-inc-n-k-a-caddo-international-inc-phantom-entertainment-inc-phoenix-medical-technology-inc-phoenix-metals-usa-ii-inc-a-k-a-tm-media-group-inc-phymed-inc-pico-products-inc-and-piemonte-foods-inc-file-no-500-1-order-of-suspension-of-trading"> &#8230; Caddo International, Inc.), Phantom Entertainment, Inc., Phoenix Medical Technology, Inc., Phoenix Metals USA II, Inc. (a/k/a TM Media Group, Inc.), Phymed, Inc., Pico Products, Inc., and Piemonte <span class="match">Foods</span>, Inc.; File No. 500-1; Order of Suspension of Trading</a></td>

      <td>SECURITIES AND EXCHANGE COMMISSION</td>
      <td></td>
    </tr>
    
    <tr>
      <td>06/26/2009</td>
      <td>Notice of public workshops.</td>
      <td><a href="/entries/2009/06/26/E9-15107/reportable-food-registry-public-workshops">Reportable <span class="match">Food</span> Registry; Public Workshops</a></td>

      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>
      <td></td>
    </tr>
    
    <tr>
      <td>06/16/2009</td>
      <td>Notice.</td>
      <td><a href="/entries/2009/06/16/E9-14048/agency-emergency-processing-under-office-of-management-and-budget-review-reporting-and-recordkeeping-requirements-for-reportable-food-registry">Agency Emergency Processing Under Office of Management and Budget Review; Reporting and Recordkeeping Requirements for Reportable <span class="match">Food</span> Registry</a></td>

      <td>DEPARTMENT OF HEALTH AND HUMAN SERVICES</td>
      <td>The <span class="match">Food</span> and Drug Administration (FDA) is announcing that a proposed collection  &#8230; ``Questions and Answers Regarding the Reportable <span class="match">Food</span> Registry as Established by the <span class="match">Food</span> &#8230; industry in complying with the Reportable <span class="match">Food</span> Registry requirements prescribed by the  &#8230; </td>

    </tr>
    
    <tr>
      <td>06/15/2009</td>
      <td>Notice and request for comments.</td>
      <td><a href="/entries/2009/06/15/E9-13936/notice-of-request-for-a-new-information-collection-be-food-safe-campaign-pilot-surveys-">Notice of Request for a New Information Collection (Be <span class="match">Food</span> Safe Campaign Pilot Surveys)</a></td>
      <td>DEPARTMENT OF AGRICULTURE</td>

      <td> &#8230; Act of 1995 and the Office of Management and Budget (OMB) regulations, the <span class="match">Food</span> Safety and Inspection Service (FSIS) is announcing its intention to  &#8230;  surveys of consumers to assess the effectiveness of the Be <span class="match">Food</span> Safe campaign mass media advertising pilot.</td>
    </tr>
    
  </tbody>

</table>

<div class="pagination"><span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="/entries/search?commit=Search&amp;page=2&amp;q=food" rel="next">2</a> <a href="/entries/search?commit=Search&amp;page=3&amp;q=food">3</a> <a href="/entries/search?commit=Search&amp;page=4&amp;q=food">4</a> <a href="/entries/search?commit=Search&amp;page=5&amp;q=food">5</a> <a href="/entries/search?commit=Search&amp;page=6&amp;q=food">6</a> <a href="/entries/search?commit=Search&amp;page=7&amp;q=food">7</a> <a href="/entries/search?commit=Search&amp;page=8&amp;q=food">8</a> <a href="/entries/search?commit=Search&amp;page=9&amp;q=food">9</a> <span class="gap">&hellip;</span> <a href="/entries/search?commit=Search&amp;page=1206&amp;q=food">1206</a> <a href="/entries/search?commit=Search&amp;page=1207&amp;q=food">1207</a> <a href="/entries/search?commit=Search&amp;page=2&amp;q=food" class="next_page" rel="next">Next &raquo;</a></div>


