<% title "Contact Us" %>

<p>Questions? Comments? Feel free to drop us a line! You can contact us a number of ways:</p>

<ul class="indent raquo">
<li><strong>Email us</strong> at <a href="mailto:govpulse@gmail.com" title="E-Mail Govpulse">govpulse@gmail.com</a>.</li>
<li>Find us on <strong>twitter</strong> <a href="http://twitter.com/govpulse" title="Govpulse Twitter Page">@govpulse</a>.</li>
<li>Use the <strong>feedback tab</strong> on the left or go directly to our <a href="http://govpulse.tenderapp.com" title="Govpulse Tender Site">tender support site</a>.</li>
</ul>
