<% feed_autodiscovery entries_path(:format => :rss) %>
<% add_column_class('home') %>

<% content_for :precolumn do %>
          
    <div class="infobox">
      <h1>The Federal Register at your fingertips.</h1>
      <p class='copy'>
        The Federal Register is the official journal of the federal government of the United States. In it, you'll 
        find any kind of proposal, notification, or solicitation for data that a federal agency puts out. It's the 
        pulse of your government.
      </p>
      <p class='copy'> 
        For much of its existence the Federal Register has had no easily accessible form. 
        <span class='gray'>gov</span><span class='orange'>pulse</span> seeks to change this and enable you to respond to your government. We give you a 
        way to browse the Register (from 1994 on) and use filters to decide what is important to you. And then act on it.
      </p>
    </div>
<% end %>

<% if !@closing_soon.empty? %>
  <div class="clear marginTop">
    <h2>Comments Closing Soon</h2>
    <ul class="indent marginTop raquo">
    <% @closing_soon.each do |date| %>
      <li><%= link_to date.entry.title, entry_path(date.entry) %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if !@recently_opened.empty? %>
  <div class="clear marginTop">
    <h2>Comments Recently Opened</h2>
    <ul class="indent marginTop raquo">
    <% @recently_opened.each do |date| %>
      <li><%= link_to date.entry.title, entry_path(date.entry) %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if !@recent_proposed_rules.empty? %>
<div class="clear marginTop">
  <h2>Newly Proposed Rules</h2>
  <ul class="indent marginTop raquo">
  <% @recent_proposed_rules.each do |proprule| %>
    <li><%= link_to proprule.title, entry_path(proprule)%></li>
  <% end %>
  </ul>
</div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'agencies/pulse', :locals => {:featured_agencies => @featured_agencies} %>
<% end %>

