<script type="text/javascript">document.getElementsByTagName('body')[0].className+=' has_js'</script>

<a href="#main" title="Skip to Content" class="skip_to_content">Skip to Content</a>

<div id="print-disclaimer"></div>

<% header_tag(:id => 'header_refresh') do %>
  <div class="header_wrapper">
    <%#= render :partial => 'layouts/navigation', :locals => {:last_date => @last_date, :search_term => @search_term} %>
    <%= render :esi => my_fr2_navigation_path %>
    <%= render :esi => my_fr2_user_utils_path %>
    <%= render :esi => my_fr2_header_path(params[:header_type]) %>
  </div>
<% end -%>
