<% footer_tag(:id => "footer") do %>        
  <%= render :partial => 'layouts/footer' %>
<% end -%>

<a href="https://federalregister.tenderapp.com/discussion/new?discussion" id="tender" class="trigger_tender">Site Feedback</a>

<script>
  Tender = {
    hideToggle: true,
    widgetToggles: $(".trigger_tender")
  }
</script>
<script src="/javascripts/vendor/tender_widget-20130911.js"></script>
