<script type="text/javascript">document.getElementsByTagName('body')[0].className+=' has_js'</script>

<a href="#main" title="Skip to Content" class="skip_to_content">Skip to Content</a>

<div id="print-disclaimer"></div>

<% header_tag(:id => 'header_refresh') do %>
  <div class="header_wrapper">
    <%= render :partial => 'layouts/navigation', :locals => {:last_date => @last_date, :search_term => @search_term} %>
    
    <%# TODO: someday use the HTML5 helpers, but for now need the div outside, rather than inside and don't want to change globally, need to switch for validity %>
    <div class="logo">
        <div class="hgroup">
          <hgroup>
            <h1><a href="/" title="Federal Register Home">The Federal Register</a></h1>
            <h2>The Daily Journal of the United States Government</h2>
          </hgroup>
        </div>
      </div>
  </div>
<% end -%>
