<% title "We need your help!" %>

<% content_for :precolumn do %>

<div class="votepane">
  <p>
    We are pleased to announce that 
    <a href="http://www.programmableweb.com/mashup/govpulse" title="govpulse" class="govpulse">gov<span>pulse</span></a> 
    has been selected as a finalist in the 
    <a href="http://sunlightlabs.com/contests/appsforamerica2/" title="Apps for America 2: The Data.gov Challenge">Apps for America 2</a> 
    contest by <a href="http://www.sunlightlabs.com/" title="Sunlight Labs">Sunlight Labs</a>!
  </p>
  <p>Please take the a moment to <strong>vote for us</strong>!  Here's how, please read all the instructions as it is not the most intuitive system:</p>
  <ol>
    <li><a href="http://labs-beta.sunlightlabs.com/accounts/register/" title="Register for an account at Sunlight Labs" target="_blank"><strong>Register at Sunlight Labs.</strong></a>  It's quick and unobtrusive, no surveys to fill out and no spam to receive; <strong>just a username, email and password needed</strong>. Subsequent profile information is <i>not</i> needed for voting.  The registration page will open in a <strong>*new* window</strong>.  Once you have made an account, just close it and move on to step 2. </li>
    <li><a href="http://labs-beta.sunlightlabs.com/aa2judging/" title="Apps for America 2 Voting Page"><strong>Vote for govpulse!</strong></a> A new page will open when you <a href="http://labs-beta.sunlightlabs.com/aa2judging/" title="Apps for America 2 Voting Page">click here</a> to start step 2. Choose govpulse from the list and click Vote.</li>
  </ol>
  <p>Voting ends <strong>September 7th</strong>, so vote soon!</p>
</div>
<% end %>