<h1 class="title"><span>Accessibility</span></h1>

<p>We believe that the FederalRegister.gov website is compliant with Section 508 and W3C accessibility design guidelines. This site uses text-based files and Adobe Portable Document Format (PDF) files, which are text-accessible through the use of Adobe PDF Tools. See more about Adobe Acrobat Reader and PDF Files below. The OFR and GPO are committed to assisting people with disabilities in any feasible manner, including voice description and other equivalent facilitation, in accordance with the electronic and information technology standards of 36 CFR part 1194.</p>

<p>If you are a person with a disability and you encounter barriers to accessibility on this website, please contact Customer Service staff of the Federal Register for assistance at 202-741-6000, 8:45 a.m. to 5:15 p.m. EST, Monday through Friday (except Federal holidays). </p>

<p>More information about Section 508 can be found on: <a href="http://www.section508.gov">http://www.section508.gov</a>.</p>

<p>Adobe Acrobat Reader and PDF Files PDF files require the <a href="http://www.adobe.com/products/acrobat/readstep2.html">free Acrobat Reader</a>. Adobe also provides free tools for the visually impaired: <a href="http://www.adobe.com/accessibility/index.html">http://www.adobe.com/accessibility/index.html</a> </p>

<p><a href="http://www.adobe.com/products/acrobat/readstep2.html">Download Adobe Reader Now</a></p>
