<h1 class="title"><span>Contact Us</span></h1>

<% section_tag(:id => 'content_area') do %>

  <p>Please send us your inquiries and feedback:</p>

  <ul class="bullets">
    <li>For questions or comments on editorial content, features, or design, email us at: <a href="mailto:openfederalregister@nara.gov">openfederalregister@nara.gov</a>.</li>
    <li>For questions concerning FederalRegister.gov programming and technical issues, please open a ticket on <a href="http://federalregister.tenderapp.com">our support site</a>.</li>
    <li>For questions on access for the visually impaired, see the <a href="/accessibility">Accessibility page</a> of this website.</li>
  </ul>

<% end -%>

<% aside_tag(:id => 'sidebar') do %>
  <% section_tag(:id => 'relevant_links') do %>
    <h1 class="title_bar">Relevant Links</h1>
    <ul class="bullets">
      <li><a href="http://federalregister.tenderapp.com">FederalRegister.gov Support Site</a></li>
      <li><a href="/accessibility">FederalRegister.gov Accessibility Page</a></li>
    </ul>  
  <% end -%>
<% end -%>