<h1 class="title"><span>Freedom of Information Act</span></h1>

<% section_tag(:id => 'content_area') do %>
  <p>The Freedom of Information Act, or FOIA (5 U.S.C. 552, as amended), generally provides any person with the statutory right, enforceable in court, to obtain access to Government information in executive branch agency records. This right to access is limited when information is protected from disclosure by one of FOIA's nine statutory exemptions.</p>

  <p>Federal Register publications, including the FederalRegister.gov website and the various editions of the daily Federal Register, the Code of Federal Regulations (CFR), Federal Register/CFR indexes, and the Public Laws posted on the Federal Digital System (FDsys.gov) are not subject to the request for records provisions of the FOIA. Under the FOIA, our publications are made available to the public through numerous sources, including this website, GPO's FDsys.gov website, the GPO book sales program, and nearly 1,250 Government depository libraries located throughout the nation. </p>

  <p>For more information, see the National Archives and Records Administration <a href="http://archives.gov/foia/foia-guide.html">Freedom of Information Act Reference Guide</a>.This Guide provides instructions for obtaining information from us (for both operational and historical records) using the Freedom of Information Act.</p>

  <p>Learn more about our <a href="http://archives.gov/about/regulations/part-1250.html">FOIA Regulations</a> (36 CFR 1250).</p>

  <p>Read the text of the <a href="http://www.gpo.gov/fdsys/pkg/USCODE-2009-title5/html/USCODE-2009-title5-partI-chap5.htm">Freedom of Information Act</a> (5 U.S.C. 552) </p>

  <p>See our <a href="http://archives.gov/foia/privacy-program/">Privacy Program Resources</a>.</p>

  <p>Read <a href="http://www.archives.gov/foia/reports/">NARA's Annual FOIA Reports.</a></p>
<% end -%>

<% aside_tag(:id => 'sidebar') do %>
  <% section_tag(:id => 'relevant_links') do %>
    <h1 class="title_bar">Relevant Links</h1>
    <ul class="bullets">
      <li><a href="http://archives.gov/about/regulations/part-1250.html">FOIA Regulations</a></li>
      <li><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2009-title5/html/USCODE-2009-title5-partI-chap5.htm">Freedom of Information Act</a></li>
      <li><a href="http://archives.gov/foia/privacy-program/">Privacy Program Resources</a></li>
      <li><a href="http://www.archives.gov/foia/reports/">NARA's Annual FOIA Reports.</a></li>
    </ul>  
  <% end -%>
<% end -%>