<h1 class="title"><span>Legal Status &amp; Disclaimer</span></h1>

<% section_tag(:id => 'content_area') do %>
  <%= render :partial => 'pages/policy/legal_status_disclaimer' %>
<% end -%>

<% aside_tag(:id => 'sidebar') do %>
  <% section_tag(:id => 'relevant_links') do %>
    <h1 class="title_bar">Relevant Links</h1>
    <ul class="bullets">
      <li><a href="http://www.OFR.gov">Office of the Federal Register</a></li>
      <li><a href="http://www.gpo.gov/fdsys">GPO Federal Digital System</a></li>
    </ul>  
  <% end -%>
<% end -%>