<h1>Privacy</h1>

<h2>FederalRegister.gov Privacy Policy</h2>

<p>The FederalRegister.gov website is an authorized service of the Office of the Federal Register (OFR), National Archives and Records Administration (NARA), and the U.S. Government Printing Office (GPO). NARA and GPO collect no personal information about visitors to this website. We follow OMB recommendations and best practices for protecting Internet privacy. We do not enable cookies to monitor usage or to gather users’ personal information. The only information collected is the visitor's domain and Internet Protocol address, the type of browser and operating system used to access the site, the files visited and the time spent in each file, and the time and date of the visit. We use this information for statistical purposes and to improve public access to this service.</p>

<h2>Unauthorized Use and Security</h2>

<p>This web site is an official United States Government System. It is intended for use by the public to view and retrieve Federal Register files and related information. For site security purposes and to ensure that this service remains available to all users, this Government computer system employs software programs to monitor network traffic to identify unauthorized attempts to upload or change information or otherwise cause damage. Anyone using this system expressly consents to such monitoring. If such monitoring reveals evidence of possible abuse or criminal activity, we may provide that evidence to appropriate law enforcement officials. Unauthorized attempts to upload or change information on our servers are strictly prohibited and may be punishable by law, including the Computer Fraud and Abuse Act of 1986 and the National Information Infrastructure Protection Act of 1996.</p>

