<h1 class="title"><span>Privacy</span></h1>

<% section_tag(:id => 'content_area') do %>

<h1 id="policy">FederalRegister.gov Privacy Policy</h1>

<p>The FederalRegister.gov website is an authorized service of the Office of the Federal Register (OFR), National Archives and Records Administration (NARA), and the U.S. Government Printing Office (GPO). We at FederalRegister.gov are committed to protecting the privacy and security of your visits to this web site. We follow OMB recommendations and best practices for protecting Internet privacy. Outlined below is our online privacy policy. If you have questions about this policy, please let us know.</p>

<h2>Collection and Disclosure of Information</h2>

<p>When visitors to a web site communicate information that can be directly or indirectly associated with a specific person, we call this "personally identifiable information," and it includes, by way of illustration, names, addresses, telephone numbers and e-mail addresses.  NARA and GPO do not require visitors to this web site to include personally identifiable information when submitting questions or comments.  If you send us personally identifiable information through this web site or by other means, we do not use it for any purpose other than to respond to you.  Please do NOT include any personal information relating to Social Security numbers, tax ID numbers, or similar information that could compromise your personal privacy.</p>

<p>When visitors to this web site send us questions or comments, we may post that material and our response in a knowledge base of issues and answers.  We will exclude personally identifiable information from the knowledge base.  If you do include personally identifiable information in questions or comments, you should be aware that we may be required to retain that information as a federal record, which could become public information under some circumstances, as required by law.  FederalRegister.gov never collects information or creates individual profiles for commercial marketing. </p>

<h2>Information Collected and Stored Automatically</h2>

<p>When you visit the FederalRegister.gov web site, we may store some or all of the following: the Internet address from which you access the web site; date and time; the Internet address of the web site from which you linked to our sit; the name of the file or words you searched; items clicked on a page; and the browser and operating system used. This information is used to measure the number of visitors to the various sections of our site and identify system performance or problem areas. We also use this information to help us expand the coverage of the site, to analyze patterns of usage, and to make the site more useful. However, this information is not used for associating search terms or patterns of site navigation with individual users. We periodically delete web logs.</p>

<p>When you visit a website, web servers may generate pieces of information known as “cookies.”  Some cookies collect personal information to recognize your computer in the future.  FederalRegister.gov uses per-session cookies to serve technical purposes, like providing seamless navigation through our web site. These cookies do not permanently record data and they are not stored on your computer's hard drive. FederalRegister.gov’s per-session cookies are stored in memory and are only available during an active browser session. When you close your browser, the per-session cookie disappears.</p>

<p>Current OMB policy (M-10-22, June 25, 2010) permits agencies, within defined limits, to use persistent cookies to improve the performance of web sites through web analytics and customization technologies. FederalRegister.gov uses persistent cookies to measure and customize the user experience and we follow OMB approved practices and observe the defined limits. You can opt-out of persistent cookies by adjusting the settings on your web browser, instructions on how to do so are located at http://www.usa.gov/optout_instructions.shtml. Opting out will still permit access to comparable information and services as users who have not opted out. It is our general policy not to make any information collected available to anyone other than our employees, staff, and agents for the uses outlined above.</p>

<h1 id="security">Unauthorized Use and Security</h1>

<p>This web site is an official United States Government System. It is intended for use by the public to view and retrieve Federal Register files and related information. For site security purposes and to ensure that this service remains available to all users, this Government computer system employs software programs to monitor network traffic to identify unauthorized attempts to upload or change information or otherwise cause damage. Anyone using this system expressly consents to such monitoring. If such monitoring reveals evidence of possible abuse or criminal activity, we may provide that evidence to appropriate law enforcement officials. Unauthorized attempts to upload or change information on our servers are strictly prohibited and may be punishable by law, including the Computer Fraud and Abuse Act of 1986 and the National Information Infrastructure Protection Act of 1996.</p>

<% end -%>

<% aside_tag(:id => 'sidebar') do %>
  <div class="section TOC aside_box">
    <h1 class="firstchild">On This Page</h1>
    <ul>
      <li><a href="#policy">FederalRegister.gov Privacy Policy</a></li>
      <li><a href="#security">Unauthorized Use and Security</a></li>
    </ul>
  </div>  
<% end -%>