<h1 class="title"><span>User Information</span></h1>

<h2>Special Features of the FederalRegister.gov Website</h2>

<p>Each day Federal agencies publish numerous documents in the Federal Register, including proposed rules, final rules, public notices, and Presidential actions. However, the current print-based, official editions of the Federal Register display information in a dense format that makes it difficult to read and process documents in meaningful and innovative ways. We built the unofficial, XML-based Federal Register prototype on this site to overcome the technical limitations of the official editions and demonstrate how a new version can more effectively convey regulatory information to the public.   </p>

<p>Key features of this site include:</p>
<ul>
  <li><strong>Articles:</strong> We display documents published in the Federal Register in a web newspaper format.  We call these documents “articles.”</li>
  <li><strong>News Sections:</strong> News Sections: Federal Register documents are organized into six main topical sections, characteristic of a web journal or newspaper (Money, Environment, World, Science &amp; Technology, Business &amp; Industry, and Health &amp; Public Welfare).  Selected and crowd-sourced articles are featured on news section pages based on user interest, agency input, and the OFR’s editorial judgment.</li>
  <li><strong>Agency Pages:</strong> Each major agency has its own “home page” with a description of its mission and selected information, such as “Significant Rules” as defined by E.O. 12866, and collections of the most recent articles and the most cited articles.</li>
  <li><strong>Calendar of Events:</strong>  A calendar tool displays comment period opening and ending dates, final rule effective dates, public meeting dates, and other opportunities for public participation.</li>
  <li><strong>Topics Index:</strong> The site has a topical index drawn from the “List of Subjects” heading, which is based on the “Federal Register Thesaurus of Indexing Terms,” a controlled regulatory vocabulary.</li>
  <li><strong>Extracted Tables of Contents in Documents:</strong>  To enhance navigation within Federal Register documents, we extract major headings from the material to create linked internal tables of contents.</li>
  <li><strong>Summary and Key Information:</strong> To improve the readability of documents, we place the “Summary” in a prominent position.  We position key information from Federal Register headings and identifying data on the right side of the page, as applicable.  The key information area includes Publication Date, Action, Dates (effective dates, comment dates, applicability dates, meeting dates, etc.), Comments Close Date, Entry Type, Page Span, CFR Citation, Agency Docket ID, Regulation Identification Number (RIN), and Federal Register Document Number.</li>
  <li><strong>Unified Agenda and Regulations.gov:</strong>  For the convenience of our readers, we also link FederalRegister.gov material on this site with other major Federal regulatory websites.
    <ul>
      <li>Federal Register rulemaking documents connect to the Unified Agenda of Regulatory and Deregulatory Actions (Unified Agenda) in the form of a “Regulatory Timeline,” (data pulled from <a href="http://www.reginfo.gov">reginfo.gov</a>).</li>
      <li>Items open for comment display a due date banner, and a button to “Submit a Formal Comment,” directing users to the relevant page of the centralized Federal docket site for submitting and viewing comments on rulemaking and non-rulemaking actions (regulations.gov).</li>
      <li>These data connections add context to rulemaking actions and related documents by showing the complete lifecycle from initial regulatory planning and docketing, through the proposed rule stage(s) and the posting of public comments and supporting material, to the end-point of final rule publication and effective date.</li>
    </ul>
  </li>
  <li><strong>Linked Legal References:</strong> Linked Legal References:  OFR and GPO link the references in Federal Register material with the other primary legal information resources that appear on GPO’s Federal Digital System and other official sites.  With an extensive system of hyperlinks, we can expand access to the key documents of our democracy for the people and communities served by the U.S. Government.</li>
  <li><strong>Page Numbers and Footnotes:</strong>  Internal references to page numbers and footnotes appear on the right-hand side of the page.</li>
  <li><strong>Sharing Files and Customized Feeds:</strong> The site includes tools for sharing documents with friends and communities via social networking applications and email.  OFR and GPO also offer customized RSS feeds based on user preferences.</li>
  <li><strong>Images &amp; Thumbnails:</strong> The complete content of Federal Register documents appears on the website, including illustrations and camera copy of manuscript text.  Images are displayed as inline graphics and also appear as thumbnail previews near the beginning of documents.</li>
  <li><strong>Statistics and Visualizations:</strong> We may use visual representations, such as graphs, charts, and maps, to display statistical information on agency activity and regulatory data.</li>
  <li><strong>Open Source Code and Data:</strong> Our commitment to open and transparent Government extends to sharing the underlying code of this website.  The various applications and tools on this site are built with open source software.  We in turn offer our code and applications to the open source community for public use, without restriction.    Each Federal Register document also includes a link to the corresponding raw XML file for free use in other applications.</li>
</ul>