/******************************

COMMENT PERIOD CLOSING ENHANCEMENTS

TODO: Clean this all up.  We removed EnhanceJS and it is no longer clear & clean.

******************************/  

#comments-closing-opening > .header-nav {
  display: none;
  }
#comments-closing-opening.active > .header-nav {
  border-top: 3px solid $dark_blue;
  display: block;
  position: relative;
  }
.active #comments-closing-opening-body h2 {
  display: none;
  }  
#comments-closing-opening .header-nav h2 {
  border-top: none;
  margin-top: 0;
  }
#comments-closing-opening .header-nav.title_bar {
  margin: 4.8em 0 0;
  padding-top: 0;
  }
#comments-closing-opening .header-nav.title_bar .small_stack {
  font-size: .4em;
  }
#comments-closing-opening .actions {
  top: 5px;
  }
#comments-closing-opening.active .header-nav {
  display: block;
  }
.tabs-body {
  clear: both;
  overflow: auto;
  }
.active .tabs-body .tabs-panel {
  display: none;
  overflow: auto;
  }
.active .tabs-body .tabs-panel-selected {
  display: block;
  }
  