/******************************

COMMENT PERIOD CLOSING ENHANCEMENTS

TODO: Clean this all up.  We removed EnhanceJS and it is no longer clear & clean.

******************************/  

#comments-closing-opening .header-nav,
#articles_published_by_day .header-nav, 
#popular-things .header-nav,
#popular .header-nav {
  display: none;
  }
#comments-closing-opening.active .header-nav,
#articles_published_by_day.active .header-nav,
#popular-things.active .header-nav {
  border-top: 3px solid $dark_blue;
  display: block;
  position: relative;
  }
#popular.active .header-nav {
  display: block
  }
.active #comments-closing-opening-body h2,
.active #articles_published_by_day-body h2,
.active #popular-things-body .title_bar,
.active #popular-body .header_with_icon {
  display: none;
  }  
#comments-closing-opening .header-nav h2,
#articles_published_by_day .header-nav h2,
#popular-things .header-nav h2 {
  border-top: none;
  margin-top: 0;
  }
#comments-closing-opening .header-nav.title_bar,
#articles_published_by_day .header-nav.title_bar {
  margin: 4.8em 0 0;
  padding-top: 0;
  }
#comments-closing-opening .header-nav.title_bar .small_stack,
#articles_published_by_day .header-nav.title_bar .small_stack {
  font-size: .4em;
  }
#comments-closing-opening .actions,
#articles_published_by_day .actions,
#popular-things .actions {
  top: 5px;
  }
#comments-closing-opening .tabs-body,
#popular-things .tabs-body {
  clear: both;
  overflow: auto;
  }
.active .tabs-body .tabs-panel {
  display: none;
  overflow: auto;
  }
.active .tabs-body .tabs-panel-selected {
  display: block;
  }
  
#popular-things.active h2 {
  line-height:25px;
  padding-bottom: 5px;
  }  
#popular-things.active  .actions {
  left: 60px;
  }  
  
#articles_published_by_day .tabs-nav li,
#learn .tabs-nav li {
  list-style: none;
  margin-bottom: 15px;
  }
#learn .tabs-nav li {
  margin-bottom: 20px;
  }   
#articles_published_by_day  .tabs-nav li a,
#learn  .tabs-nav li a {
  background: #eee; /* TODO move into colors */
  color: #777;
  display: block;
  @include apertura-condensed;
  font-size: 1.1em;
  font-weight: 700;
  margin-left: 5px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 110px;
  }
#articles_published_by_day  .tabs-nav li.tabs-selected a,
#learn  .tabs-nav li.tabs-selected a {
  background-color: #dfb264;
  color: #fff;
  }
#articles_published_by_day  .tabs-nav li.search {
  margin-top: 30px;
  }
#articles_published_by_day  .tabs-nav li.search a {
  background: transparent sprite-image('icons/icon_search.png', 0, 1px, 50px) no-repeat;
  font-size: 1em;
  line-height: 1;
  padding: 2px 0 0 0;
  padding-left: image-width('icons/icon_search.png') + 10;
  text-align: left;
  }
#articles_published_by_day  .tabs-nav li.search a:hover {
  background: transparent sprite-image('icons/icon_search_hover.png', 0, 1px, 50px) no-repeat;
  color: #9e740d;
  }
#articles_published_by_day article:last-child .article {
  border: none;
  }  
