$doc_icon_mini_width: 20;
$doc_icon_mini_height: 20;

.embedded_search.search_bar { 
  margin-left: 0;
  width: 580px;
  padding: 1em 0 .6em;

  #conditions_term { width: 244px; }

  .formtastic {
    .simple ul { float: left; }
    li.hidden { position: absolute; }
    #conditions_type_input { display: none; }
  }

  #doc-type-search-filter {
    overflow: hidden;
    height: 25px;
  }
}

