h1.title {
  display: none;
  }
  
.share {
  display: none;
  }  

.metadata_list dt,
.metadata_list dd {
  margin: 0;
  }
.trigger {
  display: none;
  }
/*#table_of_contents,
.table_of_contents {
  display: none;
  }*/