#navigation {
  display: none;
  }
  
#header {
  border-bottom: 2px solid #aaa;
  padding-bottom: 0;
  }  

#header h1 {
  font-size: 21pt;
  margin-bottom: 0;
  }
#header h1 a {
  font-family: Garamond,"Times New Roman", serif;
  text-decoration: none;
  }  
#header h2 {
  font-size: 15pt;
  margin-top: 0;
  }  
