#current_issue {
  margin: 1em 0;
  }
#current_issue a:after {
  content: ": " attr(title);
  }
#current_issue dt, dd {
  display: inline;
  }
#current_issue dt {
  margin-right: 0;
  }
#current_issue dt:after {
  content: ": ";
  }  
#current_issue dd {
  margin: 0 1em 0 0;
  font-weight: bold;
  }  
.section_nav {
  display: none;
  }
#top_news_promo .figure {
  display: none;
  }
.stats {
  display: none;
  }
.index {
  display: none;
  }
.logo_and_title img {
  display: none;
  }  