/* for printing from modals */
body.hide_body_content div { display: none; }
body.hide_body_content #fr_modal { display: inherit; }


#modal,
#user_utils,
#tender,
.back_to_top,
.read_more,
.skip_to_content {
  display: none;
  }
.section {
  border-bottom: 3px double #000;
  }
#print-disclaimer {
  border: 1px dotted #ccc;
  font-size: 10px;
  margin: 0 4em 2em 4em;
  padding: 1em;
  }
