.tabs {
  display: none;
  }
.search_bar {
  display: none;
  }
.filters {
  display: none;
  }  
.ordering {
  display: none;
  }  
.pagination {
  display: none;
  }
.actions {
  display: none;
  }
.active_filter_list {
  display: none;
  }  