#top-articles .article {
  border-bottom: 2px solid #eee;
  margin: 1em 0;
  }  

.photo {
  display: none;
  }
  
.header-nav {
  display: none;
  }

.small_stack {
  margin-right: .5em;
  }  

.section .article h1 {
  font-size: 13pt;
  }