<p>
  The legally controlling version of a public inspection document is the official record filed at our office 
  in Washington, D.C. We post a full-text version of the filed document to the FederalRegister.gov website 
  shortly after we make the document publicly available at our office.
</p>

<p>
  The filed document reflects the date and time of the official filing, which is when the document is available 
  to the public at our office in Washington, D.C. You’ll see the official filing indicated on the document with
  a date/time stamp. The online posting time may vary, depending upon server usage and other factors, it may be 
  later than the official filing time.
</p>

<p>
  Although we make a concerted effort to reproduce the original document in full on our Public Inspection websites, 
  in some cases graphics may not be displayed, and non-substantive markup language may appear alongside substantive 
  text. If you are using public inspection listings for legal research, you should verify the contents of documents 
  against the final, official edition of the Federal Register (PDF format). Only the official edition of the Federal 
  Register provides legal notice to the public and judicial notice to the courts under 44 U.S.C. 1507.
</p>
