<div id="modal" class="subscribe">
  <a href="#" class="jqmClose">Close</a>
  <h3>Select a Subscription</h3>
  <ul>
  {{#each elements}}
    <li>
    <h4>{{ title }}</h4>
      <ul class="horizontal icons">
        <li class="header"><h5>Via RSS:</h5> </li>
        <li class="rss_link"><a href="{{ href }}" title="RSS 2.0 Link">RSS 2.0 Link</a></li>
        {{#if subscription_action }}
        <li class="email">
          <h5>Via Email:</h5>
          <form action="{{ subscription_action }}" method="post" class="formtastic subscription">
            <input type="text" name="subscription[email]" placeholder="Subscribe via E-Mail" class="address" {{add_email_to_input ../../email_address}}>
            <input type="submit" value="Subscribe" class="subscribe">
            <ul>
              <li class="radio optional" id="subscription_search_type_input">
                <fieldset>
                  <legend class="label">
                    <label for="subscription_search_type">Notify when</label>
                  </legend>
                  <ol>
                    <li>
                      <label for="subscription_search_type_entry">
                        <input id="subscription_search_type_entry" name="subscription[search_type]" type="radio" {{#if default_to_entry}}checked="checked"{{/if}} value="Entry">
                        Published
                      </label>
                    </li>
                    <li class="{{#unless public_inspection_subscription_supported}}disabled{{/unless}}">
                      <label for="subscription_search_type_publicinspectiondocument" {{#unless public_inspection_subscription_supported}}title="This search is not available when documents are filed for public inspection."{{/unless}}>
                        <input id="subscription_search_type_publicinspectiondocument" name="subscription[search_type]" type="radio" {{#unless public_inspection_subscription_supported }}disabled="disabled"{{/unless}} {{#if default_to_public_inspection}}checked="checked"{{/if}} value="PublicInspectionDocument">
                        Filed on Public Inspection
                      </label>
                    </li>
                  </ol>
                </fieldset>
              </li>
            </ul>
          </form>
        </li>
        {{/if}}
      </ul>
    </li>
  {{/each}}
  </ul>
</div>
