<div id="congress">
  <h5>Your <%= pluralize(@senators.size, 'Senator').split(' ')[1] %></h5>
  <%= render :partial => 'locations/congressional_members', :locals => {:members => @senators} %>

  <h5>Your <%= pluralize(@reps.size, 'Representative').split(' ')[1] %></h5>
  <%= render :partial => 'locations/congressional_members', :locals => {:members => @reps} %>
</div>
