<div class="wrapper">
  
  <div class="grid_2 alpha">
    <h2>Home</h2>
    <ul>
      <li><a href="/" title="Home">Home</a></li>
    </ul>  
  </div>
    
  <div class="grid_2">
    <h2>Sections</h2>
    <% nav_tag(:id => "site_map_nav") do %>
      <ul>
        <% Section.all.each do |section| %>
          <li><%= link_to section.title, section_path(section) %></li>
        <% end %>
      </ul>
    <% end -%>  
  </div>
  
  <div class="grid_2">
    <h2>Browse</h2>
    <% nav_tag() do %>
      <ul>
        <li><%= link_to "Agencies", agencies_path %></li>
        <li><%= link_to "Topics", topics_path %></li>
      </ul>
    <% end -%>  
  </div>
  
  <div class="grid_2">
    <h2>Learn</h2>
    <ul>
      <li><a href="/" title="Home">About the FR</a></li>
    </ul>  
  </div>
    
</div>