<div class="wrapper">
  
  <div class="grid_2 alpha">
    <h2>Home</h2>
    <ul>
      <li><a href="/" title="Home">Home</a></li>
    </ul>  
  </div>
    
  <div class="grid_3">
    <h2>Sections</h2>
    <% nav_tag(:id => "site_map_nav") do %>
      <ul>
        <% Section.all.each do |section| %>
          <li><%= link_to section.title, section_path(section) %></li>
        <% end %>
      </ul>
    <% end -%>  
  </div>
  
  <div class="grid_2">
    <h2>Browse</h2>
    <% nav_tag() do %>
      <ul>
        <li><%= link_to "Agencies", agencies_path %></li>
        <li><%= link_to "Topics", topics_path %></li>
      </ul>
    <% end -%>  
  </div>
  
  <div class="grid_2">
    <h2>Policy</h2>
    <ul>
      <li><a href="/policy/about-us">About Us</a>
      <li><a href="/policy/legal-status">Legal Status</a> 
      <li><a href="/policy/user-information">User Information</a>
      <li><a href="/policy/contact-us">Contact Us</a>
      <li><a href="/policy/privacy">Privacy</a>
      <li><a href="/policy/accessibility">Accessibility</a>
      <li><a href="/policy/FOIA">FOIA</a>
      <li><a href="/policy/no-fear">No Fear Act</a> 
  </div>
  
  <% if true %>
  <%# HELP-DESIGN: this needs stylin %>
  <div class="grid_6">
    <h2>Learn</h2>
    
    <h3>About the Federal Register</h3>
    <ul>
      <li><a href="/learn/the_rulemaking_process.pdf">The Rulemaking Process (PDF)</a></li>
      <li><a href="/learn/fr_101.pdf">Federal Register 101 (PDF)</a></li>
      <li><a href="/learn/fr_history.pdf">History of the Office of the Federal Register (PDF)</a></li>
      <li><a href="/learn/fr_pamphlet.pdf">Brochure of OFR Publications (PDF)</a></li>
    </ul>
    
    <h3>OFR Publications &amp; Services</h3>
    <ul>
      <li><a href="http://www.fdsys.gov/" target="_blank">GPO's Federal Digital System (Official Editions)</a></li>
      <li><a href="http://www.ofr.gov/" target="_blank">OFR.gov Portal to Publications &amp; Services</a></li>
      <li><a href="http://www.ofr.gov/inspection.aspx" target="_blank">Electronic Public Inspection Desk (Preview FR docs)</a></li> 
      <li><a href="http://ecfr.gpoaccess.gov/cgi/t/text/text-idx?c=ecfr&amp;tpl=%2Findex.tpl" target="_blank">e-CFR: Currently Updated Code of Federal Regulations</a></li>
      <li><a href="http://www.archives.gov/" target="_blank">National Archives &amp; Records Administration</a></li>
    </ul>
    
    <h3>Document Drafting &amp; Research</h3>
    <ul>
      <li><a href="http://www.archives.gov/federal-register/write/resources.html" target="_blank">Document Drafting Handbook</a></li>
      <li><a href="http://www.archives.gov/federal-register/write/newsletter" target="_blank">Federal Register Bulletins</a></li>
      <li><a href="http://www.archives.gov/federal-register/write/plain-language/index.html" target="_blank">Federal Register Plain Language Tools</a></li>
      <li><a href="http://www.plainlanguage.gov/" target="_blank">PlainLanguage.gov</a></li>
      <li><a href="http://govtinfo.org/" target="_blank">Ask a Librarian: Government Information Online </a></li>
      <li><a href="http://www.llsdc.org/fed-reg-cfr/" target="_blank">A Research Guide to the Federal Register and the Code of Federal Regulations </a></li>
    </ul>
    
    <h3>Regulatory Journals &amp; Articles</h3>
    <ul>
      <li><a href="http://www.uscg.mil/proceedings/" target="_blank">U.S. Coast Guard Proceedings, Spring 2010</a></li>
    </ul>
  </div>
  <% end %>
</div>