<div class="wrapper">
  
  <div class="grid_2">
    <h2>Home</h2>
    <ul class="bullets">
      <li><a href="/" title="Home">Home</a></li>
    </ul>  
  </div>
    
  <div class="grid_3">
    <h2>Sections</h2>
    <% nav_tag(:id => "site_map_nav") do %>
      <ul class="bullets">
        <% Section.all.each do |section| %>
          <li><%= link_to section.title, section_path(section) %></li>
        <% end %>
      </ul>
    <% end -%>  
  </div>
  
  <div class="grid_2">
    <h2>Browse</h2>
    <% nav_tag() do %>
      <ul class="bullets">
        <li><%= link_to "Agencies", agencies_path %></li>
        <li><%= link_to "Topics", topics_path %></li>
      </ul>
    <% end -%>  
  </div>
  
  <!-- <div class="grid_3">
    <h2>Policy</h2>
    <ul class="bullets">
      <li><a href="/policy/about-us">About Us</a></li>
      <li><a href="/policy/legal-status">Legal Status</a></li>
      <li><a href="/policy/user-information">User Information</a></li>
      <li><a href="/policy/contact-us">Contact Us</a></li>
      <li><a href="/policy/privacy">Privacy</a></li>
      <li><a href="/policy/accessibility">Accessibility</a></li>
      <li><a href="/policy/FOIA">FOIA</a></li>
      <li><a href="/policy/no-fear">No Fear Act</a></li>
    </ul> 
  </div>
  
  <div class="grid_3">
    <h2>Learn</h2>
    <ul class="bullets">
      <li><a href="/learn/about">About the Federal Register</a></li>
      <li><a href="/learn/ofr-services">OFR Publications &amp; Services</a></li>
      <li><a href="/learn/research">Document Drafting &amp; Research</a></li>
      <li><a href="/learn/journals">Regulatory Journals &amp; Articles</a></li>
    </ul>
  </div> -->
  
  <%= render :esi => 'http://fr2.local/blog/footer' %>
</div>