
<a id="feedback" href="#">Feedback</a>

<script type="text/javascript" charset="utf-8">
  Tender = {
    hideToggle: true,
    widgetToggles: $('#feedback')
  }
</script>
<script type="text/javascript">
var baseSslHost = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + baseSslHost + "govpulse.tenderapp.com/tender_widget.js' type='text/javascript'%3E%3C/script%3E"));
</script>