.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
.grid_1 { width: 60px; }
.grid_2 { width: 140px; }
.grid_3 { width: 220px; }
.grid_4 { width: 300px; }
.grid_5 { width: 380px; }
.grid_6 { width: 460px; }
.grid_7 { width: 540px; }
.grid_8 { width: 620px; }
.grid_9 { width: 700px; }
.grid_10 { width: 780px; }
.grid_11 { width: 860px; }
.grid_12 { width: 940px; }
.prefix_1 { padding-left: 80px; }
.prefix_2 { padding-left: 160px; }
.prefix_3 { padding-left: 240px; }
.prefix_4 { padding-left: 320px; }
.prefix_5 { padding-left: 400px; }
.prefix_6 { padding-left: 480px; }
.prefix_7 { padding-left: 560px; }
.prefix_8 { padding-left: 640px; }
.prefix_9 { padding-left: 720px; }
.prefix_10 { padding-left: 800px; }
.prefix_11 { padding-left: 880px; }
.suffix_1 { padding-right: 80px; }
.suffix_2 { padding-right: 160px; }
.suffix_3 { padding-right: 240px; }
.suffix_4 { padding-right: 320px; }
.suffix_5 { padding-right: 400px; }
.suffix_6 { padding-right: 480px; }
.suffix_7 { padding-right: 560px; }
.suffix_8 { padding-right: 640px; }
.suffix_9 { padding-right: 720px; }
.suffix_10 { padding-right: 800px; }
.suffix_11 { padding-right: 880px; }
.push_0 { left: 0px; }
.push_1 { left: 80px; }
.push_2 { left: 160px; }
.push_3 { left: 240px; }
.push_4 { left: 320px; }
.push_5 { left: 400px; }
.push_6 { left: 480px; }
.push_7 { left: 560px; }
.push_8 { left: 640px; }
.push_9 { left: 720px; }
.push_10 { left: 800px; }
.push_11 { left: 880px; }
.pull_1 { left: -80px; }
.pull_2 { left: -160px; }
.pull_3 { left: -240px; }
.pull_4 { left: -320px; }
.pull_5 { left: -400px; }
.pull_6 { left: -480px; }
.pull_7 { left: -560px; }
.pull_8 { left: -640px; }
.pull_9 { left: -720px; }
.pull_10 { left: -800px; }
.pull_11 { left: -880px; }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
form.formtastic fieldset {
  clear: both;
  display: block;
}
form.formtastic fieldset.buttons {
  padding: 0;
  margin: 10px 0;
}
form.formtastic fieldset.inputs ol {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  left: 160px;
}
form fieldset.buttons ol {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  left: 160px;
}
form.formtastic fieldset.inputs li { display: block; }
form.formtastic fieldset.buttons li { display: block; }
