@import "_grid.less";

nav.primary ul, nav.utility ul, nav.secondary ul, nav#issue_entry_edit ul {
  list-style:none;
}
nav.primary ul li, nav.utility ul li, nav#issue_entry_edit ul li {
  display: inline-block;
}

nav.primary {
  width:970px;
  left:-10px;
  padding-right:20px;
}

nav.primary ul {
  width:940px;
  padding:5px 17px 5px 5px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5AE7C), to(#C69967));
  background: -moz-linear-gradient(top,  #E5AE7C,  #C69967);
}

nav.primary ul li {
  margin-left:0px;
}

nav.utility {
  position:absolute;
  display:block;
  top:0px;
  width:970px;
  margin-left:-10px;
  padding:0 10px;
}

nav.utility ul {
  width:940px;
  padding:5px 17px 5px 5px;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5AE7C), to(#C69967));
  background: -moz-linear-gradient(top,  #E5AE7C,  #C69967);
}

nav.utility ul li{
  position:relative;
  left:690px;
  margin-left:10px;
}

nav.utility p {
  position:relative;
  float:left;
  top:8px;
  left:675px;
  display:inline;
}

nav.secondary ul {
  margin: 5px 0px 0px;
}

nav.secondary ul li {
  margin: 0px;
}

nav#issue_entry_edit{
  height:35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BFBFBF), to(#7F7F7F));
  background: -moz-linear-gradient(top,  #BFBFBF,  #7F7F7F);
}

nav#issue_entry_edit ul {
  width:150px;
  padding-top:5px;
  margin: 5px auto;
}
nav#issue_entry_edit ul li {
  margin-left:0px;
}