@import "grid";


header {
  display: block;
  width: 100%;
}

header hgroup {
  float: left; 
  margin: 30px 0 0 15px;
}
header h1 {
  font-size: 3.15em;
  font-family: "bookman-1","bookman-2",sans-serif;
  margin-bottom: .1em;
}
header h1 a,
header h1 a:visited {
  color: #444444;  
  text-decoration: none;
  .push_0;  
}
header h2 {
  color: #c69967;
  float: left;
  font-family: "etica-1","etica-2",sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
}

#user_session_remember_me_input {
  width:400px;
}

nav.primary ul, nav.utility ul {
  list-style:none;
}
nav.primary ul li, nav.utility ul li {
  display: inline-block;
}
nav.utility {
  position:absolute;
  top:15px;
  left:833px;
  width:300px;
}
nav.utility p {
  float:left;
  display:inline;
}