// BASE
@import "base";

// LIBRARY - (variables, mixins, etc.)
@import "../library";

// TYPOGRAPHY
@import "typography";

// REAL WORK
@import "layout";
@import "design";



#wrapper {
  @include grid_system(12);
}

ul {
  list-style:none;
}

ul li {
  font-size:1em;
}

dt {
  font-weight: bold;
}

@mixin float_right {
  float:right;
}


