@import "grid";

#user_session_remember_me_input {
  width:400px;
}

dt.highlighted {
  color: gray;
}

div#content {
  width:960px;
  border: thin solid #CCC;
  border-top:none;
  top:-20px;
  height:100%;
  min-height:500px;
  margin:0;
}

article.highlighted {
  color: gray;
}