@import "grid";


header {
  display: block;
  width: 100%;
}

header hgroup {
  float: left;
  margin: 50px 0 50px 15px;
}

header h1 {
  font-size: 3.15em;
  font-family: "bookman-1","bookman-2",sans-serif;
  margin-bottom: .1em;
}

header h1 a,
header h1 a:visited {
  color: #444444;  
  text-decoration: none;
  .push_0;  
}

header h2 {
  color: #c69967;
  float: left;
  font-family: "etica-1","etica-2",sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
}

#user_session_remember_me_input {
  width:400px;
}

dt.highlighted {
  color: gray;
}

div#content {
  width:960px;
  border: thin solid #CCC;
  border-top:none;
  top:-20px;
  height:100%;
  min-height:500px;
  margin:0;
}

article.highlighted {
  color: gray;
}

#preview {
  width:100px;
  height:100px;
  overflow:hidden;
  margin-left:5px; 
}

.center_content {
  .grid_10;
}

.center_content #lede_photo_flow, .center_content #entry_content {
  .grid_9;
}

.bordered_wrapper {
  border: thin solid #CCC;
  border-top:none;
  top:-20px;
  width:720px;
  height:100%;
  min-height:300px;
  margin:0;
}

.flow {
  height:200px;
}
.ContentFlow {
  width:700px;
}

form.formtastic.entry {
  width:720px;
}
form.formtastic.entry fieldset {
  width:700px;
}
form.formtastic.entry fieldset ol {
  left:0px;
}
form.formtastic.entry fieldset.buttons ol li {
  margin-bottom:0px;
}
form.formtastic.entry textarea {
  height:150px;
}

#custom_tag {
  position:relative;
  float:right;
  top:-30px;
  margin-right:5px;
}

table#lede_photo_candidate_topics {
  border-top:black 1px solid;
  border-bottom:#F2F2F2 1px solid;
  margin-top:20px;
  padding-top:20px;
}
table#lede_photo_candidate_topics a {
  color:#000;
  text-decoration:none;
}
table#lede_photo_candidate_topics tr td {
  padding: 2px 5px;
  width:720px;
}
table#lede_photo_candidate_topics tr.odd {
  background-color:#F2F2F2;
}

#lede_photo_flow .ContentFlow .globalCaption {
  margin: 10px auto;
  background-color: rgba(204,204,204,0.3);
  font-size:16px;
  padding-bottom:2px;
}
