/* tables */
table.sortable {
  margin:10px 0pt 15px;
  text-align: left;
  font-family: "bookman-1","bookman-2",sans-serif;
  border-collapse:collapse;
}
table.sortable thead tr th, table.sortable tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  padding: 5px 20px 5px 5px;
}
table.sortable thead tr .header {
  background-image: url(/images/admin/tablesorter/blue/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.sortable tbody td {
  color: #3D3D3D;
  padding: 5px;
  background-color: #FFF;
  vertical-align: top;
}
table.sortable tbody tr.odd td {
  background-color:#F0F0F6;
}
table.sortable thead tr .headerSortUp {
  background-image: url(/images/admin/tablesorter/blue/asc.gif);
}
table.sortable thead tr .headerSortDown {
  background-image: url(/images/admin/tablesorter/blue/desc.gif);
}
table.sortable thead tr .headerSortDown, table.sortable thead tr .headerSortUp {
  background-color: #8dbdd8;
}
