<li id="topics-browse-preview" class="preview">
  <div class="topic_finder">
    <h2>Go to a Specific Topic</h2>
    <% form_tag topics_path, :method => :get, :id => "topic-search-form" do %>
      <label>Go to a specific topic:</label>
      <input id="topic-search" class="browse_search" placeholder="Antidumping" data-autocomplete="autocomplete" />
    <% end %>
  </div>
  <div class="topic_browse">
    <table class="recent_topics default">
      <thead>
        <tr>
          <th><h2>Browse Topics</h2></th>
          <th class="past_7_days" data-tooltip="Related Documents Published in the Last 7 Days"></th>
          <th class="recently_opened" data-tooltip="Related Documents with Comment Periods Opened in the Last 7 Days"></th>
          <th class="closing_soon" data-tooltip="Related Documents with Comment Periods Closing in the Next 7 Days"></th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td class="topic_name">
              <%= link_to topic.name, topic_path(topic) %>
            </td>
            <td class="count_7_days">
              <% conditions = {:publication_date => {:gte => @issue.publication_date - 1.week}, :topic_ids => [topic.id]} %>
              <% count = EntrySearch.new(:conditions => conditions).count %>
              <%= link_to count, entries_search_path(:conditions => conditions, :utm_source => 'navigation', :utm_medium => 'dropdown', :utm_content => 'topics_with_entries_last_7_days') %>
            </td>
            <% conditions = {:publication_date => {:gte => @issue.publication_date - 1.week}, :comment_date => {:gte => @date} , :topic_ids => [topic.id]} %>
            <% count = EntrySearch.new(:conditions => conditions).count %>
            <td class="comments_recently_opened">
              <%= link_to count, entries_search_path(:conditions => conditions, :utm_source => 'navigation', :utm_medium => 'dropdown', :utm_content => 'topics_with_comments_opened_recently') %>
            </td>
            <% conditions = {:comment_date => {:gte => @date, :lte => 1.week.from_now.to_date}, :topic_ids => [topic.id]} %>
            <% count = EntrySearch.new(:conditions => conditions).count %>
            <td class="comments_closing_soon">
              <%= link_to count, entries_search_path(:conditions => conditions, :utm_source => 'navigation', :utm_medium => 'dropdown', :utm_content => 'topics_with_comments_closing_soon') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</li>
